@use '../common/variables' as vars;
@use '../mixins/mixins' as mx;


.advertisement-container {
  &.before-main {
    padding-top: 20px;

    .advertisement {
      margin-bottom: 20px;

      @media #{ vars.$mqDesktop } {
        @include mx.columnsAsLeftMargin(2);
      }
    }
  }

  &.in-main {
    margin-top: 50px;

    .advertisement {
      @media #{ vars.$mqTablet } {
        @include mx.nColumnWidth(8);

        .leaderboard {
          @include mx.nColumnWidth(8);
          height: 56px;
        }
      }

      @media #{ vars.$mqDesktop } {
        .leaderboard {
          height: unset;
        }
      }
    }
  }

  &.after-main {
    padding-top: 50px;

    @media #{ vars.$mqTablet } {
      padding-top: 75px;
    }
  }

  .advertisement {
    @include mx.nColumnWidth(6);

    @media #{ vars.$mqTablet } {
      @include mx.nColumnWidth(12);
    }

    @media #{ vars.$mqDesktop } {
      @include mx.nColumnWidth(8);
    }
  }
}

.advertisement-before-main {
  padding-top: 20px;

  .advertisement {
    @include mx.nColumnWidth(6);
    margin-bottom: 20px;

    @media #{ vars.$mqTablet } {
      @include mx.nColumnWidth(12);
    }

    @media #{ vars.$mqDesktop } {
      @include mx.columnsAsLeftMargin(2);
      @include mx.nColumnWidth(8);
    }
  }
}

.advertisement-in-main {
  .advertisement {
    @include mx.nColumnWidth(6);

    @media #{ vars.$mqTablet } {
      @include mx.nColumnWidth(12);
    }

    @media #{ vars.$mqDesktop } {
      @include mx.nColumnWidth(8);
    }
  }
}
