@use '../common/variables' as vars;
@use '../common/ui' as ui;


.author-list {
  display: block;
  margin: 20px 0;

  li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;

    &::after {
      color: vars.$black;
      content: ',';
      font-family: vars.$ffTextBody;
      font-size: 12.5pt;
      font-style: normal;
      font-weight: normal;
    }

    &:last-of-type {
      margin-right: 0;

      &::after {
        content: '';
      }
    }

    .author {
      @include ui.anchor();
      color: vars.$black;
      font-size: 12.5pt;
    }
  }
}
