@import '../common/variables';
@import '../common/ui';

.breadcrumbs {
  @include minorText();
  margin-bottom: 30px;

  .breadcrumbs-list {
    li {
      display: inline-block;

      &::after {
        @include minorText();
        content: '/';
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}
