@use '../common/ui' as ui;


.byline-list {
  display: block;
  list-style: none;
  margin: 10px 0;
  padding-left: 0;

  &::after {
    @include ui.minorText();
    content: ',';
    margin: 5px 0;
  }

  &:last-of-type {
    &::after {
      content: '';
      margin: 0;
      font-size: 0;
    }
  }

  .byline-li {
    display: inline;
    position: relative;

    &:last-of-type {
      margin-right: 0;

      &::after {
        content: '';
      }
    }

    &:not(:last-of-type) {
      * {
        &::after {
          content: ',';
          margin-right: 5px;
        }
      }
    }

    * {
      @include ui.minorText();
      display: inline;
      line-height: 1.5;
      margin: 0;
    }
  }
}
