.byline-list {
  display: block;
  list-style: none;
  margin: 10px 0;
  padding-left: 0;

  &::after {
    @include minorText();
    content: ',';
    margin: 5px 0;
  }

  &:last-of-type {
    &::after {
      content: '';
      margin: 0;
      font-size: 0;
    }
  }

  .byline-li {
    display: inline;
    position: relative;

    &::after {
      @include minorText();
      content: ',';
      display: inline-block;
      line-height: 1.5;
      margin-right: 5px;
      position: relative;
    }

    &:last-of-type {
      margin-right: 0;

      &::after {
        content: '';
      }
    }

    * {
      @include minorText();
      display: inline;
      line-height: 1.5;
      margin: 0;
    }
  }
}
