.byline-list {
  list-style: none;
  margin: 5px 0;
  padding-left: 0;

  &::after {
    @include minorText();
    content: ',';
    margin: 5px 0;
  }

  &:last-of-type {
    &::after {
      content: '';
      margin: 0;
      font-size: 0;
    }
  }

  .list-item {
    display: inline-block;
    position: relative;
    margin-right: 10px;

    &::after {
      @include minorText();
      position: absolute;
      bottom: 0;
      content: ',';
      line-height: 1.5;
      right: -5px;
    }

    &:last-of-type {
      margin-right: 0;

      &::after {
        content: '';
      }
    }

    p {
      @include minorText();
      line-height: 1.5;
      margin: 0;
    }
  }
}
