@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/functions' as fn;
@use '../mixins/hero-image' as img;


.featured-piece-widget {
  $width: fn.getColumnsSpan(6, vars.$phone);
  width: $width;

  @media #{ vars.$mqTablet } {
    $width: fn.getColumnsSpan(8, vars.$tablet);
    width: $width;
  }

  @media #{ vars.$mqDesktop } {
    $width: fn.getColumnsSpan(8, vars.$desktop);
    width: $width;
  }

  @media #{ vars.$mqXL } {
    $width: fn.getColumnsSpan(8, vars.$xl);
    width: $width;
  }

  @media #{ vars.$mqXXL } {
    $width: fn.getColumnsSpan(8, vars.$xxl);
    width: $width;
  }

  .feature-type {
    @include ui.contentTypeHeading();
  }

  // TODO: rename to .heading (#94)
  h1 {
    @include ui.heading4();
    margin-top: 5px;
    margin-bottom: 0;
  }

  .byline {
    @include ui.minorText();
    margin: 5px 0;
  }

  .byline-list {
    display: inline-block;
    margin: 5px 0;
    padding-left: 0;

    .byline-li:before {
      display: none;
      content: '';
      font-size: 0;
      height: 0;
      line-height: 0;
      margin: 0;
    }
  }

  .byline-and-date {
    margin: 5px 0;

    span {
      @include ui.minorText();
      font-size: vars.$fsSmol;
      margin: 5px 0 0 0;
      line-height: 1.25;
    }
  }

  .hero-image {
    @include img.heroImageDimensions(6, 0.5);
    margin-top: 10px;

    @media #{ vars.$mqTablet } {
      @include img.heroImageDimensions(8, 0.5);
    }

    @media #{ vars.$mqXL } {
      @include img.heroImageDimensions(8, 0.333);
    }

    @media #{ vars.$mqXXL } {
      @include img.heroImageDimensions(8, 0.25);
    }
  }
}

.column,
.sidebar {
  .featured-piece-widget {
    $widgetWidth: fn.getColumnsSpan(6, vars.$phone);
    width: $widgetWidth;

    @media #{ vars.$mqTablet } {
      $widgetWidth: fn.getColumnsSpan(4, vars.$tablet);
      width: $widgetWidth;
    }

    @media #{ vars.$mqDesktop } {
      $widgetWidth: fn.getColumnsSpan(4, vars.$desktop);
      width: $widgetWidth;
    }

    @media #{ vars.$mqXL } {
      $widgetWidth: fn.getColumnsSpan(4, vars.$xl);
      width: $widgetWidth;
    }

    @media #{ vars.$mqXXL } {
      $widgetWidth: fn.getColumnsSpan(4, vars.$xxl);
      width: $widgetWidth;
    }

    .byline-list {
      margin: 5px 0;
      padding-left: 0;

      &::after {
        margin: 0;
      }
    }

    .hero-image {
      $ratio: 0.5625;
      @include img.heroImageDimensions(6, $ratio);

      @media #{ vars.$mqTablet } {
        @include img.heroImageDimensions(4, $ratio);
      }
    }

    &.featured-book-widget {
      .hero-image {
        @include img.heroImageContainedInSquare(6);
        @include img.heroImageShadow();
        margin-top: 10px;

        @media #{ vars.$mqTablet } {
          @include img.heroImageContainedInSquare(4);
        }
      }
    }
  }
}
