@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.featured-piece-widget {
  $width: getColumnsSpan(6, $phone);
  width: $width;

  @media #{$mqTablet} {
    $width: getColumnsSpan(8, $tablet);
    width: $width;
  }

  @media #{$mqDesktop} {
    $width: getColumnsSpan(8, $desktop);
    width: $width;
  }

  @media #{$mqXL} {
    $width: getColumnsSpan(8, $xl);
    width: $width;
  }

  @media #{$mqXXL} {
    $width: getColumnsSpan(8, $xxl);
    width: $width;
  }

  .feature-type {
    @include contentTypeHeading();
  }

  // TODO: rename to .heading (#94)
  h1 {
    @include heading4();
    margin-top: 5px;
    margin-bottom: 0;
  }

  .byline {
    @include minorText();
    margin: 5px 0;
  }

  .byline-list {
    display: inline-block;
    margin: 5px 0;
    padding-left: 0;

    .byline-li:before {
      display: none;
      content: '';
      font-size: 0;
      height: 0;
      line-height: 0;
      margin: 0;
    }
  }

  .byline-and-date {
    margin: 5px 0;

    span {
      @include minorText();
      font-size: $fsSmol;
      margin: 5px 0 0 0;
      line-height: 1.25;
    }
  }

  .hero-image {
    @include heroImageDimensions(6, 0.5);
    margin-top: 10px;

    @media #{$mqTablet} {
      @include heroImageDimensions(8, 0.5);
    }

    @media #{$mqXL} {
      @include heroImageDimensions(8, 0.333);
    }

    @media #{$mqXXL} {
      @include heroImageDimensions(8, 0.25);
    }
  }
}

.column,
.sidebar {
  .featured-piece-widget {
    $widgetWidth: getColumnsSpan(6, $phone);
    width: $widgetWidth;

    @media #{$mqTablet} {
      $widgetWidth: getColumnsSpan(4, $tablet);
      width: $widgetWidth;
    }

    @media #{$mqDesktop} {
      $widgetWidth: getColumnsSpan(4, $desktop);
      width: $widgetWidth;
    }

    @media #{$mqXL} {
      $widgetWidth: getColumnsSpan(4, $xl);
      width: $widgetWidth;
    }

    @media #{$mqXXL} {
      $widgetWidth: getColumnsSpan(4, $xxl);
      width: $widgetWidth;
    }

    .byline-list {
      margin: 5px 0;
      padding-left: 0;

      &::after {
        margin: 0;
      }
    }

    .hero-image {
      $ratio: 0.5625;
      @include heroImageDimensions(6, $ratio);

      @media #{$mqTablet} {
        @include heroImageDimensions(4, $ratio);
      }
    }

    &.featured-book-widget {
      .hero-image {
        @include heroImageContainedInSquare(6);
        @include heroImageShadow();
        margin-top: 10px;

        @media #{$mqTablet} {
          @include heroImageContainedInSquare(4);
        }
      }
    }
  }
}
