@import '../common/variables';
@import '../common/ui';

.featured-piece-widget {
  .feature-type {
    font-family: $ffTextBody;
    font-size: $fsVerySmol;
    font-weight: bold;
    margin-bottom: 0;
  }

  h1 {
    @include heading4();
    margin-top: 5px;
    margin-bottom: 0;
  }

  .byline {
    @include minorText();
    margin: 5px 0;
  }

  .byline-list {
    margin: 5px 0;

    li:before {
      display: none;
      content: '';
      font-size: 0;
      height: 0;
      line-height: 0;
      margin: 0;
    }
  }

  .hero-image {
    $width: getColumnsSpan(8, $desktop);
    $imgWidth: $width;
    $imgHeight: calc(#{$width} * 0.5);
    height: $imgHeight;
    width: $imgWidth;

    margin-top: 10px;
    object-fit: cover;
  }

  // &.featured-book-widget {
  //   .hero-image {
  //     height: $sidebarWidth;
  //     margin-top: 10px;
  //     object-fit: contain;
  //     width: $sidebarWidth;
  //   }
  // }
}

.column,
.sidebar {
  .featured-piece-widget {
    $fourColWidth: getColumnsSpan(4, $desktop);
    width: $fourColWidth;

    .byline-list {
      margin: 0;

      &::after {
        margin: 0;
      }
    }

    .hero-image {
      $imgWidth: $fourColWidth;
      $imgHeight: calc(#{$fourColWidth} * 0.5625);
      height: $imgHeight;
      width: $imgWidth;
    }

    &.featured-book-widget {
      .hero-image {
        height: $fourColWidth;
        margin-top: 10px;
        object-fit: contain;
        width: $fourColWidth;
      }
    }
  }
}
