@import '../common/variables';
@import '../common/ui';

.featured-widget,
.featured-article-widget,
.featured-project-widget {
  .feature-type {
    font-family: $ffTextBody;
    font-size: $fsVerySmol;
    font-weight: bold;
    margin-bottom: 0;
  }

  h1 {
    @include heading4();
    margin-top: 5px;
    margin-bottom: 0;
  }

  .byline-list {
    margin: 5px 0;

    li:before {
      display: none;
      content: '';
      font-size: 0;
      height: 0;
      line-height: 0;
      margin: 0;
    }
  }

  .hero-image {
    $imgWidth: getColumnsSpan(4, $desktop);
    $imgHeight: calc(#{$imgWidth} * 0.5625);
    height: $imgHeight;
    width: $imgWidth;

    margin-top: 10px;
    object-fit: cover;
  }
}
