@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.footer {
  background-color: $black;
  color: $white;
  padding: 50px 0 30px;
  margin-top: 70px;

  .site-title {
    @include headingBase();
    font-size: 20pt;
    line-height: 20pt;
  }

  .link-columns {
    margin-top: 30px;

    .column {
      @include gutterLeftMargin();
      @include nColumnWidth(3);
      display: inline-block;
      vertical-align: top;

      &:nth-child(odd) {
        margin-left: 0;
      }

      &:nth-child(n+3) {
        margin-top: 20px;
      }

      &:first-of-type {
        margin-left: 0;
      }

      @media #{$mqTablet} {
        @include nColumnWidth(2);

        &:nth-child(odd) {
          @include gutterLeftMargin();
        }

        &:nth-child(n+3) {
          margin-top: 0;
        }

        &:first-of-type {
          margin-left: 0;
        }
      }

      .column-title {
        @include headingBase();
        font-size: $fsTextBody;
        line-height: 1.5;
        min-height: 50px;
        margin-top: 40px;

        @media #{$mqTablet} {
          font-size: $fsVerySmol;
          min-height: 40px;
        }

        @media #{$mqDesktop} {
          font-size: $fsTextBody;
          min-height: 50px;
        }
      }

      .footer-link-list {
        @media #{$mqTablet} {
          margin-top: 20px;
        }

        @media #{$mqDesktop} {
          margin-top: 30px;
        }

        .list-item {
          margin: 15px 0;
        }

        .apos-area-widget-wrapper {
          margin: 15px 0;

          .apos-area-widget-controls {
            opacity: 0;
            visibility: hidden;
            left: 50px;
            top: -10px;
          }
        }
      }

      .footer-link {
        color: $white;
        font-family: $ffTextBody;
        font-size: $fsVerySmol;
        font-style: normal;
        font-weight: normal;
        line-height: 1.25;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 1px;
        }
        &:focus {
          @include focusOutline();
        }
      }
    }
  }

  .footer-separator {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $white;
    margin: 50px 0;
  }

  .copyright {
    font-family: $ffHeading;
    font-size: $fsVerySmol;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }
}
