@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.footer {
  background-color: $black;
  color: $white;
  padding: 50px 0 70px;
  margin-top: 70px;

  .site-title {
    @include headingBase();
    font-size: 20pt;
    line-height: 20pt;
  }

  .link-columns {
    margin-top: 50px;

    .column {
      @include gutterLeftMargin();
      @include nColumnWidth(2);
      display: inline-block;
      vertical-align: top;

      &:first-of-type {
        margin-left: 0;
      }

      .column-title {
        @include headingBase();
        font-size: 12.5pt;
        line-height: 1.5;
      }

      .list-item {
        margin: 15px 0;
      }

      .footer-link {
        color: $white;
        font-family: $ffTextBody;
        font-size: 10pt;
        font-style: normal;
        font-weight: normal;
        line-height: 1.25;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
        &:focus {
          @include focusOutline();
        }
      }
    }
  }
}
