@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.header {
  padding: 30px 0 65px;

  .site-title {
    @include headingBase();
    font-size: 50pt;
    line-height: 1;
    text-align: center;

    a {
      color: $black;
      text-decoration: none;

      &:hover {
        color: $main;
      }
      &:focus {
        @include focusOutline();
      }
    }
  }
}
