@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.header {
  border-bottom: 1px solid $black;
  margin-bottom: 40px;
  padding: 20px 0 0 0;
  position: relative;

  @media #{$mqTablet} {
    border-bottom: none;
    margin-bottom:0;
    padding: 20px 0 40px 0;
  }

  .site-title {
    @include headingBase();
    font-size: 20pt;
    line-height: 1;
    margin: 0 0 20px 0;
    text-align: center;

    @media #{$mqTablet} {
      font-size: 50pt;
    }

    a {
      color: $black;
      text-decoration: none;

      &:hover {
        color: $main;
      }

      &:focus {
        @include focusOutline();
      }
    }
  }

  .mobile-container {
    @include nColumnWidth(6);
    margin: 0 auto;

    .mobile-menu-button {
      display: inline-block;
    }
    .site-title {
      display: inline-block;
      width: calc(100% - 70px);
    }
    .mobile-search-button {
      display: inline-block;
    }

    @media #{$mqTablet} {
      display: none;
    }
  }

  .desktop-container {
    display: none;

    @media #{$mqTablet} {
      display: block;
    }
  }
}
