@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/mixins' as mx;
@use '../mixins/hero-image' as img;

// imports its own sub component
@import 'mega-menu-lang-form';


// vars
$showDuration: 640ms;
$hideDuration: 480ms;


// mixins
@mixin transform($transformation, $duration) {
  -webkit-transform: $transformation;
  transform: $transformation;
  transition: transform $duration ease-in-out;
  will-change: transform;
}

@mixin heading() {
  font-family: vars.$ffHeading;
  font-size: vars.$fsTextBody;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0;
}


// definitions
.mega-menu {
  position: absolute;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  z-index: 1;

  // TODO: use class name instead of element directly (#94)
  section {
    display: none;

    &.visible {
      display: block;
    }
  }

  .menu-panel {
    @include transform(translateY(-1000px), $hideDuration);
    background-color: vars.$almostWhite;
    border-bottom: 1px solid vars.$black;
    filter: drop-shadow(0 5px 5px rgba(vars.$black, 0.5));
    padding: 20px 0;
    pointer-events: all;
    position: absolute;
    width: 100%;

    &.visible {
      @include transform(translateY(0), $showDuration);
    }

    &:focus {
      @include ui.focusOutline();
    }
  }

  .mm-col {
    @include mx.nColumnWidth(3);
    display: inline-block;
    vertical-align: top;

    &:not(:first-of-type) {
      @include mx.gutterLeftMargin();
    }
  }

  .mm-col-3 {
    @include mx.nColumnWidth(4);
    display: inline-block;
    vertical-align: top;

    &:not(:first-of-type) {
      @include mx.gutterLeftMargin();
    }
  }

  .mm-search-col {
    @include mx.nColumnWidth(6);
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 25px;

    .search-input {
      @include mx.nColumnWidth(4);
      @include ui.textInput();
      display: inline-block;
      vertical-align: top;
    }

    .search-button {
      @include mx.nColumnWidth(2);
      @include mx.gutterLeftMargin();
      @include ui.button();
      display: inline-block;
      vertical-align: top;
      padding: 0 20px;

      .icon {
        display: none;
      }

      .label {
        @include mx.cancelVisuallyHidden();
      }
    }
  }

  .featured-piece-widget {
    @include mx.nColumnWidth(3);

    .feature-type {
      margin-bottom: 7.5px;
      margin-top: 7.5px;
      padding-bottom: 7.5px;
    }

    h1 {
      font-size: vars.$fsTextBody;
    }

    .hero-image {
      @include img.heroImageDimensions(3, 0.25);
    }

    .byline,
    .byline-list,
    .byline-and-date {
      * {
        font-size: vars.$fsVerySmol;
        line-height: 1.5
      }
    }

    p {
      font-size: vars.$fsVerySmol;
      line-height: 1.5;
    }
  }

  .heading {
    @include heading();
  }

  .list-container {
    .list-heading {
      @include heading();
    }

    .list {
      @include ui.list();
      line-height: 1;

      li {
        @include ui.unorderedListItem();
        line-height: 1;
        margin: 7.5px 0;
      }

      .list-item {
        @include ui.anchor();
        display: inline-block;
        text-decoration: none;
        font-size: vars.$fsVerySmol;
        line-height: 1.25;

        .piece-title {
          font-family: vars.$ffHeading;
          font-size: vars.$fsSmol;
          font-style: normal;
          font-weight: normal;
          line-height: 1;
        }
      }
    }

    .people-list {
      @include ui.list();
      padding: 0;

      li {
        margin: 5px 0;

        @media #{ vars.$mqDesktop } {
          margin-top: 15px;
        }
      }

      .list-item {
        text-decoration: none;

        .profile-pic-container {
          display: inline-block;
          font-size: 0;
          line-height: 0;
          vertical-align: top;

          .fig-headshot {
            object-fit: cover;

            @media #{ vars.$mqDesktop } {
              $imgWidth: getColumnsSpan(1, vars.$desktop);
              width: $imgWidth;
              height: $imgWidth;
            }
            @media #{ vars.$mqXL } {
              $imgWidth: getColumnsSpan(1, vars.$xl);
              width: $imgWidth;
              height: $imgWidth;
            }
            @media #{ vars.$mqXXL } {
              $imgWidth: getColumnsSpan(1, vars.$xxl);
              width: $imgWidth;
              height: $imgWidth;
            }
          }
        }

        .person-details {
          @include mx.nColumnWidth(3);
          display: inline-block;
          vertical-align: top;

          @media #{ vars.$mqDesktop } {
            margin-left: getGutterHalfWidth(vars.$desktop);
          }

          @media #{ vars.$mqXL } {
            margin-left: getGutterHalfWidth(vars.$xl);
          }

          @media #{ vars.$mqXXL } {
            margin-left: getGutterHalfWidth(vars.$xxl);
          }

          .person-name {
            font-family: vars.$ffHeading;
            font-size: vars.$fsTextBody;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
          }

          .person-description {
            :first-child {
              margin-top: 5px;
            }

            * {
              font-size: vars.$fsVerySmol;
              line-height: 1.5;
              margin: 0;
            }
          }
        }
      }

      &.col-3 {
        .list-item {
          @media #{ vars.$mqDesktop } {
            $col: getColumnWidth(vars.$desktop);
            $halfCol: calc(#{ $col } / 2);
            .profile-pic-container {
              .fig-headshot {
                width: $halfCol;
                height: $halfCol;
              }
            }
            .person-details {
              width: 160px;
              .person-description {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
              }
            }
          }

          @media #{ vars.$mqXL } {
            $col: getColumnWidth(vars.$desktop);
            $halfCol: calc(#{ $col } / 2);
            $quarterCol: calc(#{ $halfCol } / 2);
            .profile-pic-container {
              .fig-headshot {
                width: $halfCol;
                height: $halfCol;
              }
            }
            .person-details {
              width: 200px;
              margin-left: $quarterCol;
            }
          }

          @media #{ vars.$mqXXL } {
            $col: getColumnWidth(vars.$desktop);
            $halfCol: calc(#{ $col } / 2);
            $quarterCol: calc(#{ $halfCol } / 2);
            .profile-pic-container {
              .fig-headshot {
                width: $halfCol;
                height: $halfCol;
              }
            }
            .person-details {
              width: 240px;
              margin-left: $quarterCol;
            }
          }
        }
      }
    }
  }

  .website-cta {
    @include ui.anchor();
    background-color: transparent;
    border: none;
    color: vars.$black;
    height: 25px;
    line-height: 1;
    padding: 0;

    &:hover {
      background-color: transparent;
      border: none;
      color: vars.$main;
      text-decoration: none;
    }
  }

  .separator {
    margin: 20px auto;
  }

  .mm-footer {
    display: block;
    text-align: center;

    .hide-mega-menu-button {
      @include ui.anchor();
      background-color: transparent;
      border: none;
      display: inline-block;
      font-size: vars.$fsVerySmol;
      line-height: 1.75;
      padding-left: 0;
      padding-right: 0;
    }

    .see-all-cta {
      display: inline-block;
      margin-left: 20px;
    }
  }
}
