@use '../common/variables' as vars;
@use '../mixins/mixins' as mx;


.mobile-banners {
  margin-top: 75px;

  @media #{ vars.$mqTablet } {
    display: none;
  }

  .banner-col {
    @include mx.nColumnWidth(6);
    display: block;

    &.banner-2 {
      margin-top: 50px;
    }
  }
}
