@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/mixins' as mx;


// mixins
@mixin navItemIdle {
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 15px 0;

  color: vars.$almostWhite;
  font-family: vars.$ffTextBody;
  font-size: 15pt;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;

  @media #{ vars.$mqTablet } {
    display: unset;
    color: vars.$black;
    font-size: vars.$fsVerySmol;
    padding: unset;
  }

  @media #{ vars.$mqDesktop } {
    font-size: vars.$fsTextBody;
  }

  @media #{ vars.$mqXL } {
    font-size: 15pt;
  }
}

@mixin navItemHover {
  color: vars.$main;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}


// styles
.nav {
  background-color: vars.$black;
  border-bottom: 1px solid vars.$halfGrey;
  border-top: 1px solid vars.$halfGrey;
  padding: 15px 0 25px;
  margin-top: 0;

  @media #{ vars.$mqTablet } {
    display: block;
    background-color: transparent;
    margin-top: 15px;
    padding: 7px 0 13px 0;
  }

  .header-content {
    display: block;

    @media #{ vars.$mqTablet } {
      display: flex;
    }
  }

  .nav-list {
    display: block;

    @media #{ vars.$mqTablet } {
      display: flex;
      flex-flow: row wrap;
    }
  }

  .subject-nav-list,
  .secondary-nav-list {
    display: block;

    @media #{ vars.$mqTablet } {
      display: inline-flex;
    }

    .nav-item {
      @media #{ vars.$mqTablet } {
        &:not(:first-of-type) {
          margin-left: 35px;
        }
      }

      @media #{ vars.$mqXL } {
        &:not(:first-of-type) {
          margin-left: 40px;
        }
      }
    }
  }

  .secondary-nav-list {
    margin-left: auto;

    .nav-item {
      @media #{ vars.$mqTablet } {
        &:not(:first-of-type) {
          margin-left: 20px;
        }
      }

      @media #{ vars.$mqXL } {
        &:not(:first-of-type) {
          margin-left: 30px;
        }
      }
    }
  }

  .nav-item {
    display: flex;
    text-align: center;

    @media #{ vars.$mqTablet } {
      text-align: unset;
    }

    &.lang-switch {
      .nav-item-btn {
        @media #{ vars.$mqTablet } {
          display: inline-block;
          visibility: visible;
        }

        @media #{ vars.$mqDesktop } {
          .label {
            font-size: 14pt;
          }
        }
      }
    }

    &.mobile-only {
      @media #{ vars.$mqTablet } {
        display: none;
        visibility: hidden;
      }
    }

    .nav-link,
    .lang-switch-label {
      @include navItemIdle();
    }

    .nav-link {
      &:hover {
        @include navItemHover();
      }

      &:focus {
        @include ui.focusOutline();
      }

      &.active {
        color: vars.$main;
      }
    }

    .lang-switch-label {
      font-size: 14pt;
      position: relative;
      top: 1px;
    }
  }

  .nav-group-separator {
    background-color: vars.$darkGrey;
    height: 1px;
    margin: 20px 0 15px;
    position: relative;

    @media #{ vars.$mqTablet } {
      background-color: vars.$lighterGrey;
      height: 20px;
      margin: 0;
      top: 3px;
      width: 1px;
    }
  }

  .mobile-separator {
    display: flex;

    @media #{ vars.$mqTablet } {
      display: none;
    }
  }

  .desktop-separator {
    display: none;

    @media #{ vars.$mqTablet } {
      display: flex;
    }
  }

  .nav-item-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 0;
    height: 100%;
    line-height: 0;
    padding: 0;
    position: relative;
    top: 2px;
    visibility: hidden;
    width: 25px;

    &.with-label {
      width: auto;

      &:hover {
        .label {
          @include navItemHover();
        }
      }
    }

    &[aria-expanded='true'] {
      color: vars.$main;

      .label {
        color: vars.$main;
      }

      .caret {
        top: 2px;
        transform: scaleY(-1);
        transition:
          transform 250ms,
          top 250ms;
      }
    }

    @media #{ vars.$mqDesktop } {
      display: inline-block;
      visibility: visible;
    }

    &:hover {
      color: vars.$main;
    }

    &:focus {
      @include ui.focusOutline();
    }

    .label {
      color: vars.$almostWhite;
      display: inline-block;
      font-family: vars.$ffSansSerif;;
      font-size: 15pt;
      margin-right: 8px;
      pointer-events: none;

      @media #{ vars.$mqTablet } {
        color: vars.$black;
        font-size: vars.$fsVerySmol;
      }

      @media #{ vars.$mqDesktop } {
        font-size: vars.$fsTextBody;
        bottom: -3px;
        position: relative;
      }

      @media #{ vars.$mqXL } {
        font-size: 15pt;
      }

      &.uppercase {
        text-transform: uppercase;
      }

      &.sr-only {
        @include mx.visuallyHidden();
      }
    }

    .caret {
      display: inline-block;
      height: 10px;
      pointer-events: none;
      position: relative;
      top: -2px;
      width: 10px;
      transition:
        transform 125ms,
        top 125ms;

      @media #{ vars.$mqDesktop } {
        top: 0;
      }
    }
  }

  // mobile only
  .mobile-lang-options {
    justify-content: center;

    @media #{ vars.$mqTablet } {
      display: none;
      visibility: hidden;
    }
  }

  .switch-lang-link {
    @include ui.anchor();
    color: vars.$almostWhite;
    display: inline-flex;
    font-size: 10pt;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      @include navItemHover();
    }
  }
}
