@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.nav {
  background-color: $black;
  border-bottom: 1px solid $halfGrey;
  border-top: 1px solid $halfGrey;
  padding: 15px 0 25px;
  margin-top: 0;

  @media #{$mqTablet} {
    display: block;
    background-color: transparent;
    margin-top: 15px;
    padding: 7px 0 13px 0;
  }

  .nav-list {
    display: block;

    @media #{$mqTablet} {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    li {
      display: flex;
      text-align: center;

      @media #{$mqTablet} {
        text-align: unset;
      }

      a {
        display: block;
        margin: auto;
        color: $white;
        cursor: pointer;
        font-family: $ffTextBody;
        font-size: 15pt;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        padding: 15px 0;
        text-decoration: none;

        @media #{$mqTablet} {
          display: unset;
          color: $black;
          font-size: $fsVerySmol;
          padding: unset;
        }

        @media #{$mqDesktop} {
          font-size: $fsTextBody;
        }

        @media #{$mqXL} {
          font-size: 15pt;
        }

        &:hover {
          color: $main;
          text-decoration: underline;
          text-decoration-thickness: 2px;
        }

        &:focus {
          @include focusOutline();
        }
      }
    }
  }
}

