@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.apos-pager {
  background-color: transparent !important;
  margin: 40px 0;
  padding: 0 !important;

  .apos-pager-number {
    display: inline-block;
    background-color: $black;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: $ffButtonLabel;
    font-size: $fsTextBody;
    font-style: normal;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 40px;
    vertical-align: top;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover  {
      background-color: $white;
      border: 1px solid $black;

      a {
        color: $black;
      }
    }

    &:focus-within {
      @include focusOutline();
    }

    &.apos-active {
      background-color: $almostWhite;
      border: 1px solid $black;
      color: $black;
    }

    &.apos-last::after {
      content: '';
    }

    a {
      display: inline-block;
      color: $almostWhite;
      text-decoration: none;
      width: 100%;

      &:focus {
        box-shadow: none !important;
        outline: 0 !important;
      }
    }
  }

  .apos-pager-gap {
    display: inline-block;
    color: $black;
    font-family: $ffSerif;
    font-size: $fsTextBody;
    line-height: 40px;
    margin-right: 10px;
    padding: 0 10px;
    width: 40px;
  }
}

// temp fixes for apos modal
.apos-modal-footer {
  .apos-modal-footer-inner {
    .apos-manage-pager {
      margin-left: 250px;
      margin-top: 10px;
    }
    .apos-pager-number {
      font-family: Helvetica, Arial, sans-serif;
      background-color: $cmsColor;

      &.apos-active {
        background-color: $white;
        border: 2px solid $cmsColor;
        color: $cmsColor;
      }

      &:hover  {
        background-color: $white;
        border: 2px solid $cmsColor;

        a {
          color: $cmsColor;
        }
      }
    }
    .apos-pager-gap {
      font-family: Helvetica, Arial, sans-serif;
      color: $cmsColor;
    }
  }
}


[data-apos-workflow-mode="draft"] {
  .apos-pager-number {
    &:not(.apos-active) {
      line-height: 20px;
    }
  }
}
