@use '../common/variables' as vars;
@use '../common/ui' as ui;


.piece-link-list {
  display: block;
  margin: 20px 0;

  li {
    display: inline;
    margin-right: 5px;
    margin-bottom: 10px;

    &::after {
      color: vars.$black;
      content: ',';
      font-family: vars.$ffTextBody;
      font-size: vars.$fsTextBody;
      font-style: normal;
      font-weight: normal;
    }

    &:last-of-type {
      margin-right: 0;

      &::after {
        content: '';
      }
    }

    .piece-no-link {
      color: vars.$black;
      font-size: vars.$fsTextBody;
    }

    .piece-link {
      @include ui.anchor();
      color: vars.$black;
      font-size: vars.$fsTextBody;
    }
  }
}
