@import '../common/variables';
@import '../common/ui';


.piece-list {
  margin: 40px 0;

  .list-item {
    @include nColumnWidth(6);
    display: inline-block;
    vertical-align: top;

    &:not(:first-of-type) {
      margin: 40px 0 0 0;
    }

    @media #{$mqTablet} {
      @include nColumnWidth(4);
      margin: 0 0 60px 0;

      &:not(:first-of-type) {
        margin: 0 0 60px 0;
      }

      &:nth-child(even) {
        @include gutterLeftMargin();
      }
    }
  }

  .piece-link {
    text-decoration: none;
    display: inline-block;

    &:focus {
      @include focusOutline();
    }
  }

  .piece-card {
    color: $black;

    .heading {
      @include heading4();
      line-height: 1;
      margin: 0;
    }

    .byline-list {
      display: inline-block;
      padding-left: 0;
    }

    .byline-and-date {
      margin: 5px 0;

      span {
        @include minorText();
        font-size: $fsSmol;
        margin: 5px 0 0 0;
        line-height: 1.25;

        &:not(:last-of-type) {
          margin-right: 5px;

          &::after {
            @include minorText();
            position: relative;
            content: ',';
            font-size: $fsSmol;
            line-height: 1.25;
          }
        }
      }
    }

    .publication-date {
      @include minorText();
      font-size: $fsSmol;
      margin: 5px 0 0 0;
    }

    .org-location {
      @include minorText();
      margin: 5px 0;
    }

    .hero-image {
      $width: getColumnsSpan(6, $phone);
      $imgWidth: $width;
      $imgHeight: calc(#{$width} * 0.25);
      height: $imgHeight;
      width: $imgWidth;
      margin-top: 10px;
      object-fit: cover;

      @media #{$mqTablet} {
        $width: getColumnsSpan(4, $tablet);
        $imgWidth: $width;
        $imgHeight: calc(#{$width} * 0.25);
        height: $imgHeight;
        width: $imgWidth;
      }

      @media #{$mqDesktop} {
        $width: getColumnsSpan(4, $desktop);
        $imgWidth: $width;
        $imgHeight: calc(#{$width} * 0.25);
        height: $imgHeight;
        width: $imgWidth;
      }
    }

    .piece-cta {
      @include anchor();
      font-size: $fsTextBody;
      margin-top: 20px;
    }

    .tag {
      display: inline-block;
      margin-top: 30px;
    }
  }
}
