@import '../common/variables';


.piece-link-list {
  display: block;
  margin: 20px 0;

  li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;

    &::after {
      color: $black;
      content: ',';
      font-family: $ffTextBody;
      font-size: $fsTextBody;
      font-style: normal;
      font-weight: normal;
    }

    &:last-of-type {
      margin-right: 0;

      &::after {
        content: '';
      }
    }

    .piece-link {
      @include anchor();
      color: $black;
      font-size: $fsTextBody;
    }
  }
}
