@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/mixins' as mx;
@use '../mixins/hero-image' as img;
@use '../mixins/functions' as fn;


// mixins
@mixin imageDimensions {
  $width: fn.getColumnsSpan(6, vars.$phone);
  $imgWidth: $width;
  $imgHeight: calc(#{ $width } * 0.25);
  height: $imgHeight;
  width: $imgWidth;
  object-fit: cover;

  @media #{ vars.$mqTablet } {
    $width: fn.getColumnsSpan(4, vars.$tablet);
    $imgWidth: $width;
    $imgHeight: calc(#{ $width } * 0.25);
    height: $imgHeight;
    width: $imgWidth;
  }

  @media #{ vars.$mqDesktop } {
    $width: fn.getColumnsSpan(4, vars.$desktop);
    $imgWidth: $width;
    $imgHeight: calc(#{$width} * 0.25);
    height: $imgHeight;
    width: $imgWidth;
  }

  @media #{ vars.$mqXL } {
    $width: fn.getColumnsSpan(4, vars.$xl);
    $imgWidth: $width;
    $imgHeight: calc(#{ $width } * 0.25);
    height: $imgHeight;
    width: $imgWidth;
  }

  @media #{ vars.$mqXXL } {
    $width: fn.getColumnsSpan(4, vars.$xxl);
    $imgWidth: $width;
    $imgHeight: calc(#{ $width } * 0.25);
    height: $imgHeight;
    width: $imgWidth;
  }
}


// styles
.piece-list {
  margin: 40px 0;

  .list-item {
    @include mx.nColumnWidth(6);
    display: inline-block;
    vertical-align: top;

    &:not(:first-of-type) {
      margin: 40px 0 0 0;
    }

    @media #{ vars.$mqTablet } {
      @include mx.nColumnWidth(4);
      margin: 0 0 60px 0;

      &:not(:first-of-type) {
        margin: 0 0 60px 0;
      }

      &:nth-child(even) {
        @include mx.gutterLeftMargin();
      }
    }
  }

  .piece-link {
    text-decoration: none;
    display: inline-block;

    &.focus-visible {
      @include ui.focusOutline();
    }
  }

  .piece-card {
    color: vars.$black;

    .heading {
      @include ui.heading5();
      @include ui.headingBase();
      line-height: 1.375;
      margin: 0;

      @media #{ vars.$mqDesktop } {
        @include ui.heading4();
        margin: 0;
      }
    }

    .byline-list {
      margin: 5px 0 10px 0;
    }

    .byline-and-date {
      margin: 5px 0;

      span {
        @include ui.minorText();
        font-size: vars.$fsSmol;
        line-height: 1.25;
        margin: 5px 0 0 0;

        &:not(:last-of-type) {
          margin-right: 5px;

          &::after {
            @include ui.minorText();
            content: ',';
            font-size: vars.$fsSmol;
            line-height: 1.25;
            position: relative;
          }
        }
      }
    }

    .publication-date {
      @include ui.minorText();
      font-size: vars.$fsSmol;
      margin: 5px 0 0 0;
    }

    .org-location {
      @include ui.minorText();
      margin: 5px 0;
    }

    // HERO IMAGE - START
    .image-container {
      overflow: hidden;
      margin-top: 10px;
    }

    .hero-image {
      @include imageDimensions();
    }

    .figure[data-is-image-vertical="true"] {
      .image-container {
        @include imageDimensions();
        position: relative;
      }

      .vertical-hero-image {
        @include imageDimensions();
        position: absolute;
        object-fit: contain;
        z-index: 1;
      }

      .hero-image {
        position: absolute;
        z-index: 0;
        opacity: 0.25;
        filter: blur(10px);
      }
    }
    // HERO IMAGE - END

    .piece-cta {
      @include ui.anchor();
      font-size: vars.$fsTextBody;
      line-height: 1.25;
      margin-top: 20px;
    }

    .tag {
      display: inline-block;
      margin-top: 30px;
    }

    &.book {
      .hero-image {
        @include img.heroImageShadow();
      }
    }
  }
}

.people-piece-list {
  .profile-pic-container {
    font-size: 0;
    line-height: 0;

    .fig-headshot {
      $imgWidth: fn.getColumnsSpan(6, vars.$tablet);
      width: $imgWidth;
      height: calc(#{ $imgWidth } * 0.75);
      object-fit: cover;
      margin-top: 20px;

      @media #{ vars.$mqTablet } {
        position: relative;
        float: left;
        margin-bottom: 10px;

        $imgWidth: fn.getColumnsSpan(2, vars.$tablet);
        $marginSize: fn.getGutterHalfWidth(vars.$tablet);
        width: $imgWidth;
        height: $imgWidth;
        margin-right: $marginSize;
      }

      @media #{ vars.$mqDesktop } {
        $imgWidth: fn.getColumnsSpan(2, vars.$desktop);
        $marginSize: fn.getGutterHalfWidth(vars.$desktop);
        width: $imgWidth;
        height: $imgWidth;
        margin-right: $marginSize;
      }

      @media #{ vars.$mqXL } {
        $imgWidth: fn.getColumnsSpan(1, vars.$xl);
        $marginSize: fn.getGutterHalfWidth(vars.$xl);
        width: $imgWidth;
        height: $imgWidth;
        margin-right: $marginSize;
      }

      @media #{ vars.$mqXXL } {
        $imgWidth: fn.getColumnsSpan(1, vars.$xxl);
        $marginSize: fn.getGutterHalfWidth(vars.$xxl);
        width: $imgWidth;
        height: $imgWidth;
        margin-right: $marginSize;
      }
    }
  }

  .person-details {
    // @include mx.nColumnWidth(3);
    display: inline-block;
    vertical-align: top;

    .person-description {
      :first-child {
        margin-top: 5px;
      }

      * {
        line-height: 1.5;
        margin: 0;
      }
    }
  }
}

.article-list {
  .piece-card {
    .byline-and-date {
      span {
        line-height: 1.5;
        margin-right: 0;

        &::after {
          content: '';
          font-size: vars.$fsSmol;
          line-height: 1.5;
          position: relative;
        }

        &.article-author {
          margin-right: 5px;

          &.last {
            &::after {
              content: ' –';
            }
          }
        }

        &.article-publication-name {
          &::after {
            content: ' |';
          }
        }
      }
    }
  }
}
