@import '../common/variables';
@import '../common/ui';

.piece-list {
  margin: 40px 0;

  .list-item {
    @include nColumnWidth(4);
    display: inline-block;
    margin: 0 0 60px 0;
    vertical-align: top;

    &:nth-child(even) {
      @include gutterLeftMargin();
    }
  }

  .piece-link {
    text-decoration: none;
    display: inline-block;

    &:focus {
      @include focusOutline();
    }
  }

  .piece-card {
    color: $black;

    .heading {
      @include heading4();
      line-height: 1;
      margin: 0;
    }

    .byline-list {
      display: inline-block;
    }

    .publication-date {
      @include minorText();
      font-size: $fsSmol;
      margin: 5px 0 0 0;
    }

    .org-location {
      @include minorText();
      margin: 5px 0;
    }

    .hero-image {
      $width: getColumnsSpan(4, $desktop);
      $imgWidth: $width;
      $imgHeight: calc(#{$width} * 0.2);
      height: $imgHeight;
      width: $imgWidth;
      margin-top: 10px;
      object-fit: cover;
    }
  }
}
