@use '../common/variables' as vars;
@use '../mixins/mixins' as mx;


.rich-content {
  // override apos
  h2, h3, h3, h4 {
    margin-top: 20px;
  }

  p, ul, ol {
    margin-top: 10px;
  }
  // override apos end

  .apos-area {
    > :first-child {
      margin-top: 0;
    }
  }

  .apos-rich-text-widget .apos-ui .apos-buttons {
    margin-left: auto;
    position: absolute;
    right: 0;
    width: min-content;
  }

  .apos-rich-text {
    @include mx.aposRichText();
    margin-top: 20px;
    margin-bottom: 20px;
  }

  blockquote {
    &::before,
    &::after {
      color: vars.$lightGrey;
      font-family: vars.$ffSerif;
      font-size: 24pt;
      position: absolute;
      width: calc(100% - 60px); // padding: 15px 30px in src/styles/mixins/_apos-overrides.scss
    }
    &::before {
      text-align: left;
    }
    &::after {
      text-align: right;
    }
  }

  [data-apos-widget-wrapper="apostrophe-images"] {
    padding: 0;
    margin: 40px 0;

    figure {
      width: 100%;

      .image-link {
        display: inline-block;
      }

      img {
        width: 100%;
      }

      figcaption {
        color: vars.$darkGrey;
        font-family: vars.$ffSerif;
        font-size: vars.$fsVerySmol;
        font-style: italic;
        margin: 15px 0 30px 0;
        text-align: right;
      }
    }
  }

  .video-figure,
  .apos-video-player {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

[lang="en"] {
  .rich-content {
    blockquote {
      &::before {
        content: '“';

        // outside
        // margin-top: -20px;

        // top left corner
        margin-top: 2.5px;
        left: 10px;
      }
      &::after {
        content: '”';

        // outside
        // margin-top: 10px;

        // bottom right corner
        margin-top: -15px;
        right: 10px;
      }
    }
  }
}
[lang="fr"] {
  .rich-content {
    blockquote {
      &::before {
        content: '«';

        // outside
        // margin-top: -35px;

        // top left corner
        margin-top: -10px;
        left: 5px;
      }
      &::after {
        content: '»';

        // outside
        // margin-top: -5px;

        // bottom right corner
        margin-top: -25px;
        right: 5px;
      }
    }
  }
}

[data-apos-workflow-mode="draft"] {
  .rich-content {
    $draftMargin: 80px;

    .video-figure,
    .apos-video-player,
    .apos-rich-text,
    [data-apos-widget="aem-anchor-heading"],
    [data-apos-widget-wrapper="apostrophe-images"] {
      margin-bottom: $draftMargin;
    }

    .apos-area-widget-wrapper {
      &[data-apos-widget-wrapper="aem-link"] {
        margin-bottom: $draftMargin;

        .apos-ui {
          position: absolute;
          right: 365px;
          top: -50px;
        }
      }
    }
  }
}
