@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.sidebar {
  @include gutterLeftMargin();
  @include nColumnWidth(4);
  display: none;
  vertical-align: top;

  @media #{$mqTablet} {
    display: inline-block;
  }

  .h1 {
    @include heading4();
  }

  .h2 {
    @include heading5();
  }

  .h3 {
    @include heading6();
  }

  p {
    @include paragraph();
    font-size: $fsSmol !important;
  }

  ul {
    @include list();
  }

  li {
    @include unorderedListItem();
  }

  a {
    @include anchor();
    font-size: 11.25pt;
    color: $black;
  }

  label {
    @include inputLabel();
  }

  .search-input {
    @include textInput();
    display: inline-block;
    vertical-align: top;
    width: 170px;

    @media #{$mqDesktop} {
      width: calc(100% - 50px);
    }

    &::placeholder {
      color: $black;
    }
  }

  .search-button {
    @include button();
    color: $almostWhite;
    float: right;
    padding: 0 10px;
    vertical-align: top;

    .icon {
      display: inline-block;
      position: relative;
      height: 15px;
      top: 2px;
      width: 15px;
    }
  }

  .cta {
    @include button();
    color: $almostWhite;
  }

  .in-this-section {
    margin-top: 40px;
  }

  .related-to-this-section {
    margin-top: 40px;
  }

  .citation-warning {
    font-size: $fsVerySmol !important;
    margin-top: 20px;
  }

  .section-with-margins {
    margin-bottom: 40px;
  }
}
