@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.sidebar {
  @include gutterLeftMargin();
  @include nColumnWidth(4);
  display: inline-block;
  vertical-align: top;

  .h1 {
    @include heading4();
  }

  .h2 {
    @include heading5();
  }

  .h3 {
    @include heading6();
  }

  p {
    @include paragraph();
    font-size: 11.25pt;
  }

  ul {
    @include list();
  }

  li {
    @include unorderedListItem();
  }

  a {
    @include anchor();
    font-size: 11.25pt;
    color: $black;
  }

  label {
    @include inputLabel();
  }

  .search-input {
    @include textInput();
    display: inline-block;
    -webkit-appearance: textfield;
    vertical-align: top;
    width: 170px;

    @media #{$mqDesktop} {
      width: unset;
    }

    &::placeholder {
      color: $black;
    }
  }

  .search-button {
    @include button();
    color: $white;
    float: right;
    padding: 0 10px;
    vertical-align: top;

    @media #{$mqDesktop} {
      padding: 0 20px;
    }

    .icon {
      display: inline-block;
      position: relative;
      height: 15px;
      top: 2px;
      width: 15px;

      @media #{$mqDesktop} {
        display: none;
      }
    }

    .label {
      @include visuallyHidden();

      @media #{$mqDesktop} {
        @include cancelVisuallyHidden();
      }
    }
  }

  .cta {
    @include button();
    font-size: 11.25pt;
    color: $white;
  }
}
