@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.sidebar {
  @include gutterLeftMargin();
  @include nColumnWidth(4);
  display: inline-block;
  vertical-align: top;

  h1 {
    @include heading4();
  }
  h2 {
    @include heading5();
  }
  h3 {
    @include heading6();
  }
  p {
    @include paragraph();
    font-size: 11.25pt;
  }
  ul {
    @include list();
  }
  li {
    @include unorderedListItem();
  }
  a {
    @include anchor();
    font-size: 11.25pt;
    color: $black;
  }

  .separator {
    border: none;
    border-bottom: 1px solid $halfGrey;
    margin: 30px auto;
    width: 66%;
  }

  .cta {
    @include button();
    font-size: 11.25pt;
    color: $white;
  }
}
