@use '../common/variables' as vars;
@use '../common/ui' as ui;


.sub-nav {
  border-bottom: 1px solid vars.$halfGrey;
  padding: 7px 0 13px 0;

  .sub-nav-list {
    li {
      display: inline-block;
      margin-right: 40px;

      a {
        color: vars.$black;
        cursor: pointer;
        font-family: vars.$ffTextBody;
        font-size: 12.5pt;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        text-decoration: none;

        &:hover {
          color: vars.$main;
          text-decoration: underline;
        }

        &.focus-visible {
          @include ui.focusOutline();
        }
      }
    }
  }
}

