@use '../common/variables' as vars;
@use '../common/ui' as ui;


.twitter-timeline-container {
  .twitter-cta {
    margin-top: 25px;
  }
}

.twitter-removed {
  @include ui.cmsOutline(vars.$red);
  background-color: rgba(vars.$red, 0.125);
  padding: 20px;

  .message {
    font-family: vars.$ffTextBody;
    font-size: vars.$fsSmol;
    line-height: 1.25;
  }
}
