{%- from 'macros/featured-piece.njk' import featuredOrganization -%}


{# FIXME: figure out better way to get widget data #}
{% set hasWidget = data.widget._pieces.length > 0 %}

{%- if hasWidget -%}
  {%- if data.widget.isSponsored -%}
    {%- set label = 'Sponsored Organization' -%}
  {%- else -%}
    {%- set label = 'Featured Organization' -%}
  {%- endif -%}

  {%- set piece = data.widget._pieces[0] -%}
  {{ featuredOrganization(piece, label) }}
{%- endif -%}
