{%- from 'macros/featured-piece.njk' import featuredProject -%}


{# FIXME: figure out better way to get widget data #}
{% set hasWidget = data.widget._pieces.length > 0 %}

{%- if hasWidget -%}
  {%- if data.widget.isSponsored -%}
    {%- set label = __('projects|sponsored') -%}
  {%- else -%}
    {%- set label = __('projects|featured') -%}
  {%- endif -%}

  {%- set piece = data.widget._pieces[0] -%}
  {{ featuredProject(piece, label) }}
{%- endif -%}
