{# FIXME: figure out better way to get widget data #}
{% set hasProject = data.widget._pieces.length > 0 %}

{%- if hasProject -%}
<article class="featured-piece-widget featured-project-widget">
  {%- if data.widget.isSponsored -%}
    <p class="feature-type">Sponsored Project</p>
  {%- else -%}
    <p class="feature-type">Featured Project</p>
  {%- endif -%}

  {%- set piece = data.widget._pieces[0] -%}
  <h1>{{ piece.title }}</h1>

  <ul class="byline-list">
    {% for author in piece._author %}
      <li>
        <p>{{ author.title }}</p>
      </li>
    {% endfor %}
  </ul>

  {# image start #}
  {%- set aposImageData = apos.images.first(piece.heroImage) -%}
  {%- set image = apos.aem.getImageBasicData(aposImageData) -%}
  <img
    class="hero-image"
    src="{{ image.url }}"
    alt="{{ image.alt }}"
  />
  {# image end #}

  {%- if piece.description.items -%}
    {%- set descriptionText = piece.description.items[0].content | safe -%}
  {%- else -%}
    {%- set descriptionText = piece.description -%}
  {%- endif -%}
  <p>{{ descriptionText | truncate(140, true, "...") }}</p>

  <a class="cta" href="{{ piece._url }}">View Project</a>
</article>
{%- endif -%}
