<footer class="footer">
  <article class="content">
    <h1 class="site-title">Arts et Médias</h1>
    <section class="link-columns">
      <div class="column">
        <h2 class="column-title">Explore</h2>
        <ul>
          <li class="list-item">
            <a class="footer-link" href="#">News</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="#">Events and Calendar</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="#">People and Projects</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="#">Galleries and Institutions</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="#">Workshops and Education</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="#">Media and Literature</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="#">Resources</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h2 class="column-title">Admin</h2>
        <ul>
          <li class="list-item">
            <a class="footer-link" href="/about">About</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/faq">FAQ</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/help">Help Us</a>
          </li>
          {% if data.user %}
          <li class="list-item">
            <a class="footer-link" href="/logout">Log Out</a>
          </li>
          {% else %}
          <li class="list-item">
            <a class="footer-link" href="/login">Log In</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="column">
        <h2 class="column-title">Connect</h2>
        <ul>
          <li class="list-item">
            <a class="footer-link" href="#">Submit</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="#">Twitter</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="#">Instagram</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="#">Email</a>
          </li>
        </ul>
      </div>
    </section>
  </article>
</footer>
