<footer class="footer">
  <article class="content">
    <h1 class="site-title">Arts et Médias</h1>
    <section class="link-columns">

      <div class="column">
        <h2 class="column-title">Content</h2>
        <ul>
          <li class="list-item">
            <a class="footer-link" href="/">Home</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/news">News</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/events">Events and Calendar</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/about">About</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/search">Search</a>
          </li>
        </ul>
      </div>

      <div class="column">
        <h2 class="column-title">Projects and Media</h2>
        <ul>
          <li class="list-item">
            <a class="footer-link" href="/projects">Projects</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/media/blogs">Blogs</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/media/websites">Websites</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/media/books">Books</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/media/magazines">Magazines</a>
          </li>
        </ul>
      </div>

      <div class="column">
        <h2 class="column-title">People and Organizations</h2>
        <ul>
          <li class="list-item">
            <a class="footer-link" href="/people">People</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/organizations/studios">Studios and Collectives</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/organizations/galleries">Galleries and Museums</a>
          </li>
        </ul>
      </div>

      <div class="column">
        <h2 class="column-title">Education</h2>
        <ul>
          <li class="list-item">
            <a class="footer-link" href="/education/workshops">Workshops</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/education/academic-programs">Academic Programs</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/education/academic-institutions">Institutions</a>
          </li>
        </ul>
      </div>

      <div class="column">
        <h2 class="column-title">Connect</h2>
        <ul>
          <li class="list-item">
            <a class="footer-link" href="#">Twitter</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="#">Instagram</a>
          </li>
          <li class="list-item">
            <a
              class="footer-link"
              href="https://github.com/jansensan/arts-et-medias"
              rel="no referrer noopener"
              target="_blank"
            >GitHub</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="mailto:info@arts-et-medias.net">Email</a>
          </li>
        </ul>
      </div>

      <div class="column">
        <h2 class="column-title">Admin</h2>
        <ul>
          <li class="list-item">
            <a class="footer-link" href="/faq">FAQ</a>
          </li>
          <li class="list-item">
            <a class="footer-link" href="/help">Help Us</a>
          </li>
          {% if data.user %}
          <li class="list-item">
            <a class="footer-link" href="/logout">Log Out</a>
          </li>
          {% else %}
          <li class="list-item">
            <a class="footer-link" href="/login">Log In</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </section>
  </article>
</footer>
