<header class="header">
  <div class="site-title">
    <a href="{{data.home._url}}">
      Arts et Médias
    </a>
  </div>

  <nav class="nav">
    <ul class="content nav-list">
      <li>
        <a href="/news">News</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
      <li>
        <a href="/events">Events</a>
      </li>
      <li>
        <a href="/education">Education</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</header>
