<nav class="nav header-nav">
  <ul class="content nav-list">
    <li>
      <a
        id="headerArticlesNavItem"
        href="/articles"
      >Articles</a>
    </li>
    <li>
      <a
        id="headerEventsNavItem"
        href="/events"
      >Events</a>
    </li>
    <li>
      <a
        id="headerMediaNavItem"
        href="/media"
      >Projects & Media</a>
    </li>
    <li>
      <a
        id="headerPeopleNavItem"
        href="/people"
      >People</a>
    </li>
    <li>
      <a
        id="headerOrgsNavItem"
        href="/organizations"
      >Organizations</a>
    </li>
    <li>
      <a
        id="headerEducationNavItem"
        href="/academia"
      >Academia</a>
    </li>
    <li>
      <a
        id="headerSearchNavItem"
        href="/search"
      >Search</a>
    </li>
    <li>
      <a
        class="sans-menu"
        href="/about"
      >About</a>
    </li>
  </ul>
</nav>
