<nav class="sub-nav">
  <ul class="content sub-nav-list">
    <li>
      <a href="/people">People</a>
    </li>
    <li>
      <a href="/organizations/studios">Studios and Collectives</a>
    </li>
    <li>
      <a href="/organizations/galleries">Galleries and Museums</a>
    </li>
  </ul>
</nav>
