{% macro pieceIndexLink(type, anchorId) %}
  <a
    id="{{ anchorId }}"
    href="{{ __(type + '|url') }}"
  >{{ __(type + '|heading') }}</a>
{% endmacro %}

<nav class="nav header-nav">
  <ul class="content nav-list">
    <li class="nav-item">
      {{ pieceIndexLink('articles', 'headerArticlesNavItem') }}
    </li>
    <li class="nav-item">
      {{ pieceIndexLink('events', 'headerEventsNavItem') }}
    </li>
    <li class="nav-item">
      {{ pieceIndexLink('media', 'headerMediaNavItem') }}
    </li>
    <li class="nav-item">
      {{ pieceIndexLink('people', 'headerPeopleNavItem') }}
    </li>
    <li class="nav-item">
      {{ pieceIndexLink('organizations', 'headerOrgsNavItem') }}
    </li>
    <li class="nav-item">
      {{ pieceIndexLink('education', 'headerEducationNavItem') }}
    </li>
    <li class="nav-item">
      <a
        class="sans-menu"
        href="{{ __('pages|about|url') }}"
      >{{ __('pages|about|title') }}</a>
    </li>
    <li class="nav-item search">
      <a
        id="headerSearchNavItem"
        href="{{ __('search|url') }}"
        class="search-button"
      >
        <span class="icon">
          {% include "/svg/icon-search.svg" %}
        </span>
        <span class="label">
          {{ __('search|heading') }}
        </span>
      </a>
    </li>
    <li class="nav-item lang-switch">
      {% include "partials/components/lang-switch.njk" %}
    </li>
  </ul>
</nav>
