<nav class="nav">
  <ul class="content nav-list">
    <li>
      <a href="/articles">Articles</a>
    </li>
    <li>
      <a href="/events">Events</a>
    </li>
    <li>
      <a href="/media">Projects & Media</a>
    </li>
    <li>
      <a href="/people">People</a>
    </li>
    <li>
      <a href="/organizations">Organizations</a>
    </li>
    <li>
      <a href="/education">Education</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/search">Search</a>
    </li>
  </ul>
</nav>
