<link
  rel="preload"
  href="https://static.arts-et-medias.net/fonts/youngserif/YoungSerif-Regular.otf"
  as="font"
  type="font/otf"
  crossorigin
>
<link
  rel="preload"
  href="https://static.arts-et-medias.net/fonts/quebec/Quebec-Light.otf"
  as="font"
  type="font/otf"
  crossorigin
>
