<aside class="sidebar">
  <section>
    <h1>Sidebar</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, corporis. Laboriosam quisquam doloremque in accusantium natus deserunt ab quo. Dolorem natus totam iure, consequatur odit voluptatibus beatae sunt inventore iusto?</p>
  </section>
</aside>
