_assets
.circleci
.github
.vscode

### project files and directories
contributing
data
node_modules
scripts


### config files
apos-config.js
brunch-config.js
ecosystem.config.js


### src
lib/modules/apostrophe-assets/public
lib/modules/apostrophe-rich-text-widgets/public
