.circleci
.github
.vscode

### project files and directories
/_assets/**
/contributing/**
/data/**
/node_modules/**
/public/**
/scripts/**


### config files
apos-config.js
brunch-config.js
ecosystem.config.js


### src
/lib/modules/apostrophe-assets/public/**
/lib/modules/apostrophe-rich-text-widgets/public/**
