{% extends "layouts/layout.njk" %}

{% from 'macros/piece-index.njk' import mainContent %}

{% block title %}
  {{ data.page.title }} | Arts et Médias
{% endblock %}

{% block beforeMain %}
  {% include "partials/header.html" %}
{% endblock %}

{% block main %}
  <div class="page-index">
    <div class="content">
      {{ mainContent(data) }}
      {% include "partials/sidebar.njk" %}
    </div>
  </div>
{% endblock %}

{% block afterMain %}
  {% include "partials/footer.html" %}
{% endblock %}
