{% extends "layouts/layout.njk" %}

{% import 'apostrophe-pager:macros.html' as pager with context %}

{% from 'macros/piece-index.njk' import pieceList %}


{% block title %}
  {{ data.page.title }} | Arts et Médias
{% endblock %}

{% block main %}
  <div class="page-index {% block mainAdditionalClasses %}{% endblock %}">
    <div class="content">
      <main id="main">
        <article>
          {% block breadcrumbs %}
            {% include "partials/components/breadcrumbs.njk" %}
          {% endblock %}

          <h1>{% block pageTitle %}{{ data.page.title }}{% endblock %}</h1>

          <div class="page-content">
            {% block pageContent %}
              {{ pieceList(data.pieces) }}
              {{ pager.render({ page: data.currentPage, total: data.totalPages }, data.url) }}
            {% endblock %}
          </div>

          {% block sidebar %}
            {% include "partials/sidebar/sidebar.njk" %}
          {% endblock %}
        </article>
      </main>
    </div>
  </div>
{% endblock %}
