{% extends data.outerLayout %}

{%- from 'macros/metadata.njk' import minimalMetaData -%}

{% block apostropheMenu %}
  {# TODO: show different admin bar layouts depending on user group (#96) #}
  {{ apos.adminBar.output() }}
{% endblock %}

{% block title %}
  {% if data.piece %}
    {%- set pageTitle = data.piece.title -%}
  {% elseif data.page %}
    {%- set pageTitle = data.page.title -%}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
  {{ pageTitle }} | {{ __('global|title') }}
{% endblock %}

{% block beforeMain %}
  {% include "partials/components/skip-to-main.njk" %}
  {% include "partials/components/header/header.njk" %}
  {% include "partials/components/mobile-menu/menu.njk" %}
  {% block advertisementBeforeMain %}{% endblock %}
{% endblock %}

{% block main %}{% endblock %}

{% block afterMain %}
  {% include "partials/footer.njk" %}
{% endblock %}

{% block extraHead %}
  {%- if apos.aemUtils.includeAnalytics(data) -%}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D00K3M87FX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-D00K3M87FX');
    </script>
  {%- endif -%}
{% endblock %}
