{% extends data.outerLayout %}

{%- from 'macros/metadata.njk' import minimalMetaData -%}


{% if data.piece %}
  {%- set pageTitle = data.piece.title -%}
  {%- set pageUrl = data.piece._url -%}
{% elseif data.page %}
  {%- set pageTitle = data.page.title -%}
  {%- set pageUrl = data.page._url -%}
{% else %}
  {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
{% endif %}


{% block title %}
  {{ pageTitle }}
{% endblock %}


{% block extraHead %}
  {{ super() }}

  {#- prevent iOS from rendering numbers as phone number links -#}
  <meta name="format-detection" content="telephone=no">

  {% block metadata %}{% endblock %}
{% endblock %}


{% block beforeMain %}
  {% include "partials/components/skip-to-main.njk" %}
  {% include "partials/header.njk" %}
  {% include "partials/components/mobile-menu.njk" %}
{% endblock %}

{% block main %}{% endblock %}

{% block afterMain %}
  {% include "partials/footer.njk" %}
{% endblock %}
