{% extends data.outerLayout %}

{%- from 'macros/metadata.njk' import minimalMetaData -%}

{% block apostropheMenu %}
  {# TODO: show different admin bar layouts depending on user group (#96) #}
  {{ apos.adminBar.output() }}
{% endblock %}

{% block title %}
  {% if data.piece %}
    {%- set pageTitle = data.piece.title -%}
  {% elseif data.page %}
    {%- set pageTitle = data.page.title -%}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
  {{ pageTitle }} | {{ __('global|title') }}
{% endblock %}

{% block beforeMain %}
  {% include "partials/components/skip-to-main.njk" %}
  {% include "partials/components/header/header.njk" %}
  {% include "partials/components/mobile-menu/menu.njk" %}
  {% block advertisementBeforeMain %}{% endblock %}
{% endblock %}

{% block main %}{% endblock %}

{% block afterMain %}
  {% include "partials/footer.njk" %}
{% endblock %}

{% block extraBody %}
  {%- if apos.aemUtils.includeAnalytics(data) -%}
    <script src="//collect.privacystats.com/js/ps.js" type="text/javascript"></script>
    <script src="//collect.privacystats.com/collect/?privacystats_c=2702b111-d593-4b04-a518-727c9556ef47" type="text/javascript"></script>
  {%- endif -%}
{% endblock %}
