{% extends "layouts/layout.njk" %}

{%- from 'macros/piece-details.njk' import relatedContent, tags, websiteCTA -%}
{%- from 'options/options.njk' import fixedRichTextOptions -%}


{%- set piece = data.piece -%}
{%- set hasHeroImage = piece.heroImage.items|length > 0 -%}

{% block title %}
  {{ piece.title }} | Arts et Médias
{% endblock %}

{% block main %}
  <div class="piece-details {% block mainAdditionalClasses %}{% endblock %}">
    <div class="content">
      <main id="main">
        <article>
          {% block breadcrumbs %}
            {% include "partials/components/breadcrumbs.njk" %}
          {% endblock %}

          <h1 class="h1">{{ piece.title }}</h1>

          {% block subheading %}{% endblock %}


          {%- if hasHeroImage -%}
            {%- set pageContentClassList = 'page-content with-hero' -%}
          {%- else -%}
            {%- set pageContentClassList = 'page-content without-hero' -%}
          {%- endif -%}
          <div class="{{ pageContentClassList }}">
            {% block pageContent %}
              <h2 class="sr-only">Description</h2>
              <div class="description rich-description">
                {{
                  apos.singleton(
                    piece,
                    'description',
                    'apostrophe-rich-text',
                    fixedRichTextOptions
                  )
                }}
              </div>

              {{ websiteCTA(piece) }}

              {{ relatedContent(piece, false) }}

              {{ tags(piece, true) }}
            {% endblock %}
          </div>

          {% block sidebar %}
            {% include "partials/sidebar/sidebar.njk" %}
          {% endblock %}
        </article>
      </main>
    </div>
  </div>
{% endblock %}
