{% extends "layouts/layout.njk" %}

{%- from 'macros/metadata.njk' import descriptiveMetaData -%}
{%- from 'macros/piece-details.njk' import relatedContent, tags, websiteCTA -%}
{%- from 'options/options.njk' import fixedRichTextOptions -%}


{%- set piece = data.piece -%}
{%- set hasHeroImage = apos.aemPieces.hasHeroImage(piece) -%}


{% block title %}
  {{ piece.title }} | {{ __('global|title') }}
{% endblock %}

{% block metadata %}
  {{
    descriptiveMetaData({
      title: piece.title,
      description: piece.shortDescription,
      heroImage: piece.heroImage,
      url: piece._url,
      baseUrl: apos.aemUtils.ensureHTTPS(data.baseUrl),
      locale: locale
    })
  }}
{% endblock %}

{% block bodyAttributes %}data-aem-piece-id="{{ piece._id }}" data-aem-piece-type="{{ piece.type }}"{% endblock %}

{% block main %}
  <div class="piece-details {% block mainAdditionalClasses %}{% endblock %}">
    <div class="content">
      <main id="main" tabindex="-1">
        <article>
          {% block breadcrumbs %}
            {% include "partials/components/breadcrumbs.njk" %}
          {% endblock %}

          <h1 class="page-heading">{{ piece.title }}</h1>

          {% block subheading %}{% endblock %}

          {%- if hasHeroImage -%}
            {%- set pageContentClassList = 'page-content with-hero' -%}
          {%- else -%}
            {%- set pageContentClassList = 'page-content without-hero' -%}
          {%- endif -%}
          <div class="{{ pageContentClassList }}">
            {% block pageContent %}

              <h2 class="sr-only">Description</h2>
              <div class="description rich-description">
                {{
                  apos.singleton(
                    piece,
                    'description',
                    'apostrophe-rich-text',
                    fixedRichTextOptions
                  )
                }}
              </div>

              {{ websiteCTA(piece) }}

              {% block advertisementInMain %}{% endblock %}

              <hr class="separator"/>

              {% block relatedContent %}
                {{ relatedContent(piece) }}
              {% endblock %}

              {{ tags(piece) }}

              {% block advertisementAfterMain %}{% endblock %}
            {% endblock %}

            {%- if piece.updatedAt -%}
              <hr class="separator"/>

              {%- set formattedLatestUpdate = apos.aemDates.format(piece.updatedAt, locale) -%}
              <p class="latest-update">
                {{ __('pieceDetails|latestUpdate') }} {{ formattedLatestUpdate }}
              </p>
            {%- endif -%}
          </div>

          {% block sidebar %}
            {% include "partials/sidebar/sidebar.njk" %}
          {% endblock %}
        </article>
      </main>
    </div>
  </div>
{% endblock %}
