{%- from 'macros/cta.njk' import seeAllOfTypeCTA -%}
{%- from 'macros/piece-index.njk' import eventList -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}

{%- set hasFeaturedEvent = apos.aemPieces.hasFeaturedEvent(data) -%}
{%- set numEventPreviews = 2 -%}


{# festivals #}
{%- set ongoingFestivals = apos.aemEvents.sortByWhichEndsFirst(data.ongoingEvents) -%}
{%-
  set ongoingFestivals = apos.aemPieces.getFirstNWithTags(
    ongoingFestivals,
    numEventPreviews,
    __('events|categories|festivals|tags')
  )
-%}
{%-
  set futureFestivals = apos.aemPieces.getFirstNWithTags(
    data.futureEvents,
    numEventPreviews,
    __('events|categories|festivals|tags')
  )
-%}

{# exhibits #}
{%- set ongoingExhibits = apos.aemEvents.sortByWhichEndsFirst(data.ongoingEvents) -%}
{%-
  set ongoingExhibits = apos.aemPieces.getFirstNWithTags(
    ongoingExhibits,
    numEventPreviews,
    __('events|categories|exhibits|tags')
  )
-%}
{%-
  set futureExhibits = apos.aemPieces.getFirstNWithTags(
    data.futureEvents,
    numEventPreviews,
    __('events|categories|exhibits|tags')
  )
-%}

{# conferences #}
{%- set ongoingConferences = apos.aemEvents.sortByWhichEndsFirst(data.ongoingEvents) -%}
{%-
  set ongoingConferences = apos.aemPieces.getFirstNWithTags(
    ongoingConferences,
    numEventPreviews,
    __('events|categories|conferences|tags')
  )
-%}
{%-
  set futureConferences = apos.aemPieces.getFirstNWithTags(
    data.futureEvents,
    numEventPreviews,
    __('events|categories|conferences|tags')
  )
-%}

{# workshops #}
{%- set ongoingWorkshops = apos.aemEvents.sortByWhichEndsFirst(data.ongoingEvents) -%}
{%-
  set ongoingWorkshops = apos.aemPieces.getFirstNWithTags(
    ongoingWorkshops,
    numEventPreviews,
    __('events|categories|workshops|tags')
  )
-%}
{%-
  set futureWorkshops = apos.aemPieces.getFirstNWithTags(
    data.futureEvents,
    numEventPreviews,
    __('events|categories|workshops|tags')
  )
-%}


{%-
  set eventBlocks = [
    [
      {
        heading: __('events|categories|festivals|ongoing'),
        pieces: ongoingFestivals
      },
      {
        heading: __('events|categories|festivals|next'),
        pieces: futureFestivals
      }
    ],
    [
      {
        heading: __('events|categories|exhibits|ongoing'),
        pieces: ongoingExhibits
      },
      {
        heading: __('events|categories|exhibits|next'),
        pieces: futureExhibits
      }
    ],
    [
      {
        heading: __('events|categories|conferences|ongoing'),
        pieces: ongoingConferences
      },
      {
        heading: __('events|categories|conferences|next'),
        pieces: futureConferences
      }
    ],
    [
      {
        heading: __('events|categories|workshops|ongoing'),
        pieces: ongoingWorkshops
      },
      {
        heading: __('events|categories|workshops|next'),
        pieces: futureWorkshops
      }
    ]
  ]
-%}


<section class="events-section">
  <div class="section-heading">
    <h2 class="h2">{{ __('events|heading') }}</h2>
    {{ seeAllOfTypeCTA('events') }}
  </div>

  {#- TODO: revisit featured event module -#}
  {#-
  {%- if apos.aemPieces.hasFeaturedEvent(data) -%}
    <div class="featured-piece">
      {% include "partials/events/featured.njk" %}
    </div>
  {%- endif -%}
  -#}

  {%- set blockCount = 0 -%}

  {%- set rowCountXS = 0 -%}
  {%- set rowCountMD = 0 -%}
  {%- set maxEventPerRowXS = 2 -%}
  {%- set maxEventPerRowMD = 4 -%}

  {% for events in eventBlocks %}
    {%- set ongoingEvents = events[0] -%}
    {%- set numOngoingEvents = ongoingEvents.pieces|length -%}
    {%- set futureEvents = events[1] -%}
    {%- set numFutureEvents = futureEvents.pieces|length -%}

    {%- if numOngoingEvents or numFutureEvents -%}
      {# TODO: revisit class name to not be associated with featured piece #}
      {%- set eventClassList = "latest-pieces sans-feature" -%}

      {%- if numOngoingEvents -%}
        {%- if (rowCountXS + numOngoingEvents) >= maxEventPerRowXS -%}
          {%- set rowCountXS = 0 -%}
        {%- endif -%}

        {%- if (rowCountMD + numOngoingEvents) >= maxEventPerRowMD -%}
          {%- set rowCountMD = 0 -%}
        {%- endif -%}

        <div
          class="{{ eventClassList }}"
          data-num-events="{{ numOngoingEvents }}"
          data-first-of-row-xs="{{ rowCountXS == 0 }}"
          data-first-of-row-md="{{ rowCountMD == 0 }}"
        >
          <h3 class="latest-pieces-heading">
            {{ ongoingEvents.heading }}
          </h3>
          {{ eventList(ongoingEvents.pieces, locale) }}
        </div>

        {%- set eventClassList = "latest-pieces" -%}
        {%- set rowCountXS = rowCountXS + numOngoingEvents -%}
        {%- set rowCountMD = rowCountMD + numOngoingEvents -%}
      {%- endif -%}

      {%- if numFutureEvents -%}
        {%- if (rowCountXS + numFutureEvents) >= maxEventPerRowXS-%}
          {%- set rowCountXS = 0 -%}
        {%- endif -%}

        {%- if (rowCountMD + numFutureEvents) >= maxEventPerRowMD -%}
          {%- set rowCountMD = 0 -%}
        {%- endif -%}

        <div
          class="{{ eventClassList }}"
          data-num-events="{{ numFutureEvents }}"
          data-first-of-row-xs="{{ rowCountXS == 0 }}"
          data-first-of-row-md="{{ rowCountMD == 0 }}"
        >
          <h3 class="latest-pieces-heading">
            {{ futureEvents.heading }}
          </h3>
          {{ eventList(futureEvents.pieces, locale) }}
        </div>
        {%- set rowCountXS = rowCountXS + numFutureEvents -%}
        {%- set rowCountMD = rowCountMD + numFutureEvents -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  {% include "partials/home/mobile-banner-2.njk" %}

  {{ seeAllOfTypeCTA('events') }}
</section>
