{%- from 'macros/cta.njk' import seeAllCTA -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}

{%- set hasFeaturedEvent = apos.aemPieces.hasFeaturedEvent(data) -%}


{%- set numEventPreviews = 2 -%}

{# festivals #}
{%-
  set ongoingAndFutureFestivals = apos.aemPieces.getFirstNWithTags(
    data.ongoingAndFutureEvents,
    numEventPreviews,
    __('events|categories|festivals|tags')
  )
-%}

{# exhibits #}
{%-
  set ongoingAndFutureExhibits = apos.aemPieces.getFirstNWithTags(
    data.ongoingAndFutureEvents,
    numEventPreviews,
    __('events|categories|exhibits|tags')
  )
-%}

{# conferences #}
{%-
  set ongoingAndFutureConferences = apos.aemPieces.getFirstNWithTags(
    data.ongoingAndFutureEvents,
    numEventPreviews,
    __('events|categories|conferences|tags')
  )
-%}

{# workshops #}
{%-
  set ongoingAndFutureWorkshops = apos.aemPieces.getFirstNWithTags(
    data.ongoingAndFutureEvents,
    numEventPreviews,
    __('events|categories|workshops|tags')
  )
-%}

{%-
  set eventBlocks = apos.aemEvents.filterNextEventBlocks(
    [
      {
        heading: __('events|categories|festivals|nextOrOngoing'),
        pieces: ongoingAndFutureFestivals
      },
      {
        heading: __('events|categories|exhibits|nextOrOngoing'),
        pieces: ongoingAndFutureExhibits
      },
      {
        heading: __('events|categories|conferences|nextOrOngoing'),
        pieces: ongoingAndFutureConferences
      },
      {
        heading: __('events|categories|workshops|nextOrOngoing'),
        pieces: ongoingAndFutureWorkshops
      }
    ],
    numEventPreviews
  )
-%}

{%- set maxBlocks = eventBlocks|length -%}
{%- set hasEvenBlocks = maxBlocks % 2 === 0 -%}


{% macro seeAllEventsCTA() %}
  {{
    seeAllCTA(
      __('events|seeAllCTA'),
      __('events|url')
    )
  }}
{% endmacro %}


<section class="events-section">
  <div class="section-heading">
    <h2 class="h2">{{ __('events|heading') }}</h2>
    {{ seeAllEventsCTA() }}
  </div>

  {%- if apos.aemPieces.hasFeaturedEvent(data) -%}
    <div class="featured-piece">
      {% include "partials/events/featured.njk" %}
    </div>

    {%- if hasEvenBlocks -%}
      {%- set maxBlocks = maxBlocks - 1 -%}
      {%- set hasEvenBlocks = false -%}
    {%- endif -%}
  {%- else -%}
    {%- if not hasEvenBlocks -%}
      {%- set maxBlocks = maxBlocks - 1 -%}
      {%- set hasEvenBlocks = false -%}
    {%- endif -%}
  {%- endif -%}

  {% for event in eventBlocks %}
    {%- if loop.index <= maxBlocks -%}
      {%- set eventClassList = "latest-pieces" -%}

      {%- if hasFeaturedEvent -%}
        {%- if loop.index % 2 === 0 -%}
          {%- set eventClassList = "latest-pieces sans-feature" -%}
        {%- endif -%}
      {%- else -%}
        {%- if loop.index % 2 !== 0 -%}
          {%- set eventClassList = "latest-pieces sans-feature" -%}
        {%- endif -%}
      {%- endif -%}

      <div class="{{ eventClassList }}">
        <h3 class="latest-pieces-heading">
          {{ event.heading }}
        </h3>
        {{ eventList(event.pieces, locale) }}
      </div>
    {%- endif -%}
  {% endfor %}

  {% include "partials/home/mobile-banner-2.njk" %}

  {{ seeAllEventsCTA() }}
</section>
