{%- from 'macros/banner-ad.njk' import sidebarBannerAds -%}


<aside class="sidebar home-sidebar">
  {%- set bannerMacroOptions = { data: data, propName: 'homeBannerAds' } -%}
  {%- set numActiveBannerAds = apos.aemBannerAds.getNumActive(bannerMacroOptions) -%}

  {{ sidebarBannerAds(bannerMacroOptions) }}

  {%- if data.when === 'anon' -%}
    <div class="tweets">
      <h3 class="sidebar-heading">
        {{ __('global|tweetsHeading') }}
      </h3>
      {% include "partials/sidebar/twitter-timeline-en.njk" %}
    </div>
  {%- endif -%}

  {%- if numActiveBannerAds < 2 -%}
    <hr class="separator" />
    {% include "partials/sidebar/help-cta.njk" %}
  {%- endif -%}
</aside>
