{%- from 'macros/banner-ad.njk' import sidebarBannerAds -%}


<aside class="sidebar home-sidebar">
  {%- set bannerMacroOptions = { data: data, propName: 'homeBannerAds' } -%}

  {{ sidebarBannerAds(bannerMacroOptions) }}

  {%- set isAnon = data.when === 'anon' -%}
  {%- set isNotDraft = not apos.aemUtils.isDraftMode(data) -%}
  {%- set isLocal = apos.aemUtils.isLocal(data) -%}
  {%- set overrideAndShow = apos.aemUtils.showTwitterTimeline() -%}
  {%- if ((isAnon or isNotDraft) and not isLocal) or (isLocal and overrideAndShow) -%}
    <div class="tweets">
      <h3 class="sidebar-heading">
        {{ __('global|tweetsHeading') }}
      </h3>
      {% include "partials/sidebar/twitter-timeline.njk" %}
    </div>
  {%- else -%}
    <div class="twitter-removed">
      <div class="message">{{ __('global|twitterRemovedLabel') }}</div>
    </div>
  {%- endif -%}

  {%- set isHelpVisible = apos.aemBannerAds.determineHelpVisibility(bannerMacroOptions) -%}
  {%- if isHelpVisible -%}
    <hr class="separator" />
    {% include "partials/sidebar/help-cta.njk" %}
  {%- endif -%}
</aside>
