{%- from 'macros/banner-ad.njk' import containedSidebarBanners -%}


<aside class="sidebar home-sidebar">
  {%- set banner1Options = { data: data, propName: 'homeSidebarBanner1' } -%}
  {%- set banner2Options = { data: data, propName: 'homeSidebarBanner2' } -%}
  {%- set isBanner1Visible = apos.aemBannerAds.areVisible(banner1Options) -%}
  {%- set isBanner2Visible = apos.aemBannerAds.areVisible(banner2Options) -%}
  {%- set hasBanners = (isBanner1Visible or isBanner2Visible) -%}
  {%- if hasBanners -%}
    <div class="advertisement">
      {{
        containedSidebarBanners({
          data: data,
          propName: 'homeSidebarBanner1',
          hasTopSeparator: false,
          hasBottomSeparator: false
        })
      }}
      {{
        containedSidebarBanners({
          data: data,
          propName: 'homeSidebarBanner2',
          hasTopSeparator: false,
          hasBottomSeparator: false
        })
      }}
    </div>
  {%- endif -%}

  {%- set isAnon = data.when === 'anon' -%}
  {%- set isNotDraft = not apos.aemUtils.isDraftMode(data) -%}
  {%- set isLocal = apos.aemUtils.isLocal(data) -%}
  {%- set overrideAndShow = apos.aemUtils.showTwitterTimeline() -%}
  {%- if ((isAnon or isNotDraft) and not isLocal) or (isLocal and overrideAndShow) -%}
    <div class="tweets">
      <h3 class="sidebar-heading">
        {{ __('global|tweetsHeading') }}
      </h3>
      {% include "partials/sidebar/twitter-timeline.njk" %}
    </div>
  {%- else -%}
    <div class="twitter-removed">
      <div class="message">{{ __('global|twitterRemovedLabel') }}</div>
    </div>
  {%- endif -%}
</aside>
