{%- from 'macros/featured-piece.njk' import featuredEvent -%}


{# FIXME: figure out better way to get widget data #}
{% set hasProject = data.widget._pieces.length > 0 %}

{%- if hasProject -%}
  {%- set piece = data.widget._pieces[0] -%}

  {%- if data.widget.isSponsored -%}
    {%- set label = 'Sponsored Event' -%}
  {%- else -%}
    {%- set label = 'Featured Event' -%}
  {%- endif -%}

  {{ featuredEvent(piece, label) }}
{%- endif -%}
