{% extends "layouts/indexLayout.njk" %}

{% from 'macros/articles.njk' import articleList %}


{% block mainAdditionalClasses %}articles-index{% endblock %}

{% block pageContent %}
  {# pieces list #}
  {%-
    set filteredPieces = apos.aem.getPiecesWithTags(
      data.articlesByMostRecent,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aem.getPiecesAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}
  {{ articleList(piecesOnPage) }}

  {# pagination #}
  {{
    pager.render(
      {
        page: data.currentPage,
        total: data.totalPages
      },
      data.url
    )
  }}
{% endblock %}

{% block sidebar %}
  {% include "partials/articles/sidebar-en.njk" %}
{% endblock %}
