{% extends "layouts/indexLayout.njk" %}

{% from 'macros/piece-index.njk' import articleList %}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set isFirstPage = (data.currentPage === 1) -%}
{%- set hasTags = apos.aemPieces.hasTags(data.page) -%}


{% block title %}
  {{
    apos.aemSeo.buildCategoryIndex(
      __,
      __('articles|plural'),
      data.page.title
    )
  }}
{% endblock %}

{% block mainAdditionalClasses %}articles-index{% endblock %}

{% block advertisementBeforeMain %}
  {% include "partials/articles/top-leaderboard.njk" %}
{% endblock %}

{% block pageContent %}
  {%- if isFirstPage and not hasTags -%}
    {% include "partials/articles/featured.njk" %}
    <hr class="separator" />
  {%- endif -%}

  {# pieces list #}
  {%-
    set filteredPieces = apos.aemPieces.getWithTags(
      data.articlesByPublicationDate,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}

  {%- if piecesOnPage|length -%}
    {{ articleList(piecesOnPage, locale) }}

    {# pagination #}
    {{
      pager.render(
        {
          page: data.currentPage,
          total: data.totalPages
        },
        data.url
      )
    }}
  {%- else -%}
    <div class="no-pieces">
      {{ __('articles|noPiecesLabel') }}
    </div>
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {%- if isFirstPage -%}
    {% include "partials/articles/sidebar-no-feature.njk" %}
  {%- else -%}
    {% include "partials/articles/sidebar.njk" %}
  {%- endif -%}
{% endblock %}
