{% extends "layouts/pieceDetailsLayout.njk" %}

{% from 'macros/content-section.njk' import contentSection %}
{%- from 'macros/tag-list.njk' import tagList -%}

{% block title %}
  {{ data.piece.title }} - News | Arts et Médias
{% endblock %}

{% block pageContent %}
  <h1>{{ data.piece.title }}</h1>
  {{ contentSection(data.piece) }}
  {{ tagList(data.piece.tags) }}
{% endblock %}
