{% extends "layouts/pieceDetailsLayout.njk" %}

{%- from 'macros/content-section.njk' import contentSection -%}
{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/metadata.njk' import descriptiveMetaData -%}
{%- from 'macros/piece-details.njk' import relatedPieces, tags -%}
{%- from 'macros/piece-link-list.njk' import pieceLinkList -%}


{%- set piece = data.piece -%}

{% block title %}
  {{ piece.title }} - Articles | Arts et Médias
{% endblock %}

{% block metadata %}
  {{
    descriptiveMetaData({
      title: piece.title + ', by ' + apos.aemAuthors.getListFromArticle(piece),
      description: piece.shortDescription,
      heroImage: piece.heroImage,
      url: piece._url,
      baseUrl: data.baseUrl
    })
  }}
{% endblock %}

{% block mainAdditionalClasses %}article-details{% endblock %}

{% block subheading %}
  <div class="subheading">
    <h2 class="sr-only">Authors</h2>
    {{ pieceLinkList(piece._originalAuthor) }}, {{ apos.aem.formatDate(piece.publicationDate) }}
  </div>
{% endblock %}

{% block pageContent %}
  {{ heroImage(piece, true) }}

  <div class="description rich-description">
    {{ contentSection(piece) }}
  </div>

  {%- if piece.isTranslation -%}
    {%- set originalLang = apos.aemLocalization.getLanguagesFrom(piece.originalLang) -%}
    <div class="translation">
      Translated from {{ originalLang }} by {{ pieceLinkList(piece._translator) }}.
    </div>
  {%- endif -%}

  {%- set isMention = piece.articleType === 'mention' -%}
  {%- if isMention -%}
    <div class="mention">
      <p class="mention-notes">This article was not originally published on this site.</p>
      <a
        class="website-cta"
        href="{{ piece.externalLink }}"
        target="_blank"
        rel="noopener noreferrer"
      >Read complete article</a>
    </div>
  {%- endif -%}

  <hr class="separator"/>

  {%- set relatedArticles = apos.aemArrays.merge(piece._relatedArticles, piece._articles) -%}
  {{ relatedPieces('Related Articles', relatedArticles) }}

  {{ relatedPieces('Related Media', piece._relatedMedia) }}

  {{ relatedPieces('Related People', piece._relatedPeople) }}

  {{ relatedPieces('Related Organizations', piece._relatedOrganizations) }}

  {{ tags(piece) }}
{% endblock %}

{% block sidebar %}
  {% include "partials/articles/sidebar-en.njk" %}
{% endblock %}
