{% extends "layouts/pieceDetailsLayout.njk" %}

{%- from 'macros/content-section.njk' import contentSection -%}
{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-link-list.njk' import pieceLinkList -%}
{%- from 'macros/tag-list.njk' import tagList -%}


{%- set piece = data.piece -%}

{% block title %}
  {{ piece.title }} - Articles | Arts et Médias
{% endblock %}

{% block mainAdditionalClasses %}article-details{% endblock %}

{% block subheading %}
  <div class="subheading">
    <h2 class="sr-only">Authors</h2>
    {{ pieceLinkList(piece._originalAuthor) }}
  </div>
{% endblock %}

{% block pageContent %}
  {{ heroImage(data.piece) }}

  {{ contentSection(piece) }}

  {%- if piece.tags.length -%}
    <hr class="separator" />

    <h2>Tags</h2>
    {{ tagList(piece.tags) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/articles/sidebar-en.njk" %}
{% endblock %}
