{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import truncatedDescription -%}


{# FIXME: figure out better way to get widget data #}
{% set hasProject = data.widget._pieces.length > 0 %}

{%- if hasProject -%}
<article class="featured-piece-widget featured-education-widget">
  {%- if data.widget.isSponsored -%}
    <p class="feature-type">Sponsored</p>
  {%- else -%}
    <p class="feature-type">Featured</p>
  {%- endif -%}

  {%- set piece = data.widget._pieces[0] -%}
  <h1>{{ piece.title }}</h1>

  <p class="byline">{{ piece._institution[0].title }}</p>

  {{ heroImage(piece) }}

  {{ truncatedDescription(piece) }}

  <a class="cta" href="{{ piece._url }}">View Details</a>
</article>
{%- endif -%}
