{%- from 'macros/featured-piece.njk' import featuredEducation -%}


{%- if data.widget._pieces -%}
  {%- if data.widget.isSponsored -%}
    {%- set label = __('education|sponsored') -%}
  {%- else -%}
    {%- set label = __('education|featured') -%}
  {%- endif -%}

  {%- set piece = data.widget._pieces[0] -%}
  {{ featuredEducation(piece, label) }}
{%- endif -%}
