{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}


<!DOCTYPE html>
<html lang="{{ locale }}" {% block extraHtml %}{% endblock %}>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    {{ apos.templates.prepended('head') }}

    <title>{% block title %}{% endblock %}</title>

    {% include "partials/preload-fonts.njk" %}

    {{ apos.assets.stylesheets(data.when) }}

    <link rel="icon" href="/favicon.ico"/>

    {% block metadata %}{% endblock %}

    {{ apos.templates.appended('head') }}
  </head>

  <body
    class="{{ data.aposBodyClasses }} {% block bodyClass %}{% endblock %}"
    {{ data.aposBodyDataAttributes | safe }}
    data-apos-workflow-mode="{{ apos.aemUtils.getWorkflowMode(data) }}"
    {% block bodyAttributes %}{% endblock %}
  >
    {{ apos.templates.prepended('body') }}
    {% block apostropheMenu %}
      {{ apos.adminBar.output() }}
    {% endblock %}

    {% include "partials/apos-context-menu.njk" %}

    <div class="apos-refreshable" data-apos-refreshable>
      {% block beforeMain %}{% endblock %}
      {% block mainAnchor %}<a name="main"></a>{% endblock %}
      {{ apos.templates.prepended('main') }}
      {% block main %}{% endblock %}
      {{ apos.templates.appended('main') }}
      {% block afterMain %}{% endblock %}
    </div>

    {{ apos.assets.scripts(data.when) }}

    {% block jsCalls %}
      <script type="text/javascript">
        {{ data.js.globalCalls }}
        {{ data.js.reqCalls }}
      </script>
    {% endblock %}

    {{ apos.templates.appended('body') }}

    {% block extraBody %}{% endblock %}
  </body>
</html>
