{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}


<!DOCTYPE html>
<html lang="{{ locale }}" {% block extraHtml %}{% endblock %}>
  <head>
    {% block startHead %}{% endblock %}

    {{ apos.templates.prepended('head') }}

    <title>{% block title %}{% endblock %}</title>

    {% include "partials/preload-fonts.njk" %}

    {{ apos.assets.stylesheets(data.when) }}

    {% block standardHead %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {{ apos.templates.appended('head') }}

    {% block extraHead %}{% endblock %}
  </head>

  <body
    class="{{ data.aposBodyClasses }} {% block bodyClass %}{% endblock %}"
    {% block bodyAttributes %}{% endblock %}
    {{ data.aposBodyDataAttributes | safe }}
    data-apos-workflow-mode="{{ apos.aemUtils.getWorkflowMode(data) }}"
  >
    {{ apos.templates.prepended('body') }}
    {% block apostropheMenu %}
      {{ apos.adminBar.output() }}
    {% endblock %}

    {% block apostropheContextMenu %}
      {% if apos.templates.showContextMenu() %}
        <div class="apos-ui">
          <div class="apos-context-menu-container">
            {{ apos.templates.prepended('contextMenu') }}
            {%- if apos.aemUsers.isUserAdmin(data.user) -%}
              {{ apos.pages.menu({ contextMenu: data.contextMenu, page: data.page, bottom: true })}}
            {%- endif -%}
            {{ apos.pages.publishMenu({ publishMenu: data.publishMenu, page: data.page, piece: data.piece, bottom: true }) }}
            {{ apos.templates.appended('contextMenu') }}
          </div>
        </div>
      {% endif %}
    {% endblock %}

    <div class="apos-refreshable" data-apos-refreshable>
      {% block beforeMain %}{% endblock %}
      {% block mainAnchor %}<a name="main"></a>{% endblock %}
      {{ apos.templates.prepended('main') }}
      {% block main %}{% endblock %}
      {{ apos.templates.appended('main') }}
      {% block afterMain %}{% endblock %}
    </div>

    {{ apos.assets.scripts(data.when) }}

    {% block jsCalls %}
      <script type="text/javascript">
        {{ data.js.globalCalls }}
        {{ data.js.reqCalls }}
      </script>
    {% endblock %}

    {{ apos.templates.appended('body') }}

    {% block extraBody %}{% endblock %}
  </body>
</html>
