{%- from 'macros/cta.njk' import websiteCTA -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set pageTitle = __('error|heading') -%}


{% macro techDetails(piece, slug) %}
  <details class="tech-details">
    <summary class="heading">{{ __('error|techDetailsLabel') }}</summary>
    <dl>
      <dt>{{ __('error|localeLabel') }}</dt>
      <dd>{{ locale }}</dd>

      <dt>{{ __('error|pageTitleLabel') }}</dt>
      <dd>{{ piece.title }}</dd>

      <dt>{{ __('error|pageTypeLabel') }}</dt>
      <dd>{{ piece.type }}</dd>

      <dt>{{ __('error|slugLabel') }}</dt>
      <dd>{{ slug }}</dd>

      <dt>{{ __('error|timestampLabel') }}</dt>
      <dd>{{ apos.aemDates.toISOString() }}</dd>
    </dl>

    <p class="p">{{ __('error|bugReportCTA') }}</p>

    {{ websiteCTA(__('error|bugReportLabel'), __('error|bugReportUrl')) }}
  </details>
{% endmacro %}


<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <title>
      {{ apos.aemSeo.buildSimplePageTitle(__, pageTitle) }}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ apos.assets.stylesheets('anon') }}
  </head>

  <body class="page error-template">
    {% include "partials/components/header/header-sans-mega-menu.njk" %}
    {% include "partials/components/mobile-menu/menu.njk" %}

    <div class="content">
      <main id="main" tabindex="-1">
        <article>
          <h1 class="page-heading">{{ pageTitle }}</h1>
          <div class="page-content">
            <p class="p">{{ __('error|paragraph') }}</p>

            {%- if data.piece -%}
              {{ techDetails(data.piece, data.page.slug + '/' + data.piece.slug) }}
            {%- else -%}
              {{ techDetails(data.page, data.page.slug) }}
            {%- endif -%}
          </div>
        <article>
      </main>
    </div>

    {% include "partials/footer.njk" %}
  </body>

</html>
