{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set pageTitle = __('error|heading') -%}


<!DOCTYPE html>
<html lang="{% block locale %}en{% endblock %}">
  <head>
    <title>
      {{ apos.aemSeo.buildSimplePageTitle(__, pageTitle) }}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ apos.assets.stylesheets('anon') }}
  </head>

  <body class="page error-template">
    {% include "partials/header-sans-mega-menu.njk" %}
    {% include "partials/components/mobile-menu.njk" %}

    <div class="content">
      <main id="main">
        <article>
          <h1 class="h1">{{ pageTitle }}</h1>
          <div class="page-content">
            <p class="p">{{ __('error|paragraph') }}</p>

            <details class="tech-details">
              <summary class="heading">{{ __('error|techDetailsLabel') }}</summary>
              <dl>
                <dt>{{ __('error|localeLabel') }}</dt>
                <dd>{{ locale }}</dd>

                <dt>{{ __('error|pageTitleLabel') }}</dt>
                <dd>{{ data.page.title }}</dd>

                <dt>{{ __('error|pageTypeLabel') }}</dt>
                <dd>{{ data.page.type }}</dd>

                <dt>{{ __('error|slugLabel') }}</dt>
                <dd>{{ data.page.slug }}</dd>

                <dt>{{ __('error|timestampLabel') }}</dt>
                <dd>{{ apos.aemDates.toISOString() }}</dd>
              </dl>

              <p class="p">{{ __('error|bugReportCTA') }}</p>
              <a
                class="website-cta"
                href="{{ __('error|bugReportUrl') }}"
              >{{ __('error|bugReportLabel') }}</a>
            </details>
          </div>
        <article>
      </main>
    </div>

    {% include "partials/footer.njk" %}
  </body>

</html>
