{% extends "layouts/indexLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard -%}
{%- from 'macros/metadata.njk' import minimalMetaData -%}
{%- from 'macros/piece-index.njk' import projectList, recentlyAddedProjects -%}


{%- set isFirstPage = (data.currentPage === 1) -%}
{%- set leaderboardOptions = { data: data, propName: 'projectsLeaderboard' } -%}
{%- set areLeaderboardsVisible = apos.aemBannerAds.areVisible(leaderboardOptions) -%}



{% block title %}
  {{
    apos.aemSeo.buildCategoryIndex(
      __,
      __('projects|plural'),
      data.page.title
    )
  }}
{% endblock %}

{% block metadata %}
  {{
    minimalMetaData({
      title: data.page.title,
      url: piece._url,
      baseUrl: apos.aemUtils.ensureHTTPS(data.baseUrl)
    })
  }}
{% endblock %}

{% block mainAdditionalClasses %}projects-index{% endblock %}

{% block advertisementBeforeMain %}
  {%- if areLeaderboardsVisible -%}
    {{ inContextLeaderboard(leaderboardOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {%- if isFirstPage -%}
    {% include "partials/projects/featured.njk" %}

    {{
      recentlyAddedProjects(
        __('projects|recentlyAdded'),
        data.projectsByMostRecent,
        []
      )
    }}

    <h2 class="content-type-heading">
      {{ __('projects|allHeading') }}
    </h2>
  {%- endif -%}

  {# pieces list #}
  {%-
    set filteredPieces = apos.aemPieces.getWithTags(
      data.projectsByTitle,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}

  {%- if piecesOnPage|length -%}
    {{ projectList(piecesOnPage, true) }}

    {# pagination #}
    {{
      pager.render(
        {
          page: data.currentPage,
          total: data.totalPages
        },
        data.url
      )
    }}
  {%- else -%}
    <div class="no-pieces">
      {{ __('projects|noPiecesLabel') }}
    </div>
  {%- endif -%}

  {%- if areLeaderboardsVisible -%}
    {{ inContextLeaderboard(leaderboardOptions, { location: 'after' }) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {%- if isFirstPage -%}
    {% include "partials/projects/sidebar-no-feature.njk" %}
  {%- else -%}
    {% include "partials/projects/sidebar.njk" %}
  {%- endif -%}
{% endblock %}
