{% extends "layouts/indexLayout.njk" %}


{% block mainAdditionalClasses %}projects-index{% endblock %}

{% block pageContent %}
  {# pieces list #}
  {%-
    set filteredPieces = apos.aem.getPiecesWithTags(
      data.projectsByTitle,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aem.getPiecesAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}
  {{ pieceList(piecesOnPage, true) }}

  {# pagination #}
  {{
    pager.render(
      {
        page: data.currentPage,
        total: data.totalPages
      },
      data.url
    )
  }}
{% endblock %}

{% block sidebar %}
  {% include "partials/projects/sidebar-en.njk" %}
{% endblock %}
