{% extends "layouts/indexLayout.njk" %}

{%- from 'macros/piece-index.njk' import projectList, recentlyAddedProjects -%}
{%- from 'macros/metadata.njk' import minimalMetaData -%}


{%- set isFirstPage = (data.currentPage === 1) -%}


{% block title %}
  {{
    apos.aemSeo.buildCategoryIndex(
      __,
      __('projects|plural'),
      data.page.title
    )
  }}
{% endblock %}

{% block metadata %}
  {{
    minimalMetaData({
      title: data.page.title,
      url: piece._url,
      baseUrl: apos.aemUtils.ensureHTTPS(data.baseUrl)
    })
  }}
{% endblock %}

{% block mainAdditionalClasses %}projects-index{% endblock %}

{% block advertisementBeforeMain %}
  {% include "partials/projects/top-leaderboard.njk" %}
{% endblock %}

{% block pageContent %}
  {%- if isFirstPage -%}
    {% include "partials/projects/featured.njk" %}

    {{
      recentlyAddedProjects(
        __('projects|recentlyAdded'),
        data.projectsByMostRecent,
        []
      )
    }}

    <h2 class="content-type-heading">
      {{ __('projects|allHeading') }}
    </h2>
  {%- endif -%}

  {# pieces list #}
  {%-
    set filteredPieces = apos.aemPieces.getWithTags(
      data.projectsByTitle,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}

  {%- if piecesOnPage|length -%}
    {{ projectList(piecesOnPage, true) }}

    {# pagination #}
    {{
      pager.render(
        {
          page: data.currentPage,
          total: data.totalPages
        },
        data.url
      )
    }}
  {%- else -%}
    <div class="no-pieces">
      {{ __('projects|noPiecesLabel') }}
    </div>
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {%- if isFirstPage -%}
    {% include "partials/projects/sidebar-no-feature.njk" %}
  {%- else -%}
    {% include "partials/projects/sidebar.njk" %}
  {%- endif -%}
{% endblock %}
