{% extends "layouts/pieceDetailsLayout.njk" %}

{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import relatedContent, tags, websiteCTA -%}
{%- from 'macros/piece-link-list.njk' import sortedPieceLinkList -%}


{%- set piece = data.piece -%}

{% block title %}
  {{ piece.title }} - Projects | Arts et Médias
{% endblock %}

{% block mainAdditionalClasses %}project-details{% endblock %}

{% block subheading %}
  <div class="subheading">
    <h2 class="sr-only">Creators</h2>
    {{ sortedPieceLinkList(piece._author) }}
  </div>
{% endblock %}

{% block pageContent %}
  {{ heroImage(piece) }}

  <h2 class="sr-only">Description</h2>
  <p class="description">
    {{ apos.singleton(piece, 'description', 'apostrophe-rich-text') }}
  </p>

  {{ websiteCTA(piece) }}

  <hr class="separator"/>

  <dl class="piece-props-list">
    <dt>Year</dt>
    <dd>{{ piece.yearPublished }}</dd>
  </dl>

  {{ relatedContent(piece, false) }}

  {{ tags(piece) }}
{% endblock %}

{% block sidebar %}
  {% include "partials/projects/sidebar-en.njk" %}
{% endblock %}
