{%- from 'macros/featured-piece.njk' import featuredArticle, featuredBook, featuredProject -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}


<aside class="sidebar">
  <section>
    {%- set latestArticle = data.articlesByMostRecent[0] -%}
    {{
      featuredArticle(
        latestArticle,
        __('articles|latest'),
        locale
      )
    }}
  </section>

  <section class="section-mt">
    {%- set latestBook = data.booksByMostRecent[0] -%}
    {{ featuredBook(latestBook, __('books|latest')) }}
  </section>

  <section class="section-mt">
    {%- set latestProject = data.projectsByMostRecent[0] -%}
    {{ featuredProject(latestProject, __('projects|latest')) }}
  </section>

  <hr class="separator" />

  {% include "partials/sidebar/help-cta.njk" %}
</aside>
