{%- from 'macros/featured-piece.njk' import featuredArticle -%}


<aside class="sidebar">
  {%- set latestArticle = data.articlesByPublicationDate[0] -%}
  {{ featuredArticle(latestArticle, 'Latest Article Added') }}

  {% include "partials/sidebar/help-cta.njk" %}
</aside>
