{%- from 'macros/featured-piece.njk' import featuredArticle -%}


<aside class="sidebar">
  {%- set latestArticle = data.articlesByMostRecent[0] -%}
  {{ featuredArticle(latestArticle, __('articles|latest')) }}

  {% include "partials/sidebar/help-cta.njk" %}
</aside>
