{%- from 'macros/search.njk' import searchInput -%}

<section>
  <hr class="separator"/>
  {{
    searchInput({
      id: 'projectsSearchInput',
      type: 'aem-projects',
      label: __('projects|searchLabel')
    })
  }}
</section>
