{%- from 'macros/banner-ad.njk' import containedSidebarBanners -%}


<aside class="sidebar sidebar-projects">
  <article>
    {{
      containedSidebarBanners({
        data: data,
        propName: 'projectsSidebarBanners1',
        hasTopSeparator: false,
        hasBottomSeparator: true
      })
    }}

    {% include "partials/organizations/related.njk" %}

    {{
      containedSidebarBanners({
        data: data,
        propName: 'projectsSidebarBanners2',
        hasTopSeparator: true,
        hasBottomSeparator: false
      })
    }}

    <hr class="separator" />

    {% include "partials/projects/search.njk" %}

    <hr class="separator" />

    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
