{% extends "layouts/layout.njk" %}

{%- from 'macros/search.njk' import searchInput -%}
{%- from 'macros/featured-piece.njk' import featuredArticle, featuredBook, featuredProject -%}

{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}


{% block title %}
  {{ __('notFound|heading') }} | {{ __('global|title') }}
{% endblock %}

{% block main %}
  <div class="page-not-found">
    <main id="main" class="content">
      <h1>{{ __('notFound|heading') }}</h1>
      <div class="subheading">
        <p>{{ __('notFound|paragraph1') }}</p>
        <p>{{ __('notFound|paragraph2') }}</p>
      </div>

      <section class="suggested-content">
        <div class="column">
          {%- set latestArticle = data.articlesByMostRecent[0] -%}
          {{
            featuredArticle(
              latestArticle,
              __('articles|latest'),
              locale
            )
          }}
        </div>

        <div class="column">
          {%- set latestBook = data.booksByMostRecent[0] -%}
          {{ featuredBook(latestBook, __('books|latest')) }}
        </div>

        <div class="column">
          {%- set latestProject = data.projectsByMostRecent[0] -%}
          {{ featuredProject(latestProject, __('projects|latest')) }}
        </div>
      </section>

      <section class="suggested-content">
        <h2>{{ __('notFound|stillNotSatistfied') }}</h2>
        <p>{{ __('notFound|helpUsCTA') }}</p>
        <a
          class="website-cta"
          href="{{ __('pages|help|url') }}"
        >{{ __('pages|help|title') }}</a>
      </section>
    </main>
  </div>
{% endblock %}
