{% extends "layouts/layout.njk" %}

{%- from 'macros/search.njk' import searchInput -%}
{%- from 'macros/featured-piece.njk' import featuredArticle -%}


{% block title %}
  {{ __('notFound|heading') }} | {{ __('global|title') }}
{% endblock %}

{% block main %}
  <div class="page-not-found">
    <main id="main" class="content">
      <h1>{{ __('notFound|heading') }}</h1>
      <div class="subheading">
        <p>{{ __('notFound|paragraph1') }}</p>
        <p>{{ __('notFound|paragraph2') }}</p>
      </div>

      <section class="suggested-content">
        <div class="column">
          {% include "partials/articles/featured.njk" %}
        </div>

        <div class="column">
          {% include "partials/events/featured.njk" %}
        </div>

        <div class="column">
          {% include "partials/projects/featured.njk" %}
        </div>
      </section>

      <section class="suggested-content">
        <h2>{{ __('notFound|stillNotSatistfied') }}</h2>
        <p>{{ __('notFound|helpUsCTA') }}</p>
        <a
          class="website-cta"
          href="{{ __('pages|help|url') }}"
        >{{ __('pages|help|title') }}</a>
      </section>
    </main>
  </div>
{% endblock %}
