<figure class="image-widget-simplified">
  {%- set imageData = apos.images.first(data.widget) -%}
  {%- set image = apos.aemUtils.getImageBasicData(imageData) -%}

  <a href="{{ image.url }}" class="image-link">
    <img
      src="{{ image.url }}"
      alt="{{ image.alt }}"
    />
  </a>

  {%- if image.credit -%}
    {%- set captionText = image.caption + '. ' + __('global|imageCreditLabel') + ': ' + image.credit -%}
  {%- else -%}
    {%- set captionText = image.caption -%}
  {%- endif -%}

  <figcaption>{{ captionText }}</figcaption>
</figure>
