<figure class="image-widget-simplified">
  {%- set imageData = apos.images.first(data.widget) -%}
  {%- set image = apos.aemUtils.getImageBasicData(imageData) -%}

  <a href="{{ image.url }}" class="image-link">
    <img
      src="{{ image.url }}"
      alt="{{ image.alt }}"
    />
  </a>

  {%- if image.credit -%}
    {%- set captionText = image.caption + '. © ' + image.credit -%}
  {%- else -%}
    {%- set captionText = image.caption -%}
  {%- endif -%}

  <figcaption>
    {{ captionText }}
    {%- if image.source -%}
      <span class="remote-img-source"> (<a class="remote-img-source-link" href="{{ image.source }}">Source</a>)</span>
    {%- endif -%}
  </figcaption>
</figure>
