{% extends "layouts/indexLayout.njk" %}


{% block title %}
  {{
    apos.aemSeo.buildCategoryIndex(
      __,
      __('media|plural'),
      data.page.title
    )
  }}
{% endblock %}

{% block mainAdditionalClasses %}media-index{% endblock %}

{% block pageContent %}
  {# pieces list #}
  {%-
    set filteredPieces = apos.aemPieces.getWithTags(
      data.mediaByTitle,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}
  {{ pieceList(piecesOnPage) }}

  {# pagination #}
  {{
    pager.render(
      {
        page: data.currentPage,
        total: data.totalPages
      },
      data.url
    )
  }}
{% endblock %}

{% block sidebar %}
  {% include "partials/media/sidebar-en.njk" %}
{% endblock %}
