{% extends "layouts/indexLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard -%}


{%- set leaderboardOptions = { data: data, propName: 'mediaLeaderboard' } -%}
{%- set areLeaderboardsVisible = apos.aemBannerAds.areVisible(leaderboardOptions) -%}


{% block title %}
  {{
    apos.aemSeo.buildCategoryIndex(
      __,
      __('media|plural'),
      data.page.title
    )
  }}
{% endblock %}

{% block mainAdditionalClasses %}media-index{% endblock %}

{% block advertisementBeforeMain %}
  {%- if areLeaderboardsVisible -%}
    {{ inContextLeaderboard(leaderboardOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {# pieces list #}
  {%-
    set filteredPieces = apos.aemPieces.getWithTags(
      data.mediaByTitle,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}

  {%- if piecesOnPage|length -%}
    {{ pieceList(piecesOnPage) }}

    {# pagination #}
    {{
      pager.render(
        {
          page: data.currentPage,
          total: data.totalPages
        },
        data.url
      )
    }}
  {%- else -%}
    <div class="no-pieces">
      {{ __('media|noPiecesLabel') }}
    </div>
  {%- endif -%}

  {%- if areLeaderboardsVisible -%}
    {{ inContextLeaderboard(leaderboardOptions, { location: 'after' }) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/media/sidebar.njk" %}
{% endblock %}
