{% extends "layouts/pieceDetailsLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard -%}
{%- from 'macros/piece-details.njk' import relatedPieces -%}


{%- set mainLBOptions = { data: data, propName: 'mediaLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'mediaMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}


{% block title %}
  {{
    apos.aemSeo.buildPieceWithCategory(
      __,
      data.piece.title,
      __('media|plural'),
      data.page.title
    )
  }}
{% endblock %}

{% block mainAdditionalClasses %}medium-details{% endblock %}

{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block advertisementInMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, {}) }}
  {%- endif -%}
{% endblock %}

{% block relatedContent %}
  {%-
    set relatedArticles = apos.aemArrays.merge(
      piece._articlesWritten,
      piece._relatedArticles
    )
  -%}
  {{ relatedPieces(__('articles|related'), relatedArticles) }}

  {{ relatedPieces(__('books|related'), piece._relatedBooks) }}

  {{ relatedPieces(__('people|related'), piece._relatedPeople) }}
{% endblock %}

{% block advertisementAfterMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'after' }) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/media/sidebar.njk" %}
{% endblock %}
