{% extends "layouts/pieceDetailsLayout.njk" %}

{% from 'macros/piece-details.njk' import websiteCTA %}
{% from 'macros/tag-list.njk' import tagList %}

{% block title %}
  {{ data.piece.title }} - Media | Arts et Médias
{% endblock %}
