{%-
  from 'macros/featured-piece.njk'
  import featuredArticle, featuredBook, featuredEducation, featuredEvent, featuredOrganization, featuredProject
-%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set piece = data.widget._piece -%}


{%- if piece -%}
  {%- if piece.type === 'article' -%}
    {%- set label = __('articles|featured') -%}
    {{ featuredArticle(piece, label, locale) }}

  {%- elseif piece.type === 'book' -%}
    {%- set label = __('books|featured') -%}
    {{ featuredBook(piece, label) }}

  {%- elseif piece.type === 'education' -%}
    {{
      featuredEducation(
        piece,
        {
          label: __('education|featured'),
          locale: locale
        }
      )
    }}

  {%- elseif piece.type === 'event' -%}
    {%- set label = __('events|featured') -%}
    {{ featuredEvent(piece, label, locale) }}

  {%- elseif piece.type === 'organization' -%}
    {%- set label = __('organizations|featured') -%}
    {{ featuredOrganization(piece, label, locale) }}

  {%- elseif piece.type === 'project' -%}
    {%- set label = __('projects|featured') -%}
    {{ featuredProject(piece, label) }}

  {%- else -%}
    {# unhandled type #}
  {%- endif -%}
{%- endif -%}

