<section class="citations">
  <h2 class="citation-heading">{{ __('citations|articleHeading') }}</h2>
  <p>{{ __('citations|warning') }}</p>

  <dl class="citation-list">
    <dt>{{ __('citations|styles|mla') }}</dt>
    <dd>{{ piece.citations.mla | safe }}</dd>

    <dt>{{ __('citations|styles|chicago') }}</dt>
    <dd>{{ piece.citations.chicago | safe }}</dd>

    <dt>{{ __('citations|styles|apa') }}</dt>
    <dd>{{ piece.citations.apa | safe }}</dd>

    <dt>{{ __('citations|styles|bibtex') }}</dt>
    <dd class="bibtex">{{ piece.citations.bibtex }}</dd>
  </dl>
</section>
