<section>
  <h2 class="h1">In This Section</h2>
  <ul>
    <li>
      <a href="/articles/editorials">Editorials and other texts</a>
    </li>
    <li>
      <a href="/articles/reviews">Reviews</a>
    </li>
    <li>
      <a href="/news/academic-papers">Academic Papers</a>
    </li>
  </ul>
</section>
