{%- from 'macros/sidebar.njk' import articlesLink -%}


<section class="in-this-section">
  <h2 class="h1">{{ __('sidebar|inThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ articlesLink('news') }}
    </li>
    <li>
      {{ articlesLink('essays') }}
    </li>
    <li>
      {{ articlesLink('reviews') }}
    </li>
    <li>
      {{ articlesLink('interviews') }}
    </li>
    <li>
      {{ articlesLink('academicPapers') }}
    </li>
    <li>
      {{ articlesLink('conferenceProceedings') }}
    </li>
  </ul>
</section>
