{% macro sidebarLink(category) %}
  <a href="{{ __('articles|categories|' + category + '|url') }}">
    {{ __('articles|categories|' + category + '|title') }}
  </a>
{% endmacro %}


<section class="in-this-section">
  <h2 class="h1">{{ __('sidebar|inThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ sidebarLink('news') }}
    </li>
    <li>
      {{ sidebarLink('essays') }}
    </li>
    <li>
      {{ sidebarLink('reviews') }}
    </li>
    <li>
      {{ sidebarLink('interviews') }}
    </li>
    <li>
      {{ sidebarLink('academicPapers') }}
    </li>
    <li>
      {{ sidebarLink('conferenceProceedings') }}
    </li>
  </ul>
</section>
