{%- from 'macros/search.njk' import searchInput -%}


<section class="section-mt">
  {{
    searchInput({
      id: 'articlesSearchInput',
      type: 'article',
      label: __('articles|searchLabel')
    })
  }}
</section>
