<section class="in-this-section">
  <h2 class="h1">In This Section</h2>
  <ul>
    <li>
      <a href="/media/blogs">Blogs</a>
    </li>
    <li>
      <a href="/media/websites">Websites</a>
    </li>
    <li>
      <a href="/media/magazines">Magazines</a>
    </li>
    <li>
      <a href="/media/books">Books</a>
    </li>
  </ul>
</section>
