{%- from 'macros/search.njk' import searchInput -%}

<section>
  <hr class="separator"/>
  {{
    searchInput({
      id: 'mediaSearchInput',
      type: 'aem-media',
      label: __('media|searchLabel')
    })
  }}
</section>
