{%- from 'macros/search.njk' import searchInput -%}


<section class="section-mt">
  {{
    searchInput({
      id: 'mediaSearchInput',
      type: 'aem-media',
      label: __('media|searchLabel')
    })
  }}
</section>
