<aside class="sidebar">
  <article>
    <section>
      <h1>In This Section</h1>
      <ul>
        <li>
          <a href="/media/blogs">Blogs</a>
        </li>
        <li>
          <a href="/media/websites">Websites</a>
        </li>
        <li>
          <a href="/media/books">Books</a>
        </li>
        <li>
          <a href="/media/magazines">Magazines</a>
        </li>
      </ul>
    </section>
    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
