@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/mixins' as mx;


.analytics-downloads-template {
  h3 {
    margin-top: 40px;
  }

  .button-list {
    .list-item {
      margin-bottom: 20px;
    }
  }

  .input-label {
    @include ui.inputLabel();
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .text-input {
    @include ui.textInput();
    display: inline-block;
  }

  .select {
    @include ui.select();
  }

  .form-column {
    display: block;

    @media #{ vars.$mqTablet } {
      @include mx.nColumnWidth(4);
      display: inline-block;

      & + .form-column {
        @include mx.gutterLeftMargin();
      }
    }
  }

  .year-input,
  .month-select {
    width: 100%;
  }

  .month-additions-btn {
    margin-top: 20px;
  }
}
