@use '../common/variables' as vars;
@use '../common/ui' as ui;


.articles-index {
  .piece-card {
    .heading {
      @include ui.heading4();
      margin: 0;
    }
  }
}

.article-details {
  .translation {
    @include ui.minorText();
    font-size: vars.$fsSmol;
    margin: 20px 0;

    .piece-link-list {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;

      .piece-link {
        @include ui.minorText();
        font-size: vars.$fsSmol;

        &:hover {
          color: vars.$main;
        }
      }
    }
  }

  .mention {
    margin-top: 40px;

    .mention-notes {
      @include ui.minorText();
      font-size: vars.$fsSmol;
    }
  }
}
