@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/functions' as fn;


.articles-index {
  .piece-card {
    .heading {
      @include ui.heading4();
      margin: 0;
    }

    .sponsored-tag {
      margin-top: fn.whitespace(1);

      .tag {
        margin-top: 0;
      }
    }
  }
}

.article-details {
  .private {
    @include ui.cmsOutline(vars.$red);
    margin: fn.whitespace(2) 0;
    background-color: rgba(vars.$red, 0.125);
    padding: 20px;

    .message {
      font-family: vars.$ffTextBody;
      font-size: vars.$fsSmol;
      line-height: 1.25;
    }
  }

  .subheading {
    margin: fn.whitespace(1) 0 0 0;
    position: relative;

    .piece-link-list {
      height: auto;
    }

    .piece-link-list,
    .publication-name,
    .publication-date {
      margin: 0;
      line-height: 1.5;
    }

    .sponsored-tag {
      margin-top: fn.whitespace(1);

      @media #{ vars.$mqTablet } {
        margin-top: unset;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .translation {
    @include ui.minorText();
    font-size: vars.$fsSmol;
    margin: fn.whitespace(2) 0;

    .piece-link-list {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;

      .piece-link {
        @include ui.minorText();
        font-size: vars.$fsSmol;

        &:hover {
          color: vars.$main;
        }
      }
    }
  }

  .mention {
    margin-top: fn.whitespace(3);

    .mention-notes {
      @include ui.minorText();
      font-size: vars.$fsSmol;
    }
  }
}
