@import '../common/variables';
@import '../common/ui';


.book-details {
  .page-content {
    margin-top: 0;
  }

  .book-subtitle {
    @include heading3();
    margin: 10px 0;
  }

  .book-cover {
    @include heroImageShadow();
    position: relative;
    float: left;
    margin-bottom: getGutterHalfWidth($phone);
    margin-right: getGutterWidth($phone);
    margin-top: 45px;
    width: getColumnsSpan(3, $phone);

    @media #{$mqTablet} {
      margin-bottom: getGutterHalfWidth($tablet);
      margin-right: getGutterWidth($tablet);
      width: getColumnsSpan(4, $tablet);
    }

    @media #{$mqDesktop} {
      margin-bottom: getGutterHalfWidth($desktop);
      margin-right: getGutterWidth($desktop);
      width: getColumnsSpan(4, $desktop);
    }

    @media #{$mqXL} {
      margin-bottom: getGutterHalfWidth($xl);
      margin-right: getGutterWidth($xl);
      width: getColumnsSpan(4, $xl);
    }

    @media #{$mqXXL} {
      margin-bottom: getGutterHalfWidth($xxl);
      margin-right: getGutterWidth($xxl);
      width: getColumnsSpan(4, $xxl);
    }
  }
}
