@import '../common/variables';
@import '../common/ui';

.book-details {
  .book-title {
    margin-bottom: 0;
  }

  .authors {
    .piece-link-list {
      margin-top: 5px;
    }
  }

  .book-cover {
    position: relative;
    float: left;
    margin-bottom: getGutterWidth($desktop);
    margin-right: getGutterWidth($desktop);
    top: 25px;
    width: getColumnsSpan(4, $desktop);
  }
}
