@use '../common/variables' as vars;
@use '../common/ui' as ui;


.error-template {
  .page-content {
    margin: 0 auto;
  }

  .h1 {
    @include ui.heading1();
  }

  .p {
    @include ui.paragraph();
  }

  .tech-details {
    margin-top: 100px;

    .heading {
      @include ui.heading5();
      cursor: pointer;
    }

    dl {
      dt {
        @include ui.paragraph();
        font-weight: bold;
      }

      dd {
        @include ui.paragraph();
        font-family: vars.$ffMonospace;
        background-color: vars.$lightestGrey;
        padding: 5px;
      }
    }
  }
}
