@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/mixins' as mx;


.event-index {}

.event-details {
  main > article {
    .page-heading {
      @include mx.underlinedH1();
      margin-bottom: 20px;
    }
    .without-hero {
      margin-top: 25px !important;
    }
    .with-hero {}
  }

  .subheading {
    margin: 10px 0 0 0;

    .piece-link-list {
      height: auto;
      margin: 0;
      line-height: 1.5;
    }
  }

  .event-info {
    @include ui.paragraph();
    margin-bottom: 0;

    .piece-link-list {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;

      li {
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    .relative-date {
      @include ui.minorText();
      font-size: vars.$fsSmol;
    }
  }
}
