@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.event-index {}

.event-details {
  main > article {
    .page-heading {
      @include underlinedH1();
      margin-bottom: 20px;
    }
    .without-hero {
      margin-top: 25px !important;
    }
    .with-hero {}
  }

  .event-info {
    @include paragraph();

    .piece-link-list {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;

      li {
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    .relative-date {
      @include minorText();
      font-size: $fsSmol;
    }
  }

}
