@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/mixins' as mx;
@use '../mixins/hero-image' as img;


// mixins
@mixin sectionHeadingCTA {
  .section-heading {
    .see-all-cta {
      display: none;

      @media #{ vars.$mqTablet } {
        display: block;
        top: -50px;
      }
    }
  }
}

@mixin endOfSectionCTA {
  .see-all-cta {
    display: block;
    margin-top: 50px;

    .website-cta {
      display: block;
    }

    @media #{ vars.$mqTablet } {
      display: none;
    }
  }
}


// styles
.home {
  padding-top: 20px;

  .page-content {
    width: 100%;
  }

  section {
    display: inline-block;
    width: 100%;
  }

  .latest-pieces-heading {
    @include ui.contentTypeHeading();
  }

  .section-heading {
    @include mx.underlinedH1();
    position: relative;
    margin-bottom: 20px;

    .h2 {
      margin-top: 0;
    }

    .see-all-cta {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .articles-section {
    @include sectionHeadingCTA();

    .articles-section-content {
      display: inline-block;
    }

    .featured-article {
      @include mx.nColumnWidth(6);

      .featured-article-widget {
        width: 100%;
      }

      .hero-image {
        @include img.heroImageDimensions(6, 9/16);
      }

      @media #{ vars.$mqTablet } {
        @include mx.nColumnWidth(12);

        .hero-image {
          @include img.heroImageDimensions(12, 0.25);
        }
      }

      @media #{ vars.$mqDesktop } {
        @include mx.nColumnWidth(9);

        .hero-image {
          @include img.heroImageDimensions(9, 0.25);
        }
      }
    }

    .recently-added-articles {
      @include mx.nColumnWidth(6);

      @media #{ vars.$mqTablet } {
        @include mx.nColumnWidth(12);
      }

      @media #{ vars.$mqDesktop } {
        @include mx.nColumnWidth(9);
      }

      .latest-pieces-heading[data-has-featured-article="true"] {
        margin-top: 50px;
      }

      .list-item,
      .article-card {
        @include mx.nColumnWidth(6);

        @media #{ vars.$mqTablet } {
          @include mx.nColumnWidth(4);
        }

        @media #{ vars.$mqDesktop } {
          @include mx.nColumnWidth(3);
        }
      }

      .list-item {
        &:not(:first-of-type) {
          @media #{ vars.$mqTablet } {
            @include mx.gutterLeftMargin();
          }
        }
      }

      .article-card {
        .sponsored-tag {
          margin-top: 10px;

          .tag {
            margin-top: 0;
          }
        }

        .hero-image {
          @include img.heroImageDimensions(6, 0.375);

          @media #{ vars.$mqTablet } {
            @include img.heroImageDimensions(4, 0.5);
          }

          @media #{ vars.$mqDesktop } {
            @include img.heroImageDimensions(3, 0.5);
          }
        }

        .short-description {
          font-size: vars.$fsSmol;
        }
      }
    }

    .home-sidebar {
      @include mx.nColumnWidth(3);
      display: none;
      right: 0;
      top: 52px;

      @media #{ vars.$mqDesktop } {
        display: inline-block;
      }

      .advertisement {
        display: block;
        margin-bottom: 40px;
        width: 100%;
      }

      .sidebar-heading {
        @include ui.contentTypeHeading();
      }

      .medium-rectangle {
        width: 215px;
        height: 180px;

        @media #{ vars.$mqDesktop } {
          width: 210px;
          height: 175px;
        }

        @media #{ vars.$mqXL } {
          width: 250px;
          height: 209px;
        }

        @media #{ vars.$mqXXL } {
          width: 290px;
          height: 242px;
        }
      }
    }

    @include endOfSectionCTA();
  }

  .events-section,
  .projects-section,
  .books-section {
    margin-top: 50px;

    @media #{ vars.$mqDesktop } {
      margin-top: 75px;
    }

    @include sectionHeadingCTA();

    .featured-piece {
      @include mx.nColumnWidth(6);
      display: inline-block;
      vertical-align: top;

      .featured-piece-widget {
        @include mx.nColumnWidth(6);
        display: inline-block;
      }

      .hero-image {
        @include img.heroImageDimensions(6, 9/16);

        @media #{ vars.$mqDesktop } {
          @include img.heroImageDimensions(6, 0.5);
        }
      }

      .cta {
        @include ui.anchor();
        display: block;
        margin-top: 10px;
        font-size: vars.$fsTextBody;
      }
    }

    .latest-pieces {
      @include mx.nColumnWidth(6);
      display: inline-block;
      margin-top: 20px;
      vertical-align: top;

      @media #{ vars.$mqTablet } {
        @include mx.gutterLeftMargin();
        margin-top: 0;
        margin-bottom: 50px;
      }

      &.sans-feature {
        margin-left: 0;
      }

      .list-item,
      .article-card {
        @include mx.nColumnWidth(3);
      }

      .list-item {
        &:not(:first-of-type) {
          @include mx.gutterLeftMargin();
          margin-top: 0;
        }
      }

      .piece-card {
        .hero-image {
          @include img.heroImageDimensions(3, 0.5);

          @media #{ vars.$mqDesktop } {
            @include img.heroImageDimensions(3, 0.5);
          }
        }
        .short-description {
          display: none;
          @media #{ vars.$mqTablet } {
            display: block;
          }
          * {
            font-size: vars.$fsSmol;
          }
        }
      }
    }

    @include endOfSectionCTA();
  }

  .books-section {
    .featured-piece {
      .image-content {
        @media #{ vars.$mqDesktop } {
          @include mx.nColumnWidth(3);
          display: inline-block;
          vertical-align: top;
        }
      }

      .hero-image {
        @include img.heroImageContainedInSquare(6);
        @include img.heroImageShadow();

        @media #{ vars.$mqTablet } {
          @include img.heroImageFullHeight(6);
        }

        @media #{ vars.$mqDesktop } {
          @include img.heroImageFullHeight(3);
        }
      }

      .text-content {
        @media #{ vars.$mqDesktop } {
          @include mx.gutterLeftMargin();
          @include mx.nColumnWidth(3);
          display: inline-block;
          vertical-align: top;

          .short-description{
            :first-child {
              margin-top: 0;
            }
          }
        }
      }
    }

    .latest-pieces {
      &.sans-feature {
        width: 100%;

        .list-item {
          &:nth-child(odd) {
            margin-left: 0;
          }
          &:nth-child(n+3) {
            margin-top: 40px;
          }

          @media #{ vars.$mqTablet } {
            &:nth-child(n+3) {
              margin-top: unset;
            }
            &:not(:first-of-type) {
              @include mx.gutterLeftMargin();
            }
          }
        }
      }

      .piece-card {
        .hero-image {
          @include img.heroImageFullHeight(3);

          @media #{ vars.$mqDesktop } {
            @include img.heroImageContainedInSquare(3);
          }
        }
      }
    }
  }

  .piece-list {
    margin-bottom: 20px;
    margin-top: 20px;

    .list-item {
      margin-bottom: 0;

      .piece-link {
        width: 100%;
      }
    }
  }

  .home-leaderboard {
    @include mx.nColumnWidth(6);

    margin-top: 75px;

    @media #{ vars.$mqTablet } {
      @include mx.nColumnWidth(12);
      margin-bottom: 20px;
    }

    @media #{ vars.$mqDesktop } {
      @include mx.columnsAsLeftMargin(2);
      @include mx.nColumnWidth(8);
    }

    &.top {
      margin-top: 0;
      margin-bottom: 50px;

      @media #{ vars.$mqTablet } {
        margin-bottom: 75px;
      }
    }
  }

  .home-tablet-banners {
    display: none;

    @media #{ vars.$mqTablet } {
      display: block;
      margin: 50px auto 0 auto;
    }

    @media #{ vars.$mqDesktop } {
      display: none;
    }

    &.num-banners-1 {
      @include mx.nColumnWidth(4);
    }

    &.num-banners-2 {
      @include mx.nColumnWidth(8);
    }

    .banner-tablet-col {
      @include mx.nColumnWidth(4);
      display: inline-block;
    }

    .banner-tablet-col + .banner-tablet-col {
      @include mx.gutterLeftMargin();
    }
  }
}
