@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


@mixin sectionHeadingCTA {
  .section-heading {
    .see-all-cta {
      display: none;

      @media #{$mqTablet} {
        display: block;
        top: -50px;
      }
    }
  }
}

@mixin endOfSectionCTA {
  .see-all-cta {
    display: block;
    margin-top: 50px;

    .website-cta {
      display: block;
    }

    @media #{$mqTablet} {
      display: none;
    }
  }
}

.home {
  padding-top: 20px;

  .page-content {
    width: 100%;
  }

  section {
    display: inline-block;
    width: 100%;
  }

  .latest-pieces-heading {
    @include contentTypeHeading();
  }

  .section-heading {
    @include underlinedH1();
    position: relative;
    margin-bottom: 20px;

    .h2 {
      margin-top: 0;
    }

    .see-all-cta {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .articles-section {
    @include sectionHeadingCTA();

    .articles-section-content {
      display: inline-block;
    }

    .featured-article {
      @include nColumnWidth(6);

      .featured-article-widget {
        width: 100%;
      }

      .hero-image {
        @include heroImageDimensions(6, 9/16);
      }

      @media #{$mqTablet} {
        @include nColumnWidth(12);

        .hero-image {
          @include heroImageDimensions(12, 0.25);
        }
      }

      @media #{$mqDesktop} {
        @include nColumnWidth(9);

        .hero-image {
          @include heroImageDimensions(9, 0.25);
        }
      }
    }

    .recently-added-articles {
      @include nColumnWidth(6);

      @media #{$mqTablet} {
        @include nColumnWidth(12);
      }

      @media #{$mqDesktop} {
        @include nColumnWidth(9);
      }

      .latest-pieces-heading {
        margin-top: 50px;
      }

      .list-item,
      .article-card {
        @include nColumnWidth(6);

        @media #{$mqTablet} {
          @include nColumnWidth(4);
        }

        @media #{$mqDesktop} {
          @include nColumnWidth(3);
        }
      }

      .list-item {
        &:not(:first-of-type) {
          @media #{$mqTablet} {
            @include gutterLeftMargin();
          }
        }
      }

      .article-card {
        .hero-image {
          @include heroImageDimensions(6, 0.375);

          @media #{$mqTablet} {
            @include heroImageDimensions(4, 0.5);
          }

          @media #{$mqDesktop} {
            @include heroImageDimensions(3, 0.5);
          }
        }
        .short-description {
          font-size: $fsSmol;
        }
      }
    }

    .home-sidebar {
      @include nColumnWidth(3);
      display: none;
      right: 0;
      top: 52px;

      @media #{$mqDesktop} {
        display: inline-block;
      }

      .advertisement {
        display: block;
        margin-bottom: 40px;
        width: 100%;

        .apos-area-widget-wrapper {
          margin-top: 20px;
        }
      }

      .sidebar-heading {
        @include contentTypeHeading();
      }

      .medium-rectangle {
        width: 215px;
        height: 180px;

        @media #{$mqDesktop} {
          width: 210px;
          height: 175px;
        }

        @media #{$mqXL} {
          width: 250px;
          height: 209px;
        }

        @media #{$mqXXL} {
          width: 290px;
          height: 242px;
        }
      }
    }

    @include endOfSectionCTA();
  }

  .events-section,
  .projects-section,
  .books-section {
    margin-top: 50px;

    @media #{$mqDesktop} {
      margin-top: 75px;
    }

    @include sectionHeadingCTA();

    .featured-piece {
      @include nColumnWidth(6);
      display: inline-block;
      vertical-align: top;

      .featured-piece-widget {
        @include nColumnWidth(6);
        display: inline-block;
      }

      .hero-image {
        @include heroImageDimensions(6, 9/16);

        @media #{$mqDesktop} {
          @include heroImageDimensions(6, 0.5);
        }
      }

      .cta {
        @include anchor();
        display: block;
        margin-top: 10px;
        font-size: $fsTextBody;
      }
    }

    .latest-pieces {
      @include nColumnWidth(6);
      display: inline-block;
      margin-top: 20px;
      vertical-align: top;

      @media #{$mqTablet} {
        @include gutterLeftMargin();
        margin-top: 0;
      }

      &.sans-feature {
        margin-left: 0;
      }

      .list-item,
      .article-card {
        @include nColumnWidth(3);
      }

      .list-item {
        &:not(:first-of-type) {
          @include gutterLeftMargin();
          margin-top: 0;
        }
      }

      .piece-card {
        .hero-image {
          @include heroImageDimensions(3, 0.5);

          @media #{$mqDesktop} {
            @include heroImageDimensions(3, 0.5);
          }
        }
        .short-description {
          display: none;
          @media #{$mqTablet} {
            display: block;
          }
          * {
            font-size: $fsSmol;
          }
        }
      }
    }

    @include endOfSectionCTA();
  }

  .books-section {
    .featured-piece {
      .image-content {
        @media #{$mqDesktop} {
          @include nColumnWidth(3);
          display: inline-block;
          vertical-align: top;
        }
      }

      .hero-image {
        @include heroImageContainedInSquare(6);
        @include heroImageShadow();

        @media #{$mqTablet} {
          @include heroImageFullHeight(6);
        }

        @media #{$mqDesktop} {
          @include heroImageFullHeight(3);
        }
      }

      .text-content {
        @media #{$mqDesktop} {
          @include gutterLeftMargin();
          @include nColumnWidth(3);
          display: inline-block;
          vertical-align: top;

          .short-description{
            :first-child {
              margin-top: 0;
            }
          }
        }
      }
    }

    .latest-pieces {
      &.sans-feature {
        width: 100%;

        .list-item {
          &:nth-child(odd) {
            margin-left: 0;
          }
          &:nth-child(n+3) {
            margin-top: 40px;
          }

          @media #{$mqTablet} {
            &:nth-child(n+3) {
              margin-top: unset;
            }
            &:not(:first-of-type) {
              @include gutterLeftMargin();
            }
          }
        }
      }

      .piece-card {
        .hero-image {
          @include heroImageFullHeight(3);

          @media #{$mqDesktop} {
            @include heroImageContainedInSquare(3);
          }
        }
      }
    }
  }

  .piece-list {
    margin-bottom: 20px;
    margin-top: 20px;

    .list-item {
      margin-bottom: 0;

      .piece-link {
        width: 100%;
      }
    }
  }

  .home-leaderboard {
    @include nColumnWidth(6);

    margin-top: 75px;

    @media #{$mqTablet} {
      @include nColumnWidth(12);
      margin-bottom: 20px;
    }

    @media #{$mqDesktop} {
      @include columnsAsLeftMargin(2);
      @include nColumnWidth(8);
    }

    &.top {
      margin-top: 0;
      margin-bottom: 50px;

      @media #{$mqTablet} {
        margin-bottom: 75px;
      }
    }
  }

  .home-banners {
    margin-top: 75px;

    @media #{$mqTablet} {
      margin-top: 50px;
    }

    @media #{$mqDesktop} {
      display: none;
    }

    .banner-col {
      @include nColumnWidth(6);
      display: block;

      &.banner-2 {
        margin-top: 50px;
      }

      @media #{$mqTablet} {
        @include nColumnWidth(4);
        display: inline-block;

        &.banner-1 {
          @include columnsAsLeftMargin(2);

          &.single {
            @include columnsAsLeftMargin(4);
          }
        }

        &.banner-2 {
          @include gutterLeftMargin();
          margin-top: 0;
        }
      }
    }
  }
}
