@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/mixins' as mx;


.page-login {
  .h1 {
    @include ui.heading1();
    margin-bottom: 0;
  }

  .subheading {
    margin-top: 5px;
  }

  .columns-container {
    padding: 25px 0;
  }

  .login-form-column {
    @include mx.nColumnWidth(6);
    display: inline-block;
    vertical-align: top;

    .apos-login-warning {
      @include ui.paragraph();
      background-color: lightgoldenrodyellow;
      border: 1px solid yellow;
      font-size: 10pt;
      margin: 20px 0;
      padding: 10px;

      &::before {
        content: '⚠️';
        margin-right: 5px;
      }
    }

    .form-group {
      margin: 20px 0;
    }

    legend {
      @include ui.fieldsetLegend();
    }

    label {
      @include ui.inputLabel();
    }

    input[type="text"],
    input[type="password"] {
      @include mx.nColumnWidth(6);
      @include ui.textInput();

      @media #{ vars.$mqDesktop } {
        @include mx.nColumnWidth(4);
      }
    }

    button[type="submit"] {
      @include mx.nColumnWidth(6);
      @include ui.button();

      @media #{ vars.$mqDesktop } {
        @include mx.nColumnWidth(4);
      }
    }
  }

  .help-us-column {
    @include mx.nColumnWidth(6);
    display: inline-block;
    vertical-align: top;
    margin-top: 45px;

    @media #{ vars.$mqTablet } {
      @include mx.gutterLeftMargin();
      margin-top: 15px;
    }

    @media #{ vars.$mqDesktop } {
      @include mx.nColumnWidth(4);
    }

    .h2 {
      @include ui.heading3();
    }

    .h3 {
      @include ui.heading3();
      font-size: vars.$fsTextBody;
    }

    p {
      font-size: vars.$fsSmol;
    }
  }
}
