@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/mixins' as mx;
@use '../mixins/functions' as fn;


.page-not-found {
  .column {
    @include mx.nColumnWidth(6);

    &:not(:first-of-type) {
      margin-top: 50px;
    }

    @media #{ vars.$mqTablet } {
      @include mx.nColumnWidth(4);
      display: inline-block;
      margin-top: 0;
      vertical-align: top;

      &:not(:first-of-type) {
        margin-left: fn.getGutterWidth(vars.$tablet);
        margin-top: 0;
      }
    }

    @media #{ vars.$mqDesktop } {
      margin-top: 0;

      &:not(:first-of-type) {
        margin-left: fn.getGutterWidth(vars.$desktop);
        margin-top: 0;
      }
    }
  }

  .suggested-content {
    @include mx.nColumnWidth(6);
    display: inline-block;
    margin: 25px 0;

    @media #{ vars.$mqTablet } {
      @include mx.nColumnWidth(12);
    }

    @media #{ vars.$mqDesktop } {
      margin: 50px 0;
    }

    &.search {
      .search-input {
        @include mx.nColumnWidth(4);
        @include ui.textInput();
        display: inline-block;
        vertical-align: top;
      }

      .search-button {
        @include mx.gutterLeftMargin();
        @include mx.nColumnWidth(2);
        @include ui.button();
        display: inline-block;
        vertical-align: top;
        padding: 0 20px;

        .icon {
          display: none;
        }

        .label {
          @include mx.cancelVisuallyHidden();
        }
      }
    }
  }
}
