@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.page-not-found {
  .column {
    @include nColumnWidth(6);

    &:not(:first-of-type) {
      margin-top: 50px;
    }

    @media #{$mqTablet} {
      @include nColumnWidth(4);
      display: inline-block;
      vertical-align: top;
      margin-top: 0;

      &:not(:first-of-type) {
        margin-left: getGutterWidth($tablet);
        margin-top: 0;
      }
    }

    @media #{$mqDesktop} {
      margin-top: 0;

      &:not(:first-of-type) {
        margin-left: getGutterWidth($desktop);
        margin-top: 0;
      }
    }
  }

  .suggested-content {
    @include nColumnWidth(6);
    display: inline-block;
    margin: 25px 0;

    @media #{$mqTablet} {
      @include nColumnWidth(12);
    }

    @media #{$mqDesktop} {
      margin: 50px 0;
    }

    &.search {
      .search-input {
        @include textInput();
        @include nColumnWidth(4);
        display: inline-block;
        vertical-align: top;
      }

      .search-button {
        @include gutterLeftMargin();
        @include button();
        @include nColumnWidth(2);
        display: inline-block;
        vertical-align: top;
        padding: 0 20px;

        .icon {
          display: none;
        }

        .label {
          @include cancelVisuallyHidden();
        }
      }
    }
  }
}
