@import '../common/variables';
@import '../common/ui';


.page-index {
  .content-type-heading {
    @include contentTypeHeading();
  }

  .recently-added-pieces,
  .recently-added-articles,
  .recently-added-events,
  .recently-added-education,
  .recently-added-orgs,
  .recently-added-projects {
    margin-top: 60px;

    &:first-of-type {
      margin-top: 35px;
    }

    .piece-list {
      margin: 20px 0;

      .list-item {
        margin-bottom: 0;
      }
    }
  }

  .see-all-cta {
    margin-top: 40px;
  }
}
