@use '../common/variables' as vars;
@use '../mixins/mixins' as mx;
@use '../mixins/hero-image' as img;
@use '../mixins/functions' as fn;


.page-subject {
  .rich-preamble + .advertisement-container {
    margin-top: 50px;
  }

  .advertisement-container + * {
    margin-top: 50px;
  }

  .section-heading {
    position: relative;

    .see-all-cta {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .subject-section {
    &:not(:first-of-type) {
      margin-top: 75px;
    }
  }

  .featured-piece {
    &.book {
      @media #{ vars.$mqTablet } {
        margin-bottom: 75px;

        .image-content {
          display: inline-block;
          vertical-align: top;
          margin-top: 10px;
        }
        .hero-image {
          @include img.heroImageFullHeight(4);
        }
        .text-content {
          @include mx.nColumnWidth(4);
          @include mx.gutterLeftMargin();
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }

  .piece-list {
    @media #{ vars.$mqTablet } {
      .list-item:nth-child(n + 3) {
        margin-top: 40px;
      }
    }

    &.event-list,
    &.book-list {
      margin-top: 0;

      .list-item {
        margin-bottom: 0;
      }
    }

    .piece-card {
      &.book {
        .hero-image {
          @include img.heroImageContainedInSquare(6);
        }
        @media #{ vars.$mqTablet } {
          .hero-image {
            @include img.heroImageContainedInSquare(4);
          }
        }
        @media #{ vars.$mqDesktop } {
          $halfGutter: fn.getGutterHalfWidth(vars.$desktop);
          .image-content {
            position: relative;
            float: left;
            margin-right: $halfGutter;
            margin-bottom: $halfGutter;
          }
          .hero-image {
            @include img.heroImageFullHeight(2);
          }
        }
      }
    }
  }

  .see-all-cta {
    margin-top: 75px;
  }

  .sidebar {
    .sidebar-banners {
      margin-top: 20px;
    }
  }
}
