@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/mixins' as mx;


.page-index {
  .page-heading {
    @include mx.underlinedH1();
  }

  .content-type-heading {
    @include ui.contentTypeHeading();
  }

  .recently-added-pieces,
  .recently-added-articles,
  .recently-added-events,
  .recently-added-education,
  .recently-added-orgs,
  .recently-added-projects {
    margin-top: 60px;

    &:first-of-type {
      margin-top: 35px;
    }

    .piece-list {
      margin: 20px 0;

      .list-item {
        margin-bottom: 0;
      }
    }
  }

  .no-pieces {
    @include ui.paragraph();
    margin-top: 37.5px;

    @media #{ vars.$mqXXL } {
      margin-top: 35px;
    }
  }

  .see-all-cta {
    margin-top: 40px;
  }
}
