@import '../common/variables';
@import '../common/ui';


.sidebar-person-details {
  .profile-pic {
    $imageSize: getColumnsSpan(6, $phone);

    object-fit: cover;
    height: $imageSize;
    width: $imageSize;

    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);

    @media #{$mqDesktop} {
      width: getColumnsSpan(4, $desktop);
      height: getColumnsSpan(4, $desktop);
    }
  }
}
