@import '../common/variables';
@import '../common/ui';


.sidebar-person-details {
  .profile-pic {
    $imageSize: getColumnsSpan(6, $phone);

    object-fit: cover;
    height: $imageSize;
    width: $imageSize;

    @media #{$mqDesktop} {
      width: getColumnsSpan(4, $desktop);
      height: getColumnsSpan(4, $desktop);
    }
  }
}
