@use '../common/variables' as vars;
@use '../mixins/functions' as fn;


// mixins
@mixin imageDimensions {
  $imageSize: fn.getColumnsSpan(6, vars.$phone);
  object-fit: cover;
  height: $imageSize;
  width: $imageSize;

  @media #{ vars.$mqTablet } {
    width: fn.getColumnsSpan(4, vars.$tablet);
    height: fn.getColumnsSpan(4, vars.$tablet);
  }

  @media #{ vars.$mqDesktop } {
    width: fn.getColumnsSpan(4, vars.$desktop);
    height: fn.getColumnsSpan(4, vars.$desktop);
  }

  @media #{ vars.$mqXL } {
    width: fn.getColumnsSpan(4, vars.$xl);
    height: fn.getColumnsSpan(4, vars.$xl);
  }

  @media #{ vars.$mqXXL } {
    width: fn.getColumnsSpan(4, vars.$xxl);
    height: fn.getColumnsSpan(4, vars.$xxl);
  }
}


// styles
.people-index {}

.person-details {
  .profile-pic-container {
    margin: 40px 0;
    width: 100%;

    @media #{ vars.$mqTablet } {
      display: none;
    }

    .fig-headshot {
      $imageSize: fn.getColumnsSpan(6, vars.$phone);
      object-fit: cover;
      height: $imageSize;
      width: $imageSize;
    }
  }
}

.sidebar-person-details {
  .fig-profile {
    margin-top: 45px;

    .fig-headshot {
      @include imageDimensions();
    }

    .fig-credits{
      color: vars.$darkGrey;
      font-family: vars.$ffSerif;
      font-size: vars.$fsVerySmol;
      font-style: italic;
      margin: 15px 0 30px 0;
      text-align: right;
    }
  }
}

[data-apos-workflow-mode="draft"] {
  .sidebar-person-details {
    .image-link {
      display: block;
      margin-top: 45px;

      img {
        @include imageDimensions();
      }
    }
  }
}
