@import '../common/variables';
@import '../common/ui';


@mixin imageDimensions {
  $imageSize: getColumnsSpan(6, $phone);
  object-fit: cover;
  height: $imageSize;
  width: $imageSize;

  @media #{$mqTablet} {
    width: getColumnsSpan(4, $tablet);
    height: getColumnsSpan(4, $tablet);
  }

  @media #{$mqDesktop} {
    width: getColumnsSpan(4, $desktop);
    height: getColumnsSpan(4, $desktop);
  }

  @media #{$mqXL} {
    width: getColumnsSpan(4, $xl);
    height: getColumnsSpan(4, $xl);
  }

  @media #{$mqXXL} {
    width: getColumnsSpan(4, $xxl);
    height: getColumnsSpan(4, $xxl);
  }
}


.people-index {}

.person-details {
  .profile-pic-container {
    margin: 40px 0;
    width: 100%;

    @media #{$mqTablet} {
      display: none;
    }

    .fig-headshot {
      $imageSize: getColumnsSpan(6, $phone);
      object-fit: cover;
      height: $imageSize;
      width: $imageSize;
    }
  }
}

.sidebar-person-details {
  .fig-profile {
    margin-top: 45px;

    .fig-headshot {
      @include imageDimensions();
    }

    .fig-credits{
      color: $darkGrey;
      font-family: $ffSerif;
      font-size: $fsVerySmol;
      font-style: italic;
      margin: 15px 0 30px 0;
      text-align: right;
    }
  }
}

[data-apos-workflow-mode="draft"] {
  .sidebar-person-details {
    .image-link {
      display: block;
      margin-top: 45px;

      img {
        @include imageDimensions();
      }
    }
  }
}
