@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/mixins' as mx;
@use '../mixins/functions' as fn;


// mixins
@mixin imageDimensions {
  $width: fn.getColumnsSpan(6, vars.$phone);
  $imgWidth: $width;
  $imgHeight: calc(#{ $width } * 0.5);
  height: $imgHeight;
  width: $imgWidth;
  object-fit: cover;

  @media #{ vars.$mqTablet } {
    $width: fn.getColumnsSpan(8, vars.$tablet);
    $imgWidth: $width;
    $imgHeight: calc(#{ $width } * 0.5);
    height: $imgHeight;
    width: $imgWidth;
  }

  @media #{ vars.$mqDesktop } {
    $width: fn.getColumnsSpan(8, vars.$desktop);
    $imgWidth: $width;
    $imgHeight: calc(#{ $width } * 0.5);
    height: $imgHeight;
    width: $imgWidth;
  }

  @media #{ vars.$mqXL } {
    $width: fn.getColumnsSpan(8, vars.$xl);
    $imgWidth: $width;
    $imgHeight: calc(#{ $width } * 0.5);
    height: $imgHeight;
    width: $imgWidth;
  }

  @media #{ vars.$mqXXL } {
    $width: fn.getColumnsSpan(8, vars.$xxl);
    $imgWidth: $width;
    $imgHeight: calc(#{ $width } * 0.5);
    height: $imgHeight;
    width: $imgWidth;
  }
}


// styles
.piece-details {
  .page-heading {
    @include mx.underlinedH1();
    margin-bottom: 0;
  }

  .subheading {
    font-family: vars.$ffTextBody;
    font-size: vars.$fsTextBody;
    height: auto;

    .piece-original-title {
      margin: 10px 0;
    }

    p {
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 25px;
      height: 25px;
    }

    .piece-link-list {
      display: inline-block;
      height: 25px;
      line-height: 1.5;
      margin: 5px 0 20px 0;
    }
  }

  .page-content {
    margin-top: 25px;

    &.with-hero {
      margin-top: 40px;
    }

    &.without-hero {
      margin-top: 0;
    }
  }

  .hero-image {
    @include imageDimensions();
  }


  figcaption {
    color: vars.$darkGrey;
    font-family: vars.$ffSerif;
    font-size: vars.$fsVerySmol;
    font-style: italic;
    line-height: 1.5;
    margin: 15px 0 30px 0;
    text-align: right;

    .remote-img-source-link {
      color: vars.$darkGrey;
      font-family: vars.$ffSerif;
      font-size: vars.$fsVerySmol;
      font-style: italic;
      line-height: 1.5;
    }
  }

  .piece-props-list {
    dt {
      @include ui.heading4();
      font-size: 15pt;
      margin: 30px 0 0 0;
    }

    dd {
      @include ui.paragraph();
      margin-top: 10px;

      .piece-link-list,
      .tag-list {
        margin-top: 0;
      }
    }
  }

  .description {
    &.rich-description {
      @include mx.aposRichText();
      margin: 40px 0;
    }
  }

  .citations {
    .citation-heading {
      @include ui.heading4();
    }

    .citation-list {
      dt {
        @include ui.heading5();
      }
      dd {
        @include ui.paragraph();

        &.bibtex {
          background-color: vars.$lightestGrey;
          font-family: vars.$ffMonospace;
          font-size: vars.$fsVerySmol;
          overflow-x: auto;
          padding: 15px 10px 0 10px;
          white-space: pre;
        }
      }
    }
  }
}

[data-apos-workflow-mode="draft"] {
  .piece-details {
    .image-link {
      img {
        @include imageDimensions();
      }
    }
  }
}
