@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


@mixin imageDimensions {
  $width: getColumnsSpan(6, $phone);
  $imgWidth: $width;
  $imgHeight: calc(#{$width} * 0.5);
  height: $imgHeight;
  width: $imgWidth;
  object-fit: cover;

  @media #{$mqTablet} {
    $width: getColumnsSpan(8, $tablet);
    $imgWidth: $width;
    $imgHeight: calc(#{$width} * 0.5);
    height: $imgHeight;
    width: $imgWidth;
  }

  @media #{$mqDesktop} {
    $width: getColumnsSpan(8, $desktop);
    $imgWidth: $width;
    $imgHeight: calc(#{$width} * 0.5);
    height: $imgHeight;
    width: $imgWidth;
  }

  @media #{$mqXL} {
    $width: getColumnsSpan(8, $xl);
    $imgWidth: $width;
    $imgHeight: calc(#{$width} * 0.5);
    height: $imgHeight;
    width: $imgWidth;
  }

  @media #{$mqXXL} {
    $width: getColumnsSpan(8, $xxl);
    $imgWidth: $width;
    $imgHeight: calc(#{$width} * 0.5);
    height: $imgHeight;
    width: $imgWidth;
  }
}


.piece-details {
  .page-heading {
    @include underlinedH1();
    margin-bottom: 0;
  }

  .subheading {
    height: 45px;
    font-size: $fsTextBody;
    font-family: $ffTextBody;

    p {
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 25px;
      height: 25px;
    }

    .piece-link-list {
      display: inline-block;
      height: 25px;
      margin: 5px 0 20px 0;
    }
  }

  .page-content {
    margin-top: 25px;

    &.with-hero {
      margin-top: 40px;
    }

    &.without-hero {
      margin-top: 0;
    }
  }

  .hero-image {
    @include imageDimensions();
  }

  figcaption {
    color: $darkGrey;
    font-family: $ffSerif;
    font-size: $fsVerySmol;
    font-style: italic;
    margin: 15px 0 30px 0;
    text-align: right;
  }

  .piece-props-list {
    dt {
      @include heading4();
      font-size: 15pt;
      margin: 30px 0 0 0;
    }

    dd {
      @include paragraph();
      margin-top: 10px;

      .piece-link-list,
      .tag-list {
        margin-top: 0;
      }
    }
  }

  .description {
    &.rich-description {
      @include aposRichText();
      margin: 40px 0;
    }
  }

  .citations {
    .citation-heading {
      @include heading4();
    }

    .citation-list {
      dt {
        @include heading5();
      }
      dd {
        @include paragraph();

        &.bibtex {
          background-color: $lightestGrey;
          font-family: $ffMonospace;
          font-size: $fsVerySmol;
          overflow-x: auto;
          padding: 15px 10px 0 10px;
          white-space: pre;
        }
      }
    }
  }
}

[data-apos-workflow-mode="draft"] {
  .piece-details {
    .image-link {
      img {
        @include imageDimensions();
      }
    }
  }
}
