@use '../common/variables' as vars;
@use '../mixins/functions' as fn;


.projects-index {
  .content-type-heading {
    margin-top: 60px;

    + .piece-list {
      margin-top: 20px;
    }
  }
}

.project-details {
  .main-hero-image {
    $imgWidth: fn.getColumnsSpan(8, vars.$desktop);
    $imgHeight: calc(#{ $imgWidth } * 0.5625);
    object-fit: cover;
    height: $imgHeight;
    width: $imgWidth;
  }
}
