@use '../common/variables' as vars;
@use '../common/ui' as ui;
@use '../mixins/mixins' as mx;
@use '../mixins/tag' as tag;


.page-search {
  .main-search-form {
    @media #{ vars.$mqDesktop } {
      @include mx.nColumnWidth(8);
    }

    .search-input {
      @include ui.textInput();
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 55px);

      @media #{ vars.$mqTablet } {
        @include mx.nColumnWidth(8);
      }

      @media #{ vars.$mqDesktop } {
        @include mx.nColumnWidth(6);
      }
    }

    .search-button {
      @include mx.gutterLeftMargin();
      @include ui.button();
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px;

      @media #{ vars.$mqTablet } {
        @include mx.nColumnWidth(4);
      }

      @media #{ vars.$mqDesktop } {
        @include mx.gutterLeftMargin();
        @include mx.nColumnWidth(2);
      }

      .icon {
        display: inline-block;
        position: relative;
        height: 15px;
        top: 2px;
        width: 15px;

        @media #{ vars.$mqTablet } {
          display: none;
        }
      }

      .label {
        @include mx.visuallyHidden();

        @media #{ vars.$mqTablet } {
          @include mx.cancelVisuallyHidden();
        }
      }
    }
  }

  // results
  .search-results {
    margin-top: 40px;

    .title {
      @include ui.heading1();
    }
  }

  .search-filter-tabs {
    margin-top: 50px;

    .filter-legend {
      @include ui.inputLabel();
    }

    .search-filter-list {
      .list-item {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      .search-tab {
        @include tag.clickableTag();
        text-transform: lowercase;

        &.active {
          background-color: vars.$main;
          color: vars.$almostWhite;
        }
      }
    }
  }

  // sidebar
  .sidebar {
    margin-top: 20px;

    @media #{ vars.$mqDesktop } {
      margin-top: -95px;
    }
  }
}
