@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.page-search {
  .main-search-form {
    @media #{$mqDesktop} {
      @include nColumnWidth(8);
    }

    .search-input {
      @include textInput();
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 55px);

      @media #{$mqTablet} {
        @include nColumnWidth(8);
      }

      @media #{$mqDesktop} {
        @include nColumnWidth(6);
      }
    }

    .search-button {
      @include gutterLeftMargin();
      @include button();
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px;

      @media #{$mqTablet} {
        @include nColumnWidth(4);
      }

      @media #{$mqDesktop} {
        @include gutterLeftMargin();
        @include nColumnWidth(2);
      }

      .icon {
        display: inline-block;
        position: relative;
        height: 15px;
        top: 2px;
        width: 15px;

        @media #{$mqTablet} {
          display: none;
        }
      }

      .label {
        @include visuallyHidden();

        @media #{$mqTablet} {
          @include cancelVisuallyHidden();
        }
      }
    }

    .search-tips {
      .heading {
        @include paragraph();
        cursor: pointer;
        font-size: $fsVerySmol;
      }

      .search-tips-list {
        @include list();

        .list-item {
          @include unorderedListItem();
          @include paragraph();
          font-size: $fsVerySmol;

          em {
            font-weight: bold;
          }
        }
      }
    }
  }

  // results
  .search-results {
    margin-top: 40px;

    .title {
      @include heading1();
    }
  }

  .search-filter-tabs {
    margin-top: 50px;

    .filter-legend {
      @include inputLabel();
    }

    .search-filter-list {
      .list-item {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      .search-tab {
        @include clickableTag();
        text-transform: lowercase;

        &.active {
          background-color: $main;
          color: $almostWhite;
        }
      }
    }
  }

  // sidebar
  .sidebar {
    margin-top: 20px;

    @media #{$mqDesktop} {
      margin-top: -95px;
    }
  }
}
