@import '../common/variables';
@import '../common/ui';
@import '../mixins/mixins';


.slack-signup-page {
  .cta-paragraph {
    @include paragraph();
  }

  .signup-form {
    margin-top: 50px;
    .form-label {
      @include inputLabel();
    }
    .input-text {
      @include textInput();
      @include nColumnWidth(6);

      @media #{$mqTablet} {
        @include nColumnWidth(8);
      }

      @media #{$mqDesktop} {
        @include nColumnWidth(5);
        vertical-align: bottom;
      }
    }
    .submit-btn {
      @include button();
      margin-top: 20px;
      width: 100%;

      @media #{$mqTablet} {
        width: max-content;
      }

      @media #{$mqDesktop} {
        @include gutterLeftMargin();
        @include nColumnWidth(3);
        vertical-align: bottom;
      }
    }
  }

  .disclaimer {
    @include paragraph();
    color: $halfGrey;
    font-size: $fsVerySmol;
  }

  section {
    &:not(:first-of-type) {
      margin-top: 50px;
    }
  }
}
