{% macro sidebarLink(category) %}
  <a href="{{ __('people|categories|' + category + '|url') }}">
    {{ __('people|categories|' + category + '|title') }}
  </a>
{% endmacro %}


<section class="in-this-section">
  <h2 class="h1">{{ __('sidebar|inThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ sidebarLink('creators') }}
    </li>
    <li>
      <a href="{{ __('organizations|categories|collectives|url') }}">
        {{ __('organizations|categories|collectives|title') }}
      </a>
    </li>
    <li>
      {{ sidebarLink('curators') }}
    </li>
    <li>
      {{ sidebarLink('educators') }}
    </li>
    <li>
      {{ sidebarLink('authors') }}
    </li>
    <li>
      {{ sidebarLink('translators') }}
    </li>
    {%- if apos.aemUsers.isUserAdmin(data.user) -%}
      <li>
        {{ sidebarLink('missingDescription') }}
      </li>
    {%- endif -%}
  </ul>
</section>
