{%- from 'macros/sidebar.njk' import orgsLink, peopleLink -%}


<section class="in-this-section">
  <h2 class="h1">{{ __('sidebar|inThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ peopleLink('creators') }}
    </li>
    <li>
      {{ orgsLink('collectives') }}
    </li>
    <li>
      {{ peopleLink('curators') }}
    </li>
    <li>
      {{ peopleLink('educators') }}
    </li>
    <li>
      {{ peopleLink('authors') }}
    </li>
    <li>
      {{ peopleLink('translators') }}
    </li>
    {%- if apos.aemUsers.isUserAdmin(data.user) -%}
      <li>
        {{ peopleLink('missingDescription') }}
      </li>
    {%- endif -%}
  </ul>
</section>
