<section>
  <h2 class="h1">In This Section</h2>
  <ul>
    <li>
      <a href="/people/artists">Artists and Artisans</a>
    </li>
    <li>
      <a href="/people/collectives">Collectives</a>
    </li>
    <li>
      <a href="/people/curators">Curators</a>
    </li>
    <li>
      <a href="/people/educators">Educators</a>
    </li>
    <li>
      <a href="/people/authors">Authors and Writers</a>
    </li>
    <li>
      <a href="/people/translators">Translators</a>
    </li>
    {%- if apos.aemUsers.isUserAdmin(data.user) -%}
      <li>
        <a href="/people/missing-description">People Missing Description</a>
      </li>
    {%- endif -%}
  </ul>
</section>
