{%- from 'macros/profile-pic.njk' import profilePic -%}


{{
  profilePic(
    data.piece,
    {
      showCredits: true,
      showIfMissing: false,
      isEditable: apos.aemUtils.isDraftMode(data)
    }
  )
}}
