<section class="related-to-this-section">
  <h2 class="h1">{{ __('sidebar|relatedToThisSectionHeading') }}</h2>
  <ul>
    <li>
      <a href="{{ __('organizations|url') }}">
        {{ __('organizations|heading') }}
      </a>
    </li>
  </ul>
</section>
