{%- from 'macros/sidebar.njk' import sidebarPageLink -%}


<section class="related-to-this-section">
  <h2 class="h1">{{ __('sidebar|relatedToThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ sidebarPageLink('organizations') }}
    </li>
  </ul>
</section>
