{%- from 'macros/search.njk' import searchInput -%}


<section class="section-mt">
  {{
    searchInput({
      id: 'peopleSearchInput',
      type: 'aem-persons',
      label: __('people|searchLabel')
    })
  }}
</section>
