{%- from 'macros/search.njk' import searchInput -%}

<section>
  <hr class="separator"/>
  <h2 class="h1 sr-only">Search</h2>
  {{
    searchInput({
      id: 'peopleSearchInput',
      type: 'aem-persons',
      label: 'Search People'
    })
  }}
</section>
