{%- from 'macros/search.njk' import searchInput -%}

<section>
  <hr class="separator"/>
  {{
    searchInput({
      id: 'peopleSearchInput',
      type: 'aem-persons',
      label: __('people|searchLabel')
    })
  }}
</section>
