<aside class="sidebar sidebar-person-details">
  <article>
    {% include "partials/people/profile-pic-en.njk" %}
    {% include "partials/people/in-this-section-en.njk" %}
    {% include "partials/people/related-en.njk" %}
    {% include "partials/people/search-en.njk" %}
    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
