<aside class="sidebar">
  <article>
    <section>
      <h1>In This Section</h1>
      <ul>
        <li>
          <a href="/people/artists">Artists and Artisans</a>
        </li>
        <li>
          <a href="/people/educators">Educators</a>
        </li>
        <li>
          <a href="/people/writers">Writers and Authors</a>
        </li>
        <li>
          <a href="/people/translators">Translators</a>
        </li>
      </ul>
    </section>
    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
