{% extends "layouts/layout.njk" %}


{# TODO: l18n #}
{%- set pageTitle = "Editors' Corner" -%}

{% block title %}
  {{ pageTitle }} | {{ __('global|title') }}
{% endblock %}

{% block main %}
  <div class="page-login">
    <main id="main" class="content">
      <h1 class="h1">{{ pageTitle }}</h1>
      {# TODO: l18n #}
      <p class="subheading">Please enter your credentials to log in.</p>

      <div class="columns-container">
        <div class="login-form-column">
          <form
            action="{% block action %}{{ apos.prefix }}/login{% endblock %}"
            method="post"
          >
            {% if data.errors and data.errors[0] %}
              <div class="apos-login-warning">
                {{ data.errors | join(' ') }}
              </div>

            {% else %}
              {% if data.message %}
                <div class="apos-login-warning">
                  {{ __ns('apostrophe', data.message) }}
                </div>
              {% endif %}
            {% endif %}

            <fieldset>
              {# TODO: l18n #}
              <legend>Credentials</legend>

              <div class="form-group">
                <label for="username">
                  {{ __ns('apostrophe', 'Username or Email') }}
                </label>
                <input
                  id="username"
                  type="text"
                  name="username"
                  placeholder="Enter your username or email"
                  autofocus
                />
              </div>

              <div class="form-group">
                <label for="password">
                  {{ __ns('apostrophe', 'Password') }}
                </label>
                <input
                  type="password"
                  name="password"
                  placeholder="Enter your password"
                  id="password"
                />
              </div>
            </fieldset>

            <div>
              <button type="submit">
                {% block buttonLabel %}
                  {{ __ns('apostrophe', 'Log In') }}
                {% endblock %}
              </button>
            </div>
          </form>
        </div>

        <div class="help-us-column">
          <h2 class="h3">{{ __('login|heading') }}</h2>
          <p>{{ __('login|contributionParagraph') }}</p>
          <p><a href="{{ __('pages|help|url') }}">{{ __('login|contributionCTA') }}</a></p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
