{% extends "layouts/layout.njk" %}


{% block title %}
  {{ __('login|heading') }} | {{ __('global|title') }}
{% endblock %}

{% block main %}
  <div class="page-login">
    <main id="main" class="content">
      <h1 class="h1">
        {{ __('login|heading') }}
      </h1>

      <p class="subheading">
        {{ __('login|logInCTA') }}
      </p>

      <div class="columns-container">
        <div class="login-form-column">
          <form
            action="{% block action %}{{ apos.prefix }}/login{% endblock %}"
            method="post"
          >
            {% if data.errors and data.errors[0] %}
              <div class="apos-login-warning">
                {{ data.errors | join(' ') }}
              </div>

            {% else %}
              {% if data.message %}
                <div class="apos-login-warning">
                  {{ __ns('apostrophe', data.message) }}
                </div>
              {% endif %}
            {% endif %}

            <fieldset>
              <legend>
                {{ __('login|formLegend') }}
              </legend>

              <div class="form-group">
                <label for="username">
                  {{ __('login|usernameLabel') }}
                </label>
                <input
                  id="username"
                  type="text"
                  name="username"
                  placeholder="{{ __('login|usernamePlaceholder') }}"
                  autofocus
                />
              </div>

              <div class="form-group">
                <label for="password">
                  {{ __('login|passwordLabel') }}
                </label>
                <input
                  id="password"
                  type="password"
                  name="password"
                  placeholder="{{ __('login|passwordPlaceholder') }}"
                />
              </div>
            </fieldset>

            <div>
              <button type="submit">
                {{ __('login|submitButtonLabel') }}
              </button>
            </div>
          </form>
        </div>

        <div class="help-us-column">
          <h2 class="h3">{{ __('login|heading') }}</h2>
          <p>{{ __('login|contributionParagraph') }}</p>
          <p><a href="{{ __('pages|contribute|url') }}">{{ __('login|contributionCTA') }}</a></p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
