{% extends "layouts/layout.njk" %}

{%- from 'macros/metadata.njk' import minimalMetaData -%}
{%- from 'macros/piece-index.njk' import pieceListWithType -%}


{% macro filterTab(options) %}
  {%- if options.numResults -%}
    <li class="list-item">
      {%- if options.isActive -%}
        <span class="search-tab active">{{ options.label }} ({{ options.numResults }})</span>
      {%- else -%}
        <a
          class="search-tab"
          href="{{ options.url }}"
        >{{ options.label }} ({{ options.numResults }})</a>
      {%- endif -%}
    </li>
  {%- endif -%}
{% endmacro %}


{%- set buildFilteredUrl = apos.aemSearchUtils.buildFilteredUrl -%}
{%- set getNumFiltersWithResults = apos.aemSearchUtils.getNumFiltersWithResults -%}
{%- set getNumResultsPerType = apos.aemSearchUtils.getNumResultsPerType -%}

{%- set hasQuery = data.query !== null and data.query.q !== '' and data.query.q !== undefined -%}
{%- set results = getNumResultsPerType(data) -%}
{%- set numFiltersWithResults = getNumFiltersWithResults(data) -%}


{% block title %}
  {{ apos.aemSeo.buildSimplePageTitle(__, data.page.title) }}
{% endblock %}

{% block metadata %}
  {{
    minimalMetaData({
      title: __('search|heading'),
      url: data.page._url,
      baseUrl: apos.aemUtils.ensureHTTPS(data.baseUrl)
    })
  }}
{% endblock %}

{% block main %}
  <div class="page-search">
    <div class="content">
      <main id="main" tabindex="-1">
        <article>
          <h1 class="title">{{ __('search|heading') }}</h1>

          <form
            data-apos-search-page-form
            class="main-search-form"
            method="GET"
            action="{{ data.url | e }}"
          >
            <fieldset class="search-fieldset">
              <input
                data-apos-search-field
                class="search-input"
                type="search"
                value="{{ data.query.q | e }}"
                placeholder="{{ __('search|placeholder') }}"
                name="q"
              />
              <button
                type="submit"
                class="search-button"
              >
                <img
                  class="icon"
                  src="/img/icon-search.svg"
                  alt=""
                />
                <span class="label">
                  {{ __('search|buttonLabel') }}
                </span>
              </button>
            </fieldset>
            <details class="search-tips">
              <summary class="heading">{{ __('search|tipsHeading') }}</summary>
              <ul class="search-tips-list">
                {%- set searchTips = __('search|tips') -%}
                {% for tip in searchTips %}
                  <li class="list-item">{{ tip|safe }}</li>
                {% endfor %}
              </ul>
            </details>
          </form>

          <div class="page-content">
            <section class="search-results">
              {%- if data.docs|length -%}
                {%- if hasQuery -%}
                  <h2 class="title">{{ __('search|resultsLabel') }}</h2>
                  {%- if data.query.q -%}
                    <p>
                      {{
                        apos.aemI18n.replace(
                          __('search|resultsDetails'),
                          [{ pattern: '%s', str: data.query.q }]
                        )
                      }}
                    </p>
                  {%- endif -%}

                  {# search filters #}
                  {%- if numFiltersWithResults -%}
                    <div class="search-filter-tabs">
                      <div class="filter-legend">{{ __('search|filterLabel') }}</div>
                      <ul class="search-filter-list">
                        {{
                          filterTab({
                            label: __('search|filterAllLabel'),
                            url: buildFilteredUrl(data),
                            numResults: results.numAll,
                            isActive: data.activeFilter === ''
                          })
                        }}
                        {{
                          filterTab({
                            label: __('articles|plural'),
                            url: buildFilteredUrl(data, 'article'),
                            numResults: results.numArticles,
                            isActive: data.activeFilter === 'article'
                          })
                        }}
                        {{
                          filterTab({
                            label: __('books|plural'),
                            url: buildFilteredUrl(data, 'book'),
                            numResults: results.numBooks,
                            isActive: data.activeFilter === 'book'
                          })
                        }}
                        {{
                          filterTab({
                            label: __('projects|plural'),
                            url: buildFilteredUrl(data, 'project'),
                            numResults: results.numProjects,
                            isActive: data.activeFilter === 'project'
                          })
                        }}
                        {{
                          filterTab({
                            label: __('events|plural'),
                            url: buildFilteredUrl(data, 'event'),
                            numResults: results.numEvents,
                            isActive: data.activeFilter === 'event'
                          })
                        }}
                        {{
                          filterTab({
                            label: __('people|plural'),
                            url: buildFilteredUrl(data, 'person'),
                            numResults: results.numPeople,
                            isActive: data.activeFilter === 'person'
                          })
                        }}
                        {{
                          filterTab({
                            label: __('organizations|plural'),
                            url: buildFilteredUrl(data, 'organization'),
                            numResults: results.numOrgs,
                            isActive: data.activeFilter === 'organization'
                          })
                        }}
                        {{
                          filterTab({
                            label: __('media|plural'),
                            url: buildFilteredUrl(data, 'media'),
                            numResults: results.numMedia,
                            isActive: data.activeFilter === 'media'
                          })
                        }}
                        {{
                          filterTab({
                            label: __('education|plural'),
                            url: buildFilteredUrl(data, 'education'),
                            numResults: results.numAcademia,
                            isActive: data.activeFilter === 'education'
                          })
                        }}
                      </ul>
                    </div>
                  {%- endif -%}
                  {# search filters end #}

                  {{ pieceListWithType(data.docs) }}
                  {% include "pager.html" %}
                {%- endif -%}
              {%- else -%}
                {%- if data.query.q -%}
                  <p>
                    {{
                      apos.aemI18n.replace(
                        __('search|noResultsLabel'),
                        [{ pattern: '%s', str: data.query.q }]
                      )
                    }}
                  </p>
                {%- endif -%}
                <p>{{ __('search|noResultsSuggestion') }}</p>
              {%- endif -%}
            </section>
          </div>

            {% include "partials/sidebar/sidebar.njk" %}
        </article>
      </main>
    </div>
  </div>
{% endblock %}

