{% extends "layouts/layout.njk" %}

{% from 'macros/piece-index.njk' import pieceList %}

{% block title %}
  {{ data.page.title }} | Arts et Médias
{% endblock %}

{% block main %}
  <div class="page-search">
    <div class="content">
      <main id="main">
        <article>
          <h1 class="sr-only">{{ data.page.title }}</h1>

          <form
            data-apos-search-page-form
            class="search-form"
            method="GET"
            action="{{ data.url | e }}"
          >
            <fieldset class="search-fieldset">
              <legend class="ld-meta">
                {{ __ns('apostrophe', 'New Search') }}
              </legend>
              <input
                data-apos-search-field
                class="search-input"
                type="search"
                value="{{ data.query.q | e }}"
                name="q"
              />
              <input
                class="search-button"
                type="submit"
                value="Search"
              />
            </fieldset>
            {#
              TODO: filters should sort results

              {% if data.filters %}
                <fieldset>
                  <legend class="filter-legend">
                    {{ __ns('apostrophe', 'Filter Results By Type') }}
                  </legend>
                  <ul class="filter-list">
                    {% for filter in data.filters %}
                      <li class="list-item">
                        <input
                          data-apos-search-filter
                          class="filter-option"
                          type="checkbox"
                          name="{{ filter.name | e }}"
                          {% if filter.value %}checked{% endif %}
                          value="1"
                        />
                        <span class="filter-option-label">
                          {{ filter.label | e }}
                        </span>
                      </li>
                    {% endfor %}
                  </ul>
                </fieldset>
              {% endif %}
              #}
          </form>

          <div class="page-content">
            <section class="search-results">
              <h2 class="title">Search Results</h2>
              {{ pieceList(data.docs) }}

              {% include "pager.html" %}
            </section>
          </div>

          {% include "partials/sidebar/sidebar.njk" %}
        </article>
      </main>
    </div>
  </div>
{% endblock %}

