{% extends "layouts/layout.njk" %}

{%- from 'macros/metadata.njk' import minimalMetaData -%}
{%- from 'macros/piece-index.njk' import pieceListWithType -%}


{%- set hasQuery = data.query !== null and data.query.q !== '' and data.query.q !== undefined -%}
{%- set numResults = data.docs|length -%}


{% block title %}
  {{ apos.aemSeo.buildSimplePageTitle(__, data.page.title) }}
{% endblock %}

{% block metadata %}
  {{
    minimalMetaData({
      title: __('search|heading'),
      url: data.page._url,
      baseUrl: apos.aemUtils.ensureHTTPS(data.baseUrl)
    })
  }}
{% endblock %}

{% block main %}
  <div class="page-search">
    <div class="content">
      <main id="main" tabindex="-1">
        <article>
          <h1 class="sr-only">{{ __('search|heading') }}</h1>

          <form
            data-apos-search-page-form
            class="main-search-form"
            method="GET"
            action="{{ data.url | e }}"
          >
            <fieldset class="search-fieldset">
              <input
                data-apos-search-field
                class="search-input"
                type="search"
                value="{{ data.query.q | e }}"
                placeholder="{{ __('search|placeholder') }}"
                name="q"
              />
              <button
                type="submit"
                class="search-button"
              >
                <img
                  class="icon"
                  src="/img/icon-search.svg"
                  alt=""
                />
                <span class="label">
                  {{ __('search|buttonLabel') }}
                </span>
              </button>
            </fieldset>

            {#
              TODO: filters should sort results

              {% if data.filters %}
                <fieldset>
                  <legend class="filter-legend">
                    {{ __ns('apostrophe', 'Filter Results By Type') }}
                  </legend>
                  <ul class="filter-list">
                    {% for filter in data.filters %}
                      <li class="list-item">
                        <input
                          data-apos-search-filter
                          class="filter-option"
                          type="checkbox"
                          name="{{ filter.name | e }}"
                          {% if filter.value %}checked{% endif %}
                          value="1"
                        />
                        <span class="filter-option-label">
                          {{ filter.label | e }}
                        </span>
                      </li>
                    {% endfor %}
                  </ul>
                </fieldset>
              {% endif %}
            #}
          </form>

          <div class="page-content">
            <section class="search-results">
              {%- if numResults -%}
                {%- if hasQuery -%}
                  <h2 class="title">{{ __('search|resultsLabel') }}</h2>
                  {%- if data.query.q -%}
                    <p>
                      {{
                        apos.aemI18n.replace(
                          __('search|resultsDetails'),
                          [{ pattern: '%s', str: data.query.q }]
                        )
                      }}
                    </p>
                  {%- endif -%}
                {%- else -%}
                  <h2 class="title">{{ __('search|heading') }}</h2>
                {%- endif -%}
                {{ pieceListWithType(data.docs) }}
                {% include "pager.html" %}
              {%- else -%}
                {%- if data.query.q -%}
                  <p>
                    {{
                      apos.aemI18n.replace(
                        __('search|noResultsLabel'),
                        [{ pattern: '%s', str: data.query.q }]
                      )
                    }}
                  </p>
                {%- endif -%}
                <p>{{ __('search|noResultsSuggestion') }}</p>
              {%- endif -%}
            </section>
          </div>

          {% include "partials/sidebar/sidebar.njk" %}
        </article>
      </main>
    </div>
  </div>
{% endblock %}

