<section>
  <hr class="separator"/>
  <p>Is something missing or erroneous?</p>
  <p>Consider contributing to help us maintain this site up to date.</p>
  <a class="cta" href="/help">Help us</a>
</section>
