<section>
  <hr class="separator"/>
  <h2 class="h1 sr-only">{{ __('sidebar|helpHeading') }}</h2>
  <p>{{ __('sidebar|helpParagraph1') }}</p>
  <p>{{ __('sidebar|helpParagraph2') }}</p>
  <a class="cta" href="/help">{{ __('sidebar|helpUsCTA') }}</a>
</section>
