{%- from 'macros/search.njk' import searchInput -%}

<section class="sidebar-search">
  <hr class="separator"/>
  {{
    searchInput({
      id: 'sidebarSearchInput',
      label: __('search|buttonLabel')
    })
  }}
</section>
