{%- from 'macros/search.njk' import searchInput -%}


<section class="sidebar-search">
  {{
    searchInput({
      id: 'sidebarSearchInput',
      label: __('search|buttonLabel')
    })
  }}
</section>
