<aside class="sidebar">
  <section>
    <h2 class="h1">Sidebar</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, corporis. Laboriosam quisquam doloremque in accusantium natus deserunt ab quo. Dolorem natus totam iure, consequatur odit voluptatibus beatae sunt inventore iusto?</p>
  </section>
  {% include "partials/sidebar/help-cta.njk" %}
</aside>
