{%- from 'macros/search.njk' import searchInput -%}

<aside class="sidebar">
  <section>
    {{
      searchInput({
        id: 'sidebarSearchInput',
        label: __('search|buttonLabel')
      })
    }}
  </section>
  {% include "partials/sidebar/help-cta.njk" %}
</aside>
