<div class="twitter-timeline-container">
  <a
    class="twitter-timeline"
    href="https://twitter.com/arts_et_medias"
    data-dnt="true"
    data-lang="en"
    data-link-color="#1276D3"
    data-chrome="noheader nofooter transparent"
    data-height="420"
  ></a>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <a class="cta twitter-cta" href="https://twitter.com/arts_et_medias">Read more tweets</a>
</div>
