{%- set twitterColumnHeight = 420 -%}
{%- if (apos.aemPieces.hasFeaturedArticle(data)) -%}
  {%- set twitterColumnHeight = 920 -%}
{%- endif -%}

<div class="twitter-timeline-container">
  <a
    class="twitter-timeline"
    href="{{ __('global|twitterURL') }}"
    data-dnt="true"
    data-lang="en"
    data-link-color="#1276D3"
    data-chrome="noheader nofooter transparent"
    data-height={{ twitterColumnHeight }}
  ></a>

  <a
    class="cta twitter-cta"
    href="{{ __('global|twitterURL') }}"
  >{{ __('global|twitterReadMoreCTA') }}</a>
</div>
