<div class="twitter-timeline-container">
  <a
    class="twitter-timeline"
    href="{{ __('global|twitterURL') }}"
    data-dnt="true"
    data-lang="en"
    data-link-color="#1276D3"
    data-chrome="noheader nofooter transparent"
    data-height="420"
  ></a>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <a
    class="cta twitter-cta"
    href="{{ __('global|twitterURL') }}"
  >{{ __('global|twitterReadMoreCTA') }}</a>
</div>
