<nav class="sub-nav">
  <ul class="content sub-nav-list">
    <li>
      <a href="/education/workshops">Workshops</a>
    </li>
    <li>
      <a href="/education/programs">Academic Programs</a>
    </li>
    <li>
      <a href="/education/institutions">Academic Institutions</a>
    </li>
  </ul>
</nav>
