{% macro sidebarLink(category) %}
  <a href="{{ __('education|categories|' + category + '|url') }}">
    {{ __('education|categories|' + category + '|title') }}
  </a>
{% endmacro %}


<section class="in-this-section">
  <h2 class="h1">{{ __('sidebar|inThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ sidebarLink('undergrad') }}
    </li>
    <li>
      {{ sidebarLink('masters') }}
    </li>
    <li>
      <a href="{{ __('organizations|categories|academicInstitutions|url') }}">
        {{ __('organizations|categories|academicInstitutions|title') }}
      </a>
    </li>
  </ul>
</section>
