<section class="in-this-section">
  <h2 class="h1">In This Section</h2>
  <ul>
    {# TODO: show when there are college programs #}
    {#
    <li>
      <a href="/education/college-programs">College Programs</a>
    </li>
     #}
    <li>
      <a href="/education/undergrad-programs">Undergrad Programs</a>
    </li>
    <li>
      <a href="/education/graduate-programs">Graduate Programs</a>
    </li>
  </ul>
</section>
