{%- from 'macros/sidebar.njk' import educationLink, orgsLink -%}


<section class="in-this-section">
  <h2 class="h1">{{ __('sidebar|inThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ educationLink('undergrad') }}
    </li>
    <li>
      {{ educationLink('grad') }}
    </li>
    <li>
      {{ educationLink('postgrad') }}
    </li>
    <li>
      {{ educationLink('other') }}
    </li>
    <li>
      {{ orgsLink('academicInstitutions') }}
    </li>
  </ul>
</section>
