<section>
  <h2 class="h1">In This Section</h2>
  <ul>
    <li>
      <a href="/education/workshops">Workshops</a>
    </li>
    <li>
      <a href="/education/programs">Academic Programs</a>
    </li>
  </ul>
</section>
