<div class="content-template index-main-partial">
  <main id="main" class="content">
    <article class="template-content">
      <h1>{{ data.page.title }}</h1>
      <ul class="index-list">
        <li>
          <a href="/education/workshops">Workshops</a>
        </li>
        <li>
          <a href="/education/programs">Programs</a>
        </li>
        <li>
          <a href="/education/institutions">Institutions</a>
        </li>
      </ul>
    </article>
  </main>
</div>
