{%- from 'macros/search.njk' import searchInput -%}


<section class="section-mt">
  {{
    searchInput({
      id: 'educationSearchInput',
      type: 'aem-education',
      label: __('education|searchLabel')
    })
  }}
</section>
