{%- from 'macros/banner-ad.njk' import containedSidebarBanners -%}


<aside class="sidebar">
  <article>
    {{
      containedSidebarBanners({
        data: data,
        propName: 'educationSidebarBanners1',
        hasTopSeparator: false,
        hasBottomSeparator: true
      })
    }}

    {% include "partials/education/in-this-section.njk" %}
    {% include "partials/education/related.njk" %}

    {{
      containedSidebarBanners({
        data: data,
        propName: 'educationSidebarBanners2',
        hasTopSeparator: true,
        hasBottomSeparator: false
      })
    }}

    <hr class="separator" />

    {% include "partials/education/search.njk" %}

    <hr class="separator" />

    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
