<aside class="sidebar">
  <article>
    <section>
      <h2 class="h1">In This Section</h2>
      <ul>
        <li>
          <a href="/education/workshops">Workshops</a>
        </li>
        <li>
          <a href="/education/programs">Academic Programs</a>
        </li>
        <li>
          <a href="/education/institutions">Academic Institutions</a>
        </li>
      </ul>
    </section>
    {% include "partials/education/search-en.njk" %}
    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
