{%-
  set collaboratorMenuItems = [
    {
      "menu": true,
      "items": [
        {
          "name": "apostrophe-global",
          "label": "Global",
          "permission": "admin-apostrophe-global",
          "options": {},
          "menuLeader": "apostrophe-global"
        },
        {
          "name": "apostrophe-tags",
          "label": "Tags",
          "permission": "",
          "options": {},
          "menuLeader": "apostrophe-global"
        },
        {
          "name": "apostrophe-workflow-manage-modal",
          "label": "Submitted",
          "options": {},
          "menuLeader": "apostrophe-global"
        }
      ],
      "leader": {
        "name": "apostrophe-global",
        "label": "Global",
        "permission": "admin-apostrophe-global",
        "options": {},
        "menuLeader": "apostrophe-global"
      },
      "label": "Admin"
    },
    {
      "menu": true,
      "items": [
        {
          "name": "apostrophe-images",
          "label": "Images",
          "permission": "edit-apostrophe-image",
          "options": {},
          "menuLeader": "apostrophe-images"
        }
      ],
      "leader": {
        "name": "apostrophe-images",
        "label": "Images",
        "permission": "edit-apostrophe-image",
        "options": {},
        "menuLeader": "apostrophe-images"
      },
      "label": "Files"
    },
    {
      "menu": true,
      "items": [
        {
          "name": "aem-persons",
          "label": "People",
          "permission": "edit-person",
          "options": {},
          "menuLeader": "aem-persons"
        },
        {
          "name": "aem-organizations",
          "label": "Organizations",
          "permission": "edit-organization",
          "options": {},
          "menuLeader": "aem-persons"
        },
        {
          "name": "aem-media",
          "label": "Medias",
          "permission": "edit-media",
          "options": {},
          "menuLeader": "aem-persons"
        }
      ],
      "leader": {
        "name": "aem-persons",
        "label": "People",
        "permission": "edit-person",
        "options": {},
        "menuLeader": "aem-persons"
      },
      "label": "People and Organizations"
    },
    {
      "menu": true,
      "items": [
        {
          "name": "aem-education",
          "label": "Academic programs",
          "permission": "edit-education",
          "options": {},
          "menuLeader": "aem-education"
        },
        {
          "name": "aem-articles",
          "label": "Articles",
          "permission": "edit-article",
          "options": {},
          "menuLeader": "aem-education"
        },
        {
          "name": "aem-books",
          "label": "Books",
          "permission": "edit-book",
          "options": {},
          "menuLeader": "aem-education"
        },
        {
          "name": "aem-events",
          "label": "Events",
          "permission": "edit-event",
          "options": {},
          "menuLeader": "aem-education"
        },
        {
          "name": "aem-projects",
          "label": "Projects",
          "permission": "edit-project",
          "options": {},
          "menuLeader": "aem-education"
        }
      ],
      "leader": {
        "name": "aem-education",
        "label": "Academic programs",
        "permission": "edit-education",
        "options": {},
        "menuLeader": "aem-education"
      },
      "label": "Content Pieces"
    },
    {
      "menu": true,
      "items": [
        {
          "name": "aem-sponsors",
          "label": "Sponsors",
          "permission": "edit-sponsor",
          "options": {},
          "menuLeader": "aem-banner-ads"
        },
        {
          "name": "aem-banner-ads",
          "label": "Banner Ads",
          "permission": "edit-banner",
          "options": {},
          "menuLeader": "aem-banner-ads"
        }
      ],
      "leader": {
        "name": "aem-banner-ads",
        "label": "Banner Ads",
        "permission": "edit-banner",
        "options": {},
        "menuLeader": "aem-banner-ads"
      },
      "label": "Sponsored Content"
    },
    {
      "name": "apostrophe-login-logout",
      "label": "Log Out",
      "permission": null,
      "options": {
        "last": true,
        "href": "/logout"
      }
    }
  ]
-%}
