@use 'variables' as vars;
@use 'ui' as ui;

@use '../mixins/mixins' as mx;


// dom elements
body {
  background-color: vars.$almostWhite;
  font-size: 0 !important;
  overflow-x: hidden;
}

img {
  line-height: 0;
  font-size: 0;
}

a {
  @include ui.anchor();
  color: vars.$black;
}

::selection {
  background-color: vars.$main;
  color: vars.$white;
}

main {
  &:focus {
    @include ui.noFocusOutline();
  }
}


// apostrophe
.apos-area-widget-controls {
  opacity: 0.8;
}

body {
  &[data-apos-workflow-mode="draft"] {
    [data-apos-widget-wrapper="aem-articles-featured"],
    [data-apos-widget-wrapper="aem-banner-ads"],
    [data-apos-widget-wrapper="aem-books-featured"],
    [data-apos-widget-wrapper="aem-education-featured"],
    [data-apos-widget-wrapper="aem-education-featured"],
    [data-apos-widget-wrapper="aem-events-featured"],
    [data-apos-widget-wrapper="aem-organizations-featured"],
    [data-apos-widget-wrapper="aem-projects-featured"],
    [data-apos-widget-wrapper="aem-link"],
    [data-apos-widget-wrapper="aem-video"],
    [data-apos-widget-wrapper="apostrophe-images"],
    [data-apos-widget="apostrophe-rich-text"] > .apos-rich-text {
      @include ui.cmsOutline();
    }
  }

  .apos-empty {
    @include ui.cmsOutline();
  }
}

[data-apos-widget="apostrophe-rich-text"] > [data-rich-text]:focus {
  @include ui.cmsOutline();
}

.apos-modal-body {
  .image-widget-simplified {
    img {
      display: inline-block;
      width: 100%;
    }
  }
}

// common
.content {
  @include mx.contentContainer();

  h1 {
    @include ui.heading1();
  }

  h2 {
    @include ui.heading2();
  }

  h3 {
    @include ui.heading3();
  }

  h4 {
    @include ui.heading4();
  }

  p {
    @include ui.paragraph();
  }
}

.page-content {
  @include mx.nColumnWidth(6);
  display: inline-block;
  vertical-align: top;

  @media #{ vars.$mqTablet } {
    @include mx.nColumnWidth(8);
  }
}

.latest-pieces-heading {
  border-bottom: 1px solid vars.$lightGrey;
  color: vars.$halfGrey;
  font-family: vars.$ffTextBody;
  font-size: vars.$fsVerySmol;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 60px;
  padding-bottom: 10px;
}

.cta,
.website-cta {
  @include ui.button();
  color: vars.$almostWhite;
  font-size: vars.$fsSmol;
  width: 100%;

  @media #{ vars.$mqTablet } {
    width: max-content;
  }

  @media #{ vars.$mqDesktop } {
    font-size: vars.$fsVerySmol;
  }

  .icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
  }
}

.separator {
  border: none;
  border-bottom: 1px solid vars.$lightGrey;
  margin: 40px auto;
  width: 66%;

  &.no-mt {
    margin-top: 0
  }

  &.no-mb {
    margin-bottom: 0
  }
}


// a11y
.sr-only {
  @include mx.visuallyHidden();
}
