$phone: 375px;
$tablet: 768px;
$desktop: 1024px;
$mediumDesktop: 1280px;
$largeDesktop: 1440px;
$highDefinition: 1920px;

$mqPhone: 'only screen and (min-width: #{$phone})';
$mqTablet: 'only screen and (min-width: #{$tablet})';
$mqDesktop: 'only screen and (min-width: #{$desktop})';
$mqMediumDesktop: 'only screen and (min-width: #{$mediumDesktop})';
$mqLargeDesktop: 'only screen and (min-width: #{$largeDesktop})';
$mqHighDef: 'only screen and (min-width: #{$highDefinition})';
