$white: #fff;
$almostWhite: #f8f8f8;
$lightestGrey: #eee;
$lighterGrey: #dcdcdc;
$lightGrey: #bababa;
$halfGrey: #707070;
$darkGrey: #3b3b3b;
$black: #010408;

$red: #E61300;
$green: #00a77b;
$blue: #1276D3;

$main: $blue;
$cmsColor: $main;
