$white: #fff;
$almostWhite: #f8f8f8;
$lightestGrey: #eee;
$lighterGrey: #dcdcdc;
$lightGrey: #bababa;
$halfGrey: #707070;
$darkGrey: #3b3b3b;
$black: #000;

$main: #1276D3;
$red: #E61300;

$aposGreen: #00a77b;

// TODO: eventually use $main, so apos ui can actually follow the brand colors
$cmsColor: $aposGreen;
