// serif
@font-face {
  font-family: 'YoungSerifRegular';
  src: url('../../../fonts/youngserif/YoungSerif-Regular.woff2') format('woff2');
  font-display: swap;
}

// sans serif
@font-face {
  font-family: 'QuebecLight';
  src: url('../../../fonts/quebec/Quebec-Light.otf');
  font-display: swap;
}
