// serif
@font-face {
  font-family: 'YoungSerifRegular';
  src: url('https://static.arts-et-medias.net/fonts/youngserif/YoungSerif-Regular.otf');
  font-display: swap;
}

// sans serif
@font-face {
  font-family: 'QuebecLight';
  src: url('https://static.arts-et-medias.net/fonts/quebec/Quebec-Light.otf');
  font-display: swap;
}
