// font families
$ffHeading: 'YoungSerifRegular', Impact, Arial Black, sans-serif;
$ffTextBody: 'QuebecLight', Verdana, sans-serif;
$ffButtonLabel: $ffHeading;

// font sizes
$fsTextBody: 12.5pt;
$fsSmol: 11.25pt;
$fsVerySmol: 10pt;
