@import 'variables';


// headings
@mixin headingBase {
  font-family: $ffHeading;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  margin: 20px 0 15px 0;

  strong {
    font-weight: normal;
    font-style: normal;
  }
}

@mixin heading1 {
  @include headingBase();
  font-size: 25pt;

  @media #{$mqTablet} {
    font-size: 30pt;
  }
}

@mixin heading2 {
  @include headingBase();
  font-size: 22.5pt;
}

@mixin heading3 {
  @include headingBase();
  font-size: 17.5pt;
}

@mixin heading4 {
  @include headingBase();
  font-size: 17.5pt;
}

@mixin heading5 {
  font-family: $ffTextBody;
  font-size: 15pt;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0 15px 0;
}

@mixin heading6 {
  font-family: $ffTextBody;
  font-size: $fsTextBody;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0 15px 0;
}

@mixin contentTypeHeading {
  border-bottom: 1px solid $lightGrey;
  color: $halfGrey;
  font-family: $ffTextBody;
  font-size: $fsVerySmol;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  vertical-align: top;
}

@mixin minorText {
  color: $darkGrey;
  font-family: $ffTextBody;
  font-size: $fsSmol;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;

  @media #{$mqXL} {
    line-height: 1.625;
  }
  @media #{$mqXXL} {
    line-height: 1.75;
    font-size: $fsBigTextBody;
  }
}

// text blocks
@mixin paragraph {
  font-family: $ffTextBody;
  font-size: $fsTextBody;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 15px 0;
  text-align: left;
  word-wrap: break-word;

  @media #{$mqXL} {
    line-height: 1.625;
  }
  @media #{$mqXXL} {
    line-height: 1.75;
    font-size: $fsBigTextBody;
  }
}

@mixin list {
  @include paragraph();
  position: relative;
  padding-left: 25px;
}

@mixin unorderedListItem {
  position: relative;
  margin-bottom: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:before {
    position: absolute;
    content: "\2014";
    left: -25px;
    margin-right: 5px;
  }
}

// interactive elements
@mixin button {
  // should be applicable to both <button> and <a>
  // and provide the exact same visual behaviour

  display: inline-block;
  background-color: $black;
  border: 2px solid transparent;
  color: $almostWhite;
  cursor: pointer;
  font-family: $ffButtonLabel;
  font-size: $fsVerySmol;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  height: 35px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $white;
    border: 2px solid $main;
    color: $main;
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  &:focus {
    @include focusOutline();
  }
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
  }
}

@mixin anchor {
  background-color: transparent;
  border: none;
  color: $black;
  cursor: pointer;
  font-family: $ffTextBody;
  font-style: normal;
  font-weight: normal;
  height: inherit;
  line-height: inherit;
  padding: 0;
  text-align: inherit;
  text-decoration: underline;
  text-decoration-color: $main;
  text-decoration-thickness: 2px;

  &:hover {
    color: $main;
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  &:focus {
    @include focusOutline();
  }
}

@mixin select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: $black;
  background-image: url(/img/icon-white-caret-down.svg);
  background-position-x: 80%;
  background-position-y: 10px;
  background-repeat: no-repeat;
  background-size: 15px 20px;
  border: none;
  color: $almostWhite;
  cursor: pointer;
  font-family: $ffButtonLabel;
  font-size: $fsVerySmol;
  font-style: normal;
  font-weight: normal;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 30px;

  &:focus {
    @include focusOutline();
    color: $almostWhite !important;
  }

  // fix for firefox removes dotted outline on selection option
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $black;
  }
}

// forms
@mixin fieldset {
  font-family: $ffTextBody;
  font-weight: normal;
}

@mixin fieldsetLegend {
  font-size: 0;
  height: 0;
  visibility: hidden;
  width: 0;
}

@mixin textInput {
  display: inline-block;
  -webkit-appearance: none;
  background-color: $almostWhite;
  border-radius: 0;
  border: 1px solid $black;
  color: $black;
  font-family: $ffTextBody;
  font-size: 10pt;
  font-weight: normal;
  height: 35px;
  line-height: 1;
  padding: 0 10px;

  &:focus {
    @include focusOutline();
    background-color: $white;
  }

  &::placeholder {
    color: $halfGrey;
    opacity: 1;
  }
}

@mixin inputLabel {
  display: block;
  color: $black;
  font-family: $ffButtonLabel;
  font-size: 10pt;
  font-weight: normal;
  margin-bottom: 5px;
}

@mixin radioButton {
  font-family: $ffTextBody;
  font-weight: normal;
}

@mixin checkboxButton {
  font-family: $ffTextBody;
  font-weight: normal;
}

// a11y
@mixin focusOutline($color: $main) {
  border-color: $color !important;
  box-shadow: 0 0 0 2.5pt $color !important;
  outline: 0 !important;
  transition: box-shadow 0s linear !important;

  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin noFocusOutline {
  border-color: transparent;
  box-shadow: none;
  outline: none;

  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin aposFocus {
  outline: $aposGreen dotted 2px;
}
