@import 'variables';


// headings
@mixin headingBase {
  font-family: $ffHeading;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  margin: 20px 0 15px 0;

  strong {
    font-weight: normal;
    font-style: normal;
  }
}
@mixin heading1 {
  @include headingBase();
  font-size: 30pt;
}
@mixin heading2 {
  @include headingBase();
  font-size: 22.5pt;
}
@mixin heading3 {
  @include headingBase();
  font-size: 20pt;
}
@mixin heading4 {
  @include headingBase();
  font-size: 17.5pt;
}
@mixin heading5 {
  font-family: $ffTextBody;
  font-size: 15pt;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0 15px 0;
}
@mixin heading6 {
  font-family: $ffTextBody;
  font-size: 12.5pt;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0 15px 0;
}

// text blocks
@mixin paragraph {
  font-family: $ffTextBody;
  font-size: 12.5pt;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 15px 0;
  text-align: left;
}
@mixin list {
  @include paragraph();
}
@mixin unorderedListItem {
  margin-bottom: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:before {
    margin-right: 10px;
    content: "\2014";
  }
}

// interactive elements
@mixin button {
  // should be applicable to both <button> and <a>
  // and provide the exact same visual behaviour

  display: inline-block;
  background-color: $black;
  border: 1px solid transparent;
  color: $white;
  cursor: pointer;
  font-family: $ffButtonLabel;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background-color: $white;
    color: $black;
    border: 1px solid $black;
  }
  &:active {
    text-decoration: none;
  }
  &:focus {
    @include focusOutline();
  }
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
  }
}
@mixin anchor {
  cursor: pointer;
  font-family: $ffTextBody;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;

  &:hover {
    color: $main;
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  &:focus {
    @include focusOutline();
  }
}
@mixin select {
  @include paragraph();
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  appearance: none;
  background-color: transparent;
  background-image: url(/svg/icon-caret-down.min.svg);
  background-position-x: 100%;
  background-position-y: 2px;
  background-repeat: no-repeat;
  background-size: 10px 20px;
  border-bottom-color: $black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  color: $black;
  cursor: pointer;
  padding-bottom: 6px;
  padding-right: 20px;
  position: relative;

  &:focus {
    @include focusOutline();
  }

  // fix for firefox removes dotted outline on selection option
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $black;
  }
}

// forms
@mixin fieldset {
  font-family: $ffTextBody;
  font-weight: normal;
}
@mixin fieldsetLegend {
  font-size: 0;
  height: 0;
  visibility: hidden;
  width: 0;
}
@mixin textInput {
  -webkit-appearance: none;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 0;
  color: $black;
  font-family: $ffTextBody;
  font-size: 10pt;
  font-weight: normal;
  line-height: 20px;
  padding: 4px 5px 6px 5px;

  &:focus {
    @include focusOutline();
  }

  &::placeholder {
    color: $halfGrey;
  }
}
@mixin inputLabel {
  display: block;
  color: $black;
  font-family: $ffButtonLabel;
  font-size: 10pt;
  font-weight: normal;
  margin-bottom: 5px;
}
@mixin radioButton {
  font-family: $ffTextBody;
  font-weight: normal;
}
@mixin checkboxButton {
  font-family: $ffTextBody;
  font-weight: normal;
}

// a11y
@mixin focusOutline($color: $main) {
  border-color: $color !important;
  box-shadow: 0 0 0 2.5pt $color !important;
  outline: 0 !important;
  transition: box-shadow 0s linear !important;

  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin aposFocus {
  outline: $aposGreen dotted 2px;
}
