@import 'breakpoints';
@import 'colors';
@import 'typography';


// content width
$phoneContent: 320px;
$tabletContent: 760px;
$desktopContent: 930px;

// gutter width
$gutterWidthXs: 16px; // mobile
$gutterWidthSm: 20px; // tablet
$gutterWidthMd: 30px; // desktop

// column width
$columnWidthXs: 40px; // mobile
$columnWidthSm: 45px; // tablet
$columnWidthMd: 50px; // desktop
