{% extends "layouts/indexLayout.njk" %}

{% from 'macros/piece-index.njk' import educationList %}


{%- set isFirstPage = (data.currentPage === 1) -%}
{%- set hasTags = (data.page.withTags|length > 0) -%}


{% block title %}
  {{
    apos.aemSeo.buildCategoryIndex(
      __,
      __('education|heading'),
      data.page.title
    )
  }}
{% endblock %}

{% block mainAdditionalClasses %}education-index{% endblock %}

{% block pageContent %}
  {%- if isFirstPage and not hasTags -%}
    {% include "partials/education/featured.njk" %}
    <hr class="separator" />
  {%- endif -%}

  {# pieces list #}
  {%-
    set filteredPieces = apos.aemPieces.getWithTags(
      data.educationByTitle,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}
  {{ educationList(piecesOnPage) }}

  {# pagination #}
  {{
    pager.render(
      {
        page: data.currentPage,
        total: data.totalPages
      },
      data.url
    )
  }}
{% endblock %}

{% block sidebar %}
  {%- if hasTags -%}
    {% include "partials/education/sidebar-en.njk" %}
  {%- elseif isFirstPage -%}
    {% include "partials/education/sidebar-no-feature-en.njk" %}
  {%- else -%}
    {% include "partials/education/sidebar-en.njk" %}
  {%- endif -%}
{% endblock %}
