{% extends "layouts/indexLayout.njk" %}

{%- from 'macros/banner-ad.njk' import leaderboard -%}
{% from 'macros/piece-index.njk' import educationList %}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set isFirstPage = (data.currentPage === 1) -%}
{%- set hasTags = apos.aemPieces.hasTags(data.page) -%}


{% block title %}
  {{
    apos.aemSeo.buildCategoryIndex(
      __,
      __('education|heading'),
      data.page.title
    )
  }}
{% endblock %}

{% block mainAdditionalClasses %}education-index{% endblock %}

{% block advertisementBeforeMain %}
  {% include "partials/education/top-leaderboard.njk" %}
{% endblock %}

{% block pageContent %}
  {%- if isFirstPage and not hasTags -%}
    {% include "partials/education/featured.njk" %}
    <hr class="separator" />
  {%- endif -%}

  {# pieces list #}
  {%-
    set filteredPieces = apos.aemPieces.getWithTags(
      data.educationByTitle,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}

  {%- if piecesOnPage|length -%}
    {{ educationList(piecesOnPage, locale) }}

    {# pagination #}
    {{
      pager.render(
        {
          page: data.currentPage,
          total: data.totalPages
        },
        data.url
      )
    }}
  {%- else -%}
    <div class="no-pieces">
      {{ __('education|noPiecesLabel') }}
    </div>
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {%- if hasTags -%}
    {% include "partials/education/sidebar-en.njk" %}
  {%- elseif isFirstPage -%}
    {% include "partials/education/sidebar-no-feature-en.njk" %}
  {%- else -%}
    {% include "partials/education/sidebar-en.njk" %}
  {%- endif -%}
{% endblock %}
