{% extends "layouts/pieceDetailsLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard -%}
{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/lang-list.njk' import langList -%}
{%- from 'macros/piece-details.njk' import relatedOrganizations, relatedPieces, tags, websiteCTA -%}
{%- from 'macros/piece-link-list.njk' import orgLinkList -%}
{%- from 'options/options.njk' import fixedRichTextOptions -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set piece = data.piece -%}
{%- set mainLBOptions = { data: data, propName: 'educationLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'educationMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}


{% block title %}
  {{
    apos.aemSeo.buildPieceWithType(
      __,
      piece.title,
      __('education|heading')
    )
  }}
{% endblock %}

{% block mainAdditionalClasses %}education-details{% endblock %}

{% block subheading %}
  <div class="subheading">
    {%- set institution = piece._institution[0] -%}
    <h2 class="sr-only">
      {{ __('organizations|categories|academicInstitutions|singular') }}
    </h2>
    {{
      orgLinkList(
        piece._institution,
        {
          locale: locale,
          getCountry: apos.aemI18n.getCountry
        }
      )
    }}
  </div>
{% endblock %}

{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {{
    heroImage(
      piece,
      {
        hasCaption: true,
        isEditable: apos.aemUtils.isDraftMode(data)
      }
    )
  }}

  <h2 class="sr-only">{{ __('pieceDetails|descriptionLabel') }}</h2>
  <div class="description rich-description">
    <div class="rich-content">
      {{
        apos.singleton(
          piece,
          'description',
          'apostrophe-rich-text',
          fixedRichTextOptions
        )
      }}
    </div>
  </div>

  {{ websiteCTA(piece) }}

  {%- if isMinorLBVisible -%}
    {{ inContextLeaderboard(minorLBOptions, {}) }}
  {%- endif -%}

  <hr class="separator"/>

  {{ langList(piece, locale) }}

  {# people #}
  {{ relatedPieces(__('projects|related'), piece._relatedProjects) }}

  {# articles #}
  {{ relatedPieces(__('articles|related'), piece._articles) }}

  {# people #}
  {{ relatedPieces(__('people|related'), piece._relatedPeople) }}

  {# organizations #}
  {{ relatedOrganizations(piece._relatedOrganizations) }}

  {# tags #}
  {{ tags(piece) }}

  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'after' }) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/education/sidebar.njk" %}
{% endblock %}



