{% extends "layouts/pieceDetailsLayout.njk" %}

{%- from 'macros/tag-list.njk' import tagList -%}
{% from 'macros/piece-details.njk' import websiteCTA %}


{%- set piece = data.piece -%}

{% block title %}
  {{ piece.title }} - Education | Arts et Médias
{% endblock %}

{% block mainAdditionalClasses %}education-details{% endblock %}

{% block subheading %}
  <div class="subheading">
    {%- set institution = piece._institution[0] -%}
    <h2 class="sr-only">Institution</h2>
    <ul class="piece-link-list">
      <li>
        <a
          class="piece-link"
          href="{{ institution._url }}"
        >{{ institution.title }}</a>, {{ institution.city }}, {{ institution.country }}
      </li>
    </ul>
  </div>
{% endblock %}

{% block pageContent %}
  {# image start #}
  {%- set aposImageData = apos.images.first(piece.heroImage) -%}
  {%- if aposImageData -%}
    {%- set image = apos.aem.getImageBasicData(aposImageData) -%}
    <img
      class="hero-image"
      src="{{ image.url }}"
      alt="{{ image.alt }}"
    />
  {%- endif -%}
  {# image end #}

  <h2 class="sr-only">Description</h2>
  <p class="description">
    {{ apos.singleton(data.piece, 'description', 'apostrophe-rich-text') }}
  </p>
  {{ websiteCTA(data.piece) }}

  {%- if piece.tags.length -%}
    <hr class="separator" />

    <h2>Tags</h2>
    {{ tagList(piece.tags) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/education/sidebar-en.njk" %}
{% endblock %}



