{% extends "layouts/pieceDetailsLayout.njk" %}

{%- from 'macros/tag-list.njk' import tagList -%}
{% from 'macros/piece-details.njk' import websiteCTA %}

{% block title %}
  {{ data.piece.title }} - Education | Arts et Médias
{% endblock %}

{% block pageContent %}
  <h2 class="sr-only">Institution</h2>
  {%- set institution = data.piece._institution[0] -%}

  <h2 class="sr-only">City</h2>
  <p class="description">
    <a href="{{ institution._url }}">{{ institution.title }}</a>, {{ institution.city }}, {{ institution.country }}
  </p>

  <h2 class="sr-only">Description</h2>
  <p class="description">
    {{ apos.singleton(data.piece, 'description', 'apostrophe-rich-text') }}
  </p>
  {{ websiteCTA(data.piece) }}

  {%- if data.piece.tags.length -%}
    <hr class="separator" />

    <h2>Tags</h2>
    {{ tagList(data.piece.tags) }}
  {%- endif -%}
{% endblock %}
