{%- from 'macros/sidebar.njk' import orgsLink -%}


<section class="in-this-section">
  <h2 class="h1">{{ __('sidebar|inThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ orgsLink('galleries') }}
    </li>
    <li>
      {{ orgsLink('artCenters') }}
    </li>
    <li>
      {{ orgsLink('mediaLabs') }}
    </li>
    <li>
      {{ orgsLink('makerSpaces') }}
    </li>
  </ul>
</section>
