<section>
  <h2 class="h1">In This Section</h2>
  <ul>
    <li>
      <a href="/organizations/galleries">Galleries and Museums</a>
    </li>
    <li>
      <a href="/organizations/art-centers">Art Centers</a>
    </li>
    <li>
      <a href="/organizations/maker-spaces">Maker Spaces</a>
    </li>
    <li>
      <a href="/organizations/media-labs">Media Labs and Research Centres</a>
    </li>
  </ul>
</section>
