{% macro sidebarLink(category) %}
  <a href="{{ __('organizations|categories|' + category + '|url') }}">
    {{ __('organizations|categories|' + category + '|title') }}
  </a>
{% endmacro %}


<section class="in-this-section">
  <h2 class="h1">{{ __('sidebar|inThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ sidebarLink('galleries') }}
    </li>
    <li>
      {{ sidebarLink('artCenters') }}
    </li>
    <li>
      {{ sidebarLink('mediaLabs') }}
    </li>
    <li>
      {{ sidebarLink('makerSpaces') }}
    </li>
  </ul>
</section>
