{% macro sidebarLink(path, useHeading) %}
  <a href="{{ __(path + '|url') }}">
    {%- if useHeading -%}
      {{ __(path + '|heading') }}
    {%- else -%}
      {{ __(path + '|title') }}
    {%- endif -%}
  </a>
{% endmacro %}


<section class="related-to-this-section">
  <h2 class="h1">{{ __('sidebar|relatedToThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ sidebarLink('people|categories|creators') }}
    </li>
    <li>
      {{ sidebarLink('organizations|categories|collectives') }}
    </li>
    <li>
      {{ sidebarLink('people', true) }}
    </li>
  </ul>
</section>
