<section class="related-to-this-section">
  <h2 class="h1">Related to This Section</h2>
  <ul>
    <li>
      <a href="/people/creators">Creators</a>
    </li>
    <li>
      <a href="/people/collectives">Collectives</a>
    </li>
    <li>
      <a href="/people">People</a>
    </li>
  </ul>
</section>
