{%- from 'macros/sidebar.njk' import orgsLink, peopleLink, sidebarPageLink -%}


<section class="related-to-this-section">
  <h2 class="h1">{{ __('sidebar|relatedToThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ peopleLink('creators') }}
    </li>
    <li>
      {{ orgsLink('collectives') }}
    </li>
    <li>
      {{ sidebarPageLink('people') }}
    </li>
  </ul>
</section>
