{%- from 'macros/search.njk' import searchInput -%}


<section class="section-mt">
  {{
    searchInput({
      id: 'organizationsSearchInput',
      type: 'organization',
      label: __('organizations|searchLabel')
    })
  }}
</section>
