<aside class="sidebar">
  <article>
    <section>
      <h2 class="h1">In This Section</h2>
      <ul>
        <li>
          <a href="/organizations/collectives">Collectives</a>
        </li>
        <li>
          <a href="/organizations/galleries">Galleries and Museums</a>
        </li>
        <li>
          <a href="/organizations/art-centers">Art Centers</a>
        </li>
      </ul>
    </section>
    {% include "partials/organizations/search-en.njk" %}
    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
