<aside class="sidebar">
  <article>
    <section>
      <h1>In This Section</h1>
      <ul>
        <li>
          <a href="/organizations/studios">Studios and Collectives</a>
        </li>
        <li>
          <a href="/organizations/galleries">Galleries and Museums</a>
        </li>
        <li>
          <a href="/organizations/art-centers">Art Centers</a>
        </li>
      </ul>
    </section>
    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
