<aside class="sidebar">
  <article>
    <h1>In This Section</h1>
    <ul>
      <li>
        <a href="/organizations/studios">Studios and Collectives</a>
      </li>
      <li>
        <a href="/organizations/galleries">Galleries and Museums</a>
      </li>
    </ul>
  </article>
</aside>
