{% extends "layouts/indexLayout.njk" %}

{% from 'macros/piece-index.njk' import organizationList %}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}


{% block title %}
  {{
    apos.aemSeo.buildCategoryIndex(
      __,
      __('organizations|plural'),
      data.page.title
    )
  }}
{% endblock %}

{% block mainAdditionalClasses %}organizations-index{% endblock %}

{% block pageContent %}
  {# pieces list #}
  {%-
    set filteredPieces = apos.aemPieces.getWithTags(
      data.organizationsByTitle,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}

  {# TODO: use locale's tags #}
  {%- set isCollective = data.page.withTags|length and data.page.withTags.indexOf('collective') > -1 -%}
  {{
    organizationList(
      piecesOnPage,
      {
        hasLocation: not isCollective,
        locale: locale
      }
    )
  }}

  {# pagination #}
  {{
    pager.render(
      {
        page: data.currentPage,
        total: data.totalPages
      },
      data.url
    )
  }}
{% endblock %}

{% block sidebar %}
  {%- set isCollective = data.page.withTags.includes('collective') -%}
  {%- if isCollective -%}
    {% include "partials/people/sidebar-index-en.njk" %}
  {%- else -%}
    {% include "partials/organizations/sidebar-en.njk" %}
  {%- endif -%}
{% endblock %}
