{% extends "layouts/indexLayout.njk" %}

{% from 'macros/piece-index.njk' import organizationList %}


{% block mainAdditionalClasses %}organizations-index{% endblock %}

{% block pageContent %}
  {# pieces list #}
  {%-
    set filteredPieces = apos.aem.getPiecesWithTags(
      data.organizationsByTitle,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aem.getPiecesAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}
  {%- set isCollective = data.page.withTags|length and data.page.withTags.indexOf('collective') > -1 -%}
  {{ organizationList(piecesOnPage, not isCollective) }}

  {# pagination #}
  {{
    pager.render(
      {
        page: data.currentPage,
        total: data.totalPages
      },
      data.url
    )
  }}
{% endblock %}

{% block sidebar %}
  {% include "partials/organizations/sidebar-en.njk" %}
{% endblock %}
