{% extends "layouts/pieceDetailsLayout.njk" %}

{% from 'macros/piece-details.njk' import websiteCTA %}
{% from 'macros/piece-link-list.njk' import sortedPieceLinkList %}
{% from 'macros/tag-list.njk' import tagList %}


{% block title %}
  {{ data.piece.title }} - Organizations | Arts et Médias
{% endblock %}

{% block pageContent %}
  <h2 class="sr-only">City</h2>
  <p class="description">
    {{ data.piece.city }}, {{ data.piece.country }}
  </p>

  <h2 class="sr-only">Description</h2>
  <p class="description">
    {{ apos.singleton(data.piece, 'description', 'apostrophe-rich-text') }}
  </p>

  {%- set isCollective = data.piece.tags.indexOf('collective') > -1 -%}
  {%- set numRelatedPeople = data.piece._relatedPeople|length -%}
  {%- if isCollective and numRelatedPeople > 0 -%}
    <h2>Related People</h2>
    {{ sortedPieceLinkList(data.piece._relatedPeople) }}
  {%- endif -%}
  {{ websiteCTA(data.piece) }}

  {%- if data.piece.tags.length -%}
    <hr class="separator" />

    <h2>Tags</h2>
    {{ tagList(data.piece.tags) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/organizations/sidebar-en.njk" %}
{% endblock %}
