{% extends "layouts/pieceDetailsLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard -%}
{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import relatedEvents, relatedPieces, relatedOrganizations, relatedTaggedPieces, tags, websiteCTA -%}
{%- from 'options/options.njk' import fixedRichTextOptions -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set piece = data.piece -%}
{%- set mainLBOptions = { data: data, propName: 'orgsLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'orgsMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}


{% block title %}
  {{
    apos.aemSeo.buildPieceWithCategory(
      __,
      piece.title,
      __('organizations|plural'),
      data.page.title
    )
  }}
{% endblock %}

{% block mainAdditionalClasses %}organization-details{% endblock %}

{% block subheading %}
  <div class="subheading">
    <h2 class="sr-only">{{ __('pieceDetails|locationLabel') }}</h2>
    <ul class="piece-link-list">
      <li>
        {%- set localizedCountry = apos.aemI18n.getCountry(piece.country, locale) -%}
        {{ piece.city }}, {{ localizedCountry }}
      </li>
    </ul>
  </div>
{% endblock %}

{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {{
    heroImage(
      piece,
      true,
      apos.aemUtils.isDraftMode(data)
    )
  }}

  <h2 class="sr-only">{{ __('pieceDetails|descriptionLabel') }}</h2>
  <div class="description rich-description">
    {{
      apos.singleton(
        piece,
        'description',
        'apostrophe-rich-text',
        fixedRichTextOptions
      )
    }}
  </div>

  {{ websiteCTA(piece) }}

  {%- if isMinorLBVisible -%}
    {{ inContextLeaderboard(minorLBOptions, {}) }}
  {%- endif -%}

  <hr class="separator"/>

  {# projects #}
  {{
    relatedPieces(
      __('pieceDetails|projectsCreatorLabel'),
      piece._projects
    )
  }}

  {# articles #}
  {%-
    set relatedArticles = apos.aemArrays.merge(
      piece._articles,
      piece._articlesWritten
    )
  -%}
  {{ relatedPieces(__('articles|related'), relatedArticles) }}

  {# books #}
  {{ relatedPieces(__('books|related'), piece._books) }}

  {# events #}
  {{ relatedEvents(piece._events) }}

  {# people #}
  {{ relatedPieces(__('people|related'), piece._relatedPeople) }}

  {# orgs #}
  {%-
    set relatedOrgs = apos.aemArrays.merge(
      piece._relatedOrganizations,
      piece._organizations
    )
  -%}
  {{ relatedOrganizations(relatedOrgs) }}

  {# education #}
  {%-
    set relatedPrograms = apos.aemArrays.merge(
      piece._academicPrograms,
      piece._programsMentioned
    )
  -%}
  {{ relatedPieces(__('education|related'), relatedPrograms) }}

  {# tags #}
  {{ tags(piece) }}

  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'after' }) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {%- set isCollective = data.page.withTags.includes('collective') -%}
  {%- if isCollective -%}
    {% include "partials/people/sidebar-index.njk" %}
  {%- else -%}
    {% include "partials/organizations/sidebar.njk" %}
  {%- endif -%}
{% endblock %}
