{% extends "layouts/pieceDetailsLayout.njk" %}

{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import relatedPieces, relatedTaggedPieces, tags, websiteCTA -%}
{%- from 'options/options.njk' import fixedRichTextOptions -%}


{%- set piece = data.piece -%}

{% block title %}
  {{ piece.title }} - Organizations | Arts et Médias
{% endblock %}

{% block mainAdditionalClasses %}organization-details{% endblock %}

{% block subheading %}
  <div class="subheading">
    <h2 class="sr-only">City</h2>
    <ul class="piece-link-list">
      <li>
        {{ piece.city }}, {{ piece.country }}
      </li>
    </ul>
  </div>
{% endblock %}

{% block pageContent %}
  {{ heroImage(piece, true) }}

  <h2 class="sr-only">Description</h2>
  <div class="description rich-description">
    {{
      apos.singleton(
        piece,
        'description',
        'apostrophe-rich-text',
        fixedRichTextOptions
      )
    }}
  </div>

  {{ websiteCTA(piece) }}

  <hr class="separator"/>

  {{ relatedPieces('Related People', piece._relatedPeople) }}

  {%-
    set relatedOrgs = apos.aemArrays.merge(
      piece._relatedOrganizations,
      piece._organizations
    )
  -%}

  {# collectives #}
  {{
    relatedTaggedPieces(
      'Related Collectives',
      relatedOrgs,
      ['collective']
    )
  }}

  {# galleries #}
  {{
    relatedTaggedPieces(
      'Related Galleries',
      relatedOrgs,
      ['gallery', 'museum']
    )
  }}

  {# art centers #}
  {{
    relatedTaggedPieces(
      'Related Art Centers',
      relatedOrgs,
      ['art center']
    )
  }}

  {# academic institutions #}
  {{
    relatedTaggedPieces(
      'Related Academic Institutions',
      relatedOrgs,
      [
        'academic institution',
        'higher education',
        'university'
      ]
    )
  }}

  {# media labs #}
  {{
    relatedTaggedPieces(
      'Related Media Labs and Research Centers',
      relatedOrgs,
      [
        'media lab',
        'archives',
        'art research',
        'research',
        'research-creation'
      ]
    )
  }}

  {{ relatedPieces('Related Articles', piece._articles) }}

  {{ tags(piece) }}
{% endblock %}

{% block sidebar %}
  {%- set isCollective = data.page.withTags.includes('collective') -%}
  {%- if isCollective -%}
    {% include "partials/people/sidebar-index-en.njk" %}
  {%- else -%}
    {% include "partials/organizations/sidebar-en.njk" %}
  {%- endif -%}
{% endblock %}
