{% extends "layouts/indexLayout.njk" %}

{% from 'macros/piece-index.njk' import eventList %}


{%- set isFirstPage = (data.currentPage === 1) -%}
{%- set hasTags = apos.aemPieces.hasTags(data.page) -%}


{% block title %}
  {{
    apos.aemSeo.buildCategoryIndex(
      __,
      __('events|plural'),
      data.page.title
    )
  }}
{% endblock %}

{% block mainAdditionalClasses %}events-index{% endblock %}

{% block pageContent %}
  {%- if isFirstPage and not hasTags -%}
    {% include "partials/events/featured.njk" %}
    <hr class="separator" />
  {%- endif -%}

  {# pieces list #}
  {%-
    set filteredPieces = apos.aemPieces.getWithTags(
      data.orderedEvents,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}
  {{ eventList(piecesOnPage, true) }}

  {# pagination #}
  {{
    pager.render(
      {
        page: data.currentPage,
        total: data.totalPages
      },
      data.url
    )
  }}
{% endblock %}

{% block sidebar %}
  {%- if hasTags -%}
    {% include "partials/events/sidebar-en.njk" %}
  {%- elseif isFirstPage -%}
    {% include "partials/events/sidebar-no-feature-en.njk" %}
  {%- else -%}
    {% include "partials/events/sidebar-en.njk" %}
  {%- endif -%}
{% endblock %}
