{% extends "layouts/pieceDetailsLayout.njk" %}

{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import websiteCTA -%}
{%- from 'macros/piece-link-list.njk' import sortedPieceLinkList -%}
{%- from 'macros/tag-list.njk' import tagList -%}


{% block title %}
  {{ data.piece.title }} - Events | Arts et Médias
{% endblock %}

{% block mainAdditionalClasses %}event-details{% endblock %}

{% block pageContent %}
  {{ heroImage(data.piece) }}

  {%- if data.piece.endDate -%}
    {%- if apos.aem.isTodayBetween(data.piece.startDate, data.piece.endDate) -%}
      {%- set additionalInfo = 'now' -%}
    {%- elseif apos.aem.isPassed(data.piece.startDate) -%}
      {%- set additionalInfo = 'passed' -%}
    {%- endif -%}
  {%- else -%}
    {%- if apos.aem.isToday(data.piece.startDate) -%}
      {%- set additionalInfo = 'today' -%}
    {%- elseif apos.aem.isPassed(data.piece.startDate) -%}
      {%- set additionalInfo = 'passed' -%}
    {%- endif -%}
  {%- endif -%}

  {%- set formattedStartDate = apos.aem.formatDate(data.piece.startDate) -%}
  {%- if not data.piece.endDate or (data.piece.startDate === data.piece.endDate) -%}
    {%- set displayDate = formattedStartDate -%}
  {%- else -%}
    {%- set formattedEndDate = apos.aem.formatDate(data.piece.endDate) -%}
    {%- set displayDate = formattedStartDate + '—' + formattedEndDate -%}
  {%- endif -%}

  <h2 class="sr-only">Date and location</h2>
  <p class="description">
    {{ displayDate }}{%- if additionalInfo -%}<span class="relative-date"> ({{ additionalInfo }})</span>{%- endif -%},<br>
    {{ data.piece.city }}, {{ data.piece.country }}
  </p>

  <h2 class="sr-only">Description</h2>
  <div class="description">
    {{ apos.singleton(data.piece, 'description', 'apostrophe-rich-text') }}
  </div>

  {{ websiteCTA(data.piece) }}

  {%- set hasRelatedPeople = data.piece._relatedPeople|length > 0-%}
  {%- set hasRelatedOrgs = data.piece._relatedOrganizations|length > 0-%}

  {%- if hasRelatedPeople or hasRelatedOrgs -%}
    <hr class="separator"/>
  {%- endif -%}

  {%- if hasRelatedPeople -%}
    <h2>Related People</h2>
    {{ sortedPieceLinkList(data.piece._relatedPeople) }}
  {%- endif -%}

  {%- if hasRelatedOrgs -%}
    <h2>Related Organizations</h2>
    {{ sortedPieceLinkList(data.piece._relatedOrganizations) }}
  {%- endif -%}

  {%- if data.piece.tags.length -%}
    <hr class="separator" />

    <h2>Tags</h2>
    {{ tagList(data.piece.tags) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/events/sidebar-no-feature-en.njk" %}
{% endblock %}
