{% extends "layouts/pieceDetailsLayout.njk" %}

{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import websiteCTA, relatedContent, tags -%}
{%- from 'macros/piece-link-list.njk' import sortedPieceLinkList -%}
{%- from 'options/options.njk' import fixedRichTextOptions -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set piece = data.piece -%}
{%- set isWorkshop = piece.tags.indexOf('workshop') > -1 -%}


{% block title %}
  {{
    apos.aemSeo.buildPieceWithCategory(
      __,
      piece.title,
      __('events|plural'),
      data.page.title
    )
  }}
{% endblock %}

{% block mainAdditionalClasses %}event-details{% endblock %}

{% block pageContent %}
  {{ heroImage(piece, true) }}

  {#- TODO: move to a util? -#}
  {%- if piece.endDate -%}
    {%- if apos.aem.isTodayBetween(piece.startDate, piece.endDate) -%}
      {%- set additionalInfo = __('events|additionalInfo|now') -%}
    {%- elseif apos.aem.isPassed(piece.startDate) -%}
      {%- set additionalInfo = __('events|additionalInfo|passed') -%}
    {%- endif -%}
  {%- else -%}
    {%- if apos.aem.isToday(piece.startDate) -%}
      {%- set additionalInfo = __('events|additionalInfo|today') -%}
    {%- elseif apos.aem.isPassed(piece.startDate) -%}
      {%- set additionalInfo = __('events|additionalInfo|passed') -%}
    {%- endif -%}
  {%- endif -%}

  {%- set formattedStartDate = apos.aem.formatDate(piece.startDate) -%}
  {%- if not piece.endDate or (piece.startDate === piece.endDate) -%}
    {%- set displayDate = formattedStartDate -%}
  {%- else -%}
    {%- set formattedEndDate = apos.aem.formatDate(piece.endDate) -%}
    {%- set displayDate = formattedStartDate + '—' + formattedEndDate -%}
  {%- endif -%}

  <h2 class="sr-only">{{ __('pieceDetails|dateAndLocationLabel') }}</h2>
  <div class="description event-info">
    {{ displayDate }}{%- if additionalInfo -%}<span class="relative-date"> ({{ additionalInfo }})</span>{%- endif -%},<br>
    {%- if isWorkshop -%}{{ sortedPieceLinkList(piece._relatedOrganizations) }},<br/>{%- endif -%}
    {%- set localizedCountry = apos.aemI18n.getCountry(piece.country, locale) -%}
    <span>{{ piece.city }}, {{ localizedCountry }}</span>
  </div>

  <h2 class="sr-only">{{ __('pieceDetails|descriptionLabel') }}</h2>
  <div class="description rich-description">
    {{
      apos.singleton(
        piece,
        'description',
        'apostrophe-rich-text',
        fixedRichTextOptions
      )
    }}
  </div>

  {{ websiteCTA(piece) }}

  <hr class="separator"/>

  {{ relatedContent(piece) }}

  {{ tags(piece) }}
{% endblock %}

{% block sidebar %}
  {% include "partials/events/sidebar-no-feature-en.njk" %}
{% endblock %}
