{% extends "layouts/pieceDetailsLayout.njk" %}

{% from 'macros/piece-details.njk' import websiteCTA %}
{% from 'macros/tag-list.njk' import tagList %}

{% block title %}
  {{ data.piece.title }} - Events | Arts et Médias
{% endblock %}

{% block pageContent %}
  <h2 class="sr-only">City</h2>
  <p class="description">
    {{ data.piece.city }}, {{ data.piece.country }}
  </p>

  <h2 class="sr-only">Description</h2>
  <p class="description">
    {{ apos.singleton(data.piece, 'description', 'apostrophe-rich-text') }}
  </p>

  {{ websiteCTA(data.piece) }}

  {%- if data.piece.tags.length -%}
    <hr class="separator" />

    <h2>Tags</h2>
    {{ tagList(data.piece.tags) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/events/sidebar-no-feature-en.njk" %}
{% endblock %}
