{% extends 'layouts/indexLayout.njk' %}

{%- from 'macros/banner-ad.njk' import leaderboard -%}


{% block title %}
  {{ apos.aemSeo.buildSimplePageTitle(__, data.page.title) }}
{% endblock %}

{% block mainAdditionalClasses %}people-index{% endblock %}

{% block advertisementBeforeMain %}
  {% include "partials/people/top-leaderboard.njk" %}
{% endblock %}

{% block pageContent %}
  {# pieces list #}
  {%-
    set filteredPieces = apos.aemPieces.getWithTags(
      data.peopleByTitle,
      data.page.withTags
    )
  -%}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      filteredPieces,
      data.currentPage
    )
  -%}

  {%- if piecesOnPage|length -%}
    {{ pieceList(piecesOnPage) }}

    {# pagination #}
    {{
      pager.render(
        {
          page: data.currentPage,
          total: data.totalPages
        },
        data.url
      )
    }}
  {%- else -%}
    <div class="no-pieces">
      {{ __('people|noPiecesLabel') }}
    </div>
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/people/sidebar-index.njk" %}
{% endblock %}
