{% extends "layouts/pieceDetailsLayout.njk" %}

{%- from 'macros/metadata.njk' import descriptiveMetaData -%}
{%- from 'macros/piece-details.njk' import relatedEvents, relatedMedia, relatedOrganizations, relatedPieces, relatedTaggedPieces, tags, websiteCTA -%}
{%- from 'macros/piece-link-list.njk' import sortedPieceLinkList -%}
{%- from 'options/options.njk' import fixedRichTextOptions -%}


{%- set piece = data.piece -%}
{%- set hasProfilePic = apos.aemPieces.hasProfilePic(piece) -%}


{% block title %}
  {{
    apos.aemSeo.buildPieceWithType(
      __,
      piece.title,
      __('people|plural')
    )
  }}
{% endblock %}

{% block metadata %}
  {{
    descriptiveMetaData({
      title: piece.title,
      description: piece.shortDescription,
      heroImage: piece.profilePic,
      url: piece._url,
      baseUrl: data.baseUrl
    })
  }}
{% endblock %}

{% block mainAdditionalClasses %}person-details{% endblock %}

{% block pageContent %}
  <h2 class="sr-only">{{ __('pieceDetails|descriptionLabel') }}</h2>

  {%- if hasProfilePic -%}
    <div class="profile-pic-container">
      {% include "partials/people/profile-pic-en.njk" %}
    </div>
  {%- endif -%}

  <div class="description rich-description">
    {{
      apos.singleton(
        piece,
        'description',
        'apostrophe-rich-text',
        fixedRichTextOptions
      )
    }}
  </div>

  {{ websiteCTA(piece) }}

  <hr class="separator"/>

  {# projects #}
  {# {{
    relatedPieces(
      'Creator of the Following Projects',
      piece._projects
    )
  }} #}

  {# articles #}
  {{
    relatedPieces(
      __('pieceDetails|articlesAuthorLabel'),
      piece._articles
    )
  }}
  {{
    relatedPieces(
      __('pieceDetails|articlesTranslatorLabel'),
      piece._articlesTranslated
    )
  }}
  {{
    relatedPieces(
      __('articles|related'),
      piece._articlesMentioned
    )
  }}

  {# books #}
  {{
    relatedPieces(
      __('pieceDetails|booksAuthorLabel'),
      piece._books
    )
  }}
  {{
    relatedPieces(
      __('pieceDetails|booksContributorLabel'),
      piece._booksContributed
    )
  }}
  {{
    relatedPieces(
      __('pieceDetails|booksTranslatorLabel'),
      piece._booksTranslated
    )
  }}
  {{
    relatedPieces(
      __('books|related'),
      piece._booksMentioned
    )
  }}

  {# media #}
  {{ relatedMedia(piece._medias) }}

  {# organizations #}
  {{ relatedOrganizations(piece._organizations) }}

  {# events #}
  {{ relatedEvents(piece._events) }}

  {# academic programs #}
  {{
    relatedPieces(
      __('education|related'),
      piece._educations
    )
  }}

  {{ tags(piece) }}
{% endblock %}

{% block sidebar %}
  {% include "partials/people/sidebar-details-en.njk" %}
{% endblock %}
