{% extends "layouts/pieceDetailsLayout.njk" %}

{%- from 'macros/metadata.njk' import descriptiveMetaData -%}
{%- from 'macros/piece-details.njk' import relatedContent, tags, websiteCTA -%}
{%- from 'macros/piece-link-list.njk' import sortedPieceLinkList -%}
{%- from 'options/options.njk' import fixedRichTextOptions -%}


{%- set piece = data.piece -%}
{%- set hasProfilePic = piece.profilePic.items|length > 0 -%}

{% block title %}
  {{ piece.title }} - People | Arts et Médias
{% endblock %}

{% block metadata %}
  {{
    descriptiveMetaData({
      title: piece.title,
      description: piece.shortDescription,
      heroImage: piece.profilePic,
      url: piece._url,
      baseUrl: data.baseUrl
    })
  }}
{% endblock %}

{% block mainAdditionalClasses %}person-details{% endblock %}

{% block pageContent %}
  <h2 class="sr-only">Description</h2>

  {%- if hasProfilePic -%}
    <div class="profile-pic-container">
      {% include "partials/people/profile-pic-en.njk" %}
    </div>
  {%- endif -%}

  <div class="description rich-description">
    {{
      apos.singleton(
        piece,
        'description',
        'apostrophe-rich-text',
        fixedRichTextOptions
      )
    }}
  </div>

  {{ websiteCTA(piece) }}

  <hr class="separator"/>

  {%- if piece._originalAuthor|length -%}
    <dl class="piece-props-list">
      <dt>Author of the Following Articles</dt>
      <dd>{{ sortedPieceLinkList(piece._originalAuthor) }}</dd>
    </dl>
  {%- endif -%}

  {%- if piece._author|length -%}
    <dl class="piece-props-list">
      <dt>Author of the Following Books</dt>
      <dd>{{ sortedPieceLinkList(piece._author) }}</dd>
    </dl>
  {%- endif -%}

  {%- if piece._relatedPeople -%}
    {%-
      set collectives = apos.aemPieces.getWithTags(
        piece._relatedPeople,
        ['collective']
      )
    -%}
    {%- if collectives|length -%}
      <dl class="piece-props-list">
        <dt>Related Collectives</dt>
        <dd>{{ sortedPieceLinkList(collectives) }}</dd>
      </dl>
    {%- endif -%}

    {%-
      set academicInstitutions = apos.aemPieces.getWithTags(
        piece._relatedPeople,
        [
          'academic institution',
          'higher education',
          'university'
        ]
      )
    -%}
    {%- if academicInstitutions|length -%}
      <dl class="piece-props-list">
        <dt>Related Academic Institutions</dt>
        <dd>{{ sortedPieceLinkList(academicInstitutions) }}</dd>
      </dl>
    {%- endif -%}

    {%-
      set otherOrgs = apos.aemPieces.getWithoutTags(
        piece._relatedPeople,
        [
          'academic institution',
          'higher education',
          'university',
          'collective'
        ]
      )
    -%}
    {%- if otherOrgs|length -%}
      <dl class="piece-props-list">
        <dt>Related Organizations</dt>
        <dd>{{ sortedPieceLinkList(otherOrgs) }}</dd>
      </dl>
    {%- endif -%}
  {%- endif -%}

  {{ tags(piece) }}
{% endblock %}

{% block sidebar %}
  {% include "partials/people/sidebar-details-en.njk" %}
{% endblock %}
