{% extends "layouts/pieceDetailsLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard -%}
{%- from 'macros/metadata.njk' import descriptiveMetaData -%}
{%- from 'macros/piece-details.njk' import relatedEvents, relatedMedia, relatedOrganizations, relatedPieces, relatedTaggedPieces, tags, websiteCTA -%}
{%- from 'macros/piece-link-list.njk' import sortedPieceLinkList -%}
{%- from 'options/options.njk' import fixedRichTextOptions -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set piece = data.piece -%}
{%- set hasProfilePic = apos.aemPieces.hasProfilePic(piece) -%}
{%- set mainLBOptions = { data: data, propName: 'peopleLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'peopleMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}


{% block title %}
  {{
    apos.aemSeo.buildPieceWithType(
      __,
      piece.title,
      __('people|plural')
    )
  }}
{% endblock %}

{% block metadata %}
  {{
    descriptiveMetaData({
      title: piece.title,
      description: piece.shortDescription,
      heroImage: piece.profilePic,
      url: piece._url,
      baseUrl: apos.aemUtils.ensureHTTPS(data.baseUrl),
      locale: locale
    })
  }}
{% endblock %}

{% block mainAdditionalClasses %}person-details{% endblock %}

{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  <h2 class="sr-only">{{ __('pieceDetails|descriptionLabel') }}</h2>

  {%- if hasProfilePic -%}
    <div class="profile-pic-container">
      {% include "partials/people/profile-pic.njk" %}
    </div>
  {%- endif -%}

  <div class="description rich-description">
    {{
      apos.singleton(
        piece,
        'description',
        'apostrophe-rich-text',
        fixedRichTextOptions
      )
    }}
  </div>

  {{ websiteCTA(piece) }}

  {%- if isMinorLBVisible -%}
    {{ inContextLeaderboard(minorLBOptions, {}) }}
  {%- endif -%}

  <hr class="separator"/>

  {# projects #}
  {{
    relatedPieces(
      __('pieceDetails|projectsCreatorLabel'),
      piece._projects
    )
  }}

  {# articles #}
  {{
    relatedPieces(
      __('pieceDetails|articlesAuthorLabel'),
      piece._articles
    )
  }}
  {{
    relatedPieces(
      __('pieceDetails|articlesTranslatorLabel'),
      piece._articlesTranslated
    )
  }}
  {{
    relatedPieces(
      __('articles|related'),
      piece._articlesMentioned
    )
  }}

  {# books #}
  {{
    relatedPieces(
      __('pieceDetails|booksAuthorLabel'),
      piece._books
    )
  }}
  {{
    relatedPieces(
      __('pieceDetails|booksContributorLabel'),
      piece._booksContributed
    )
  }}
  {{
    relatedPieces(
      __('pieceDetails|booksEditorLabel'),
      piece._booksEdited
    )
  }}
  {{
    relatedPieces(
      __('pieceDetails|booksTranslatorLabel'),
      piece._booksTranslated
    )
  }}
  {{
    relatedPieces(
      __('books|related'),
      piece._booksMentioned
    )
  }}

  {# events #}
  {{ relatedEvents(piece._events) }}

  {# media #}
  {{ relatedMedia(piece._medias) }}

  {# organizations #}
  {{ relatedOrganizations(piece._organizations) }}

  {# academic programs #}
  {{
    relatedPieces(
      __('education|related'),
      piece._educations
    )
  }}

  {{ tags(piece) }}

  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'after' }) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/people/sidebar-details.njk" %}
{% endblock %}
