{% extends "layouts/indexLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard, mobileBannerAds -%}
{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/piece-index.njk' import recentlyAddedArticles -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set mainLBOptions = { data: data, propName: 'articlesLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'articlesMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}
{%- set bannerPropNames = ['articlesSidebarBanners1', 'articlesSidebarBanners2'] -%}

{%-
  set articlesCategories = [
    'news',
    'essays',
    'reviews',
    'interviews',
    'academicPapers',
    'conferenceProceedings'
  ]
-%}


{% macro alternateLeaderboard(lbIndex) %}
  {%- if lbIndex % 2 === 0 -%}
    {# even #}
    {%- if isMainLBVisible -%}
      {{ inContextLeaderboard(mainLBOptions, options) }}
    {%- endif -%}
  {%- else -%}
    {# odd #}
    {%- if isMinorLBVisible -%}
      {{ inContextLeaderboard(minorLBOptions, options) }}
    {%- endif -%}
  {%- endif -%}
{% endmacro %}


{% block title %}
  {{ apos.aemSeo.buildSimplePageTitle(__, data.page.title) }}
{% endblock %}

{% block mainAdditionalClasses %}articles-index{% endblock %}

{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {%- set lbIndex = 1 -%}
  {%- set bannerIndex = 0 -%}

  {% include "partials/articles/featured.njk" %}

  {% for category in articlesCategories %}
    {%- set i18nCat = 'articles|categories|' + category + '|' -%}
    {%-
      set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
        data.articlesByMostRecent,
        __(i18nCat + 'tags')
      )
    -%}
    {%- set hasRecentlyAddedEvents = (recentlyAdded and recentlyAdded|length > 0) -%}

    {%- if hasRecentlyAddedEvents -%}
      {%- if bannerIndex < bannerPropNames|length -%}
        {{
          mobileBannerAds({
            data: data,
            propName: bannerPropNames[bannerIndex]
          })
        }}
        {%- set bannerIndex = bannerIndex + 1 -%}
      {%- endif -%}
    {%- endif -%}

    {{
      recentlyAddedArticles(
        __(i18nCat + 'recentlyAdded'),
        recentlyAdded,
        locale
      )
    }}

    {{
      seeAllCTA(
        __(i18nCat + 'seeAllCTA'),
        __(i18nCat + 'url')
      )
    }}

    {{ alternateLeaderboard(lbIndex) }}
    {%- set lbIndex = lbIndex + 1 -%}
  {% endfor %}
{% endblock %}

{% block sidebar %}
  {% include "partials/articles/sidebar-no-feature.njk" %}
{% endblock %}
