{% extends "layouts/indexLayout.njk" %}

{%- from 'macros/banner-ad.njk' import leaderboard, mobileBannerAds -%}
{%- from 'macros/piece-index.njk' import recentlyAddedArticles -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}


{% macro articleList(category) %}
  {%- set cat = 'articles|categories|' + category + '|' -%}

  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      data.articlesByMostRecent,
      __(cat + 'tags')
    )
  -%}

  {%- if (recentlyAdded and recentlyAdded|length > 0) -%}
    {{
      recentlyAddedArticles(
        __(cat + 'recentlyAdded'),
        recentlyAdded,
        locale
      )
    }}

    <div class="see-all-cta">
      <a
        class="website-cta"
        href="{{ __(cat + 'url') }}"
      >{{ __(cat + 'seeAllCTA') }}</a>
    </div>
  {%- endif -%}
{% endmacro %}


{% block title %}
  {{ apos.aemSeo.buildSimplePageTitle(__, data.page.title) }}
{% endblock %}

{% block mainAdditionalClasses %}articles-index{% endblock %}

{% block advertisementBeforeMain %}
  {% include "partials/articles/top-leaderboard.njk" %}
{% endblock %}

{% block pageContent %}
  {% include "partials/articles/featured.njk" %}

  {{
    mobileBannerAds({
      data: data,
      propName: 'articlesSidebarBanners1'
    })
  }}

  {{ articleList('news') }}

  {{
    mobileBannerAds({
      data: data,
      propName: 'articlesSidebarBanners2'
    })
  }}

  {{ articleList('essays') }}

  {{ articleList('reviews') }}

  {{ articleList('interviews') }}

  {{ articleList('academicPapers') }}

  {{ articleList('conferenceProceedings') }}
{% endblock %}

{% block sidebar %}
  {% include "partials/articles/sidebar-no-feature.njk" %}
{% endblock %}
