{% extends "layouts/indexLayout.njk" %}

{%- from 'macros/piece-index.njk' import recentlyAddedArticles -%}

{%- macro seeAllCTA(propName) -%}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        propName,
        'aem-link'
      )
    }}
  </div>
{%- endmacro -%}


{% block title %}
  {{ data.page.title }} | Arts et Médias
{% endblock %}

{% block mainAdditionalClasses %}articles-index{% endblock %}

{% block pageContent %}
  {% include "partials/articles/featured.njk" %}

  {# recently added news #}
  {{
    recentlyAddedArticles(
      'Recently Added News',
      data.articlesByMostRecent,
      ['news']
    )
  }}
  {{ seeAllCTA('seeAllNewsCTA') }}

  {# recently added editorials #}
  {{
    recentlyAddedArticles(
      'Recently Added Editorials',
      data.articlesByMostRecent,
      ['editorial']
    )
  }}
  {{ seeAllCTA('seeAllEditorialsCTA') }}

  {# recently added reviews #}
  {{
    recentlyAddedArticles(
      'Recently Added Reviews and Critiques',
      data.articlesByMostRecent,
      ['review', 'critique']
    )
  }}
  {{ seeAllCTA('seeAllReviewsCTA') }}

  {# recently added interviews #}
  {{
    recentlyAddedArticles(
      'Recently Added Interviews',
      data.articlesByMostRecent,
      ['interview']
    )
  }}
  {{ seeAllCTA('seeAllInterviewsCTA') }}

  {# recently added academic papers #}
  {{
    recentlyAddedArticles(
      'Recently Added Academic Papers',
      data.articlesByMostRecent,
      ['academic paper', 'academia']
    )
  }}
  {{ seeAllCTA('seeAllAcademicPapersCTA') }}

  {# recently added conference procedings #}
  {{
    recentlyAddedArticles(
      'Recently Added Conference Proceedings',
      data.articlesByMostRecent,
      ['conference', 'conference proceedings', 'conference paper', 'conference presentation']
    )
  }}
  {{ seeAllCTA('seeAllConferencePapersCTA') }}
{% endblock %}

{% block sidebar %}
  {% include "partials/articles/sidebar-no-feature-en.njk" %}
{% endblock %}
