{% extends "layouts/layout.njk" %}

{% from 'macros/content-section.njk' import contentSection %}

{% block title %}
  {{ data.page.title }} | Arts et Médias
{% endblock %}

{% block main %}
  <div class="content-template">
    <main id="main" class="content">
      <article class="template-content">
        <h1>{{ data.page.title }}</h1>
        {{ contentSection(data.page) }}
      </article>
    </main>
  </div>
{% endblock %}
