{% extends "layouts/layout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard, mobileBannerAds -%}
{%- from 'macros/content-section.njk' import contentSection -%}
{%- from 'macros/metadata.njk' import minimalMetaData -%}
{%- from 'options/banner-ads.njk' import globalSidebarBanners -%}


{%- set mainLBOptions = { data: data, propName: 'globalLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'globalMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}



{% block title %}
  {{ data.page.title }} | {{ __('global|title') }}
{% endblock %}

{% block metadata %}
  {{
    minimalMetaData({
      title: data.page.title,
      url: data.page._url,
      baseUrl: apos.aemUtils.ensureHTTPS(data.baseUrl)
    })
  }}
{% endblock %}

{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block main %}
  {%- set bannerIndex = 0 -%}

  <div class="content-template donate-page">
    <div class="content">
      <main id="main" tabindex="-1">
        <article>
          <h1 class="page-heading">{{ data.page.title }}</h1>

          {# mobile banners #}
          {{
            mobileBannerAds({
              data: data,
              propName: globalSidebarBanners[bannerIndex]
            })
          }}
          {%- set bannerIndex = bannerIndex + 1 -%}

          <div class="page-content">
            {# content #}
            {{ contentSection(data.page) }}

            {# patreon button #}
            <a
              class="website-cta donate-btn"
              href="{{ __('donate|patreonUrl') }}"
            >
              <span class="icon">
                {% include "/svg/logo-patreon.svg" %}
              </span>
              <span class="label">
                {{ __('donate|patreonCTA') }}
              </span>
            </a>
            {# patreon button end#}

            {# paypal button #}
            <form
              action="https://www.paypal.com/donate"
              method="post"
              target="_blank"
              rel="noopener"
            >
              <input
                type="hidden"
                name="hosted_button_id"
                value="{{ __('donate|paypalId') }}"
              />
              <button
                type="submit"
                class="website-cta donate-btn"
              >
                <span class="icon">
                  {% include "/svg/logo-paypal.svg" %}
                </span>
                <span class="label">
                  {{ __('donate|paypalCTA') }}
                </span>
              </button>
            </form>
            {# paypal button end #}

            <p class="donation-disclaimer">
              {{ __('donate|disclaimer') }}
            </p>

            {# leaderboard #}
            {%- if isMinorLBVisible -%}
              {{ inContextLeaderboard(minorLBOptions, { location: 'after' }) }}
            {%- endif -%}

            {# mobile banners #}
            {% for i in range(bannerIndex, globalSidebarBanners|length) -%}
              {%- if bannerIndex < globalSidebarBanners|length -%}
                {{
                  mobileBannerAds({
                    data: data,
                    propName: globalSidebarBanners[bannerIndex]
                  })
                }}
                {%- set bannerIndex = bannerIndex + 1 -%}
              {%- endif -%}
            {%- endfor %}
          </div>

          {% block sidebar %}
            {% include "partials/sidebar/sidebar.njk" %}
          {% endblock %}
        </article>
      </main>
    </div>
  </div>
{% endblock %}
