{% extends "layouts/indexLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard -%}
{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/piece-index.njk' import recentlyAddedEducation -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set leaderboardOptions = { data: data, propName: 'educationLeaderboard' } -%}
{%- set areLeaderboardsVisible = apos.aemBannerAds.areVisible(leaderboardOptions) -%}


{% macro programsList(category) %}
  {%- set cat = 'education|categories|' + category + '|' -%}

  {{
    recentlyAddedEducation(
      data.educationByMostRecent,
      {
        label: __(cat + 'recentlyAdded'),
        tags: __(cat + 'tags'),
        locale: locale,
        amount: 2
      }
    )
  }}

  {{ seeAllCTA(__(cat + 'seeAllCTA'), __(cat + 'url')) }}
{% endmacro %}


{% block title %}
  {{ apos.aemSeo.buildSimplePageTitle(__, data.page.title) }}
{% endblock %}

{% block mainAdditionalClasses %}education-index{% endblock %}

{% block advertisementBeforeMain %}
  {%- if areLeaderboardsVisible -%}
    {{ inContextLeaderboard(leaderboardOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {% include "partials/education/featured.njk" %}

  {{ programsList('undergrad') }}

  {{ programsList('grad') }}

  {{ programsList('postgrad') }}
{% endblock %}

{% block sidebar %}
  {% include "partials/education/sidebar-no-feature.njk" %}
{% endblock %}
