{% extends "layouts/indexLayout.njk" %}


{%- from 'macros/banner-ad.njk' import alternatingLeaderboard, inContextLeaderboard, mobileBannerAds -%}
{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/piece-index.njk' import recentlyAddedEducation -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set numPreview = 2 -%}
{%- set mainLBOptions = { data: data, propName: 'educationLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'educationMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}
{%-
  set alternatingLBOptions = {
    index: 1,
    isMainVisible: isMainLBVisible,
    isMinorVisible: isMinorLBVisible,
    mainOptions: mainLBOptions,
    minorOptions: minorLBOptions,
    additionalOptions: {}
  }
-%}
{%- set increaseIndex = apos.aemBannerAds.increaseAlternatingLeaderboardIndex -%}
{%- set bannerPropNames = ['educationSidebarBanners1', 'educationSidebarBanners2'] -%}
{%-
  set academiaCategories = [
    'undergrad',
    'grad',
    'postgrad'
  ]
-%}


{% block title %}
  {{ apos.aemSeo.buildSimplePageTitle(__, data.page.title) }}
{% endblock %}

{% block mainAdditionalClasses %}education-index{% endblock %}

{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {%- set bannerIndex = 0 -%}

  {%- if apos.aemPieces.hasFeaturedEducation(data) or apos.aemUtils.isDraftMode(data) -%}
    {% include "partials/education/featured.njk" %}
    {{ alternatingLeaderboard(alternatingLBOptions) }}
    {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
  {%- endif -%}

  {% for category in academiaCategories %}
    {%- set i18nCat = 'education|categories|' + category + '|' -%}

    {{
      recentlyAddedEducation(
        data.educationByMostRecent,
        {
          label: __(i18nCat + 'recentlyAdded'),
          tags: __(i18nCat + 'tags'),
          locale: locale,
          amount: numPreview
        }
      )
    }}

    {%- if bannerIndex < bannerPropNames|length -%}
      {{
        mobileBannerAds({
          data: data,
          propName: bannerPropNames[bannerIndex]
        })
      }}
      {%- set bannerIndex = bannerIndex + 1 -%}
    {%- endif -%}

    {{
      seeAllCTA(
        __(i18nCat + 'seeAllCTA'),
        __(i18nCat + 'url')
      )
    }}

    {{ alternatingLeaderboard(alternatingLBOptions) }}
    {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
  {% endfor %}
{% endblock %}

{% block sidebar %}
  {% include "partials/education/sidebar-no-feature.njk" %}
{% endblock %}
