{% extends 'layouts/indexLayout.njk' %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard -%}
{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/piece-index.njk' import eventList -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set mainLBOptions = { data: data, propName: 'eventsLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'eventsMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}


{% block title %}
  {{
    apos.aemSeo.buildCategoryIndex(
      __,
      __('events|plural'),
      data.page.title
    )
  }}
{% endblock %}

{% block mainAdditionalClasses %}event-index events-archive{% endblock %}

{% block advertisementBeforeMain %}
  {%- if isMinorLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {%- set numPastEvents = data.pastEvents|length -%}
  {%- set numPages = apos.aemPagination.getNumPages(data.pastEvents) -%}
  {%- set currentPage = apos.aemPagination.getCurrentPage(data, { max: numPages }) -%}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      data.pastEvents,
      currentPage
    )
  -%}

  {{ eventList(piecesOnPage, locale) }}

  {# pagination #}
  {{
    pager.render(
      {
        page: currentPage,
        total: numPages
      },
      data.url
    )
  }}

  {%- if isMinorLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'after' }) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/events/sidebar.njk" %}
{% endblock %}
