{% extends "layouts/indexLayout.njk" %}

{%- from 'macros/piece-index.njk' import recentlyAddedEvents -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}


{% macro seeAllCTA(label, url) %}
  <div class="see-all-cta">
    <a
      class="website-cta"
      href="{{ url }}"
    >{{ label }}</a>
  </div>
{% endmacro %}

{% macro eventList(category) %}
  {%- set cat = 'events|categories|' + category + '|' -%}

  {#- next events -#}
  {%-
    set next = apos.aemPieces.getFirstTwoWithTags(
      data.orderedEvents,
      __(cat + 'tags')
    )
  -%}
  {%- set hasNextEvents = (next and next|length > 0) -%}
  {%- if hasNextEvents -%}
    {{
      recentlyAddedEvents(
        __(cat + 'next'),
        next,
        locale
      )
    }}
  {%- endif -%}

  {#- recently added events -#}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      data.eventsByMostRecent,
      __(cat + 'tags')
    )
  -%}
  {%- set hasRecentlyAddedEvents = (recentlyAdded and recentlyAdded|length > 0) -%}
  {%- if hasRecentlyAddedEvents -%}
    {{
      recentlyAddedEvents(
        __(cat + 'recentlyAdded'),
        recentlyAdded,
        locale
      )
    }}
  {%- endif -%}

  {%- if hasNextEvents or hasRecentlyAddedEvents -%}
    <div class="see-all-cta">
      {{
        seeAllCTA(
          __(cat + 'seeAllCTA'),
          __(cat + 'url')
        )
      }}
    </div>
  {%- endif -%}
{% endmacro %}


{% block title %}
  {{ apos.aemSeo.buildSimplePageTitle(__, data.page.title) }}
{% endblock %}

{% block mainAdditionalClasses %}event-index{% endblock %}

{% block pageContent %}
  {% include "partials/events/featured.njk" %}

  {#- TODO: add exhibits -#}

  {{ eventList('festivals') }}

  {{ eventList('conferences') }}

  {{ eventList('workshops') }}
{% endblock %}

{% block sidebar %}
  {% include "partials/events/sidebar-no-feature-en.njk" %}
{% endblock %}
