{% extends 'layouts/indexLayout.njk' %}


{%- from 'macros/banner-ad.njk' import alternatingLeaderboard, inContextLeaderboard, mobileBannerAds -%}
{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/piece-index.njk' import eventList, recentlyAddedEvents -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{#- TODO: add exhibits (#93) -#}
{%-
  set eventCategories = [
    'festivals',
    'exhibits',
    'conferences',
    'workshops'
  ]
-%}
{%- set numPreviewEvents = 2 -%}
{%- set mainLBOptions = { data: data, propName: 'eventsLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'eventsMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}
{%-
  set alternatingLBOptions = {
    index: 1,
    isMainVisible: isMainLBVisible,
    isMinorVisible: isMinorLBVisible,
    mainOptions: mainLBOptions,
    minorOptions: minorLBOptions,
    additionalOptions: {}
  }
-%}
{%- set increaseIndex = apos.aemBannerAds.increaseAlternatingLeaderboardIndex -%}
{%- set bannerPropNames = ['eventsSidebarBanners1', 'eventsSidebarBanners2'] -%}



{% block title %}
  {{ apos.aemSeo.buildSimplePageTitle(__, data.page.title) }}
{% endblock %}

{% block mainAdditionalClasses %}event-index{% endblock %}

{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {%- set bannerIndex = 0 -%}

  {%- if apos.aemPieces.hasFeaturedEvent(data) or apos.aemUtils.isDraftMode(data) -%}
    {% include "partials/events/featured.njk" %}
    {{ alternatingLeaderboard(alternatingLBOptions) }}
    {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
  {%- endif -%}

  {% for category in eventCategories %}
    {%- set i18nCat = 'events|categories|' + category + '|' -%}
    {%- set catTags = __(i18nCat + 'tags') -%}
    {%- set nextEvents = apos.aemEvents.filterOngoingAndFuture(data, catTags) -%}
    {%- set hasNextEvents = (nextEvents and nextEvents|length > 0) -%}
    {%- set recentlyAdded = apos.aemEvents.filterRecentlyAdded(data, catTags) -%}
    {%- set hasRecentlyAddedEvents = (recentlyAdded and recentlyAdded|length > 0) -%}

    {%- if hasNextEvents -%}
      {{
        recentlyAddedEvents(
          __(i18nCat + 'nextOrOngoing'),
          apos.aemPieces.getFirstN(nextEvents, numPreviewEvents),
          locale
        )
      }}
    {%- endif -%}

    {%- if hasRecentlyAddedEvents -%}
      {{
        recentlyAddedEvents(
          __(i18nCat + 'recentlyAdded'),
          apos.aemPieces.getFirstN(recentlyAdded, numPreviewEvents),
          locale
        )
      }}
    {%- endif -%}

    {%- if hasNextEvents or hasRecentlyAddedEvents -%}
      {%- if bannerIndex < bannerPropNames|length -%}
        {{
          mobileBannerAds({
            data: data,
            propName: bannerPropNames[bannerIndex]
          })
        }}
        {%- set bannerIndex = bannerIndex + 1 -%}
      {%- endif -%}

      {{
        seeAllCTA(
          __(i18nCat + 'seeAllCTA'),
          __(i18nCat + 'url')
        )
      }}

      {{ alternatingLeaderboard(alternatingLBOptions) }}
      {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
    {%- endif -%}
  {% endfor %}
{% endblock %}

{% block sidebar %}
  {% include "partials/events/sidebar-no-feature.njk" %}
{% endblock %}
