{% extends "layouts/indexLayout.njk" %}

{% block title %}
  {{ data.page.title }} | Arts et Médias
{% endblock %}

{% block pageContent %}
  {{
    apos.singleton(
      data.global,
      'featuredEvent',
      'aem-events-featured',
      {}
    )
  }}
  <hr class="separator" />
{% endblock %}

{% block sidebar %}
  {% include "partials/events/sidebar-no-feature-en.njk" %}
{% endblock %}
