{% extends "layouts/layout.njk" %}

{%- from 'macros/piece-index.njk' import articleList, eventList, projectList -%}


{% block title %}
  {{ data.page.title }} | Arts et Médias
{% endblock %}

{% block main %}
  <div class="page home">
    <div class="content">
      <main id="main">
        <article>
          <h1 class="sr-only">Home</h1>

          <div class="page-content">
            <section class="articles-section">
              <h2 class="sr-only">Articles</h2>
              {% include "partials/articles/featured.njk" %}

              <h3 class="latest-pieces-heading">Recently Added Articles</h3>
              {%-
                set recentArticles = apos.aemPieces.getFirstTwo(
                  data.articlesByMostRecent
                )
              -%}
              {{ articleList(recentArticles) }}

              <div class="see-all-cta">
                {{
                  apos.singleton(
                    data.page,
                    'seeAllArticlesCTA',
                    'aem-link'
                  )
                }}
              </div>
            </section>

            <section class="events-section">
              <h2 class="sr-only">Events</h2>
              {% include "partials/events/featured.njk" %}

              <h3 class="latest-pieces-heading">Next Workshops</h3>
              {%-
                set nextWorkshops = apos.aemPieces.getFirstTwoWithTags(
                  data.orderedEvents,
                  ['workshop']
                )
              -%}
              {{ eventList(nextWorkshops) }}

              <h3 class="latest-pieces-heading">Next Festivals</h3>
              {%-
                set nextFestivals = apos.aemPieces.getFirstTwoWithTags(
                  data.orderedEvents,
                  ['festival']
                )
              -%}
              {{ eventList(nextFestivals) }}

              <div class="see-all-cta">
                {{
                  apos.singleton(
                    data.page,
                    'seeAllEventsCTA',
                    'aem-link'
                  )
                }}
              </div>
            </section>

            <section class="projects-section">
              <h2 class="sr-only">Projects</h2>
              {% include "partials/projects/featured.njk" %}

              <h3 class="latest-pieces-heading">Recently Added Projects</h3>
              {%-
                set recentProjects = apos.aemPieces.getFirstTwo(
                  data.projectsByMostRecent
                )
              -%}
              {{ projectList(recentProjects) }}

              <div class="see-all-cta">
                {{
                  apos.singleton(
                    data.page,
                    'seeAllProjectsCTA',
                    'aem-link'
                  )
                }}
              </div>
            </section>
          </div>

          {% include "partials/home/sidebar-en.njk" %}
        </article>
      </main>
    </div>
  </div>
{% endblock %}
