{% extends "layouts/layout.njk" %}

{%- from 'macros/metadata.njk' import minimalMetaData -%}
{%- from 'macros/piece-index.njk' import articleList, eventList, bookList, projectList -%}

{% macro seeAllArticlesCTA() %}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllArticlesCTA',
        'aem-link'
      )
    }}
  </div>
{% endmacro %}

{% macro seeAllEventsCTA() %}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllEventsCTA',
        'aem-link'
      )
    }}
  </div>
{% endmacro %}

{% macro seeAllProjectsCTA() %}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllProjectsCTA',
        'aem-link'
      )
    }}
  </div>
{% endmacro %}

{% macro seeAllBooksCTA() %}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllBooksCTA',
        'aem-link'
      )
    }}
  </div>
{% endmacro %}


{% block title %}
  {{ data.page.title }} | Arts et Médias
{% endblock %}

{% block metadata %}
  {{
    minimalMetaData({
      title: 'Arts et Médias',
      url: data.page._url,
      baseUrl: data.baseUrl
    })
  }}
{% endblock %}

{% block main %}
  <div class="page home">
    <div class="content">
      <main id="main">
        <article>
          <h1 class="sr-only">Home</h1>

          <div class="page-content">
            <section class="articles-section">
              <div class="section-heading">
                <h2 class="h2">Articles & News</h2>
                {{ seeAllArticlesCTA() }}
              </div>

              <div class="featured-article">
                {% include "partials/articles/featured.njk" %}
              </div>

              <div class="recently-added-articles">
                <h3 class="latest-pieces-heading">Recently Added Articles</h3>
                {%-
                  set recentArticles = apos.aemPieces.getFirstN(
                    data.articlesByMostRecent,
                    3
                  )
                -%}
                {{ articleList(recentArticles) }}
              </div>

              {% include "partials/home/sidebar-en.njk" %}

              {{ seeAllArticlesCTA() }}
            </section>

            <section class="events-section">
              <div class="section-heading">
                <h2 class="h2">Events</h2>
                {{ seeAllEventsCTA() }}
              </div>

              <div class="featured-piece">
                {% include "partials/events/featured.njk" %}
              </div>

              <div class="latest-pieces">
                <h3 class="latest-pieces-heading">Next Festivals</h3>
                {%-
                  set nextFestivals = apos.aemPieces.getFirstTwoWithTags(
                    data.orderedEvents,
                    ['festival']
                  )
                -%}
                {{ eventList(nextFestivals) }}
              </div>

              {{ seeAllEventsCTA() }}
            </section>

            <section class="projects-section">
              <div class="section-heading">
                <h2 class="h2">Projects</h2>
                {{ seeAllProjectsCTA() }}
              </div>

              <div class="featured-piece">
                {% include "partials/projects/featured.njk" %}
              </div>

              <div class="latest-pieces">
                <h3 class="latest-pieces-heading">Recently Added Projects</h3>
                {%-
                  set recentProjects = apos.aemPieces.getFirstTwo(
                    data.projectsByMostRecent
                  )
                -%}
                {{ projectList(recentProjects) }}
              </div>

              {{ seeAllProjectsCTA() }}
            </section>

            <section class="books-section">
              <div class="section-heading">
                <h2 class="h2">Books</h2>
                {{ seeAllBooksCTA() }}
              </div>

              <div class="featured-piece">
                {% include "partials/books/featured.njk" %}
              </div>

              <div class="latest-pieces">
                <h3 class="latest-pieces-heading">Recently Added Books</h3>
                {%-
                  set recentBooks = apos.aemPieces.getFirstTwo(
                    data.booksByMostRecent
                  )
                -%}
                {{ bookList(recentBooks) }}
              </div>

              {{ seeAllBooksCTA() }}
            </section>
          </div>

        </article>
      </main>
    </div>
  </div>
{% endblock %}
