{% extends "layouts/layout.njk" %}

{%- from 'macros/piece-index.njk' import articleList, eventList, projectList -%}


{% block title %}
  {{ data.page.title }} | Arts et Médias
{% endblock %}

{% block main %}
  <div class="page home">
    <div class="content">
      <main id="main">
        <article>
          <h1 class="sr-only">Home</h1>

          <div class="page-content">
            <section>
              <h2 class="sr-only">Events</h2>
              {% include "partials/events/featured.njk" %}

              <h3 class="latest-pieces-heading">Next Events</h3>
              {%-
                set nextEvents = [
                  data.orderedEvents[0],
                  data.orderedEvents[1]
                ]
              -%}
              {{ eventList(nextEvents) }}

              {{
                apos.singleton(
                  data.page,
                  'seeAllEventsCTA',
                  'aem-link'
                )
              }}
              <hr class="separator"/>
            </section>

            <section>
              <h2 class="sr-only">Articles</h2>
              {% include "partials/articles/featured.njk" %}

              <h3 class="latest-pieces-heading">Latest Articles</h3>
              {%-
                set recentArticles = [
                  data.articlesByMostRecent[0],
                  data.articlesByMostRecent[1]
                ]
              -%}
              {{ articleList(recentArticles) }}

              {{
                apos.singleton(
                  data.page,
                  'seeAllArticlesCTA',
                  'aem-link'
                )
              }}
              <hr class="separator"/>
            </section>

            <section>
              <h2 class="sr-only">Projects</h2>
              {% include "partials/projects/featured.njk" %}

              <h3 class="latest-pieces-heading">Recently Added Projects</h3>
              {%-
                set recentProjects = [
                  data.projectsByMostRecent[0],
                  data.projectsByMostRecent[1]
                ]
              -%}
              {{ projectList(recentProjects) }}

              {{
                apos.singleton(
                  data.page,
                  'seeAllProjectsCTA',
                  'aem-link'
                )
              }}
              <hr class="separator"/>
            </section>
          </div>
          {% include "partials/home/sidebar-en.njk" %}
        </article>
      </main>
    </div>
  </div>
{% endblock %}
