{% extends "layouts/subjectPageLayout.njk" %}


{%- from 'macros/banner-ad.njk' import alternatingLeaderboard, inContextLeaderboard, mobileBannerAds -%}
{%- from 'macros/content-section.njk' import contentSection -%}
{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/piece-index.njk' import eventList -%}
{%- from 'macros/piece-index.njk' import recentlyAddedEducation -%}
{%- from 'options/banner-ads.njk' import globalSidebarBanners -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set mainLBOptions = { data: data, propName: 'learnLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'learnMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}
{%-
  set alternatingLBOptions = {
    index: 1,
    isMainVisible: isMainLBVisible,
    isMinorVisible: isMinorLBVisible,
    mainOptions: mainLBOptions,
    minorOptions: minorLBOptions,
    additionalOptions: {}
  }
-%}
{%- set increaseIndex = apos.aemBannerAds.increaseAlternatingLeaderboardIndex -%}


{% macro academicProgramSection(category) %}
  {%- set academiaCat = 'education|categories|' + category -%}

  <section class="subject-section grad">
    <div class="section-heading">
      <h2 class="h2">{{ __(academiaCat + '|title') }}</h2>
    </div>
    {{
      recentlyAddedEducation(
        data.educationByMostRecent,
        {
          label: __(academiaCat + '|recentlyAdded'),
          tags: __(academiaCat + '|tags'),
          locale: locale,
          amount: 4
        }
      )
    }}
    {{
      seeAllCTA(
        __(academiaCat + '|seeAllCTA'),
        __(academiaCat + '|url')
      )
    }}
  </section>
{% endmacro %}


{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {%- set bannerIndex = 0 -%}

  {# rich preamble #}
  {%- set hasContent = data.page.bodyContent and data.page.bodyContent|length -%}
  {%- if hasContent or apos.aemUtils.isDraftMode(data) -%}
    <div class="rich-preamble">
      {{ contentSection(data.page) }}
    </div>
    {{ alternatingLeaderboard(alternatingLBOptions) }}
    {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
  {%- endif -%}

  {# workshops #}
  {%-
    set workshops = apos.aemPieces.getWithTags(
      data.ongoingAndFutureEvents,
      __('events|categories|workshops|tags')
    )
  -%}
  {%- set nextWorkshops = apos.aemArrays.truncate(workshops, 4) -%}
  {%- if nextWorkshops|length -%}
    <section class="subject-section workshops">
      <div class="section-heading">
        <h2 class="h2">{{ __('events|categories|workshops|nextOrOngoing') }}</h2>
      </div>
      {{ eventList(nextWorkshops, locale) }}
      {{
        seeAllCTA(
          __('events|categories|workshops|seeAllCTA'),
          __('events|categories|workshops|url')
        )
      }}
      {{ alternatingLeaderboard(alternatingLBOptions) }}
      {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
    </section>

    {%- if bannerIndex < globalSidebarBanners|length -%}
      {{
        mobileBannerAds({
          data: data,
          propName: globalSidebarBanners[bannerIndex]
        })
      }}
      {%- set bannerIndex = bannerIndex + 1 -%}
    {%- endif -%}
  {%- endif -%}

  {# undergrad programs #}
  {{ academicProgramSection('undergrad') }}
  {{ alternatingLeaderboard(alternatingLBOptions) }}
  {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}

  {# mobile banners #}
  {%- if bannerIndex < globalSidebarBanners|length -%}
    {{
      mobileBannerAds({
        data: data,
        propName: globalSidebarBanners[bannerIndex]
      })
    }}
    {%- set bannerIndex = bannerIndex + 1 -%}
  {%- endif -%}

  {# grad programs #}
  {{ academicProgramSection('grad') }}
  {{ alternatingLeaderboard(alternatingLBOptions) }}
  {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}

  {# mobile banners #}
  {%- if bannerIndex < globalSidebarBanners|length -%}
    {{
      mobileBannerAds({
        data: data,
        propName: globalSidebarBanners[bannerIndex]
      })
    }}
    {%- set bannerIndex = bannerIndex + 1 -%}
  {%- endif -%}

  {# postgrad programs #}
  {{ academicProgramSection('postgrad') }}
  {{ alternatingLeaderboard(alternatingLBOptions) }}
  {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}

  {# mobile banners #}
  {%- if bannerIndex < globalSidebarBanners|length -%}
    {{
      mobileBannerAds({
        data: data,
        propName: globalSidebarBanners[bannerIndex]
      })
    }}
    {%- set bannerIndex = bannerIndex + 1 -%}
  {%- endif -%}
{% endblock %}
