{% extends "layouts/indexLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard, mobileBannerAds -%}
{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/piece-index.njk' import recentlyAdded -%}


{%- set numPreviewMedia = 4 -%}
{%- set mainLBOptions = { data: data, propName: 'mediaLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'mediaMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}
{%- set bannerPropNames = ['mediaSidebarBanners1', 'mediaSidebarBanners2'] -%}

{%-
  set mediaCategories = [
    'magazines',
    'websites',
    'blogs',
    'newsletters'
  ]
-%}


{% macro alternateLeaderboard(lbIndex) %}
  {%- if lbIndex % 2 === 0 -%}
    {# even #}
    {%- if isMainLBVisible -%}
      {{ inContextLeaderboard(mainLBOptions, options) }}
    {%- endif -%}
  {%- else -%}
    {# odd #}
    {%- if isMinorLBVisible -%}
      {{ inContextLeaderboard(minorLBOptions, options) }}
    {%- endif -%}
  {%- endif -%}
{% endmacro %}


{% block title %}
  {{ apos.aemSeo.buildSimplePageTitle(__, data.page.title) }}
{% endblock %}

{% block mainAdditionalClasses %}page-media-index{% endblock %}

{% block pageTitle %}{{ data.page.title }}{% endblock %}

{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {%- set lbIndex = 1 -%}
  {%- set bannerIndex = 0 -%}

  {% for category in mediaCategories %}
    {%- set i18nCat = 'media|categories|' + category + '|' -%}

    {{
      recentlyAdded(
        __(i18nCat + 'recentlyAdded'),
        data.mediaByMostRecent,
        __(i18nCat + 'tags'),
        numPreviewMedia
      )
    }}

    {%- if bannerIndex < bannerPropNames|length -%}
      {{
        mobileBannerAds({
          data: data,
          propName: bannerPropNames[bannerIndex]
        })
      }}
      {%- set bannerIndex = bannerIndex + 1 -%}
    {%- endif -%}

    {{
      seeAllCTA(
        __(i18nCat + 'seeAllCTA'),
        __(i18nCat + 'url')
      )
    }}

    {{ alternateLeaderboard(lbIndex) }}
    {%- set lbIndex = lbIndex + 1 -%}
  {% endfor %}
{% endblock %}

{% block sidebar %}
  {% include "partials/media/sidebar.njk" %}
{% endblock %}
