{% extends "layouts/indexLayout.njk" %}

{%- from 'macros/piece-index.njk' import recentlyAdded -%}


{% block title %}
  {{ data.page.title }} | Arts et Médias
{% endblock %}

{% block mainAdditionalClasses %}media-index{% endblock %}

{% block pageContent %}
  {{
    recentlyAdded(
      'Recently Added Blogs',
      data.mediaByMostRecent,
      ['blog']
    )
  }}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllBlogsCTA',
        'aem-link'
      )
    }}
  </div>

  {{
    recentlyAdded(
      'Recently Added Websites',
      data.mediaByMostRecent,
      ['website']
    )
  }}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllWebsitesTA',
        'aem-link'
      )
    }}
  </div>

  {{
    recentlyAdded(
      'Recently Added Magazines',
      data.mediaByMostRecent,
      ['magazine']
    )
  }}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllMagazinesCTA',
        'aem-link'
      )
    }}
  </div>

  {{
    recentlyAdded(
      'Recently Added Books',
      data.booksByMostRecent,
      []
    )
  }}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllBooksCTA',
        'aem-link'
      )
    }}
  </div>
{% endblock %}

{% block sidebar %}
  {% include "partials/media/sidebar-en.njk" %}
{% endblock %}
