{% extends "layouts/indexLayout.njk" %}

{%- from 'macros/piece-index.njk' import recentlyAdded, recentlyAddedProjects -%}


{%- set pageTitle = 'Projects & Media' -%}


{% block title %}
  {{ pageTitle }} | Arts et Médias
{% endblock %}

{% block mainAdditionalClasses %}media-index{% endblock %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block pageContent %}
  {{
    recentlyAddedProjects(
      'Recently Added Projects',
      data.projectsByMostRecent,
      []
    )
  }}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllProjectsCTA',
        'aem-link'
      )
    }}
  </div>

  {%-
    set blogs = apos.aemPieces.getMediaWithType(
      data.mediaByMostRecent,
      'blog'
    )
  -%}
  {{
    recentlyAdded(
      'Recently Added Blogs',
      blogs
    )
  }}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllBlogsCTA',
        'aem-link'
      )
    }}
  </div>

  {%-
    set websites = apos.aemPieces.getMediaWithType(
      data.mediaByMostRecent,
      'website'
    )
  -%}
  {{
    recentlyAdded(
      'Recently Added Websites',
      websites
    )
  }}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllWebsitesTA',
        'aem-link'
      )
    }}
  </div>

  {%-
    set magazines = apos.aemPieces.getMediaWithType(
      data.mediaByMostRecent,
      'magazine'
    )
  -%}
  {{
    recentlyAdded(
      'Recently Added Magazines',
      magazines
    )
  }}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllMagazinesCTA',
        'aem-link'
      )
    }}
  </div>

  {{
    recentlyAdded(
      'Recently Added Books',
      data.booksByMostRecent
    )
  }}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.page,
        'seeAllBooksCTA',
        'aem-link'
      )
    }}
  </div>
{% endblock %}

{% block sidebar %}
  {% include "partials/media/sidebar-en.njk" %}
{% endblock %}
