{% extends "layouts/indexLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard, mobileBannerAds -%}
{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/piece-index.njk' import recentlyAddedOrgs -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%-
  set orgsCategories = [
    'galleries',
    'artCenters',
    'mediaLabs',
    'makerSpaces'
  ]
-%}
{%- set mainLBOptions = { data: data, propName: 'orgsLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'orgsMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}
{%-
  set alternatingLBOptions = {
    index: 1,
    isMainVisible: isMainLBVisible,
    isMinorVisible: isMinorLBVisible,
    mainOptions: mainLBOptions,
    minorOptions: minorLBOptions,
    additionalOptions: {}
  }
-%}
{%- set increaseIndex = apos.aemBannerAds.increaseAlternatingLeaderboardIndex -%}
{%- set bannerPropNames = ['orgsSidebarBanners1', 'orgsSidebarBanners2'] -%}


{% block title %}
  {{ apos.aemSeo.buildSimplePageTitle(__, data.page.title) }}
{% endblock %}

{% block mainAdditionalClasses %}organization-index{% endblock %}

{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {%- set bannerIndex = 0 -%}

  {% for category in orgsCategories %}
    {%- set i18nCat = 'organizations|categories|' + category + '|' -%}

    {{
      recentlyAddedOrgs(
        __(i18nCat + 'recentlyAdded'),
        data.organizationsByMostRecent,
        __(i18nCat + 'tags'),
        locale
      )
    }}

    {%- if bannerIndex < bannerPropNames|length -%}
      {{
        mobileBannerAds({
          data: data,
          propName: bannerPropNames[bannerIndex]
        })
      }}
      {%- set bannerIndex = bannerIndex + 1 -%}
    {%- endif -%}

    {{
      seeAllCTA(
        __(i18nCat + 'seeAllCTA'),
        __(i18nCat + 'url')
      )
    }}

    {{ alternatingLeaderboard(alternatingLBOptions) }}
    {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
  {% endfor %}
{% endblock %}

{% block sidebar %}
  {% include "partials/organizations/sidebar.njk" %}
{% endblock %}
