{% extends "layouts/subjectPageLayout.njk" %}


{%- from 'macros/banner-ad.njk' import alternatingLeaderboard, inContextLeaderboard, mobileBannerAds -%}
{%- from 'macros/content-section.njk' import contentSection -%}
{%- from 'macros/cta.njk' import seeAllOfTypeCTA -%}
{%- from 'macros/piece-index.njk' import articleList, bookList -%}
{%- from 'options/banner-ads.njk' import globalSidebarBanners -%}


{%- set isDraftMode = apos.aemUtils.isDraftMode(data) -%}
{%- set numPreviews = 4 -%}
{%- set mainLBOptions = { data: data, propName: 'readLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'readMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}
{%-
  set alternatingLBOptions = {
    index: 1,
    isMainVisible: isMainLBVisible,
    isMinorVisible: isMinorLBVisible,
    mainOptions: mainLBOptions,
    minorOptions: minorLBOptions,
    additionalOptions: {}
  }
-%}
{%- set increaseIndex = apos.aemBannerAds.increaseAlternatingLeaderboardIndex -%}


{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}


{% block pageContent %}
  {%- set bannerIndex = 0 -%}

  {# rich preamble #}
  {%- set hasContent = data.page.bodyContent and data.page.bodyContent|length -%}
  {%- if hasContent or isDraftMode -%}
    <div class="rich-preamble">
      {{ contentSection(data.page) }}
    </div>
    {{ alternatingLeaderboard(alternatingLBOptions) }}
    {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
  {%- endif -%}

  {# articles #}
  <section class="subject-section articles">
    <div class="section-heading">
      <h2 class="h2">{{ __('articles|heading') }}</h2>
    </div>

    {# featured piece #}
    <div class="featured-piece">
      {% include "partials/articles/featured.njk" %}
    </div>

    {# mobile banners #}
    {%- if bannerIndex < globalSidebarBanners|length -%}
      {{
        mobileBannerAds({
          data: data,
          propName: globalSidebarBanners[bannerIndex]
        })
      }}
      {%- set bannerIndex = bannerIndex + 1 -%}
    {%- endif -%}

    {# recently added pieces #}
    <div class="recently-added-articles">
      <h3 class="content-type-heading">
        {{ __('articles|recentlyAdded') }}
      </h3>
      {%-
        set recentArticles = apos.aemPieces.getFirstN(
          data.articlesByMostRecent,
          numPreviews
        )
      -%}
      {{ articleList(recentArticles, locale) }}
    </div>

    {# cta #}
    {{ seeAllOfTypeCTA('articles') }}

    {# leaderboard #}
    {{ alternatingLeaderboard(alternatingLBOptions) }}
    {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
  </section>

  {# books #}
  <section class="subject-section books">
    <div class="section-heading">
      <h2 class="h2">{{ __('books|heading') }}</h2>
    </div>

    {# featured piece #}
    {%- set hasFeaturedBook = apos.aemPieces.hasFeaturedBook(data) -%}
    {%- if hasFeaturedBook or isDraftMode -%}
      <div class="featured-piece book">
        {% include "partials/books/featured.njk" %}
      </div>

      {# mobile banners #}
      {%- if bannerIndex < globalSidebarBanners|length -%}
        {{
          mobileBannerAds({
            data: data,
            propName: globalSidebarBanners[bannerIndex]
          })
        }}
        {%- set bannerIndex = bannerIndex + 1 -%}
      {%- endif -%}
    {%- endif -%}

    {# recently added pieces #}
    <div class="recently-added-books">
      <h3 class="content-type-heading">
        {{ __('books|recentlyAdded') }}
      </h3>
      {%-
        set recentBooks = apos.aemPieces.getFirstN(
          data.booksByMostRecent,
          numPreviews
        )
      -%}
      {%-
        set bookListOptions = {
          editorLabel: __('books|editorAbbreviation')
        }
      -%}
      {{ bookList(recentBooks, bookListOptions) }}
    </div>

    {# mobile banners #}
    {%- if not hasFeaturedBook and bannerIndex < globalSidebarBanners|length -%}
      {{
        mobileBannerAds({
          data: data,
          propName: globalSidebarBanners[bannerIndex]
        })
      }}
      {%- set bannerIndex = bannerIndex + 1 -%}
    {%- endif -%}

    {# cta #}
    {{ seeAllOfTypeCTA('books') }}

    {# leaderboard #}
    {{ alternatingLeaderboard(alternatingLBOptions) }}
    {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
  </section>

  {# mobile banners #}
  {%- if bannerIndex < globalSidebarBanners|length -%}
    {{
      mobileBannerAds({
        data: data,
        propName: globalSidebarBanners[bannerIndex]
      })
    }}
    {%- set bannerIndex = bannerIndex + 1 -%}
  {%- endif -%}
{% endblock %}
