{% extends "layouts/subjectPageLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard, mobileBannerAds -%}
{%- from 'macros/content-section.njk' import contentSection -%}
{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/piece-index.njk' import articleList, bookList -%}


{%- set numPreviews = 4 -%}
{%- set mainLBOptions = { data: data, propName: 'readLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'readMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}
{%-
  set bannerPropNames = [
    'globalSidebarBanners1',
    'globalSidebarBanners2',
    'globalSidebarBanners3'
  ]
-%}


{% macro alternateLeaderboard(lbIndex, options) %}
  {%- if lbIndex % 2 === 0 -%}
    {# even #}
    {%- if isMainLBVisible -%}
      {{ inContextLeaderboard(mainLBOptions, options) }}
    {%- endif -%}
  {%- else -%}
    {# odd #}
    {%- if isMinorLBVisible -%}
      {{ inContextLeaderboard(minorLBOptions, options) }}
    {%- endif -%}
  {%- endif -%}
{% endmacro %}


{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}


{% block pageContent %}
  {%- set lbIndex = 1 -%}
  {%- set bannerIndex = 0 -%}

  {# rich preamble #}
  {%- set hasContent = data.page.bodyContent and data.page.bodyContent|length -%}
  {%- if hasContent or apos.aemUtils.isDraftMode(data) -%}
    <div class="rich-preamble">
      {{ contentSection(data.page) }}
    </div>
    {{ alternateLeaderboard(lbIndex) }}
    {%- set lbIndex = lbIndex + 1 -%}
  {%- endif -%}

  {# articles #}
  <section class="subject-section articles">
    <div class="section-heading">
      <h2 class="h2">{{ __('articles|heading') }}</h2>
    </div>
    <div class="featured-piece">
      {% include "partials/articles/featured.njk" %}
    </div>
    <div class="recently-added-articles">
      <h3 class="content-type-heading">
        {{ __('articles|recentlyAdded') }}
      </h3>
      {%-
        set recentArticles = apos.aemPieces.getFirstN(
          data.articlesByMostRecent,
          numPreviews
        )
      -%}
      {{ articleList(recentArticles, locale) }}
    </div>
    {{
      seeAllCTA(
        __('articles|seeAllCTA'),
        __('articles|url')
      )
    }}
    {{ alternateLeaderboard(lbIndex) }}
    {%- set lbIndex = lbIndex + 1 -%}
  </section>

  {# mobile banners #}
  {%- if bannerIndex < bannerPropNames|length -%}
    {{
      mobileBannerAds({
        data: data,
        propName: bannerPropNames[bannerIndex]
      })
    }}
    {%- set bannerIndex = bannerIndex + 1 -%}
  {%- endif -%}

  {# books #}
  <section class="subject-section books">
    <div class="section-heading">
      <h2 class="h2">{{ __('books|heading') }}</h2>
    </div>

    {%- if apos.aemPieces.hasFeaturedBook(data) or apos.aemUtils.isDraftMode(data) -%}
      <div class="featured-piece book">
        {% include "partials/books/featured.njk" %}
      </div>
    {%- endif -%}

    <div class="recently-added-books">
      <h3 class="content-type-heading">
        {{ __('books|recentlyAdded') }}
      </h3>
      {%-
        set recentBooks = apos.aemPieces.getFirstN(
          data.booksByMostRecent,
          numPreviews
        )
      -%}
      {%-
        set bookListOptions = {
          editorLabel: __('books|editorAbbreviation')
        }
      -%}
      {{ bookList(recentBooks, bookListOptions) }}
    </div>
    {{
      seeAllCTA(
        __('books|seeAllCTA'),
        __('books|url')
      )
    }}
    {{ alternateLeaderboard(lbIndex) }}
    {%- set lbIndex = lbIndex + 1 -%}
  </section>

  {# mobile banners #}
  {%- if bannerIndex < bannerPropNames|length -%}
    {{
      mobileBannerAds({
        data: data,
        propName: bannerPropNames[bannerIndex]
      })
    }}
    {%- set bannerIndex = bannerIndex + 1 -%}
  {%- endif -%}
{% endblock %}
