{% extends "layouts/subjectPageLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard, mobileBannerAds -%}
{%- from 'macros/content-section.njk' import contentSection -%}
{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/piece-index.njk' import eventList -%}
{%- from 'macros/piece-index.njk' import recentlyAdded -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set numPreviews = 4 -%}
{%- set mainLBOptions = { data: data, propName: 'visitLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'visitMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}
{%-
  set bannerPropNames = [
    'globalSidebarBanners1',
    'globalSidebarBanners2',
    'globalSidebarBanners3'
  ]
-%}


{% macro alternateLeaderboard(lbIndex, options) %}
  {%- if lbIndex % 2 === 0 -%}
    {# even #}
    {%- if isMainLBVisible -%}
      {{ inContextLeaderboard(mainLBOptions, options) }}
    {%- endif -%}
  {%- else -%}
    {# odd #}
    {%- if isMinorLBVisible -%}
      {{ inContextLeaderboard(minorLBOptions, options) }}
    {%- endif -%}
  {%- endif -%}
{% endmacro %}


{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {%- set lbIndex = 1 -%}
  {%- set bannerIndex = 0 -%}

  {# rich preamble #}
  {%- set hasContent = data.page.bodyContent and data.page.bodyContent|length -%}
  {%- if hasContent or apos.aemUtils.isDraftMode(data) -%}
    <div class="rich-preamble">
      {{ contentSection(data.page) }}
    </div>
    {{ alternateLeaderboard(lbIndex) }}
    {%- set lbIndex = lbIndex + 1 -%}
  {%- endif -%}

  {# galleries #}
  <section class="subject-section galleries">
    <div class="section-heading">
      <h2 class="h2">{{ __('organizations|categories|galleries|title') }}</h2>
    </div>
    {{
      recentlyAdded(
        __('organizations|categories|galleries|recentlyAdded'),
        data.organizationsByMostRecent,
        __('organizations|categories|galleries|tags'),
        numPreviews
      )
    }}
    {{
      seeAllCTA(
        __('organizations|categories|galleries|seeAllCTA'),
        __('organizations|categories|galleries|url')
      )
    }}
    {{ alternateLeaderboard(lbIndex) }}
    {%- set lbIndex = lbIndex + 1 -%}
  </section>

  {# mobile banners #}
  {%- if bannerIndex < bannerPropNames|length -%}
    {{
      mobileBannerAds({
        data: data,
        propName: bannerPropNames[bannerIndex]
      })
    }}
    {%- set bannerIndex = bannerIndex + 1 -%}
  {%- endif -%}

  {# art centers #}
  <section class="subject-section art-centers">
    <div class="section-heading">
      <h2 class="h2">{{ __('organizations|categories|artCenters|title') }}</h2>
    </div>
    {{
      recentlyAdded(
        __('organizations|categories|artCenters|recentlyAdded'),
        data.organizationsByMostRecent,
        __('organizations|categories|artCenters|tags'),
        numPreviews
      )
    }}
    {{
      seeAllCTA(
        __('organizations|categories|artCenters|seeAllCTA'),
        __('organizations|categories|artCenters|url')
      )
    }}
    {{ alternateLeaderboard(lbIndex) }}
    {%- set lbIndex = lbIndex + 1 -%}
  </section>

  {# mobile banners #}
  {%- if bannerIndex < bannerPropNames|length -%}
    {{
      mobileBannerAds({
        data: data,
        propName: bannerPropNames[bannerIndex]
      })
    }}
    {%- set bannerIndex = bannerIndex + 1 -%}
  {%- endif -%}

  {# maker spaces #}
  <section class="subject-section maker-spaces">
    <div class="section-heading">
      <h2 class="h2">{{ __('organizations|categories|makerSpaces|title') }}</h2>
    </div>
    {{
      recentlyAdded(
        __('organizations|categories|makerSpaces|recentlyAdded'),
        data.organizationsByMostRecent,
        __('organizations|categories|makerSpaces|tags'),
        numPreviews
      )
    }}
    {{
      seeAllCTA(
        __('organizations|categories|makerSpaces|seeAllCTA'),
        __('organizations|categories|makerSpaces|url')
      )
    }}
    {{ alternateLeaderboard(lbIndex) }}
    {%- set lbIndex = lbIndex + 1 -%}
  </section>

  {# mobile banners #}
  {%- if bannerIndex < bannerPropNames|length -%}
    {{
      mobileBannerAds({
        data: data,
        propName: bannerPropNames[bannerIndex]
      })
    }}
    {%- set bannerIndex = bannerIndex + 1 -%}
  {%- endif -%}

  {# festivals #}
  {%-
    set festivals = apos.aemPieces.getFirstNWithTags(
      data.ongoingAndFutureEvents,
      numPreviews,
      __('events|categories|festivals|tags')
    )
  -%}
  {%- if festivals|length -%}
    <section class="subject-section festivals">
      <div class="section-heading">
        <h2 class="h2">{{ __('events|categories|festivals|nextOrOngoing') }}</h2>
      </div>
      {{ eventList(festivals, locale) }}
      {{
        seeAllCTA(
          __('events|categories|festivals|seeAllCTA'),
          __('events|categories|festivals|url')
        )
      }}
      {{ alternateLeaderboard(lbIndex) }}
      {%- set lbIndex = lbIndex + 1 -%}
    </section>

    {%- if bannerIndex < bannerPropNames|length -%}
      {{
        mobileBannerAds({
          data: data,
          propName: bannerPropNames[bannerIndex]
        })
      }}
      {%- set bannerIndex = bannerIndex + 1 -%}
    {%- endif -%}
  {%- endif -%}

  {# conferences #}
  {%-
    set conferences = apos.aemPieces.getFirstNWithTags(
      data.ongoingAndFutureEvents,
      numPreviews,
      __('events|categories|conferences|tags')
    )
  -%}
  {%- if conferences|length -%}
    <section class="subject-section conferences">
      <div class="section-heading">
        <h2 class="h2">{{ __('events|categories|conferences|nextOrOngoing') }}</h2>
      </div>
      {{ eventList(conferences, locale) }}
      {{
        seeAllCTA(
          __('events|categories|conferences|seeAllCTA'),
          __('events|categories|conferences|url')
        )
      }}
      {{ alternateLeaderboard(lbIndex) }}
      {%- set lbIndex = lbIndex + 1 -%}
    </section>

    {%- if bannerIndex < bannerPropNames|length -%}
      {{
        mobileBannerAds({
          data: data,
          propName: bannerPropNames[bannerIndex]
        })
      }}
      {%- set bannerIndex = bannerIndex + 1 -%}
    {%- endif -%}
  {%- endif -%}
{% endblock %}
