{% extends "layouts/subjectPageLayout.njk" %}


{%- from 'macros/banner-ad.njk' import alternatingLeaderboard, inContextLeaderboard, mobileBannerAds -%}
{%- from 'macros/content-section.njk' import contentSection -%}
{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/piece-index.njk' import recentlyAdded -%}
{%- from 'options/banner-ads.njk' import globalSidebarBanners -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set numPreviews = 4 -%}
{%- set mainLBOptions = { data: data, propName: 'visitLeaderboard' } -%}
{%- set minorLBOptions = { data: data, propName: 'visitMinorLeaderboard' } -%}
{%- set isMainLBVisible = apos.aemBannerAds.areVisible(mainLBOptions) -%}
{%- set isMinorLBVisible = apos.aemBannerAds.areVisible(minorLBOptions) -%}
{%-
  set alternatingLBOptions = {
    index: 1,
    isMainVisible: isMainLBVisible,
    isMinorVisible: isMinorLBVisible,
    mainOptions: mainLBOptions,
    minorOptions: minorLBOptions,
    additionalOptions: {}
  }
-%}
{%- set increaseIndex = apos.aemBannerAds.increaseAlternatingLeaderboardIndex -%}


{% block advertisementBeforeMain %}
  {%- if isMainLBVisible -%}
    {{ inContextLeaderboard(mainLBOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {%- set bannerIndex = 0 -%}

  {# rich preamble #}
  {%- set hasContent = data.page.bodyContent and data.page.bodyContent|length -%}
  {%- if hasContent or apos.aemUtils.isDraftMode(data) -%}
    <div class="rich-preamble">
      {{ contentSection(data.page) }}
    </div>
    {{ alternatingLeaderboard(alternatingLBOptions) }}
    {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
  {%- endif -%}

  {# galleries #}
  <section class="subject-section galleries">
    <div class="section-heading">
      <h2 class="h2">{{ __('organizations|categories|galleries|title') }}</h2>
    </div>

    {# recently added pieces #}
    {{
      recentlyAdded(
        __('organizations|categories|galleries|recentlyAdded'),
        data.organizationsByMostRecent,
        __('organizations|categories|galleries|tags'),
        numPreviews
      )
    }}

    {# mobile banners #}
    {%- if bannerIndex < globalSidebarBanners|length -%}
      {{
        mobileBannerAds({
          data: data,
          propName: globalSidebarBanners[bannerIndex]
        })
      }}
      {%- set bannerIndex = bannerIndex + 1 -%}
    {%- endif -%}

    {# cta #}
    {{
      seeAllCTA(
        __('organizations|categories|galleries|seeAllCTA'),
        __('organizations|categories|galleries|url')
      )
    }}

    {# leaderboard #}
    {{ alternatingLeaderboard(alternatingLBOptions) }}
    {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
  </section>

  {# art centers #}
  <section class="subject-section art-centers">
    <div class="section-heading">
      <h2 class="h2">{{ __('organizations|categories|artCenters|title') }}</h2>
    </div>

    {# recently added pieces #}
    {{
      recentlyAdded(
        __('organizations|categories|artCenters|recentlyAdded'),
        data.organizationsByMostRecent,
        __('organizations|categories|artCenters|tags'),
        numPreviews
      )
    }}

    {# mobile banners #}
    {%- if bannerIndex < globalSidebarBanners|length -%}
      {{
        mobileBannerAds({
          data: data,
          propName: globalSidebarBanners[bannerIndex]
        })
      }}
      {%- set bannerIndex = bannerIndex + 1 -%}
    {%- endif -%}

    {# cta #}
    {{
      seeAllCTA(
        __('organizations|categories|artCenters|seeAllCTA'),
        __('organizations|categories|artCenters|url')
      )
    }}

    {# leaderboard #}
    {{ alternatingLeaderboard(alternatingLBOptions) }}
    {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
  </section>

  {# maker spaces #}
  <section class="subject-section maker-spaces">
    <div class="section-heading">
      <h2 class="h2">{{ __('organizations|categories|makerSpaces|title') }}</h2>
    </div>

    {# recently added pieces #}
    {{
      recentlyAdded(
        __('organizations|categories|makerSpaces|recentlyAdded'),
        data.organizationsByMostRecent,
        __('organizations|categories|makerSpaces|tags'),
        numPreviews
      )
    }}

    {# mobile banners #}
    {%- if bannerIndex < globalSidebarBanners|length -%}
      {{
        mobileBannerAds({
          data: data,
          propName: globalSidebarBanners[bannerIndex]
        })
      }}
      {%- set bannerIndex = bannerIndex + 1 -%}
    {%- endif -%}

    {# cta #}
    {{
      seeAllCTA(
        __('organizations|categories|makerSpaces|seeAllCTA'),
        __('organizations|categories|makerSpaces|url')
      )
    }}

    {# leaderboard #}
    {{ alternatingLeaderboard(alternatingLBOptions) }}
    {%- set alternatingLBOptions = increaseIndex(alternatingLBOptions) -%}
  </section>
{% endblock %}
