{%- from 'macros/cta.njk' import websiteCTA -%}


{%- if data.widget.linkType === 'internal' -%}
  {%- set targetUrl = data.widget._target._url -%}
{%- else -%}
  {%- set targetUrl = data.widget.targetUrl -%}
{%- endif -%}


{{
  websiteCTA(
    data.widget.label,
    targetUrl,
    { icon: data.widget.icon }
  )
}}
