{%- from 'macros/featured-piece.njk' import featuredArticle -%}
{%- from 'macros/mega-menu.njk' import hideMegaMenuButton, seeAllCTA -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}


{% macro recentlyAddedArticles(category) %}
  {%- set cat = 'articles|categories|' + category + '|' -%}
  {%- set tags = __(cat + 'tags') -%}
  {%- set list = apos.aemPieces.getWithTags(data.articlesByMostRecent, tags) -%}
  {%- set list = apos.aemArrays.truncate(list, 2) -%}

  <div class="list-container">
    <div class="list-heading">{{ __(cat + 'recentlyAdded') }}</div>
    <ul class="list">
      {% for listItem in list %}
        <li>
          <a
            class="list-item"
            href="{{ listItem._url }}"
          >{{ listItem.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {{
      seeAllCTA(
        __(cat + 'seeAllCTA'),
        __(cat + 'url')
      )
    }}
  </div>
{% endmacro %}


<section
  id="mmArticles"
  class="articles-section"
>
  <div class="mm-col">
    {% include "partials/articles/featured.njk" %}
  </div>

  <div class="mm-col">
    {%- set latestArticle = data.articlesByMostRecent[0] -%}
    {{ featuredArticle(latestArticle, __('articles|latest'), locale) }}
  </div>

  <div class="mm-col">
    {{ recentlyAddedArticles('news') }}
    {{ recentlyAddedArticles('reviews') }}
  </div>

  <div class="mm-col">
    {{ recentlyAddedArticles('essays') }}
    {{ recentlyAddedArticles('interviews') }}
  </div>

  <div class="mm-footer">
    <hr class="separator" />

    {{ hideMegaMenuButton() }}

    {{
      seeAllCTA(
        __('articles|seeAllCTA'),
        __('articles|url')
      )
    }}
  </div>
</section>
