{% macro seeAllCTA(propName) %}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.global,
        propName,
        'aem-link'
      )
    }}
  </div>
{% endmacro %}

{%- macro programList(heading, pieces, tags, ctaPropName) -%}
  {%- set list = apos.aemPieces.getWithTags(pieces, tags) -%}
  {%- set list = apos.aemArrays.truncate(list, 3) -%}

  <div class="list-container">
    <div class="list-heading">{{ heading }}</div>
    <ul class="list">
      {% for listItem in list %}
        <li>
          <a
            class="list-item"
            href="{{ listItem._url }}"
          >
            <span class="piece-title">{{ listItem.title }}</span>
            <br>
            {%- set institution = listItem._institution[0] -%}
            <span>{{ institution.title }}</span>
            <br>
            <span>{{ institution.city }}, {{ institution.country }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    {{ seeAllCTA(ctaPropName) }}
  </div>
{%- endmacro -%}

{%- macro orgList(heading, pieces, tags, ctaPropName) -%}
  {%- set list = apos.aemPieces.getWithTags(pieces, tags) -%}
  {%- set list = apos.aemArrays.truncate(list, 4) -%}

  <div class="list-container">
    <div class="list-heading">{{ heading }}</div>
    <ul class="list">
      {% for listItem in list %}
        <li>
          <a
            class="list-item"
            href="{{ listItem._url }}"
          >
            <span class="piece-title">{{ listItem.title }}</span>
            <br>
            <span>{{ listItem.city }}, {{ listItem.country }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    {{ seeAllCTA(ctaPropName) }}
  </div>
{%- endmacro -%}


<section
  id="mmEducation"
  class="education-section"
>
  <div class="mm-col">
    {% include "partials/education/featured.njk" %}
  </div>

  <div class="mm-col">
    {{
      programList(
        'Recently Added Undergrad Programs',
        data.educationByMostRecent,
        ['undergrad', 'bfa', "bachelor's"],
        'seeAllUndergradCTA'
      )
    }}
  </div>

  <div class="mm-col">
    {{
      programList(
        'Recently Added Graduate Programs',
        data.educationByMostRecent,
        ['graduate', 'mfa'],
        'seeAllGradCTA'
      )
    }}
  </div>

  <div class="mm-col">
    {{
      orgList(
        'Recently Added Academic Institutions',
        data.organizationsByMostRecent,
        ['university', 'academia'],
        'seeAllUniversitiesCTA'
      )
    }}
  </div>

  <div class="mm-footer">
    <hr class="separator" />

    <button
      class="hide-mega-menu-button"
    >Hide menu</button>

    {{ seeAllCTA('seeAllEducationCTA') }}
  </div>
</section>
