{%- from 'macros/mega-menu.njk' import orgList, hideMegaMenuButton, seeAllCTA -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{%- set hasFeaturedEducation = apos.aemPieces.hasFeaturedEducation(data) > 0 -%}
{%- if hasFeaturedEducation -%}
  {%- set colClassList = 'mm-col' -%}
{%- else -%}
  {%- set colClassList = 'mm-col-3' -%}
{%- endif -%}


{%- macro programList(category) -%}
  {%- set cat = 'education|categories|' + category + '|' -%}
  {%- set tags = __(cat + 'tags') -%}
  {%- set list = apos.aemPieces.getWithTags(data.educationByMostRecent, tags) -%}
  {%- set list = apos.aemArrays.truncate(list, 3) -%}

  <div class="list-container">
    <div class="list-heading">{{ __(cat + 'recentlyAdded') }}</div>
    <ul class="list">
      {% for listItem in list %}
        <li>
          <a
            class="list-item"
            href="{{ listItem._url }}"
          >
            <span class="piece-title">{{ listItem.title }}</span>
            <br>
            {%- set institution = listItem._institution[0] -%}
            <span>{{ institution.title }}</span>
            <br>
            {%- set localizedCountry = apos.aemI18n.getCountry(institution.country, locale) -%}
            <span>{{ institution.city }}, {{ localizedCountry }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    {{
      seeAllCTA(
        __(cat + 'seeAllCTA'),
        __(cat + 'url')
      )
    }}
  </div>
{%- endmacro -%}


<section
  id="mmEducation"
  class="education-section"
>
  {%- if hasFeaturedEducation -%}
    <div class="mm-col">
      {% include "partials/education/featured.njk" %}
    </div>
  {%- endif -%}

  <div class="{{ colClassList }}">
    {{ programList('undergrad') }}
  </div>

  <div class="{{ colClassList }}">
    {{ programList('masters') }}
  </div>

  <div class="{{ colClassList }}">
    {{ orgList(data.organizationsByMostRecent, 'academicInstitutions', locale) }}
  </div>

  <div class="mm-footer">
    <hr class="separator" />

    {{ hideMegaMenuButton('mmEducation') }}

    {{
      seeAllCTA(
        __('education|seeAllCTA'),
        __('education|url')
      )
    }}
  </div>
</section>
