{%- from 'macros/featured-piece.njk' import featuredEvent -%}
{%- from 'macros/mega-menu.njk' import hideMegaMenuButton, seeAllCTA -%}


{%- macro eventList(pieces, category, heading) -%}
  {%- set cat = 'events|categories|' + category + '|' -%}
  {%- set tags = __(cat + 'tags') -%}

  {%- set list = apos.aemPieces.getWithTags(pieces, tags) -%}
  {%- set list = apos.aemArrays.truncate(list, 3) -%}

  <div class="list-container">
    <div class="list-heading">{{ heading }}</div>
    <ul class="list">
      {% for listItem in list %}
        {%- if listItem.endDate -%}
          {%- set displayDate = apos.aem.formatDate(listItem.startDate) + ' — ' + apos.aem.formatDate(listItem.endDate) -%}
        {%- else -%}
          {%- set displayDate = apos.aem.formatDate(listItem.startDate) -%}
        {%- endif -%}
        <li>
          <a
            class="list-item"
            href="{{ listItem._url }}"
          >
            <span class="piece-title">{{ listItem.title }}</span>
            <br>
            <span>{{ listItem.city }}, {{ listItem.country }}, {{ displayDate }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    {{
      seeAllCTA(
        __(cat + 'seeAllCTA'),
        __(cat + 'url')
      )
    }}
  </div>
{%- endmacro -%}


<section
  id="mmEvents"
  class="events-section"
>
  <div class="mm-col">
    {% include "partials/events/featured.njk" %}
  </div>

  <div class="mm-col">
    {%- set nextEvent = data.orderedEvents[0] -%}
    {{
      featuredEvent(
        nextEvent,
        __('events|next')
      )
    }}
  </div>

  <div class="mm-col">
    {%- set nextEvents = apos.aemArrays.splice(data.orderedEvents, 0) -%}
    {{
      eventList(
        nextEvents,
        'festivals',
        __('events|categories|festivals|next')
      )
    }}
  </div>

  <div class="mm-col">
    {{
      eventList(
        data.eventsByMostRecent,
        'festivals',
        __('events|categories|festivals|recentlyAdded')
      )
    }}
  </div>

  <div class="mm-footer">
    <hr class="separator" />

    {{ hideMegaMenuButton() }}

    {{
      seeAllCTA(
        __('events|seeAllCTA'),
        __('events|url')
      )
    }}
  </div>
</section>
