{%- from 'macros/featured-piece.njk' import featuredEvent -%}
{%- from 'macros/mega-menu.njk' import hideMegaMenuButton, seeAllCTA -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}

{# FIXME: improve this check #}
{%- set hasFeaturedEvent = data.global.featuredEvent.items[0].pieceIds|length > 0 -%}

{%- set numOngoingProjects = data.ongoingEvents|length -%}
{%- set numFutureProjects = data.futureEvents|length -%}


{% macro eventTile(event, label) %}
  <div class="mm-col">
    {{ featuredEvent(event, label, locale) }}
  </div>
{% endmacro %}

{%- macro eventList(pieces, category, heading) -%}
  {%- set cat = 'events|categories|' + category + '|' -%}
  {%- set tags = __(cat + 'tags') -%}

  {%- set list = apos.aemPieces.getWithTags(pieces, tags) -%}
  {%- set list = apos.aemArrays.truncate(list, 3) -%}

  <div class="list-container">
    <div class="list-heading">{{ heading }}</div>
    <ul class="list">
      {% for listItem in list %}
        {%-
          set displayDate = apos.aemDates.buildDisplayDate(
            listItem.startDate,
            listItem.endDate,
            locale
          )
        -%}
        <li>
          <a
            class="list-item"
            href="{{ listItem._url }}"
          >
            <span class="piece-title">{{ listItem.title }}</span>
            <br>
            {%- set localizedCountry = apos.aemI18n.getCountry(listItem.country, locale) -%}
            <span>{{ listItem.city }}, {{ localizedCountry }}, {{ displayDate }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    {{
      seeAllCTA(
        __(cat + 'seeAllCTA'),
        __(cat + 'url')
      )
    }}
  </div>
{%- endmacro -%}


<section
  id="mmEvents"
  class="events-section"
>
  {%- if hasFeaturedEvent -%}
    <div class="mm-col">
      {% include "partials/events/featured.njk" %}
    </div>

    {%- if numOngoingProjects >= 1 -%}
      {{ eventTile(data.ongoingEvents[0], __('events|ongoingSingular')) }}
    {%- else -%}
      {{ eventTile(data.futureEvents[0], __('events|upcomingSingular')) }}
    {%- endif -%}

  {%- else -%}
    {%- if numOngoingProjects >= 2 -%}
      {{ eventTile(data.ongoingEvents[0], __('events|ongoingSingular')) }}
      {{ eventTile(data.ongoingEvents[1], __('events|ongoingSingular')) }}
    {%- elseif numOngoingProjects === 1 -%}
      {{ eventTile(data.ongoingEvents[0], __('events|ongoingSingular')) }}
      {{ eventTile(data.futureEvents[1], __('events|upcomingSingular')) }}
    {%- else -%}
      {{ eventTile(data.futureEvents[0], __('events|upcomingSingular')) }}
      {{ eventTile(data.futureEvents[1], __('events|upcomingSingular')) }}
    {%- endif -%}
  {%- endif -%}

  <div class="mm-col">
    {%- if hasFeaturedEvent -%}
      {%- set numItemsToDelete = 1 -%}
    {%- else -%}
      {%- set numItemsToDelete = 2 -%}
    {%- endif -%}

    {%-
      set nextEvents = apos.aemArrays.splice(
        data.ongoingAndFutureEvents,
        0,
        numItemsToDelete
      )
    -%}

    {{
      eventList(
        nextEvents,
        'festivals',
        __('events|categories|festivals|next')
      )
    }}
  </div>

  <div class="mm-col">
    {{
      eventList(
        data.eventsByMostRecent,
        'festivals',
        __('events|categories|festivals|recentlyAdded')
      )
    }}
  </div>

  <div class="mm-footer">
    <hr class="separator" />

    {{ hideMegaMenuButton() }}

    {{
      seeAllCTA(
        __('events|seeAllCTA'),
        __('events|url')
      )
    }}
  </div>
</section>
