{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/featured-piece.njk' import featuredArticle -%}
{%- from 'macros/mega-menu.njk' import hideMegaMenuButton -%}


{%- set hasFeaturedBook = apos.aemPieces.hasFeaturedBook(data) -%}
{%- if hasFeaturedBook -%}
  {%- set colClassList = 'mm-col' -%}
{%- else -%}
  {%- set colClassList = 'mm-col-3' -%}
{%- endif -%}


{#
  @param options (object)
    - heading (string)
    - pieces (array)
    - numPieces (number)
    - ctaLabel (string)
    - ctaUrl (string)
 #}
{%- macro mediaList(options) -%}
  {%- set list = apos.aemArrays.truncate(options.pieces, options.numPieces) -%}

  <div class="list-container">
    <div class="list-heading">{{ options.heading }}</div>
    <ul class="list">
      {% for listItem in list %}
        {%- if listItem.type === 'book' -%}
          {%- set editorAbbreviation = __('books|editorAbbreviation') -%}
          {%- set authorList = apos.aemAuthors.getListFromBook(listItem, editorAbbreviation) -%}
        {%- else -%}
          {%- set authorList = apos.aemAuthors.getListFromPiece(listItem) -%}
        {%- endif -%}
        <li>
          <a
            class="list-item"
            href="{{ listItem._url }}"
          >
            <cite class="piece-title">{{ listItem.title }}</cite>
            <br>
            <span>
              {{
                apos.aemI18n.replace(
                  __('pieceDetails|byline'),
                  [{ pattern: '%s', str: authorList }]
                )
              }}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
    {{ seeAllCTA(options.ctaLabel, options.ctaUrl) }}
  </div>
{%- endmacro -%}


<section
  id="mmMedia"
  class="media-section"
>
  <div class="{{ colClassList }}">
    {% include "partials/projects/featured.njk" %}
  </div>

  {%- if hasFeaturedBook -%}
    <div class="{{ colClassList }}">
      {% include "partials/books/featured.njk" %}
    </div>
  {%- endif -%}

  <div class="{{ colClassList }}">
    {{
      mediaList({
        heading: __('projects|recentlyAdded'),
        pieces: data.projectsByMostRecent,
        numPieces: 4,
        ctaLabel: __('projects|seeAllCTA'),
        ctaUrl: __('projects|url')
      })
    }}
  </div>

  <div class="{{ colClassList }}">
    {{
      mediaList({
        heading: __('books|recentlyAdded'),
        pieces: data.booksByMostRecent,
        numPieces: 4,
        ctaLabel: __('books|seeAllCTA'),
        ctaUrl: __('books|url')
      })
    }}
  </div>

  <div class="mm-footer">
    <hr class="separator" />

    {{ hideMegaMenuButton('mmMedia') }}

    {{
      seeAllCTA(
        __('media|seeAllCTA'),
        __('media|url')
      )
    }}
  </div>
</section>
