{%- from 'macros/featured-piece.njk' import featuredArticle -%}


{% macro seeAllCTA(propName) %}
  <div class="see-all-cta">
    {{
      apos.singleton(
        data.global,
        propName,
        'aem-link'
      )
    }}
  </div>
{% endmacro %}

{#
  @param options (object)
    - heading (string)
    - pieces (array)
    - numPieces (number)
    - ctaPropName (string)
 #}
{%- macro mediaList(options) -%}
  {%- set list = apos.aemArrays.truncate(options.pieces, options.numPieces) -%}

  <div class="list-container">
    <div class="list-heading">{{ options.heading }}</div>
    <ul class="list">
      {% for listItem in list %}
        {%- set authorList = apos.aemPieces.getAuthorList(listItem) -%}
        <li>
          <a
            class="list-item"
            href="{{ listItem._url }}"
          >
            <cite class="piece-title">{{ listItem.title }}</cite>
            <br>
            <span>by {{ authorList }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    {{ seeAllCTA(options.ctaPropName) }}
  </div>
{%- endmacro -%}


<section
  id="mmMedia"
  class="media-section"
>
  <div class="mm-col">
    {% include "partials/projects/featured.njk" %}
  </div>

  <div class="mm-col">
    {% include "partials/books/featured.njk" %}
  </div>

  <div class="mm-col">
    {{
      mediaList({
        heading: 'Recently Added Projects',
        pieces: data.projectsByMostRecent,
        numPieces: 4,
        ctaPropName: 'seeAllProjectsCTA'
      })
    }}
  </div>

  <div class="mm-col">
    {{
      mediaList({
        heading: 'Recently Added Books',
        pieces: data.booksByMostRecent,
        numPieces: 3,
        ctaPropName: 'seeAllBooksCTA'
      })
    }}
  </div>

  <div class="mm-footer">
    <hr class="separator" />

    <button
      class="hide-mega-menu-button"
    >Hide menu</button>

    {{ seeAllCTA('seeAllProjectsMediaCTA') }}
  </div>
</section>
