<div class="mega-menu">
  <div class="menu-panel" id="megaMenuPanel" tabindex="-1">
    <div class="content">
      {% include "partials/components/mega-menu/discover.njk" %}
      {% include "partials/components/mega-menu/participate.njk" %}
      {% include "partials/components/mega-menu/visit.njk" %}
      {% include "partials/components/mega-menu/read.njk" %}
      {% include "partials/components/mega-menu/learn.njk" %}
      {% include "partials/components/mega-menu/lang.njk" %}
      {% include "partials/components/mega-menu/search.njk" %}
    </div>
  </div>
</div>
