<div class="mega-menu">
  <div class="menu-panel" id="megaMenuPanel">
    <div class="content">
      {% include "partials/components/mega-menu/articles.njk" %}
      {% include "partials/components/mega-menu/events.njk" %}
      {% include "partials/components/mega-menu/media.njk" %}
      {% include "partials/components/mega-menu/people.njk" %}
      {% include "partials/components/mega-menu/orgs.njk" %}
      {% include "partials/components/mega-menu/education.njk" %}
      {% include "partials/components/mega-menu/search.njk" %}
    </div>
  </div>
</div>
