{%- from 'macros/cta.njk' import seeAllCTA -%}
{%- from 'macros/mega-menu.njk' import orgList, hideMegaMenuButton -%}
{%- from 'macros/search.njk' import searchInput -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}


<section
  id="mmOrgs"
  class="orgs-section"
>
  <div class="mm-col">
    {{
      orgList(
        data.organizationsByMostRecent,
        'galleries',
        locale
      )
    }}
  </div>

  <div class="mm-col">
    {{
      orgList(
        data.organizationsByMostRecent,
        'artCenters',
        locale
      )
    }}
  </div>

  <div class="mm-col">
    {{
      orgList(
        data.organizationsByMostRecent,
        'makerSpaces',
        locale
      )
    }}
  </div>

  <div class="mm-col">
    {{
      orgList(
        data.organizationsByMostRecent,
        'mediaLabs',
        locale
      )
    }}
  </div>

  <div class="mm-footer">
    <hr class="separator" />

    {{ hideMegaMenuButton('mmOrgs') }}

    {{
      seeAllCTA(
        __('organizations|seeAllCTA'),
        __('organizations|url')
      )
    }}
  </div>
</section>
