{%- from 'macros/search.njk' import searchInput -%}
{%- from 'macros/mega-menu.njk' import orgList, hideMegaMenuButton, seeAllCTA -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}


<section
  id="mmOrgs"
  class="orgs-section"
>
  <div class="mm-col">
    {{ orgList('galleries', locale) }}
  </div>

  <div class="mm-col">
    {{ orgList('artCenters', locale) }}
  </div>

  <div class="mm-col">
    {{ orgList('makerSpaces', locale) }}
  </div>

  <div class="mm-col">
    {{ orgList('mediaLabs', locale) }}
  </div>

  <div class="mm-footer">
    <hr class="separator" />

    {{ hideMegaMenuButton() }}

    {{
      seeAllCTA(
        __('organizations|seeAllCTA'),
        __('organizations|url')
      )
    }}
  </div>
</section>
