{%- from 'macros/search.njk' import searchInput -%}
{%- from 'macros/mega-menu.njk' import orgList, hideMegaMenuButton, seeAllCTA -%}


<section
  id="mmOrgs"
  class="orgs-section"
>
  <div class="mm-col">
    {{ orgList('galleries') }}
  </div>

  <div class="mm-col">
    {{ orgList('artCenters') }}
  </div>

  <div class="mm-col">
    {{ orgList('makerSpaces') }}
  </div>

  <div class="mm-col">
    {{ orgList('mediaLabs') }}
  </div>

  <div class="mm-footer">
    <hr class="separator" />

    {{ hideMegaMenuButton() }}

    {{
      seeAllCTA(
        __('organizations|seeAllCTA'),
        __('organizations|url')
      )
    }}
  </div>
</section>
