{%- from 'macros/piece-details.njk' import truncatedDescription -%}
{%- from 'macros/profile-pic.njk' import profilePic -%}
{%- from 'macros/mega-menu.njk' import hideMegaMenuButton, seeAllCTA -%}


{% macro peopleList(category) %}
  {%- set cat = 'people|categories|' + category + '|' -%}
  {%- set tags = __(cat + 'tags') -%}
  {%- set list = apos.aemPieces.getWithTags(data.peopleByMostRecent, tags) -%}
  {%- set list = apos.aemArrays.truncate(list, 3) -%}

  <div class="list-container">
    <div class="list-heading">{{ __(cat + 'recentlyAdded') }}</div>
    <ul class="people-list">
      {% for listItem in list %}
        <li>
          <a
            class="list-item"
            href="{{ listItem._url }}"
          >
            <div class="profile-pic-container">
              {{
                profilePic(
                  listItem,
                  {
                    showCredits: false,
                    showIfMissing: true
                  }
                )
              }}
            </div>
            <div class="person-details">
              <div class="person-name">
                {{ listItem.title }}
              </div>
              <div class="person-description">
                {{
                  truncatedDescription(
                    listItem,
                    {
                      alwaysTruncate: true,
                      length: 75
                    }
                  )
                }}
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}


<section
  id="mmPeople"
  class="people-section"
>
  <div class="mm-col-3">
    {{ peopleList('creators') }}
  </div>

  <div class="mm-col-3">
    {{ peopleList('authors') }}
  </div>

  <div class="mm-col-3">
    {{ peopleList('educators') }}
  </div>

  <div class="mm-footer">
    <hr class="separator" />

    {{ hideMegaMenuButton() }}

    {{
      seeAllCTA(
        __('people|seeAllCTA'),
        __('people|url')
      )
    }}
  </div>
</section>
