{%- from 'macros/search.njk' import searchInput -%}
{%- from 'macros/mega-menu.njk' import hideMegaMenuButton -%}


<section
  id="mmSearch"
  class="search-section"
>
  <div class="mm-search-col">
    {{
      searchInput({
        id: 'mmSearchInput',
        label: __('search|buttonLabel')
      })
    }}
  </div>

  <div class="mm-footer">
    <hr class="separator" />

    {{ hideMegaMenuButton() }}
  </div>
</section>
