{%- from 'macros/featured-piece.njk' import featuredEvent -%}
{%- from 'macros/mega-menu.njk' import orgList, hideMegaMenuButton -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}


<section
  id="mmVisit"
  class="visit-section"
>
  <div class="mm-col-3">
    {{
      orgList(
        data.organizationsByMostRecent,
        'galleries',
        locale
      )
    }}
  </div>

  <div class="mm-col-3">
    {{
      orgList(
        data.organizationsByMostRecent,
        'artCenters',
        locale
      )
    }}
  </div>

  <div class="mm-col-3">
    {{
      orgList(
        data.organizationsByMostRecent,
        'makerSpaces',
        locale
      )
    }}
  </div>

  {#
  <div class="mm-col-3">
    {{
      eventList({
        pieces: data.ongoingAndFutureEvents,
        heading: __('events|categories|festivals|next'),
        category: 'festivals',
        locale: locale
      })
    }}
  </div>
   #}

  <div class="mm-footer">
    <hr class="separator" />
    {{ hideMegaMenuButton('mmVisit') }}
  </div>
</section>
