{%- from 'macros/featured-piece.njk' import featuredArticle -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}


{%- if data.widget._pieces -%}
  {%- if data.widget.isSponsored -%}
    {%- set label = __('articles|sponsored') -%}
  {%- else -%}
    {%- set label = __('articles|featured') -%}
  {%- endif -%}

  {%- set piece = data.widget._pieces[0] -%}
  {{ featuredArticle(piece, label, locale) }}
{%- endif -%}
