{%- from 'macros/featured-piece.njk' import featuredArticle -%}


{# FIXME: figure out better way to get widget data #}
{% set hasProject = data.widget._pieces.length > 0 %}

{%- if hasProject -%}
  {%- if data.widget.isSponsored -%}
    {# TODO: mention sponsor #}
    {%- set label = 'Sponsored Article' -%}
  {%- else -%}
    {%- set label = 'Featured Article' -%}
  {%- endif -%}

  {%- set piece = data.widget._pieces[0] -%}
  {{ featuredArticle(piece, label) }}
{%- endif -%}
