{%- from 'macros/featured-piece.njk' import featuredArticle -%}


{%- set locale = apos.aemI18n.getSanitizedLocale(data) -%}
{# FIXME: figure out better way to get widget data #}
{% set hasWidget = data.widget._pieces.length > 0 %}


{%- if hasWidget -%}
  {%- if data.widget.isSponsored -%}
    {%- set label = __('articles|sponsored') -%}
  {%- else -%}
    {%- set label = __('articles|featured') -%}
  {%- endif -%}

  {%- set piece = data.widget._pieces[0] -%}
  {{ featuredArticle(piece, label, locale) }}
{%- endif -%}
