<header class="header">
  <div class="mobile-container">
    {% include "partials/components/mobile-menu/menu-button.njk" %}
    {% include "partials/components/header/header-title.njk" %}
    {% include "partials/components/mobile-menu/search-button.njk" %}
  </div>

  <div class="desktop-container">
    {% include "partials/components/header/header-title.njk" %}
    {% include "partials/components/header/nav-by-type.njk" %}
  </div>
</header>
