<header class="header">
  <div class="mobile-container">
    {% include "partials/components/mobile-menu/menu-button.njk" %}
    <div class="site-title-content">
      {% include "partials/components/header/header-title.njk" %}
    </div>
    {% include "partials/components/mobile-menu/search-button.njk" %}
  </div>

  <div class="desktop-container">
    <div class="site-title-content">
      {% include "partials/components/header/header-title.njk" %}
      {% include "partials/components/header/search.njk" %}
    </div>
    {% include "partials/components/header/nav-by-subject.njk" %}
    {% include "partials/components/mega-menu/mega-menu-by-subject.njk" %}
  </div>
</header>
