<div class="site-title">
  <a
    class="title-link"
    href="{{ data.home._url }}"
  >{{ __('global|title') }}</a>

  <details class="header-details">
    <summary class="summary">
      <span class="summary-caret">
        {% include "/svg/icon-caret-down.svg" %}
      </span>
      <span class="summary-content">{{ __('global|shortDescription') }}</span>
    </summary>
    <div class="details-content">{{ __('global|longDescription') }}</div>
  </details>
</div>
