{%- from 'macros/search.njk' import searchInput -%}


<div id="headerSearch" class="header-search">
  {{
    searchInput({
      id: 'headerSearchInput',
      label: __('search|buttonLabel')
    })
  }}
</div>
