{% extends "layouts/indexLayout.njk" %}


{%- from 'macros/banner-ad.njk' import inContextLeaderboard -%}


{%- set leaderboardOptions = { data: data, propName: 'booksLeaderboard' } -%}
{%- set areLeaderboardsVisible = apos.aemBannerAds.areVisible(leaderboardOptions) -%}


{% block mainAdditionalClasses %}books-index{% endblock %}

{% block advertisementBeforeMain %}
  {%- if areLeaderboardsVisible -%}
    {{ inContextLeaderboard(leaderboardOptions, { location: 'before' }) }}
  {%- endif -%}
{% endblock %}

{% block pageContent %}
  {# pieces list #}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      data.booksByTitle,
      data.currentPage
    )
  -%}

  {%- if piecesOnPage|length -%}
    {{ pieceList(piecesOnPage, true) }}

    {# pagination #}
    {{
      pager.render(
        {
          page: data.currentPage,
          total: data.totalPages
        },
        data.url
      )
    }}
  {%- else -%}
    <div class="no-pieces">
      {{ __('books|noPiecesLabel') }}
    </div>
  {%- endif -%}

  {%- if areLeaderboardsVisible -%}
    {{ inContextLeaderboard(leaderboardOptions, { location: 'after' }) }}
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/books/sidebar-index.njk" %}
{% endblock %}
