{% extends "layouts/indexLayout.njk" %}


{% block mainAdditionalClasses %}books-index{% endblock %}

{% block pageContent %}
  {# pieces list #}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      data.booksByTitle,
      data.currentPage
    )
  -%}
  {{ pieceList(piecesOnPage, true) }}

  {# pagination #}
  {{
    pager.render(
      {
        page: data.currentPage,
        total: data.totalPages
      },
      data.url
    )
  }}
{% endblock %}

{% block sidebar %}
  {% include "partials/books/sidebar-index-en.njk" %}
{% endblock %}
