{% extends "layouts/indexLayout.njk" %}

{%- from 'macros/banner-ad.njk' import leaderboard -%}


{% block mainAdditionalClasses %}books-index{% endblock %}

{% block advertisementBeforeMain %}
  {% include "partials/books/top-leaderboard.njk" %}
{% endblock %}

{% block pageContent %}
  {# pieces list #}
  {%-
    set piecesOnPage = apos.aemPieces.getAtPage(
      data.booksByTitle,
      data.currentPage
    )
  -%}

  {%- if piecesOnPage|length -%}
    {{ pieceList(piecesOnPage, true) }}

    {# pagination #}
    {{
      pager.render(
        {
          page: data.currentPage,
          total: data.totalPages
        },
        data.url
      )
    }}
  {%- else -%}
    <div class="no-pieces">
      {{ __('books|noPiecesLabel') }}
    </div>
  {%- endif -%}
{% endblock %}

{% block sidebar %}
  {% include "partials/books/sidebar-index.njk" %}
{% endblock %}
