{% extends "layouts/pieceDetailsLayout.njk" %}

{%- from 'macros/metadata.njk' import descriptiveMetaData -%}
{%- from 'macros/piece-details.njk' import relatedContent, tags, websiteCTA -%}
{%- from 'macros/piece-link-list.njk' import pieceLinkList -%}
{%- from 'options/options.njk' import fixedRichTextOptions -%}


{%- set piece = data.piece -%}

{% block title %}
  {{ piece.title }} - Books | Arts et Médias
{% endblock %}

{% block metadata %}
  {{
    descriptiveMetaData({
      title: piece.title + ', by ' + apos.aemAuthors.getListFromPiece(piece),
      description: piece.shortDescription,
      heroImage: piece.heroImage,
      url: piece._url,
      baseUrl: data.baseUrl
    })
  }}
{% endblock %}

{% block main %}
  <div class="piece-details book-details">
    <div class="content">
      <main id="main">
        <article>
          {% include "partials/components/breadcrumbs.njk" %}

          <h1 class="h1">{{ piece.title }}</h1>

          <div class="subheading">
            <h2 class="sr-only">Authors</h2>
            {{ pieceLinkList(piece._author) }}
          </div>

          <div class="page-content">
            {% block pageContent %}
              {# image start #}
              {%- set aposImageData = apos.images.first(piece.heroImage) -%}
              {%- if aposImageData -%}
                {%- set image = apos.aem.getImageBasicData(aposImageData) -%}
                <img
                  class="book-cover"
                  src="{{ image.url }}"
                  alt="{{ image.alt }}"
                />
              {%- endif -%}
              {# image end #}

              <h2 class="sr-only">Description</h2>
              <div class="description rich-description">
                {{
                  apos.singleton(
                    piece,
                    'description',
                    'apostrophe-rich-text',
                    fixedRichTextOptions
                  )
                }}
              </div>

              {{ websiteCTA(piece) }}
            {% endblock %}

            <div class="page-content">
              <hr class="separator"/>

              <dl class="piece-props-list">
                <dt>Year</dt>
                <dd>{{ piece.yearPublished }}</dd>

                {%- set lang = apos.aemLocalization.getLanguage(piece.lang) -%}
                <dt>Language</dt>
                <dd>{{ lang }}</dd>

                {%- if piece.isTranslation -%}
                  <dt>Original Language</dt>
                  {%- set originalLang = apos.aemLocalization.getLanguage(piece.originalLang) -%}
                  <dd>{{ originalLang }}</dd>

                  <dt>Translator</dt>
                  <dd>{{ pieceLinkList(piece._translator) }}</dd>
                {%- endif -%}
              </dl>

              {{ relatedContent(piece) }}

              {{ tags(piece) }}
            </div>
          </div>

          {% block sidebar %}
            {% include "partials/books/sidebar-details-en.njk" %}
          {% endblock %}
        </article>
      </main>
    </div>
  </div>
{% endblock %}
