{%- from 'macros/sidebar.njk' import eventsLink -%}


<section class="in-this-section">
  <h2 class="h1">{{ __('sidebar|inThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ eventsLink('festivals') }}
    </li>
    <li>
      {{ eventsLink('conferences') }}
    </li>
    <li>
      {{ eventsLink('workshops') }}
    </li>
    <li>
      {{ eventsLink('archives') }}
    </li>
  </ul>
</section>
