<section>
  <h2 class="h1">In This Section</h2>
  <ul>
    <li>
      <a href="/events/workshops">Workshops</a>
    </li>
    <li>
      <a href="/events/festivals">Festivals</a>
    </li>
    <li>
      <a href="/events/conferences">Conferences</a>
    </li>
  </ul>
</section>
