{% macro sidebarLink(category) %}
  <a href="{{ __('events|categories|' + category + '|url') }}">
    {{ __('events|categories|' + category + '|title') }}
  </a>
{% endmacro %}


<section class="in-this-section">
  <h2 class="h1">{{ __('sidebar|inThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ sidebarLink('festivals') }}
    </li>
    <li>
      {{ sidebarLink('conferences') }}
    </li>
    <li>
      {{ sidebarLink('workshops') }}
    </li>
  </ul>
</section>
