{%- from 'macros/search.njk' import searchInput -%}

<section>
  <hr class="separator"/>
  {{
    searchInput({
      id: 'eventsSearchInput',
      type: 'aem-events',
      label: 'Search Events'
    })
  }}
</section>
