{%- from 'macros/search.njk' import searchInput -%}


<section class="section-mt">
  {{
    searchInput({
      id: 'eventsSearchInput',
      type: 'aem-events',
      label: __('events|searchLabel')
    })
  }}
</section>
