{%- from 'macros/banner-ad.njk' import containedSidebarBanners -%}


<aside class="sidebar">
  <article>
    {{
      containedSidebarBanners({
        data: data,
        propName: 'eventsSidebarBanners1',
        hasTopSeparator: false,
        hasBottomSeparator: false
      })
    }}

    {%- set hasFeaturedEvent = data.global.featuredEvent.items.length > 0 -%}
    {%- if hasFeaturedEvent -%}
      {% include "partials/events/featured.njk" %}
      <hr class="separator no-mb" />
    {%- endif -%}

    {{
      containedSidebarBanners({
        data: data,
        propName: 'eventsSidebarBanners2',
        hasTopSeparator: false,
        hasBottomSeparator: true
      })
    }}

    {% include "partials/events/in-this-section-en.njk" %}

    <hr class="separator" />

    {% include "partials/events/search-en.njk" %}

    <hr class="separator" />

    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
