<aside class="sidebar">
  <article>
    <section>
      <h2 class="h1">In This Section</h2>
      <ul>
        <li>
          <a href="/events/festivals">Festivals</a>
        </li>
        <li>
          <a href="/events/conferences">Conferences</a>
        </li>
        <li>
          <a href="/education/workshops">Workshops</a>
        </li>
      </ul>
    </section>
    {% include "partials/events/search-en.njk" %}
    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
