<aside class="sidebar">
  <article>
    <h1>In This Section</h1>
    <ul>
      <li>
        <a href="/events/festivals">Festivals</a>
      </li>
      <li>
        <a href="/events/conferences">Conferences</a>
      </li>
      <li>
        <a href="/education/workshops">Workshops</a>
      </li>
    </ul>
  </article>
</aside>
