<aside class="sidebar">
  <article>
    {% include "partials/events/in-this-section-en.njk" %}
    {% include "partials/events/search-en.njk" %}
    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
