@import '../common/variables';


@mixin contentContainer {
  position: relative;
  margin: 0 auto;
  width: $phoneContent;

  @media #{$mqTablet} {
    width: $tabletContent;
  }
  @media #{$mqDesktop} {
    width: $desktopContent;
  }
  @media #{$mqXL} {
    width: $xlContent;
  }
  @media #{$mqXXL} {
    width: $xxlContent;
  }
}

@mixin customContentContainerWithSpanAt($numColSpan, $breakpoint) {
  $nColWidth: getColumnsSpan($numColSpan, $breakpoint);
  width: $nColWidth;
}

@mixin customContentContainerWithSpan($numColSpan) {
  position: relative;
  margin: 0 auto;
  width: $phoneContent;

  @media #{$mqTablet} {
    width: $tabletContent;
  }
  @media #{$mqDesktop} {
    @include customContentContainerWithSpanAt($numColSpan, $desktop);
  }
  @media #{$mqXL} {
    @include customContentContainerWithSpanAt($numColSpan, $xl);
  }
  @media #{$mqXXL} {
    @include customContentContainerWithSpanAt($numColSpan, $xxl);
  }
}
