@import '../common/variables';


/**
  * Calculates the span taken by
  *   `n` number of columns and gutters
  *   at a given breakpoint.
  *
  * @param $numColumns The number of columns to consider to calculate the width.
  * @param $breakpoint The breakpoint at which the calculations should be made.
  *
  * @return The width of the span of `n` columns,
  *   including the necessary amount of gutters.
  */
@function getColumnsSpan($numColumns, $breakpoint) {
  $gutterWidth: getGutterWidth($breakpoint);
  $columnWidth: getColumnWidth($breakpoint);

  // calculate column span
  $numGutters: $numColumns - 1;
  $span: calc(
    (#{$columnWidth} * #{$numColumns})
    + (#{$gutterWidth} * #{$numGutters})
  );

  @return $span;
}

/**
  * Provides the span taken by
  * a column at a given breakpoint.
  */
@function getColumnWidth($breakpoint) {
  $columnWidth: $columnWidthXs;

  @if ($breakpoint == $tablet) {
    $columnWidth: $columnWidthSm;
  }
  @else if ($breakpoint == $desktop) {
    $columnWidth: $columnWidthMd;
  }

  @return $columnWidth;
}

/**
  * Provides the span taken by
  * a gutter at a given breakpoint.
  */
@function getGutterWidth($breakpoint) {
  $gutterWidth: $gutterWidthXs;

  @if ($breakpoint == $tablet) {
    $gutterWidth: $gutterWidthSm;
  }
  @else if ($breakpoint == $desktop) {
    $gutterWidth: $gutterWidthMd;
  }

  @return $gutterWidth;
}

/**
  * Provides the span taken by
  * half a gutter at a given breakpoint.
  */
@function getGutterHalfWidth($breakpoint) {
  $gutterWidth: $gutterWidthXs / 2;

  @if ($breakpoint == $tablet) {
    $gutterWidth: $gutterWidthSm / 2;
  }
  @else if ($breakpoint == $desktop) {
    $gutterWidth: $gutterWidthMd / 2;
  }

  @return $gutterWidth;
}
