@import '../common/variables';
@import '../common/ui';
@import 'mixins';


@mixin searchAndLangSwitch() {
  .nav-item {
    &.search {
      .search-button {
        color: $white;
        display: block;

        @media #{$mqTablet} {
          background-color: transparent;
          border-radius: 0;
          border: 0;
          color: $black;
          display: inline-block;
          height: 20px;
          margin: 0;
          padding: 0 5px;
          position: relative;
          top: 2px;
          width: 20px;
        }

        @media #{$mqDesktop} {
          top: 0;
        }

        &:hover {
          color: $main;
        }

        &:focus {
          @include focusOutline();
        }

        .icon {
          display: none;

          @media #{$mqTablet} {
            display: inline-block;
            height: 12px;
            left: 2px;
            pointer-events: none;
            position: absolute;
            width: 12px;
          }

          @media #{$mqDesktop} {
            height: 14px;
            width: 14px;
          }

          @media #{$mqXL} {
            height: 16px;
            width: 16px;
          }
        }

        .label {
          text-align: center;

          @media #{$mqTablet} {
            @include visuallyHidden();
          }
        }
      }
    }
  }
}
