@import '../common/variables';
@import '../common/ui';
@import 'mixins';


@mixin searchAndLangSwitch() {
  .nav-item {
    &.search {
      .search-button {
        display: block;
        color: $white;

        @media #{$mqTablet} {
          display: inline-block;
          position: relative;
          background-color: transparent;
          border-radius: 0;
          border: 0;
          color: $black;
          height: 20px;
          margin: 0;
          padding: 0 5px;
          top: 2px;
          width: 20px;
        }

        @media #{$mqDesktop} {
          top: 0;
        }

        &:hover {
          color: $main;
        }

        &:focus {
          @include focusOutline();
        }

        .icon {
          display: none;

          @media #{$mqTablet} {
            display: inline-block;
            position: absolute;
            pointer-events: none;
            top: 2px;
            left: 2px;
            width: 12px;
            height: 12px;
          }

          @media #{$mqDesktop} {
            width: 14px;
            height: 14px;
          }

          @media #{$mqXL} {
            width: 16px;
            height: 16px;
          }
        }

        .label {
          text-align: center;

          @media #{$mqTablet} {
            @include visuallyHidden();
          }
        }
      }
    }

    &.lang-switch {
      width: 100%;
      height: 50px;
      margin-top: 50px;

      @media #{$mqTablet} {
        width: unset;
        height: unset;
        margin-top: unset;
      }
    }
  }

  .lang-switch-form {
    display: block;
    position: relative;
    margin: 15px auto;
    width: 85px;

    @media #{$mqTablet} {
      margin: 0;
      width: 65px;
    }

    @media #{$mqDesktop} {
      top: 2px;
    }

    @media #{$mqXL} {
      top: 0;
      width: 80px;
    }

    .lang-switch-select {
      -moz-appearance: none;
      -webkit-appearance: none;
      background-color: transparent;
      background-image: url(/img/icon-caret-down-white.svg);
      background-position-x: 100%;
      background-position-y: 4px;
      background-repeat: no-repeat;
      background-size: 15px 15px;
      border: none;
      color: $white;
      cursor: pointer;
      font-family: $ffTextBody;
      font-size: $fsTextBody;
      font-style: normal;
      font-weight: bold;
      left: 0;
      line-height: 1;
      min-height: 22px;
      padding-right: 20px;
      position: absolute;
      top: 3px;
      vertical-align: top;

      @media #{$mqTablet} {
        background-image: url(/img/icon-caret-down-black.svg);
        color: $black;
        font-size: $fsVerySmol;
        background-size: 10px 10px;
        padding-right: 15px;
      }

      @media #{$mqDesktop} {
      }

      @media #{$mqXL} {
        font-size: $fsTextBody;
        background-position-y: 5px;
        background-size: 12px 12px;
      }

      &:focus {
        @include focusOutline();
      }

      option {
        font-family: unset;
        font-size: unset;
        font-style: normal;
        font-weight: normal;
      }
    }

    .change-lang-button {
      background-color: transparent;
      border-radius: 0;
      border: 0;
      color: $white;
      cursor: pointer;
      height: 20px;
      position: absolute;
      right: 0;
      top: 5px;
      width: 20px;

      @media #{$mqTablet} {
        color: $black;
      }

      &:hover {
        color: $main;
      }

      &:focus {
        @include focusOutline();
      }

      .icon {
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 0;
        height: 15px;
        width: 15px;

        @media #{$mqTablet} {
          top: 0;
          right: 0;
          height: 12px;
          width: 12px;
        }

        @media #{$mqDesktop} {
          top: 1px;
        }

        @media #{$mqXL} {
          top: 2px;
          height: 15px;
          width: 15px;
        }

        @media #{$mqXXL} {
          top: 2px;
          right: 0;
          height: 15px;
          width: 15px;
        }
      }
    }
  }
}
