@use '../common/variables' as vars;
@use 'functions' as fn;


// dimensions
@mixin heroImageDimensions($colSpan, $heightRatio) {
  $width: fn.getColumnsSpan($colSpan, vars.$phone);
  $imgWidth: $width;
  $imgHeight: calc(#{ $width } * #{ $heightRatio });
  height: $imgHeight;
  width: $imgWidth;
  object-fit: cover;

  @media #{ vars.$mqTablet } {
    $width: fn.getColumnsSpan($colSpan, vars.$tablet);
    $imgWidth: $width;
    $imgHeight: calc(#{ $width } * #{ $heightRatio });
    height: $imgHeight;
    width: $imgWidth;
  }

  @media #{ vars.$mqDesktop } {
    $width: fn.getColumnsSpan($colSpan, vars.$desktop);
    $imgWidth: $width;
    $imgHeight: calc(#{ $width } * #{ $heightRatio });
    height: $imgHeight;
    width: $imgWidth;
  }

  @media #{ vars.$mqXL } {
    $width: fn.getColumnsSpan($colSpan, vars.$xl);
    $imgWidth: $width;
    $imgHeight: calc(#{ $width } * #{ $heightRatio });
    height: $imgHeight;
    width: $imgWidth;
  }

  @media #{ vars.$mqXXL } {
    $width: fn.getColumnsSpan($colSpan, vars.$xxl);
    $imgWidth: $width;
    $imgHeight: calc(#{ $width } * #{ $heightRatio });
    height: $imgHeight;
    width: $imgWidth;
  }
}

@mixin heroImageFullHeight($colSpan) {
  width: fn.getColumnsSpan($colSpan, vars.$phone);
  height: auto;
  object-fit: cover;

  @media #{ vars.$mqTablet } {
    width: fn.getColumnsSpan($colSpan, vars.$tablet);
    height: auto;
  }

  @media #{ vars.$mqDesktop } {
    width: fn.getColumnsSpan($colSpan, vars.$desktop);
    height: auto;
  }

  @media #{ vars.$mqXL } {
    width: fn.getColumnsSpan($colSpan, vars.$xl);
    height: auto;
  }

  @media #{ vars.$mqXXL } {
    width: fn.getColumnsSpan($colSpan, vars.$xxl);
    height: auto;
  }
}

@mixin heroImageContainedInSquare($colSpan) {
  $imgSize: fn.getColumnsSpan($colSpan, vars.$phone);
  height: $imgSize;
  width: $imgSize;
  object-fit: contain;

  @media #{ vars.$mqTablet } {
    $imgSize: fn.getColumnsSpan($colSpan, vars.$tablet);
    height: $imgSize;
    width: $imgSize;
  }

  @media #{ vars.$mqDesktop } {
    $imgSize: fn.getColumnsSpan($colSpan, vars.$desktop);
    height: $imgSize;
    width: $imgSize;
  }

  @media #{ vars.$mqXL } {
    $imgSize: fn.getColumnsSpan($colSpan, vars.$xl);
    height: $imgSize;
    width: $imgSize;
  }

  @media #{ vars.$mqXXL } {
    $imgSize: fn.getColumnsSpan($colSpan, vars.$xxl);
    height: $imgSize;
    width: $imgSize;
  }
}

// decoration
@mixin heroImageShadow {
  filter: drop-shadow(0 1px 1px #eeeeee);
}
