{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import truncatedDescription -%}


{# FIXME: figure out better way to get widget data #}
{% set hasProject = data.widget._pieces.length > 0 %}

{%- if hasProject -%}
<article class="featured-piece-widget featured-book-widget">
  {%- if data.widget.isSponsored -%}
    <p class="feature-type">Sponsored Book</p>
  {%- else -%}
    <p class="feature-type">Featured Book</p>
  {%- endif -%}

  {%- set piece = data.widget._pieces[0] -%}
  <h1>{{ piece.title }}</h1>

  <ul class="byline-list">
    {% for author in piece._author %}
      <li>
        <p>{{ author.title }}</p>
      </li>
    {% endfor %}
  </ul>

  {{ heroImage(piece) }}

  {{ truncatedDescription(piece) }}

  <a class="cta" href="{{ piece._url }}">View Details</a>
</article>
{%- endif -%}
