{%- from 'macros/featured-piece.njk' import featuredBook -%}


{# FIXME: figure out better way to get widget data #}
{% set hasWidget = data.widget._pieces.length > 0 %}

{%- if hasWidget -%}
  {%- if data.widget.isSponsored -%}
    {%- set label = 'Sponsored Book' -%}
  {%- else -%}
    {%- set label = 'Featured Book' -%}
  {%- endif -%}

  {%- set piece = data.widget._pieces[0] -%}
  {{ featuredBook(piece, label) }}
{%- endif -%}
