{%- from 'macros/featured-piece.njk' import featuredBook -%}


{%- if data.widget._pieces -%}
  {%- if data.widget.isSponsored -%}
    {%- set label = __('books|sponsored') -%}
  {%- else -%}
    {%- set label = __('books|featured') -%}
  {%- endif -%}

  {%- set piece = data.widget._pieces[0] -%}
  {{ featuredBook(piece, label) }}
{%- endif -%}
