{# private macros #}
{% macro warnBannerNotOngoing(user) %}
  {%- if apos.aemUsers.isUserAdmin(user) -%}
    <div style="color:darkred; font-size:14pt; font-family:monospace; word-wrap:word-break;">
      <p>The campaign "{{ piece.title }}" is not currently ongoing.</p>
      <p>Campaign is due from {{ apos.aemDates.format(piece.startDate, 'en') }} to {{ apos.aemDates.format(piece.endDate, 'en') }}.
    </div>
  {%- endif -%}
{% endmacro %}


{# public macros #}
{#
  @param piece
  @param options
  - user
  - hasLabel
#}
{% macro bannerAd(piece, options) %}
  {%- if apos.aemDates.isTodayBetween(piece.startDate, piece.endDate) -%}
    <div class="banner-ad">
      <a
        class="ad-link"
        href="{{ piece.targetUrl }}"
        rel="nofollow noopener"
      >
        {%- set aposImageData = apos.images.first(piece.bannerImage) -%}
        {%- set bannerImage = apos.aemUtils.getImageBasicData(aposImageData) -%}
        <img
          class="{{ piece.bannerType }}"
          src="{{ bannerImage.url }}"
          alt="{{ piece.altText }}"
        />
        {%- if piece.isVisibleAtMobile -%}
          {%- set aposMobileImageData = apos.images.first(piece.mobileBannerImage) -%}
          {%- set mobileBannerImage = apos.aemUtils.getImageBasicData(aposMobileImageData) -%}
          <img
            class="{{ piece.mobileBannerType }}"
            src="{{ mobileBannerImage.url }}"
            alt="{{ piece.altText }}"
          />
        {%- endif -%}
      </a>
      {%- if options.hasLabel -%}
        <p class="ad-label">
          {{ __('global|advertisementHeading') }}
        </p>
      {%- endif -%}
    </div>
  {%- else -%}
    {{ warnBannerNotOngoing(options.user) }}
  {%- endif -%}
{% endmacro %}


{#
  @param options (object)
  - data
  - propName
  - isTopLeaderboard
#}
{% macro leaderboard(options) %}
  {%- if apos.aemBannerAds.areVisible(options) -%}
    {%- set classList = 'home-leaderboard' -%}
    {%- if options.isTopLeaderboard -%}
      {%- set classList = classList + ' top' -%}
    {%- endif -%}

    <aside class="{{ classList }}">
      {{
        apos.singleton(
          options.data.global,
          options.propName,
          'aem-banner-ads',
          { hasLabel: true }
        )
      }}
    </aside>
  {%- endif -%}
{% endmacro %}


{#
  @param options (object)
  - data
  - propName
#}
{% macro sidebarBannerAds(options) %}
  {%- if apos.aemBannerAds.areVisible(options) -%}
    <div class="advertisement">
      {{
        apos.area(
          options.data.global,
          options.propName,
          {
            widgets: {
              'aem-banner-ads': { hasLabel: true }
            },
            limit: 2
          }
        )
      }}
    </div>
  {%- endif -%}
{% endmacro %}


{#
  @param options (object)
  - data
  - propName
#}
{% macro mobileBannerAds(options) %}
  {%- set pieces = options.data.global[options.propName].items[0]._pieces -%}
  {%- set numActiveBannerAds = apos.aemBannerAds.getNumActive(pieces) -%}

  {%- if apos.aemBannerAds.areVisible(options) -%}
    {%- set bannerAdOptions = { user: options.data.user, hasLabel: true } -%}

    <aside class="mobile-banners">
      {%- set banner1 = pieces[0] -%}
      {%- set banner2 = pieces[1] -%}

      {%- if numActiveBannerAds > 0 -%}
        {%- set banner1ClassList = 'banner-col banner-1' -%}
        {%- if numActiveBannerAds === 1 -%}
          {%- set banner1ClassList = banner1ClassList + ' single' -%}
        {%- endif -%}
        <div class="{{ banner1ClassList }}">
          {{ bannerAd(banner1, bannerAdOptions) }}
        </div>

        {%- if numActiveBannerAds > 1 -%}
          <div class="banner-col banner-2">
            {{ bannerAd(banner2, bannerAdOptions) }}
          </div>
        {%- endif -%}
      {%- endif -%}
    </aside>
  {%- endif -%}
{% endmacro %}


{#
  @param options (object)
  - data
  - propName
  - hasTopSeparator
  - hasBottomSeparator
#}
{% macro containedSidebarBanners(options) %}
  {%- if apos.aemBannerAds.areVisible(options) -%}
    {%- set classList = 'sidebar-banners' -%}

    <div class="{{ classList }}">
      {%- if options.hasTopSeparator -%}
        <hr class="separator no-mt" />
      {%- endif -%}

      {{ sidebarBannerAds({ data: options.data, propName: options.propName }) }}

      {%- if options.hasBottomSeparator -%}
        <hr class="separator no-mb" />
      {%- endif -%}
    </div>
  {%- endif -%}
{% endmacro %}


{% macro inContextLeaderboard(leaderboardOptions, options) %}
  {%- if options.location === 'before' -%}
    {%- set containerClass = 'before-main' -%}
  {%- elseif options.location === 'after' -%}
    {%- set containerClass = 'after-main' -%}
  {%- else -%}
    {%- set containerClass = 'in-main' -%}
  {%- endif -%}

  <div class="content advertisement-container {{ containerClass }}">
    <div class="advertisement">
      {{ leaderboard(leaderboardOptions) }}
    </div>
  </div>
{% endmacro %}


{#
  @param options (object)
  - index: Current index of the iteration. Used as a modulo.
  - isMainVisible: Whether or not the main leaderboard is visible. Overrides the modulo check.
  - isMinorVisible: Whether or not the minor leaderboard is visible. Overrides the modulo check.
  - mainOptions
  - minorOptions
  - additionalOptions
#}
{% macro alternatingLeaderboard(options) %}
  {%- if options.index % 2 === 0 -%}
    {# even #}
    {%- if options.isMainVisible -%}
      {{ inContextLeaderboard(options.mainOptions, options.additionalOptions) }}
    {%- endif -%}
  {%- else -%}
    {# odd #}
    {%- if options.isMinorVisible -%}
      {{ inContextLeaderboard(options.minorOptions, options.additionalOptions) }}
    {%- endif -%}
  {%- endif -%}
{% endmacro %}
