{# per piece #}
{% macro bookBylineList(piece, options) %}
  <ul class="byline-list">
    {% for author in piece._author %}
      <li class="byline-li">
        <span>{{ author.title }}</span>
      </li>
    {% endfor %}
    {% for editor in piece._editor %}
      <li class="byline-li">
        <span>{{ editor.title }}&nbsp;({{ options.editorLabel }})</span>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro programBylineList(piece, options) %}
  <ul class="byline-list">
    {% for org in piece._institution %}
      <li class="byline-li">
        {%- set localizedCountry = options.getCountry(org.country, options.locale) -%}
        <span>{{ org.title }}, {{ org.city }},&nbsp;{{ localizedCountry }}</span>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro bannerAdBylineList(piece, options) %}
  {%- if piece._sponsor -%}
    <ul class="byline-list">
        <li class="byline-li">
          <span>{{ piece._sponsor.title }}</span>
        </li>
    </ul>
  {%- endif -%}
{% endmacro %}

{% macro genericBylineList(piece, options) %}
  <ul class="byline-list">
    {% for author in piece._author %}
      <li class="byline-li">
        <span>{{ author.title }}</span>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}


{# global #}
{% macro bylineList(piece, options) %}
  {%- if piece.type === 'book' -%}
    {{ bookBylineList(piece, options) }}
  {%- elseif piece.type === 'education' -%}
    {{ programBylineList(piece, options) }}
  {%- elseif piece.type === 'banner' -%}
    {{ bannerAdBylineList(piece, options) }}
  {%- else -%}
    {{ genericBylineList(piece, options) }}
  {%- endif -%}
{% endmacro %}
