{%- from 'options/options.njk' import movableRichTextOptions -%}


{%-
  set defaultAreaOptions = {
    widgets: {
      'apostrophe-rich-text': movableRichTextOptions|merge({
        addLabel: 'Text'
      }),
      'apostrophe-images': {
        addLabel: 'Image',
        limit: 1
      },
      'aem-video': {},
      'aem-tweet': {},
      'aem-link': {}
    },
    contextual: true
  }
-%}

{%-
  macro contentSection(
    dataContainer,
    propName = 'bodyContent',
    useSchema = false,
    areaOptions = defaultAreaOptions
  )
-%}
  <section>
    <div class="rich-content">
      {% if useSchema %}
        {{ apos.area(dataContainer, propName) }}
      {% else %}
        {{ apos.area(dataContainer, propName, areaOptions) }}
      {% endif %}
    </div>
  </section>
{%- endmacro -%}
