{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import truncatedDescription -%}


{%- macro featuredArticle(piece, label) -%}
  <article class="featured-piece-widget featured-article-widget">
    <p class="feature-type">{{ label }}</p>

    <h1>{{ piece.title }}</h1>

    <ul class="byline-list">
      {% for author in piece._originalAuthor %}
        <li>
          <p>{{ author.title }}</p>
        </li>
      {% endfor %}
    </ul>

    {{ heroImage(piece) }}

    {{ truncatedDescription(piece) }}

    <a class="cta" href="{{ piece._url }}">Read Article</a>
  </article>
{%- endmacro -%}
