{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import truncatedDescription -%}
{%- from 'macros/piece-link-list.njk' import pieceLinkList -%}


{% macro contentDetails(piece, ctaLabel) %}
  <div>
    <div class="image-content">
      {{ heroImage(piece) }}
    </div>

    <div class="text-content">
      <div class="short-description">
        {{ truncatedDescription(piece) }}
      </div>

      <a class="cta" href="{{ piece._url }}">{{ ctaLabel }}</a>
    </div>
  </div>
{% endmacro %}


{%- macro featuredArticle(piece, label) -%}
  <article class="featured-piece-widget featured-article-widget">
    <p class="feature-type">{{ label }}</p>

    <h1>{{ piece.title }}</h1>

    {%- set publicationDate = apos.aem.formatDate(piece.publicationDate) -%}
    <div class="byline-and-date">
      {% for author in piece._originalAuthor %}
        <span>{{ author.title }}</span>
      {% endfor %}
      <span class="publication-date">, {{ publicationDate }}</span>
    </div>

    {{ contentDetails(piece, 'Read Article') }}
  </article>
{%- endmacro -%}

{% macro featuredBook(piece, label) %}
  <article class="featured-piece-widget featured-book-widget">
    <p class="feature-type">{{ label }}</p>

    <h1>{{ piece.title }}</h1>

    <ul class="byline-list">
      {% for author in piece._author %}
        <li>
          <p>{{ author.title }}</p>
        </li>
      {% endfor %}
    </ul>

    {{ contentDetails(piece, 'View Details') }}
  </article>
{% endmacro %}

{% macro featuredEducation(piece, label) %}
  <article class="featured-piece-widget featured-education-widget">
    <p class="feature-type">{{ label }}</p>

    <h1>{{ piece.title }}</h1>

    {# FIXME: does not work, get it via institutionIds instead? #}
    {%- set institution = piece._institution[0] -%}
    <p class="byline">{{ institution.title }}</p>

    {{ contentDetails(piece, 'View Details') }}
  </article>
{% endmacro %}

{% macro featuredEvent(piece, label) %}
  <article class="featured-piece-widget featured-event-widget">
    <p class="feature-type">{{ label }}</p>

    <h1>{{ piece.title }}</h1>

    <p class="byline">
      {{ apos.aem.formatDate(piece.startDate) }}, {{ piece.city }}, {{ piece.country }}
    </p>

    {{ contentDetails(piece, 'View Details') }}
  </article>
{% endmacro %}

{% macro featuredOrganization(piece, label) %}
  <article class="featured-piece-widget featured-organization-widget">
    <p class="feature-type">{{ label }}</p>

    <h1>{{ piece.title }}</h1>

    <p class="byline">{{ piece.city }}, {{ piece.country }}</p>

    {{ contentDetails(piece, 'View Details') }}
  </article>
{% endmacro %}

{% macro featuredProject(piece, label) %}
  <article class="featured-piece-widget featured-project-widget">
    <p class="feature-type">{{ label }}</p>

    <h1>{{ piece.title }}</h1>

    <ul class="byline-list">
      {% for author in piece._author %}
        <li>
          <p>{{ author.title }}</p>
        </li>
      {% endfor %}
    </ul>

    {{ contentDetails(piece, 'View Project') }}
  </article>
{% endmacro %}
