{%- from 'macros/byline-list.njk' import bylineList, programBylineList -%}
{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import truncatedDescription -%}
{%- from 'macros/piece-link-list.njk' import pieceLinkList -%}


{# private macros #}
{% macro contentDetails(piece, ctaLabel) %}
  {%- if piece -%}
    <div>
      <div class="image-content">
        {{ heroImage(piece) }}
      </div>

      <div class="text-content">
        <div class="short-description">
          {{ truncatedDescription(piece) }}
        </div>

        <a
          class="cta"
          href="{{ piece._url }}"
          aria-label="{{ ctaLabel }} - {{ piece.title }}"
        >{{ ctaLabel }}</a>
      </div>
    </div>
  {%- endif -%}
{% endmacro %}


{# public macros #}
{%- macro featuredArticle(piece, label, locale) -%}
  {%- if piece -%}
    <article class="featured-piece-widget featured-article-widget">
      <p class="feature-type">{{ label }}</p>

      <h1>{{ piece.title }}</h1>

      {%- set publicationDate = apos.aemDates.format(piece.publicationDate, locale) -%}
      <div class="byline-and-date">
        {% for author in piece._originalAuthor %}
          {%- if loop.first -%}
            <span class="author">{{ author.title }}</span>
          {%- else -%}
            <span class="author">, {{ author.title }}</span>
          {%- endif -%}
        {% endfor %}

        {%- if piece.citationPublication -%}
          <span class="publication-date">&nbsp;– {{ piece.citationPublication }}</span>
        {%- endif -%}

        <span class="publication-date">&nbsp;| {{ publicationDate }}</span>
      </div>

      {{ contentDetails(piece, __('articles|seeMoreCTA')) }}
    </article>
  {%- endif -%}
{%- endmacro -%}

{% macro featuredBook(piece, label) %}
  {%- if piece -%}
    <article class="featured-piece-widget featured-book-widget">
      <p class="feature-type">{{ label }}</p>

      <h1>{{ piece.title }}</h1>

      {{
        bylineList(
          piece,
          { editorLabel: __('books|editorAbbreviation') }
        )
      }}

      {{ contentDetails(piece, __('books|seeMoreCTA')) }}
    </article>
  {%- endif -%}
{% endmacro %}

{% macro featuredEducation(piece, options) %}
  {%- if piece -%}
    <article class="featured-piece-widget featured-education-widget">
      <p class="feature-type">{{ options.label }}</p>

      <h1>{{ piece.title }}</h1>

      {%- set institution = piece._institution[0] -%}

      {{
        programBylineList(
          piece,
          {
            locale: options.locale,
            getCountry: apos.aemI18n.getCountry
          }
        )
      }}

      {{ contentDetails(piece, __('education|seeMoreCTA')) }}
    </article>
  {%- endif -%}
{% endmacro %}

{% macro featuredEvent(piece, label, locale) %}
  {%- if piece -%}
    <article class="featured-piece-widget featured-event-widget">
      <p class="feature-type">{{ label }}</p>

      <h1>{{ piece.title }}</h1>

      <p class="byline">
        {%- set startDate = apos.aemDates.format(piece.startDate, locale) -%}
        {%- set location = apos.aemEvents.getLocation(piece, { i18n: __, locale: locale }) -%}
        {{ startDate }}, {{ location }}
      </p>

      {{ contentDetails(piece, __('events|seeMoreCTA')) }}
    </article>
  {%- endif -%}
{% endmacro %}

{% macro featuredOrganization(piece, label, locale) %}
  {%- if piece -%}
    <article class="featured-piece-widget featured-organization-widget">
      <p class="feature-type">{{ label }}</p>

      <h1>{{ piece.title }}</h1>

      {%- set localizedCountry = apos.aemI18n.getCountry(piece.country, locale) -%}
      <p class="byline">{{ piece.city }}, {{ localizedCountry }}</p>

      {{ contentDetails(piece, __('organizations|seeMoreCTA')) }}
    </article>
  {%- endif -%}
{% endmacro %}

{% macro featuredProject(piece, label) %}
  {%- if piece -%}
    <article class="featured-piece-widget featured-project-widget">
      <p class="feature-type">{{ label }}</p>

      <h1>{{ piece.title }}</h1>

      {{ bylineList(piece) }}

      {{ contentDetails(piece, __('projects|seeMoreCTA')) }}
    </article>
  {%- endif -%}
{% endmacro %}
