{%- macro apaFootnote(book) -%}
  <span class="footnote chicago">
    {{ apos.aemAuthors.formatAPA(book._author) }} ({{ book.yearPublished }}). <cite>{{ book.title }}</cite>. {{ book.publisherCity }}: {{ book.publisherName }}. 1-100.
  </span>
{%- endmacro -%}

{%- macro chicagoFootnote(book) -%}
  <span class="footnote chicago">
    {{ apos.aemAuthors.formatChicago(book._author) }}, <cite>{{ book.title }}</cite> ({{ book.publisherCity }}: {{ book.publisherName }}, {{ book.yearPublished }}) 1-100.
  </span>
{%- endmacro -%}

{%- macro mlaFootnote(book) -%}
  <span class="footnote chicago">
    {{ apos.aemAuthors.formatMLA(book._author) }}. <cite>{{ book.title }}</cite>, pp. 1-100.
  </span>
{%- endmacro -%}

