{%- macro apaFootnote(book) -%}
  <span class="footnote chicago">
    {{ apos.aemAuthors.formatAPA(book._author, { isEditor: book.isEditor }) }} ({{ book.yearPublished }}). <cite>{{ book.title }}</cite>. {{ book.publisherCity }}: {{ book.publisherName }}. X-Y.
  </span>
{%- endmacro -%}

{%- macro chicagoFootnote(book) -%}
  <span class="footnote chicago">
    {{ apos.aemAuthors.formatChicago(book._author, { isEditor: book.isEditor }) }}, <cite>{{ book.title }}</cite> ({{ book.publisherCity }}: {{ book.publisherName }}, {{ book.yearPublished }}) X-Y.
  </span>
{%- endmacro -%}

{%- macro mlaFootnote(book) -%}
  <span class="footnote chicago">
    {{ apos.aemAuthors.formatMLA(book._author, { isEditor: book.isEditor }) }}{%- if not book.isEditor -%}.{%- endif -%}<cite> {{ book.title }}</cite>, pp. X-Y.
  </span>
{%- endmacro -%}

