{% macro heroImage(piece, hasCaption = false) %}
  {%- set aposImageData = apos.images.first(piece.heroImage) -%}
  {%- if aposImageData -%}
    {%- set image = apos.aem.getImageBasicData(aposImageData) -%}
    <figure>
      <img
        class="hero-image"
        src="{{ image.url }}"
        alt="{{ image.alt }}"
      />
      {%- if hasCaption and image.caption -%}
        <figcaption>{{ image.caption }}</figcaption>
      {%- endif -%}
    </figure>
  {%- endif -%}
{% endmacro %}
