{#
  @param {Apos piece} piece
  @param {object} options
    - hasCaption {boolean} defaults to false
    - isEditable {boolean} defaults to false
#}
{% macro heroImage(piece, options) %}
  {%- if piece.isUsingRemoteImage -%}
    {# OPTION A #}
    <div class="remote-image-container">
      <figure>
        <img
          class="hero-image"
          src="{{ piece.remoteImageLocation }}"
          alt="{{ piece.remoteImageAltText }}"
          loading="lazy"
        />
          {%- if piece.remoteImageCredit -%}
            {%- set captionText = piece.remoteImageCaption + '. © ' + piece.remoteImageCredit -%}
          {%- else -%}
            {%- set captionText = piece.remoteImageCaption -%}
          {%- endif -%}
          {%- if options.hasCaption -%}
            <figcaption>
              {{ captionText }}
              {%- if piece.remoteImageSource -%}
                <span class="remote-img-source"> (<a class="remote-img-source-link" href="{{ piece.remoteImageSource }}">Source</a>)</span>
              {%- endif -%}
            </figcaption>
          {%- endif -%}
      </figure>
      <div class="external-asset-icon">
        {% include "/svg/icon-external-link.svg" %}
      </div>
    </div>

  {%- elseif options.isEditable -%}
    {# OPTION B #}
    {{
      apos.singleton(
        piece,
        'heroImage',
        'apostrophe-images',
        {
          addLabel: 'Set hero image',
          controls: {
            position: 'top-left',
            movable: false
          },
          editLabel: 'Change hero image',
          limit: 1
        }
      )
    }}

  {%- else -%}
    {# OPTION C #}
    {%- set aposImageData = apos.images.first(piece.heroImage) -%}
    {%- if aposImageData -%}
      {%- set image = apos.aemUtils.getImageBasicData(aposImageData) -%}
      <figure>
        <img
          class="hero-image"
          src="{{ image.url }}"
          alt="{{ image.alt }}"
          loading="lazy"
        />
        {%- if options.hasCaption and image.caption -%}
          {%- if image.credit -%}
            {%- set captionText = image.caption + '. © ' + image.credit -%}
          {%- else -%}
            {%- set captionText = image.caption -%}
          {%- endif -%}

          <figcaption>
            {{ captionText }}
            {%- if image.source -%}
              <span class="remote-img-source"> (<a class="remote-img-source-link" href="{{ image.source }}">Source</a>)</span>
            {%- endif -%}
          </figcaption>
        {%- endif -%}
      </figure>
    {%- endif -%}
  {%- endif -%}
{% endmacro %}
