{%- macro orgList(pieces, category, locale) -%}
  {%- if (pieces and pieces.length > 0) -%}
    {%- set cat = 'organizations|categories|' + category + '|' -%}
    {%- set tags = __(cat + 'tags') -%}
    {%- set list = apos.aemPieces.getWithTags(pieces, tags) -%}
    {%- set list = apos.aemArrays.truncate(list, 4) -%}

    <div class="list-container">
      <div class="list-heading">{{ __(cat + 'recentlyAdded') }}</div>
      <ul class="list">
        {% for listItem in list %}
          <li>
            <a
              class="list-item"
              href="{{ listItem._url }}"
            >
              <span class="piece-title">{{ listItem.title }}</span>
              <br>
              {%- set localizedCountry = apos.aemI18n.getCountry(listItem.country, locale) -%}
              <span>{{ listItem.city }}, {{ localizedCountry }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      {{
        seeAllCTA(
          __(cat + 'seeAllCTA'),
          __(cat + 'url')
        )
      }}
    </div>
  {%- endif -%}
{%- endmacro -%}

{% macro hideMegaMenuButton() %}
  <button
    class="hide-mega-menu-button"
  >{{ __('global|hideMenuCTA') }}</button>
{% endmacro %}

{% macro seeAllCTA(label, url) %}
  <div class="see-all-cta">
    <a
      class="website-cta"
      href="{{ url }}"
    >{{ label }}</a>
  </div>
{% endmacro %}
