{# {%- set locale = apos.aemI18n.getSanitizedLocale(data) -%} #}


{# site name #}
{%- set siteName = __('global|title') -%}

{# site description #}
{%- set siteDescription = __('global|description') -%}

{# approx tweet-size #}
{%- set maxDescriptionLength = 250 -%}


{# internal macros #}
{%- macro openGraph(options) -%}
  <meta property="og:title" content="{{ options.title }}" />
  <meta property="og:description" content="{{ options.description }}" />
  <meta property="og:image:secure_url" content="{{ options.baseUrl }}{{ options.image }}" />
  <meta property="og:url" content="{{ options.baseUrl }}{{ options.url }}" />
  <meta property="og:site_name" content="{{ siteName }}" />
  <meta property="og:locale" content="{{ options.locale }}_CA" />
{%- endmacro -%}

{%- macro twitterCard(options) -%}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@arts_et_medias" />
  <meta name="twitter:title" content="{{ options.title }}" />
  <meta name="twitter:text:title" content="{{ options.title }}" />
  <meta name="twitter:description" content="{{ options.description }}" />
  <meta name="twitter:image:src" content="{{ options.baseUrl }}{{ options.image }}" />
{%- endmacro -%}


{# exported macros #}
{%- macro minimalMetaData(options) -%}
  {{
    openGraph({
      title: options.title,
      description: siteDescription,
      baseUrl: options.baseUrl,
      url: options.url,
      image: '/img/opengraph.jpg',
      locale: options.locale
    })
  }}

  <meta property="website" content="{{ options.baseUrl }}" />
{%- endmacro -%}

{%- macro descriptiveMetaData(options) -%}
  {%-
    set metadataOptions = {
      title: options.title,
      description: options.description,
      baseUrl: options.baseUrl,
      url: options.url,
      image: apos.aemUtils.getHeroImageUrlFromMetadata(options),
      locale: options.locale
    }
  -%}

  {{ openGraph(metadataOptions) }}

  {{ twitterCard(metadataOptions) }}

  {# other #}
  <meta property="website" content="{{ options.baseUrl }}" />
{%- endmacro -%}

{%- macro articleMetaData(options) -%}
  {%-
    set metadataOptions = {
      title: options.title,
      description: options.description,
      baseUrl: options.baseUrl,
      url: options.url,
      image: apos.aemUtils.getHeroImageUrlFromMetadata(options),
      locale: options.locale
    }
  -%}

  <meta property="og:type" content="article" />
  {{ openGraph(metadataOptions) }}
  {% for author in options.authors -%}
    <meta property="article:author" content="{{ author }}" />
  {% endfor %}
  <meta property="article:section" content="{{ options.section }}" />
  <meta property="article:published_time" content="{{ options.publicationDate }}"/>
  {% for tag in options.tags -%}
    <meta property="article:tag" content="{{ tag }}" />
  {% endfor %}

  {{ twitterCard(metadataOptions) }}
{%- endmacro -%}

{% macro bookMetaData(options) %}
  {%-
    set metadataOptions = {
      title: options.title,
      description: options.description,
      baseUrl: options.baseUrl,
      url: options.url,
      image: apos.aemUtils.getHeroImageUrlFromMetadata(options),
      locale: options.locale
    }
  -%}

  <meta property="og:type" content="book" />
  {{ openGraph(metadataOptions) }}
  {% for author in options.authors -%}
    <meta property="book:author" content="{{ author }}" />
  {% endfor -%}
  <meta property="book:release_date" content="{{ options.yearPublished }}"/>
  {% for tag in options.tags -%}
    <meta property="book:tag" content="{{ tag }}" />
  {% endfor %}

  {{ twitterCard(metadataOptions) }}
{% endmacro %}
