{% import 'apostrophe-pager:macros.html' as pager with context %}

{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import truncatedDescription -%}


{%- macro mainContent(data) -%}
  <main id="main">
    <article>
      <h1>{{ data.page.title }}</h1>
      <div class="page-content">
        {{ pieceList(data.pieces) }}
        {{ pager.render({ page: data.currentPage, total: data.totalPages }, data.url) }}
      </div>
    </article>
  </main>
{%- endmacro -%}


{# piece lists #}
{%- macro pieceList(pieces, hasByline = false) -%}
  <ul class="piece-list">
    {% for piece in pieces %}
      <li class="list-item">
        <a
          href="{{ piece._url }}"
          class="piece-link"
        >
          <article class="piece-card">
            <p class="heading">{{ piece.title }}</p>

            {% if hasByline %}
              <ul class="byline-list">
                {% for author in piece._author %}
                  <li>
                    <p>{{ author.title }}</p>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}

            <div class="short-description">
              {{ truncatedDescription(piece) }}
            </div>

            <div class="piece-cta">{{ __('pieceIndex|seeMoreCTA') }}</div>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro articleList(pieces, locale) -%}
  <ul class="piece-list article-list">
    {% for piece in pieces %}
      <li class="list-item">
        <a
          href="{{ piece._url }}"
          class="piece-link"
        >
          <article class="piece-card article-card">
            <p class="heading">{{ piece.title }}</p>

            {%- set publicationDate = apos.aemDates.format(piece.publicationDate, locale) -%}
            <div class="byline-and-date">
              {% for author in piece._originalAuthor %}
                <span>{{ author.title }}</span>
              {% endfor %}
              <span class="publication-date">{{ publicationDate }}</span>
            </div>

            {{ heroImage(piece) }}

            <p class="short-description">
              {{ piece.shortDescription }}
            </p>

            <div class="piece-cta">{{ __('articles|seeMoreCTA') }}</div>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro bookList(pieces) -%}
  <ul class="piece-list book-list">
    {% for piece in pieces %}
      <li class="list-item">
        <a
          href="{{ piece._url }}"
          class="piece-link"
        >
          <article class="piece-card">
            <p class="heading">{{ piece.title }}</p>

            <ul class="byline-list">
              {% for author in piece._author %}
                <li>
                  <p>{{ author.title }}</p>
                </li>
              {% endfor %}
            </ul>

            <div>
              <div class="image-content">
                {{ heroImage(piece) }}
              </div>

              <div class="text-content">
                <div class="short-description">
                  {{ truncatedDescription(piece) }}
                </div>

                <div class="piece-cta">{{ __('books|seeMoreCTA') }}</div>
              </div>
            </div>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro educationList(pieces, locale) -%}
  <ul class="piece-list">
    {% for piece in pieces %}
      <li class="list-item">
        <a
          href="{{ piece._url }}"
          class="piece-link"
        >
          <article class="piece-card">
            <p class="heading">{{ piece.title }}</p>

            <ul class="byline-list">
              {% for org in piece._institution %}
                <li>
                  {%- set localizedCountry = apos.aemI18n.getCountry(org.country, locale) -%}
                  <p>{{ org.title }}, {{ org.city }}, {{ localizedCountry }}</p>
                </li>
              {% endfor %}
            </ul>

            <div class="short-description">
              {{ truncatedDescription(piece) }}
            </div>

            <div class="piece-cta">{{ __('education|seeMoreCTA') }}</div>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro eventList(pieces, locale) -%}
  <ul class="piece-list">
    {% for piece in pieces %}
      <li class="list-item">
        <a
          href="{{ piece._url }}"
          class="piece-link"
        >
          <article class="piece-card">
            <p class="heading">{{ piece.title }}</p>

            <p class="org-location">
              {%- set localizedCountry = apos.aemI18n.getCountry(piece.country, locale) -%}
              {{ apos.aemDates.format(piece.startDate, locale) }}, {{ piece.city }}, {{ localizedCountry }}
            </p>

            <div class="short-description">
              {{ truncatedDescription(piece) }}
            </div>

            <div class="piece-cta">{{ __('events|seeMoreCTA') }}</div>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}

{#
  pieces: <array>
  options: <object>
    - hasLocation: <boolean>
    - locale: <string>
#}
{%- macro organizationList(pieces, options) -%}
  <ul class="piece-list">
    {% for piece in pieces %}
      <li class="list-item">
        <a
          href="{{ piece._url }}"
          class="piece-link"
        >
          <article class="piece-card">
            <p class="heading">{{ piece.title }}</p>

            {%- if options.hasLocation -%}
              {%- set localizedCountry = apos.aemI18n.getCountry(piece.country, options.locale) -%}
              <p class="org-location">{{ piece.city }}, {{ localizedCountry }}</p>
            {%- endif -%}

            <div class="short-description">
              {{ truncatedDescription(piece) }}
            </div>

            <div class="piece-cta">{{ __('organizations|seeMoreCTA') }}</div>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro projectList(pieces) -%}
  <ul class="piece-list">
    {% for piece in pieces %}
      <li class="list-item">
        <a
          href="{{ piece._url }}"
          class="piece-link"
        >
          <article class="piece-card">
            <p class="heading">{{ piece.title }}</p>

            <ul class="byline-list">
              {% for author in piece._author %}
                <li>
                  <p>{{ author.title }}</p>
                </li>
              {% endfor %}
            </ul>

            {{ heroImage(piece) }}

            <div class="short-description">
              {{ truncatedDescription(piece) }}
            </div>

            <div class="piece-cta">{{ __('projects|seeMoreCTA') }}</div>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro pieceListWithType(pieces) -%}
  <ul class="piece-list">
    {% for piece in pieces %}
      <li class="list-item">
        <a
          href="{{ piece._url }}"
          class="piece-link"
        >
          <article class="piece-card">
            <p class="heading">{{ piece.title }}</p>

            <div class="short-description">
              {{ truncatedDescription(piece) }}
            </div>

            <div class="piece-cta">{{ __('global|seeMoreCTA') }}</div>

            {%- set pieceType = apos.aemPieces.getSanitizedType(piece) -%}
            <div class="tag">
              {{ __('pieceDetails|types|' + pieceType) }}
            </div>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}


{# recently added #}
{% macro recentlyAdded(label, pieces, tags = []) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      pieces,
      tags
    )
  -%}
  {%- if recentlyAdded|length -%}
    <div class="recently-added-pieces">
      <h2 class="content-type-heading">{{ label }}</h2>
      {{ pieceList(recentlyAdded) }}
    </div>
  {%- endif -%}
{% endmacro %}

{% macro recentlyAddedArticles(label, pieces, tags, locale) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      pieces,
      tags
    )
  -%}
  {%- if recentlyAdded|length -%}
    <div class="recently-added-articles">
      <h2 class="content-type-heading">{{ label }}</h2>
      {{ articleList(recentlyAdded, locale) }}
    </div>
  {%- endif -%}
{% endmacro %}

{% macro recentlyAddedEducation(label, pieces, tags = []) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      pieces,
      tags
    )
  -%}
  {%- if recentlyAdded|length -%}
    <div class="recently-added-education">
      <h2 class="content-type-heading">{{ label }}</h2>
      {{ educationList(recentlyAdded) }}
    </div>
  {%- endif -%}
{% endmacro %}

{% macro recentlyAddedEvents(label, pieces, tags, locale) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      pieces,
      tags
    )
  -%}
  {%- if recentlyAdded|length -%}
    <div class="recently-added-articles">
      <h2 class="content-type-heading">{{ label }}</h2>
      {{ eventList(recentlyAdded, locale) }}
    </div>
  {%- endif -%}
{% endmacro %}

{% macro recentlyAddedOrgs(label, pieces, tags, locale) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      pieces,
      tags
    )
  -%}
  {%- if recentlyAdded|length -%}
    <div class="recently-added-orgs">
      <h2 class="content-type-heading">{{ label }}</h2>
      {{ organizationList(recentlyAdded, { hasLocation: true, locale: locale }) }}
    </div>
  {%- endif -%}
{% endmacro %}

{% macro recentlyAddedProjects(label, pieces, tags = []) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      pieces,
      tags
    )
  -%}
  {%- if recentlyAdded|length -%}
    <div class="recently-added-projects">
      <h2 class="content-type-heading">{{ label }}</h2>
      {{ projectList(recentlyAdded) }}
    </div>
  {%- endif -%}
{% endmacro %}
