{% import 'apostrophe-pager:macros.html' as pager with context %}

{%- from 'macros/byline-list.njk' import bylineList -%}
{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import truncatedDescription -%}


{%- macro mainContent(data) -%}
  <main id="main" tabindex="-1">
    <article>
      <h1>{{ data.page.title }}</h1>
      <div class="page-content">
        {{ pieceList(data.pieces) }}
        {{ pager.render({ page: data.currentPage, total: data.totalPages }, data.url) }}
      </div>
    </article>
  </main>
{%- endmacro -%}


{# piece lists #}
{%- macro pieceList(pieces, hasByline = false) -%}
  {%- if pieces -%}
    <ul class="piece-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              {% if hasByline %}
                {{
                  bylineList(
                    piece,
                    { editorLabel: __('books|editorAbbreviation') }
                  )
                }}
              {% endif %}

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('pieceIndex|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro articleList(pieces, locale) -%}
  {%- if pieces -%}
    <ul class="piece-list article-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card article-card">
              <p class="heading">{{ piece.title }}</p>

              {%- set publicationDate = apos.aemDates.format(piece.publicationDate, locale) -%}
              <div class="byline-and-date">
                {% for author in piece._originalAuthor %}
                  <span>{{ author.title }}</span>
                {% endfor %}
                <span class="publication-date">{{ publicationDate }}</span>
              </div>

              {{ heroImage(piece) }}

              <p class="short-description">
                {{ piece.shortDescription }}
              </p>

              <div class="piece-cta">{{ __('articles|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro bookList(pieces, options) -%}
  {%- if pieces -%}
    <ul class="piece-list book-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card book">
              <p class="heading">{{ piece.title }}</p>

              {{
                bylineList(
                  piece,
                  { editorLabel: options.editorLabel }
                )
              }}

              <div>
                <div class="image-content">
                  {{ heroImage(piece) }}
                </div>

                <div class="text-content">
                  <div class="short-description">
                    {{ truncatedDescription(piece) }}
                  </div>

                  <div class="piece-cta">{{ __('books|seeMoreCTA') }}</div>
                </div>
              </div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro educationList(pieces, locale) -%}
  {%- if pieces -%}
    <ul class="piece-list education-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              {%- set localizedCountry = apos.aemI18n.getCountry(org.country, locale) -%}
              {{
                bylineList(
                  piece,
                  { localizedCountry: localizedCountry }
                )
              }}

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('education|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro eventList(pieces, locale) -%}
  {%- if pieces -%}
    <ul class="piece-list event-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              <p class="org-location">
                {%- set localizedCountry = apos.aemI18n.getCountry(piece.country, locale) -%}
                {{ apos.aemDates.format(piece.startDate, locale) }}, {{ piece.city }}, {{ localizedCountry }}
              </p>

              {{ heroImage(piece) }}

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('events|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{#
  pieces: <array>
  options: <object>
    - hasLocation: <boolean>
    - locale: <string>
#}
{%- macro organizationList(pieces, options) -%}
  {%- if pieces -%}
    <ul class="piece-list org-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              {%- if options.hasLocation -%}
                {%- set localizedCountry = apos.aemI18n.getCountry(piece.country, options.locale) -%}
                <p class="org-location">{{ piece.city }}, {{ localizedCountry }}</p>
              {%- endif -%}

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('organizations|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro projectList(pieces) -%}
  {%- if pieces -%}
    <ul class="piece-list project-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              {{ bylineList(piece) }}

              {{ heroImage(piece) }}

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('projects|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro pieceListWithType(pieces) -%}
  {%- if pieces -%}
    <ul class="piece-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('global|seeMoreCTA') }}</div>

              {%- set pieceType = apos.aemPieces.getSanitizedType(piece) -%}
              <div class="tag">
                {{ __('pieceDetails|types|' + pieceType) }}
              </div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{# recently added #}
{% macro recentlyAdded(label, pieces, tags = [], amount = 2) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstNWithTags(
      pieces,
      amount,
      tags
    )
  -%}
  <div class="recently-added-pieces">
    <h2 class="content-type-heading">{{ label }}</h2>
    {{ pieceList(recentlyAdded) }}
  </div>
{% endmacro %}

{% macro recentlyAddedArticles(label, pieces, locale) %}
  <div class="recently-added-articles">
    <h2 class="content-type-heading">{{ label }}</h2>
    {{ articleList(pieces, locale) }}
  </div>
{% endmacro %}

{% macro recentlyAddedEducation(label, pieces, locale, tags = []) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      pieces,
      tags
    )
  -%}
  <div class="recently-added-education">
    <h2 class="content-type-heading">{{ label }}</h2>
    {{ educationList(recentlyAdded, locale) }}
  </div>
{% endmacro %}

{% macro recentlyAddedEvents(label, pieces, locale) %}
  <div class="recently-added-articles">
    <h2 class="content-type-heading">{{ label }}</h2>
    {{ eventList(pieces, locale) }}
  </div>
{% endmacro %}

{% macro recentlyAddedOrgs(label, pieces, tags, locale) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      pieces,
      tags
    )
  -%}
  <div class="recently-added-orgs">
    <h2 class="content-type-heading">{{ label }}</h2>
    {{ organizationList(recentlyAdded, { hasLocation: true, locale: locale }) }}
  </div>
{% endmacro %}

{% macro recentlyAddedProjects(label, pieces, tags = []) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      pieces,
      tags
    )
  -%}
  <div class="recently-added-projects">
    <h2 class="content-type-heading">{{ label }}</h2>
    {{ projectList(recentlyAdded) }}
  </div>
{% endmacro %}
