{%- macro pieceLinkList(pieces) -%}
  <ul class="piece-link-list">
    {% for piece in pieces %}
      <li><a
          class="piece-link"
          href="{{ piece._url }}"
      >{{ piece.title }}</a></li>
    {% endfor %}
  </ul>
{%- endmacro -%}

{%- macro sortedPieceLinkList(pieces) -%}
  {{ pieceLinkList(apos.aemPieces.sortByTitle(pieces)) }}
{%- endmacro -%}

{%- macro authorsLinkList(authors, editors, editorLabel) -%}
  <ul class="piece-link-list">
    {% for author in authors %}
      <li class="list-item">
        <a
          class="piece-link"
          href="{{ author._url }}"
        >{{ author.title }}</a>
      </li>
    {% endfor %}
    {% for editor in editors %}
      <li class="list-item">
        <a
          class="piece-link"
          href="{{ editor._url }}"
        >{{ editor.title }} ({{ editorLabel }})</a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}
