{%- from 'macros/piece-link-list.njk' import sortedPieceLinkList -%}
{%- from 'macros/tag-list.njk' import tagList -%}


{%- macro truncatedDescription(piece) -%}
  {%- if piece.shortDescription -%}
    {%- set descriptionText = piece.shortDescription -%}

  {%- elseif piece.description.items -%}
    {%- set descriptionText = piece.description.items[0].content | safe -%}
    {%- set descriptionText = descriptionText | truncate(140, true, "...") -%}

  {%- else -%}
    {%- set descriptionText = piece.description -%}
    {%- set descriptionText = descriptionText | truncate(140, true, "...") -%}
  {%- endif -%}

  <p>{{ descriptionText }}</p>
{%- endmacro -%}

{%- macro websiteCTA(piece) -%}
  {%- if piece.website -%}
    <a
      class="website-cta"
      href="{{ piece.website }}"
      target="_blank"
      rel="noopener noreferrer"
    >View website</a>
  {%- endif -%}
{%- endmacro -%}

{% macro relatedContent(piece, showSeparator = true) %}
  {%- set hasRelatedPeople = piece._relatedPeople|length > 0-%}
  {%- set hasRelatedOrgs = piece._relatedOrganizations|length > 0-%}
  {%- set hasRelatedMedia = piece._relatedMedia|length > 0-%}

  {%- if showSeparator -%}
    {%- if hasRelatedPeople or hasRelatedOrgs or hasRelatedMedia -%}
      <hr class="separator"/>
    {%- endif -%}
  {%- endif -%}

  {%- if hasRelatedPeople -%}
    <h2>Related People</h2>
    {{ sortedPieceLinkList(piece._relatedPeople) }}
  {%- endif -%}

  {%- if hasRelatedOrgs -%}
    <h2>Related Organizations</h2>
    {{ sortedPieceLinkList(piece._relatedOrganizations) }}
  {%- endif -%}

  {%- if hasRelatedMedia -%}
    <h2>Related Media</h2>
    {{ sortedPieceLinkList(piece._relatedMedia) }}
  {%- endif -%}
{% endmacro %}

{% macro tags(piece, showSeparator = true) %}
  {%- set hasTags = piece.tags|length > 0 -%}

  {%- if hasTags -%}
    {%- if showSeparator -%}
      <hr class="separator"/>
    {%- endif -%}

    <h2>Tags</h2>
    {{ tagList(piece.tags) }}
  {%- endif -%}
{% endmacro %}
