{%- from 'macros/piece-link-list.njk' import sortedPieceLinkList -%}
{%- from 'macros/tag-list.njk' import tagList -%}


{%- macro truncatedDescription(piece) -%}
  {%- if piece.shortDescription -%}
    {%- set descriptionText = piece.shortDescription -%}

  {%- elseif piece.description.items -%}
    {%- set descriptionText = piece.description.items[0].content | safe -%}
    {%- set descriptionText = descriptionText | truncate(140, true, "...") -%}

  {%- else -%}
    {%- set descriptionText = piece.description -%}
    {%- set descriptionText = descriptionText | truncate(140, true, "...") -%}
  {%- endif -%}

  <p>{{ descriptionText }}</p>
{%- endmacro -%}

{%- macro websiteCTA(piece) -%}
  {%- if piece.website -%}
    <a
      class="website-cta"
      href="{{ piece.website }}"
      target="_blank"
      rel="noopener noreferrer"
    >View website</a>
  {%- endif -%}
{%- endmacro -%}

{% macro relatedContent(piece) %}
  {%- set hasRelatedPeople = piece._relatedPeople|length > 0-%}
  {%- set hasRelatedOrgs = piece._relatedOrganizations|length > 0-%}
  {%- set hasRelatedMedia = piece._relatedMedia|length > 0-%}
  {%- set hasAnyRelatedContent = hasRelatedPeople or hasRelatedOrgs or hasRelatedMedia -%}

  {%- if hasAnyRelatedContent -%}
    <dl class="piece-props-list">
      {%- if hasRelatedPeople -%}
        <dt>Related People</dt>
        <dd>{{ sortedPieceLinkList(piece._relatedPeople) }}</dd>
      {%- endif -%}

      {%- if hasRelatedOrgs -%}
        <dt>Related Organizations</dt>
        <dd>{{ sortedPieceLinkList(piece._relatedOrganizations) }}</dd>
      {%- endif -%}

      {%- if hasRelatedMedia -%}
        <dt>Related Media</dt>
        <dd>{{ sortedPieceLinkList(piece._relatedMedia) }}</dd>
      {%- endif -%}
    </dl>
  {%- endif -%}
{% endmacro %}

{% macro tags(piece) %}
  {%- set hasTags = piece.tags|length > 0 -%}
  {%- if hasTags -%}
    <dl class="piece-props-list">
      <dt>Tags</dt>
      <dd>{{ tagList(piece.tags) }}</dd>
    </dl>
  {%- endif -%}
{% endmacro %}
