{% import 'apostrophe-pager:macros.html' as pager with context %}

{%- from 'macros/byline-list.njk' import bylineList -%}
{%- from 'macros/hero-image.njk' import heroImage -%}
{%- from 'macros/piece-details.njk' import truncatedDescription -%}
{%- from 'macros/profile-pic.njk' import profilePic -%}


{%- macro mainContent(data) -%}
  <main id="main" tabindex="-1">
    <article>
      <h1>{{ data.page.title }}</h1>
      <div class="page-content">
        {{ pieceList(data.pieces) }}
        {{ pager.render({ page: data.currentPage, total: data.totalPages }, data.url) }}
      </div>
    </article>
  </main>
{%- endmacro -%}


{# piece lists #}
{%- macro pieceList(pieces, hasByline = false) -%}
  {%- if pieces -%}
    <ul class="piece-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              {% if hasByline %}
                {{
                  bylineList(
                    piece,
                    { editorLabel: __('books|editorAbbreviation') }
                  )
                }}
              {% endif %}

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('pieceIndex|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro articleList(pieces, locale) -%}
  {%- if pieces -%}
    <ul class="piece-list article-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card article-card">
              <p class="heading">{{ piece.title }}</p>

              <div class="byline-and-date article">
                {% for author in piece._originalAuthor %}
                  {%- set articleAuthorClassList = "article-author" -%}
                  {%- if loop.last -%}
                    {%- set articleAuthorClassList = "article-author last" -%}
                  {%- endif -%}
                  <span class="{{ articleAuthorClassList }}">{{ author.title }}</span>
                {% endfor %}

                {%- if piece.citationPublication -%}
                  <span class="article-publication-name">{{ piece.citationPublication }}</span>
                {%- endif -%}

                {%- set publicationDate = apos.aemDates.format(piece.publicationDate, locale) -%}
                <span class="article-publication-date">{{ publicationDate }}</span>
              </div>

              {%- if piece.isSponsored -%}
                <div class="sponsored-tag">
                  <div class="tag">{{ __('articles|sponsored') }}</div>
                </div>
              {%- endif -%}

              {{ heroImage(piece) }}

              <p class="short-description">
                {{ piece.shortDescription }}
              </p>

              <div class="piece-cta">{{ __('articles|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro bookList(pieces, options) -%}
  {%- if pieces -%}
    <ul class="piece-list book-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card book">
              <p class="heading">{{ piece.title }}</p>

              {{
                bylineList(
                  piece,
                  { editorLabel: options.editorLabel }
                )
              }}

              <div>
                <div class="image-content">
                  {{ heroImage(piece) }}
                </div>

                <div class="text-content">
                  <div class="short-description">
                    {{ truncatedDescription(piece) }}
                  </div>

                  <div class="piece-cta">{{ __('books|seeMoreCTA') }}</div>
                </div>
              </div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro educationList(pieces, locale) -%}
  {%- if pieces -%}
    <ul class="piece-list education-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              {{
                bylineList(
                  piece,
                  {
                    locale: locale,
                    getCountry: apos.aemI18n.getCountry
                  }
                )
              }}

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('education|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro eventList(pieces, locale) -%}
  {%- if pieces -%}
    <ul class="piece-list event-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              <p class="org-location">
                {%- set startDate = apos.aemDates.format(piece.startDate, locale) -%}
                {%- set location = apos.aemEvents.getLocation(piece, { i18n: __, locale: locale }) -%}
                {{ startDate }}, {{ location }}
              </p>

              {{ heroImage(piece) }}

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('events|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{#
  pieces: <array>
  options: <object>
    - hasLocation: <boolean>
    - locale: <string>
#}
{%- macro organizationList(pieces, options) -%}
  {%- if pieces -%}
    <ul class="piece-list org-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              {%- if options.hasLocation -%}
                {%- set localizedCountry = apos.aemI18n.getCountry(piece.country, options.locale) -%}
                <p class="org-location">{{ piece.city }}, {{ localizedCountry }}</p>
              {%- endif -%}

              {{ heroImage(piece) }}

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('organizations|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro peopleList(pieces) -%}
  {%- if pieces -%}
    <ul class="piece-list people-piece-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              <div class="profile-pic-container">
                {{
                  profilePic(
                    piece,
                    {
                      showCredits: false,
                      showIfMissing: false
                    }
                  )
                }}
              </div>

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('pieceIndex|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro projectList(pieces) -%}
  {%- if pieces -%}
    <ul class="piece-list project-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              {{ bylineList(piece) }}

              {{ heroImage(piece) }}

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('projects|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{%- macro pieceListWithType(pieces) -%}
  {%- if pieces -%}
    <ul class="piece-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              <div class="short-description">
                {{ truncatedDescription(piece) }}
              </div>

              <div class="piece-cta">{{ __('global|seeMoreCTA') }}</div>

              <ul class="tag-list">
                {%- if (piece.isPrivate) -%}
                  <li class="tag-list-item">
                    <div class="tag">
                      {{ __('search|privateTagLabel') }}
                    </div>
                  </li>
                {%- endif -%}
                <li class="tag-list-item">
                  {%- set pieceType = apos.aemPieces.getSanitizedType(piece) -%}
                  <div class="tag">
                    {{ __('pieceDetails|types|' + pieceType) }}
                  </div>
                </li>
              </ul>

            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{%- endmacro -%}

{% macro bannerAdList(pieces, options) %}
  {%- if pieces -%}
    <ul class="piece-list">
      {% for piece in pieces %}
        <li class="list-item">
          <a
            href="{{ piece._url }}"
            class="piece-link"
          >
            <article class="piece-card">
              <p class="heading">{{ piece.title }}</p>

              {%- set aposImageData = apos.images.first(piece.bannerImage) -%}
              {%- if aposImageData -%}
                {%- set image = apos.aemUtils.getImageBasicData(aposImageData) -%}
                <img
                  class="hero-image"
                  src="{{ image.url }}"
                  alt="{{ image.alt }}"
                />
              {%- endif -%}

              <p class="org-location">
                {%- set startDate = apos.aemDates.format(piece.startDate, options.locale) -%}
                {%- set endDate = apos.aemDates.format(piece.endDate, options.locale) -%}
                {{ startDate }} — {{ endDate }}
              </p>

              {{ bylineList(piece) }}

              <div class="piece-cta">{{ __('pieceIndex|seeMoreCTA') }}</div>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{% endmacro %}


{# recently added #}
{% macro recentlyAdded(label, pieces, tags = [], amount = 2) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstNWithTags(
      pieces,
      amount,
      tags
    )
  -%}
  <div class="recently-added-pieces">
    <h2 class="content-type-heading">{{ label }}</h2>
    {{ pieceList(recentlyAdded) }}
  </div>
{% endmacro %}

{% macro recentlyAddedArticles(label, pieces, locale) %}
  <div class="recently-added-articles">
    <h2 class="content-type-heading">{{ label }}</h2>
    {{ articleList(pieces, locale) }}
  </div>
{% endmacro %}

{#
  pieces: <array>
  options: <object>
    - label: <string>
    - locale: <string>
    - amount: <number>
    - tags: array
#}
{% macro recentlyAddedEducation(pieces, options) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstNWithTags(
      pieces,
      options.amount,
      options.tags
    )
  -%}
  <div class="recently-added-education">
    <h2 class="content-type-heading">{{ options.label }}</h2>
    {{ educationList(recentlyAdded, options.locale) }}
  </div>
{% endmacro %}

{% macro recentlyAddedEvents(label, pieces, locale) %}
  <div class="recently-added-articles">
    <h2 class="content-type-heading">{{ label }}</h2>
    {{ eventList(pieces, locale) }}
  </div>
{% endmacro %}

{% macro recentlyAddedOrgs(label, pieces, tags, locale) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      pieces,
      tags
    )
  -%}
  <div class="recently-added-orgs">
    <h2 class="content-type-heading">{{ label }}</h2>
    {{ organizationList(recentlyAdded, { hasLocation: true, locale: locale }) }}
  </div>
{% endmacro %}

{% macro recentlyAddedPeople(pieces, options) %}
  {%-
    set filteredPieces = apos.aemPieces.getFirstNWithTags(
      pieces,
      options.amount,
      options.tags
    )
  -%}
  <div class="recently-added-pieces recently-added-people">
    <h2 class="content-type-heading">{{ label }}</h2>
    {{ peopleList(filteredPieces) }}
  </div>
{% endmacro %}

{% macro recentlyAddedProjects(label, pieces, tags = []) %}
  {%-
    set recentlyAdded = apos.aemPieces.getFirstTwoWithTags(
      pieces,
      tags
    )
  -%}
  <div class="recently-added-projects">
    <h2 class="content-type-heading">{{ label }}</h2>
    {{ projectList(recentlyAdded) }}
  </div>
{% endmacro %}
