{% from 'macros/piece-link-list.njk' import pieceLinkList %}

{%- macro projectList(pieces) -%}
  <ul class="piece-list project-list">
    {% for piece in pieces %}
      <li class="list-item">
        <a
          href="{{ piece._url }}"
          class="piece-link"
        >
          <article class="piece-card">
            <p class="heading">{{ piece.title }}</p>

            <ul class="byline-list">
              {% for author in piece._author %}
                <li>
                  <p>{{ author.title }}</p>
                </li>
              {% endfor %}
            </ul>

            {%- if piece.description.items -%}
              {%- set descriptionText = piece.description.items[0].content | safe -%}
            {%- else -%}
              {%- set descriptionText = piece.description -%}
            {%- endif -%}
            <p>{{ descriptionText | truncate(140, true, "...") }}</p>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}
