{#
  options = {
    id: string
    label: string
    type: string
  }
 #}
{%- macro searchInput(options) -%}
  <form
    class="search-form"
    method="GET"
    action="{{ __('search|url') }}"
  >
    <fieldset class="search-fieldset">
      <label
        for="{{ options.id }}"
      >{{ options.label }}</label>
      <input
        id="{{ options.id }}"
        class="search-input"
        type="search"
        name="q"
        placeholder="{{ __('search|placeholder') }}"
        {%- if options.fieldValue -%}
          value="{{ options.fieldValue }}"
        {%- endif -%}
      />
      {%- if options.type -%}
        <input
          type="hidden"
          name="{{ options.type }}"
          value="1"
        />
      {%- endif -%}
      <button
        type="submit"
        class="search-button"
      >
        <span class="icon">
          {% include "/svg/icon-search.svg" %}
        </span>
        <span class="label sr-only">
          {{ options.label }}
        </span>
      </button>
    </fieldset>
  </form>
{%- endmacro -%}

