{%- macro tagList(tags) -%}
  <ul class="tag-list">
    {% for tag in tags.sort() %}
      <li>
        <a class="tag" href="/search?q={{ tag }}">{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}

