{%- macro tagList(tags) -%}
  <ul class="tag-list">
    {% for tag in tags.sort() %}
      <li>
        <a
          class="tag"
          href="{{ __('search|url') }}?q=%22{{ tag }}%22">{{ tag }}
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}

