<section class="citations">
  <h2 class="citation-heading">{{ __('books|citations|heading') }}</h2>
  <p>{{ __('books|citations|warning') }}</p>

  <dl class="citation-list">
    {%- set citations = data.bookCitations -%}
    {%-
      set options = {
        piece: piece,
        citations: citations,
        locale: locale
      }
    -%}

    <dt>{{ __('books|citations|styles|mla') }}</dt>
    <dd>
      {%- set mlaCitation = apos.aemBooks.getMLA(piece, citations) -%}
      {{ mlaCitation | safe }}
    </dd>

    <dt>{{ __('books|citations|styles|chicago') }}</dt>
    <dd>
      {%- set chicagoCitation = apos.aemBooks.getChicago(piece, citations, locale) -%}
      {{ chicagoCitation | safe }}
    </dd>

    <dt>{{ __('books|citations|styles|apa') }}</dt>
    <dd>
      {%- set apaCitation = apos.aemBooks.getAPA(piece, citations, locale) -%}
      {{ apaCitation | safe }}
    </dd>

    <dt>{{ __('books|citations|styles|bibtex') }}</dt>
    {%- set bibtexCitation = apos.aemBooks.getBibTex(piece, citations, locale) -%}
    <dd class="bibtex">{{ bibtexCitation }}</dd>
  </dl>
</section>
