{%- from 'macros/sidebar.njk' import peopleLink -%}


<section class="related-to-this-section">
  <h2 class="h1">{{ __('sidebar|relatedToThisSectionHeading') }}</h2>
  <ul>
    <li>
      {{ peopleLink('authors') }}
    </li>
    <li>
      {{ peopleLink('translators') }}
    </li>
  </ul>
</section>
