<section class="related-to-this-section">
  <h2 class="h1">{{ __('sidebar|relatedToThisSectionHeading') }}</h2>
  <ul>
    {%- set people = 'people|categories|' -%}
    <li>
      <a href="{{ __(people + 'authors|url') }}">{{ __(people + 'authors|title') }}</a>
    </li>
    <li>
      <a href="{{ __(people + 'translators|url') }}">{{ __(people + 'translators|title') }}</a>
    </li>
  </ul>
</section>
