{%- from 'macros/search.njk' import searchInput -%}


<section class="section-mt">
  {{
    searchInput({
      id: 'booksSearchInput',
      type: 'aem-books',
      label: __('books|searchLabel')
    })
  }}
</section>
