<aside class="sidebar sidebar-book-details">
  <article>
    {% include "partials/books/sidebar-citations-en.njk" %}
    <hr class="separator" />
    {% include "partials/books/related-en.njk" %}
    {% include "partials/books/search-en.njk" %}
    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
