{%- from 'macros/banner-ad.njk' import containedSidebarBanners -%}


<aside class="sidebar">
  <article>
    {{
      containedSidebarBanners({
        data: data,
        propName: 'booksSidebarBanners1',
        hasTopSeparator: false,
        hasBottomSeparator: false
      })
    }}

    {%- set isUserAdmin = apos.aemUsers.isUserAdmin(data.user) -%}
    {%- set hasFeaturedBook = apos.aemPieces.hasFeaturedBook(data) -%}
    {%- if isUserAdmin or hasFeaturedBook or apos.aemUtils.isDraftMode(data)-%}
      {% include "partials/books/featured.njk" %}
      <hr class="separator no-mb" />
    {%- endif -%}

    {{
      containedSidebarBanners({
        data: data,
        propName: 'booksSidebarBanners2',
        hasTopSeparator: false,
        hasBottomSeparator: true
      })
    }}

    {% include "partials/media/in-this-section.njk" %}
    {% include "partials/books/related.njk" %}

    <hr class="separator" />

    {% include "partials/books/search.njk" %}

    <hr class="separator" />

    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
