{%- from 'macros/banner-ad.njk' import containedSidebarBanners -%}


{%- set hasFeaturedBook = apos.aemPieces.hasFeaturedBook(data) -%}
{%- set isDraftMode = apos.aemUtils.isDraftMode(data) -%}
{%- set isFeaturedBookVisible = hasFeaturedBook or isDraftMode -%}


<aside class="sidebar">
  <article>
    {%- if hasFeaturedBook or isDraftMode -%}
      {% include "partials/books/featured.njk" %}
      <hr class="separator no-mb" />
    {%- endif -%}

    {{
      containedSidebarBanners({
        data: data,
        propName: 'booksSidebarBanners1',
        hasTopSeparator: false,
        hasBottomSeparator: true
      })
    }}

    {% include "partials/books/related.njk" %}

    {{
      containedSidebarBanners({
        data: data,
        propName: 'booksSidebarBanners2',
        hasTopSeparator: true,
        hasBottomSeparator: false
      })
    }}

    <hr class="separator" />

    {% include "partials/books/search.njk" %}

    <hr class="separator" />

    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
