{%- from 'macros/banner-ad.njk' import containedSidebarBanners -%}


<aside class="sidebar">
  <article>
    {{
      containedSidebarBanners({
        data: data,
        propName: 'booksSidebarBanners1',
        hasTopSeparator: false,
        hasBottomSeparator: false
      })
    }}

    {%- set hasFeaturedBook = data.global.featuredBook.items.length > 0 -%}
    {%- if hasFeaturedBook -%}
      {% include "partials/books/featured.njk" %}
      <hr class="separator no-mb" />
    {%- endif -%}

    {{
      containedSidebarBanners({
        data: data,
        propName: 'booksSidebarBanners2',
        hasTopSeparator: false,
        hasBottomSeparator: true
      })
    }}

    {% include "partials/media/in-this-section-en.njk" %}
    {% include "partials/books/related-en.njk" %}

    <hr class="separator" />

    {% include "partials/books/search-en.njk" %}

    <hr class="separator" />

    {% include "partials/sidebar/help-cta.njk" %}
  </article>
</aside>
