<button
  id="openMobileMenuButton"
  type="button"
  class="mobile-menu-button"
>
  <img
    class="icon"
    src="/img/icon-burger-menu.svg"
    alt=""
  />
  <span class="label">Expand menu</span>
</button>
