<aside
  class="mobile-menu"
  id="mobileMenu"
>
  {% include "partials/components/header/header-title.njk" %}
  {% include "partials/components/header/nav-by-type.njk" %}
  <button
    id="closeMobileMenuButton"
    type="button"
    class="close-mobile-menu-button"
  >
    <img
      class="icon"
      src="/img/icon-cross-white.svg"
      alt=""
    />
    <span class="label">Fermer le menu</span>
  </button>
</aside>

<div id="overlay" class="overlay"></div>
